[2021-12-31 16:55] cosmicBboy commented on #713
fixed by #722

[2021-12-31 16:55] #713 closed

[2021-12-31 20:40] cosmicBboy commented on #688
I'm down for introducing a new `Model` base class that handles this case, although I'd like to propose a slightly different naming to be `ArrayModel`.

[code]

Then the array model can be used as a Series like so:
[code]

I think this strikes a nice balance of being able to model all sorts of array-like data structures like numpy arrays, xarray.DataArray, and pandas.Series vs. being specific to pa

[2022-01-03 19:40] jeffzi commented on #688
I agree with what you laid out. I don't think it's premature. Pandera has started opening up to new data containers. I'd rather explore the `ArrayModel` idea before consolidating support for non-pandas libraries.

One nitpick though. I agree it's nice not having to specify `Series` typing for `ArrayModel` but I think we shouldn't have to specify index typing either for consistency. I suggest an ar

[2022-01-03 23:20] zevisert commented on #688
Ditto on that @jeffzi! I think it's good timing to explore how we want to model your two bullet points @cosmicBboy.

Sure a lower level `ArrayModel` (maybe `pa.Matrix`??) makes sense to me.

I think the nitpick is reasonable. Pandas at least lets you get away with a default `RangeIndex` if not specified. Come to think of it -- given that `pd.Series()` with no arguments produces the warning `The de

[2022-01-07 04:21] cosmicBboy commented on #75
bumping this issue in case someone in the community wants to take it on @vovavilli

[2022-01-07 17:11] jamesmyatt opened #725 "pandera conda package should depend on pandera-core"
The [pandera-core](https://github.com/conda-forge/pandera-core-feedstock/blob/master/recipe/meta.yaml) and [pandera](https://github.com/conda-forge/pandera-feedstock/blob/master/recipe/meta.yaml) feedstocks are completely independent, meaning that they both try to install the `pandera` module independently. This is inefficient, error-prone and confusing. For example, what should the result of this

[2022-01-09 01:31] cosmicBboy commented on #725
good points @jamesmyatt, the two separate conda builds are getting quite unwieldy, thanks for pointing to these other recipes! I think the sub-package functionality makes sense in the [pandera](https://github.com/conda-forge/pandera-feedstock/blob/master/recipe/meta.yaml) feedstock.

Looking at the [dvc recipe](https://github.com/conda-forge/dvc-feedstock/blob/master/recipe/meta.yaml), it seems be

[2022-01-09 12:54] probberechts opened #726 "Default int type should be mapped to Int32 in Windows"
**Describe the bug**

Pandas handles the default `int` type differently on Windows and Linux.  On Linux`int` is interpreted as `int64` but on Windows as `int32`. Since Pandera always maps `int` to `int64`, you get unexpected `SchemaError`s on Windows. You can read more about it in these issues:

- https://github.com/pandas-dev/pandas/issues/44925
- https://github.com/numpy/numpy/issues/9464

####

[2022-01-09 16:03] cosmicBboy commented on #726
Thanks for pointing this out @probberechts!

The relevant part of the code is here:
https://github.com/pandera-dev/pandera/blob/master/pandera/engines/pandas_engine.py#L211-L215

I think something like this will defer to the pandas default dtype for a particular python built-in type:
[code]

@jeffzi FYI, I forget why we decided to map `int -> int64` regardless of OS, but I think we should defer to

[2022-01-10 14:55] jeffzi commented on #726
I can't remember either. It could be a workaround from when we were fixing the windows CI.

I agree the default int should follow pandas and `pandas_engine` should not hardcode the size.

That said, we do test that default pandera int matches pandas: https://github.com/pandera-dev/pandera/blob/9448d0a80b8dd02910f9cc553ce00349584b107f/tests/core/test_dtypes.py#L406-L411

The problem is that the "im

[2022-01-10 20:12] smackesey opened #728 "Support optional `description` (or `desc`) field on Column and Check objects"
- This would be useful for tools that wrap Pandera and display rich schema info in a UI (Dagster has this planned)
- The description can already be specified in check functions specified in schema model classes.
- Built-in checks could generate their own descriptions based on args.

[2022-01-11 16:11] Fransisnk opened #729 "Add option for specifying labels or indices as refferal to columns in Fields."
In instances where the DataFrame has column names with any arbitrary value, but the index of the column is used it would be nice with a way to refer to these columns by index instead of name when creating Schema Models.
Examples:

[code]

Proposed Schema Model solutution by @cosmicBboy:

[code]
This proposal is in line with how the 'regex' argument in 'Field' works as it can match multiple columns

[2022-01-11 21:59] benjaminbluhm opened #730 "Unexpected result of Wide Check for register_check_method"
#### Question about pandera

In the below example I would expect SchemaError on index 3, but when I run this the validation passes without error.

[code]
Is this to be expected and if so why? I am fairly new to pandera so hope that someone can explain this wide check behavior to me

[2022-01-11 22:24] cosmicBboy commented on #730
hey @benjaminbluhm !

This is because [`Check`s](https://pandera.readthedocs.io/en/stable/reference/generated/pandera.checks.Check.html#pandera-checks-check) have an `ignore_na` argument, which is true by default. The following should raise the expected error:

[code]

This behavior isn't ideal because it's a source of user surprise, but it's this way for backwards compatibility (maybe in a future

[2022-01-11 22:43] benjaminbluhm commented on #730
Got it, thanks for clarification. And great library!

[2022-01-11 22:52] cosmicBboy commented on #688
Cool! This sounds good to me... it's also nice because it doesn't shoe-horn `ArrayModel` to use `pandera.typing.pandas.Index` as the index annotation.

@zevisert any interest in contributing a PR for this? @jeffzi is the expert when it comes to the `SchemaModel` stuff, but I can also help out with guidance if needed.

[2022-01-11 22:53] cosmicBboy commented on #730
Awesome, thanks!

[2022-01-11 22:53] #730 closed

[2022-01-12 16:13] benjaminbluhm opened #733 "write to YAML - support custom checks"
In the pandera documentation it is mentioned that [currently, only built-in Check methods are supported under the checks key](https://pandera.readthedocs.io/en/stable/schema_inference.html#write-to-yaml) when writing schema to yaml.

When I execute code below, yaml schema will nicely show the checks key even for the custom check, but unfortunately only for the last custom check if the same custom

[2022-01-13 18:09] alphavector opened #734 "`@pa.dataframe_check` does not work correctly with pandas==1.1.5"
**Describe the bug**
A clear and concise description of what the bug is.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandera.

#### Code Sample, a copy-pastable example

[code]

#### Expected behavior
Expecting raising SchemaErr

[2022-01-14 03:08] cosmicBboy commented on #734
thanks for finding this bug @alphavector ! #735 should fix it. It also adds 1.1.5 to CI. I've been avoiding adding more pandas versions to the CI matrix something came up... and it did :)

[2022-01-14 03:11] cosmicBboy opened #736 "Add test matrix to README and docs"
#### Location of the documentation

This should be in the repo's README and the main docs page.

#### Documentation problem

As pandera expands, the supported versions of pandas and certain pandera features need to be made explicit.

#### Suggested fix for documentation

Add a table where the columns are pandera-supported libraries (e.g. pandas, dask, etc.) and rows are:
- minimum pandas versions,

[2022-01-14 05:21] #709 closed

[2022-01-14 12:56] krassowski commented on #725
As a user who just tried to install pandera via conda and was surprised by the number of dependencies, I would like to give this +1. Of course it's my fault that I only checked if pandera feedstock exists rather than check if there is `-core` too, but in any case having them in one feedstock would make it more obvious for users.

I would argue that users are unlikely to use dask, modin, and koalas

[2022-01-14 18:32] KOLANICH opened #737 "Tests are mistakingly included into the wheel"
**Describe the bug**
`find_packages` has been used recklessly, `tests` dir hasn't been excluded.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.
- [x] (optional) I have confirmed this bug exists on the master branch of pandera.

#### Expected behavior
Must be excluded.

[2022-01-14 19:48] cristianmatache opened #738 "Regression: SchemaModel.field no longer resolves to `str` (descriptor typing needed)"
#### Code Sample, a copy-pastable example

[code]

#### Expected behavior
The expected type should be `str`.

[2022-01-20 20:20] benlindsay commented on #687
Similar in spirit to my other issue (https://github.com/pandera-dev/pandera/issues/706), but distinct. would love to see both of these implemented when someone gets time

[2022-01-20 20:27] benlindsay opened #742 "add "nullable" option to SchemaModel Config class"
I have a situation where almost all of the columns in my schemas are nullable, and it would be nice to set `nullable = True` as a config option instead of setting `nullable=True` for every column. For example, instead of this:

[code]

I'd love to be able to do this or something like it:

[code]

[2022-01-21 10:19] jeffzi commented on #742
Hi @benlindsay. I agree repeating `nullable` can be verbose and cumbersome.

Pandera strives to keep feature parity between `SchemaModel` and `DataFrameSchema`. So we would need to introduce a similar option to `DataFrameSchema`. This is similar to the `coerce` option that can be set at the schema level with both SchemaModel and DataFrameSchema apis. We should also have similar defaults for `requi

[2022-01-21 14:00] clstaudt opened #743 "Soft schema check decorators"
**Is your feature request related to a problem? Please describe.**

A pandera schema check that fails raises an exception. This is useful to catch data errors early that would cause the code downstream to crash. However, in some cases I would like to use pandera to state assumptions about the data that need not be true for the code to run. I want to be alerted that these assumptions are not valid,

[2022-01-21 20:52] blais opened #744 "Consider support the PETL library"
**Is your feature request related to a problem? Please describe.**
The petl library is an alternative to Pandas that confers several benefits.
It's also much more regular and predictable to do transformations.
It does not have schema declarations.

**Describe the solution you'd like**
A common schema solution that works for both Pandas and PETL would be a great idea.

**Describe alternatives you'v

[2022-01-23 21:13] cosmicBboy opened #745 "Fix strategies bug in pandas==1.4.0"
**Describe the bug**

The strategies module errors out for pandas==1.4.0 for the pandas-native string dtype, see [here](https://github.com/pandera-dev/pandera/runs/4914520273?check_suite_focus=true) for an example.

- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the latest version of pandera.
- [ ] (optional) I have confirmed this bug

[2022-01-24 22:39] devin-petersohn commented on #692
@cosmicBboy we haven't forgotten about this, we are also experiencing it in our own CI. Rerunning has been helping us but we still aren't sure what's causing it yet!

[2022-01-25 12:54] adityaguru149 opened #749 "Best way to check if one of the columns present or not"
#### Question about pandera

**Note**: If you'd still like to submit a question, please read [this guide](
https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reproduce your question.

Use case - User provides a group_by column, code needs to groupby that column (at least one column is user supplied rest can be considere

[2022-01-25 19:53] quancore opened #750 "Adding new level to MultiIndex raisese error"
**Describe the bug**
Adding a new level to MultiIndex using `set_index` raises error.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandera.

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minim

[2022-01-25 22:34] jeffreykennethli commented on #692
@cosmicBboy I forked and reran just the modin tests here, with the ray tests added back in: https://github.com/jeffreykennethli/pandera/runs/4943752235 and the tests pass. Could you retry the ray backend tests? If they still fail, perhaps we can mark this as a flaky test and keep debugging.

[2022-01-27 22:29] vovavili commented on #742
This one is a lifesaver, thanks a lot!

[2022-01-28 04:00] cosmicBboy commented on #745
fixed by #748

[2022-01-28 04:00] #745 closed

[2022-01-28 04:01] cosmicBboy commented on #737
fixed by #739

[2022-01-28 04:01] #737 closed

[2022-01-28 04:01] cosmicBboy commented on #738
fixed by #739

[2022-01-28 04:01] #738 closed

[2022-01-28 04:02] cosmicBboy commented on #750
fixed by #751

[2022-01-28 04:02] #750 closed

[2022-01-28 04:18] cosmicBboy commented on #749
hi @adityaguru149 good question!

You can set `_column_options` as a private attribute, which SchemaModel ignores, so you can store arbitrary metadata there.

[code]

The error summary looks like this:
[code]

[2022-01-29 15:25] cosmicBboy commented on #692
Hi @jeffreykennethli it looks like those tests are only running `modin-dask`: https://github.com/jeffreykennethli/pandera/actions/runs/1747869130/workflow#L181

The test links referenced in the issue description ran both ray and dask engines: https://github.com/pandera-dev/pandera/actions/runs/1511206750/workflow#L170-L172

(if the `CI_MODIN_ENGINE` env var isn't set tests for both engines are run

[2022-01-31 00:50] smackesey commented on #728
@cosmicBboy Is this a feature you would accept a PR for?

[2022-01-31 03:31] cosmicBboy commented on #728
yes! this feature has some overlap with https://github.com/pandera-dev/pandera/issues/331

Basically the request is to add `title` and `description` to schemas and schema components for both the `DataFrameSchema` and `SchemaModel` syntax.

Would you be open to make a PR that addresses both issues? Basically these are all the components where `title` and `description` would make sense:

- `DataFram

[2022-01-31 16:48] cosmicBboy commented on #744
hi @blais, thanks for pointing out PETL, I wasn't aware of it!

As you may or may not know, `pandera` is figuring out how to scalable and maintainably support other data manipulation libraries. PETL seems to be a good candidate for another pandera-support validation backend.

The main blocked for this is https://github.com/pandera-dev/pandera/issues/381, which will abstract out all the pandas-spec

[2022-02-01 00:20] jeffreykennethli commented on #692
Hi @cosmicBboy sorry I should have made this clearer, I made the change in the test file itself, not the workflow definition. See https://github.com/jeffreykennethli/pandera/commit/70651047a8c7188c153aed7b920694896452dd78.

I would add that I think it's _just_ that the tests are passing, perhaps there are still issues with Modin with Ray on windows, but for the sake of the tests it looks like it's

[2022-02-01 01:27] blais commented on #381
Thanks for your email Niels.
PETL allows one to process tables of data.
It involves several differences and some advantages over Pandas:
- The data storage is a lot more straightforward - no indices, regular Python objects (no Pandas-specific dtypes)
- As a result, the code is much more predictable.Pandas is often quirky and leads to silent failures hard to predict. In comparison, I nearly 100% of

[2022-02-01 04:01] AtmosOne opened #756 "Import error in FastAPI"
#### Question about pandera

**Note**: If you'd still like to submit a question, please read [this guide](
https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reproduce your question.

saw earlier this issue, but seems not resolved. I am struggling with import Pandera in fast API

Python version
[code]

Dependency instal

[2022-02-01 05:34] AtmosOne commented on #756
Was able to fix it after installation: `https://github.com/pandera-dev/pandera/blob/master/requirements-dev.txt`

But another issue popped up:
[code]

[2022-02-01 13:44] cosmicBboy commented on #756
you have import the `io` module explicitly
[code]

[2022-02-02 03:57] AtmosOne commented on #756
Thanks for response! Successfully started Uvicorn server. Issue can be considered as closed

[2022-02-02 03:57] #756 closed

[2022-02-02 20:30] bukosabino opened #757 "From DataFrameSchema to SchemaModel?"
#### Question about pandera

Hi all, how can I convert a `DataFrameSchema` to a `SchemaModel` (Pydantic style)?

Also, any option to generate the `SchemaModel` using [infer_schema](https://pandera.readthedocs.io/en/stable/reference/generated/pandera.schema_inference.infer_schema.html)?

Thanks

[2022-02-02 21:45] cosmicBboy commented on #757
Hi @bukosabino, yes! this is an open issue https://github.com/pandera-dev/pandera/issues/393.

Would you be open to making a contribution on this front?

[2022-02-02 21:47] cosmicBboy commented on #757
Once the `DataFrameSchema.to_model` method is implemented it should be pretty straightforward to output a `SchemaModel` from `infer_schema`.

Another related feature mentioned in #393 would be to support a `SchemaModel.to_script` method from an inferred schema. This would be a separate PR.

[2022-02-06 12:20] m-richards commented on #707
Hey, can I have a go at implementing this?

[2022-02-06 12:37] benlindsay commented on #707
I haven't touched this, not sure about @cosmicBboy, but it's a yes from me!

[2022-02-07 20:25] cosmicBboy commented on #707
please go ahead @m-richards! if you haven't already please take a look at the [contributing guide](https://pandera.readthedocs.io/en/stable/CONTRIBUTING.html) and let me know if you have any questions!

[2022-02-08 02:27] #728 closed

[2022-02-10 03:17] smackesey opened #760 "Propagate SchemaModel class name as name attribute of DataframeSchema"
[code]

This seems unintuitive to me-- I'd expect the class name of the schema model to be propagated as the `name` of the `DataFrameSchema`. Is this intended behavior or an oversight?

[2022-02-10 09:28] jeffzi commented on #760
Hi @smackesey

You need to set the config `name`, similarly to `DataFrameSchema(..., name=...)`

[code]

We try to have feature parity between SchemaModel and DataFrameSchema, but I do think it makes sense to use class name for SchemaModel. At worst, people do not use the name and are unaffected by a change.

Pinging @cosmicBboy for approval :)

[2022-02-10 13:44] cosmicBboy commented on #760
I think using the `SchemaModel` class name makes sense as a fallback... specifying a name explicitly in the `Config` should override it... what do y'all think?

[2022-02-10 13:44] cosmicBboy commented on #734
fixed by #735

[2022-02-10 13:44] #734 closed

[2022-02-10 14:08] cosmicBboy commented on #733
hi @benjaminbluhm this feature makes sense to have!

The original assumption of the `checks` key in the yaml format was that, generally speaking, the built-in checks are unique.

So the problem here is that, in the yaml file, the data under the `checks` key is a mapping of check names to their statistics (in this case `equals_colsum` maps to its statistics `columns_to_sum` and `target_column`.

On

[2022-02-10 15:04] cosmicBboy commented on #743
This is awesome @clstaudt !

I think this use case is probably pretty common and I'd love to fold this into the pandera codebase.

Here's a proposal for how to do this:
1. create a private decorator `decorators._log_error`, which implements the logging and exporting logic in your above code snippet. The user needs to provide an `error_exporter`, since we don't really want to be opinionated about w

[2022-02-12 10:50] elben10 opened #762 "Migrate deprecated koalas api to pyspark.pandas"
**Is your feature request related to a problem? Please describe.**
The feature request is not related to a problem.

**Describe the solution you'd like**
As of `pyspark` version 3.2 the `koalas` library has been integrated into `pyspark` (`pyspark.pandas`). Onwards the koalas library will be in maintenance only mode and suggests that the koalas library is used directly from `pyspark` instead of th

[2022-02-15 03:04] cosmicBboy commented on #743
@clstaudt yep! that would be the user-facing API.

If you have a capacity to make a PR contributation that would be great! If not I'll get to it eventually but can't say when it'll be done.

I'll also add a `help wanted` tag to this issue in case anyone else in the community wants to take it on... with your code example it would be pretty straight-forward.

[2022-02-15 14:26] benjaminbluhm commented on #733
Hi @cosmicBboy, thanks for proposed workaround!

Regarding proposed solutions, I would also favor solution (1) as it reflects the actual function name specified by the user.

Can you point towards the code parts / sketch the adjustments that would need to be implemented for this change?

[2022-02-18 16:32] adrien-turiot-maxa opened #763 "Mypy - SchemaModel.validate does not return a DataFrame"
The `SchemaModel.validate` function returns a `DataFrameBase[T]`, which does not extend `pd.DataFrame`.

This makes type validations fail whenever a `pd.DataFrame` is expected. For example:

[code]

Why does `Schema.validate` return a `DataFrameBase[T]` instead of a `DataFrame[T]` ?

This is the same for the `SchemaModel.example` function.

(pandera version 0.9.0)

[2022-02-23 18:08] ejmolinelli opened #764 "Dataframe schema from Pydantic record model"
**Is your feature request related to a problem? Please describe.**
I am experiencing heavy code duplication with model definitions in my code base. Currently this would be ORM (Sqlalchemy), Schema (Pandera), regular dataclasses for type hints, pydantic (basic model validation). I'd like to be able to use pydantic to define  a dataframe record and have a datafram use that model as a schema.

**Desc

[2022-02-23 18:59] clstaudt commented on #743
@cosmicBboy  I had a look but the integration wasn't straightforward for me at this point. I'd like to leave the PR to someone who already knows the pandera codebase.

[2022-02-25 08:33] ferhah opened #765 "Performance issue with strict='filter'"
Hello,

**Is your feature request related to a problem? Please describe.**

please consider the following example:
[code]

As you can see, filter the columns using pandera needs more time than manually selecting the required columns. This is due to the fact that in pandera all columns which are not inside the schema are dropped from the dataframe and at each time only a singular column.

**Describ

[2022-02-25 17:33] cosmicBboy commented on #765
hi @ferhah thanks for raising this issue, and yes your solution would be welcome in a PR! Please take a look at the [contributing guide](https://pandera.readthedocs.io/en/stable/CONTRIBUTING.html)  and let me know if you have any other questions

[2022-02-25 18:00] cosmicBboy commented on #764
This is an interesting usecase @ejmolinelli, and I do want to decompose it into two problems:
1. deriving a `SchemaModel` from a pre-defined `pydantic.BaseModel`
2. supporting attribute access of the underlying `SchemaModel` in the `DataFrame[MyRecordModel]` object

Firstly tho, have you seen [SQLModel](https://sqlmodel.tiangolo.com/)? It seems like it does what you might want (it uses Pydantic un

[2022-02-26 18:11] alphavector opened #766 "Lazy validation error if no field is found in dataframe"
**Describe the bug**
A clear and concise description of what the bug is.

- [ ] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandera.

#### Code Sample, a copy-pastable example

[code]

#### Expected behavior
Raise SchemaErrors

#### Ac

[2022-02-27 02:38] m-richards opened #768 "Poor interaction between categorical dtype, coerce=True and nullable=True"
**Describe the bug**
(I'm not exactly sure if this is better placed as a bug, enhancement or question, it's kind of a mix)

I think this is easiest explained by example, but there is an issue where categorical dtypes with a specified category set silently cast fields not in this set to nan values - in the second case below, apple is misspelt and gets silently cast to nan:

[code]

#### Expected be

[2022-02-27 04:50] cosmicBboy commented on #768
hey @m-richards, since pandera uses the casting logic of pandas, the casting of unrecognized values in a categorical dtype to nulls is expected behavior (as a pandas user):

[code]

I think pandera can be more useful here with a warning, but I think this behavior is fairly reasonable given that we're delegating casting behavior to pandas.

Given your requirements, using a string or object datatype

[2022-02-28 08:03] m-richards commented on #768
Hey @cosmicBboy that's basically what I expected to hear - that delgating to pandas is as intended.

I will have a look at adding a strict kwarg - that sounds like it fits my use case quite well ( I left it out above to keep it simpler, but my use case doesn't contain nulls, and I was looking for a way to protect another person I'm working with from using nulls from having records dropped). We hav

[2022-02-28 08:13] m-richards opened #769 "SchemaModel ignores coerce=True in initialiser constructor"
**Describe the bug**
In a SchemaModel without a config class / coerce=False, a dtype mismatch will throw a validation error.
With coerce=True, no validation error is thrown, but the dtypes are not coerced either:

#### Code Sample, a copy-pastable example
This is adapted from the SchemaModel Validate on Initialization example.
[code]

#### Expected behavior
Dtype coercion to actually happen withou

[2022-02-28 09:55] jamesmyatt commented on #725
For a quick glance, it looks good 👍 .  A couple of observations:

* The build number wasn't updated.
* Did you want to include a `pandera-all` feedstock?
* What's happening with the `pandera-core` feedstock?

[2022-02-28 19:23] telferm57 opened #771 "pass date format for coerce date"
Hi,

is it possible to pass a date format to the date coercion function ? For example, I would like to specify format='%d/%M/%Y' or dayfirst=True in the DataFrameSchema

[2022-02-28 22:27] jeffzi commented on #771
Hi @telferm57

There is an undocumented pandas-specific `DateTime` type that can receive coercion parameters via its `to_datetime_kwargs` argument.

@cosmicBboy I can submit a PR to add it to the documentation under [Pandas-specific Dtypes](https://pandera.readthedocs.io/en/stable/reference/dtypes.html#pandas-specific-dtypes).

[code]

[2022-03-01 00:11] jeffzi commented on #764
I agree the biggest pain points will be to translate validators/checks. It would be much easier to use a common format, such as json schema to inter-operate with other "schema" libraries. Pydantic does support [json-schema](https://pydantic-docs.helpmanual.io/usage/schema/). Pandera already has an popen issue](https://github.com/pandera-dev/pandera/issues/421) about json-schema.

The mypy plugin w

[2022-03-01 00:59] cosmicBboy commented on #771
This would be awesome! feel free to re-purpose this issue to link your PR onto

[2022-03-01 01:17] cosmicBboy commented on #725
Ah, does that need to be bumped? conda-forge and the linter never seemed to complain

I originally did, but @krassowski made a good point here:

If folks in the community want a `pandera-all` installation we can always add another output to the recipe

In the next release I'll add a deprecation warning in the installation docs, the plan is to archive that feedstock in the next month or so

[2022-03-01 01:22] cosmicBboy commented on #768
cool, let me know if you have any questions around adding the `strict` kwarg!

[2022-03-01 02:03] cosmicBboy commented on #769
thanks for filing this bug @m-richards !

https://github.com/pandera-dev/pandera/pull/772 should address this, mind giving it a quick glance? I basically used your code snippet in the test case.

[2022-03-01 10:51] telferm57 commented on #771
Wow, that's what I call a quick response ! Thank you!

[2022-03-01 13:49] jamesmyatt commented on #725
I think so. Not sure why it doesn't complain when neither the version nor build number are updated.

That's what I thought too.

:+1:

[2022-03-01 14:17] jamesmyatt commented on #725
I think this issue can be closed once the docs have been updated. :+1:

[2022-03-01 15:15] telferm57 opened #773 "when generating examples between 2 dates: hypothesis.errors.Unsatisfiable: Unable to satisfy assumptions of example_generating_inner_function"
When trying to generate a column with dates between 2 dates, I get error

hypothesis.errors.Unsatisfiable: Unable to satisfy assumptions of example_generating_inner_function

[code]

#### Expected behavior
data should be dates between the 2 dates in the checks

#### Desktop (please complete the following information):

 - OS: Windows

[2022-03-01 15:49] PezAmaury opened #774 "Conditional checks"
**Is your feature request related to a problem? Please describe.**
I would like to be able to make a different check on a column depending on the value of another column.

I have currently the following code:
[code]

which forces me to subset my dataframe for different values of columns `a`  before performing a check. I have found no ways of performing a conditional check, i.e. if column `a == 0`

[2022-03-01 16:22] telferm57 opened #775 "multiple possible datatypes for one column"
#### Question about pandera
Hi,
I am trying to specify a column that contains binary data + nulls. Due to the nature of the supplying system, the column could contain nulls, 1's and or 0's. The 1's and 0's could be floats or ints, so I cannot specify 1 datatype for this column (it could also conceivably be categorical or bool .. some parquet implementations will produce bool if the originating dat

[2022-03-02 00:41] cosmicBboy commented on #775
hey @telferm57 this is an interesting use case!

Is it important to you how those 1s and 0s are encoded? i.e. can they be coerced to be all integers or floats?

I ask because you could:
- provide the `Column(..., coerce=True, nullable=True)`  keywords to convert all values to a single data type
- use either `float`, which is a nullable data type, or the `pandas.Int*Dtype()`s (e.g. [Int64Dtype](htt

[2022-03-02 00:42] cosmicBboy commented on #765
hey @ferhah, just a friendly ping, would you be open to making a PR with your workaround?

[2022-03-02 00:47] cosmicBboy commented on #773
hi @telferm57 this is a current limitation in the data synthesis strategies module re: [check strategy chaining](https://pandera.readthedocs.io/en/stable/data_synthesis_strategies.html#check-strategy-chaining). The upshot is that you can use `in_range` checks to achieve what you want:

[code]

Improvements need to be made on this front... the primary gotcha is that the first check is used in conce

[2022-03-02 00:55] cosmicBboy commented on #764
yeah, I think the best path for this would be to go through this process:
[code]

So when #421 is implemented (1) should be fairly straightforward to address.

As for (2), thanks for pointing this out @jeffzi

I'd love contributions to provide this auto-completion support, but this is out of my wheelhouse to implement... if anyone in the pandera community would be interested in this I'd wholeheart

[2022-03-02 01:24] cosmicBboy commented on #774
Hi @PezAmaury a built-in way to do conditional checks at the column-level would for sure be useful.

One way you can do this today would be to use wide checks, as follows:

[code]

`conditional_check` can even be reduced to an inline lambda if you like:

[code]

[2022-03-02 06:51] ferhah commented on #765
Hey @cosmicBboy, yes, sure. I'm working on it. :)

[2022-03-02 13:56] cosmicBboy commented on #760
fixed by #761

[2022-03-02 13:56] #760 closed

[2022-03-02 20:58] ejmolinelli commented on #764
Hi @cosmicBboy  and @jeffzi  Thanks for your considerations.

I think the API you suggest @cosmicBboy  is sufficient for my purposes.

Is there not a way to use pydantics own validators when constructing the schema? As to @jeffzi comment, ideally there is a common format, but without such a standard could pandera not simply execute pydantic's validators on each record?I'm not familiar with the inn

[2022-03-03 12:05] aiwalter opened #778 "Adding soft-dependency exceptions"
**Is your feature request related to a problem? Please describe.**
I would recommend to introduce soft-dependency machanism that gives the user a proper exception and hinting to that multiple install options. Currently there is no custom exception message or anything that tells the user to e.g. do `pip install pandera[io]` if he want to use particular functionality of `pandera`.

**Describe the so

[2022-03-03 14:44] cosmicBboy commented on #764
This is possible, but the challenge is that pydantic is a parsing + validation library: it coerces types of each element in the record and then applies any user-defined custom validation rules.

Naively, you could do something like:

[code]

However, because pandera's validation model is to return a boolean, boolean Series, or boolean DataFrame indicating the elements that failed (False) or succee

[2022-03-03 20:41] ejmolinelli commented on #764
ok. I'm installing dev and looking through tests now. It may take me a day or so to review.

[2022-03-04 07:46] PezAmaury commented on #774
Hi @cosmicBboy

Thank you very much for your message and your workaround. I will use it for now and will look forward to the native implementation :)

[2022-03-04 09:23] telferm57 commented on #773
AH, I see - so the first check in my example generates all dates that are < 2019, but also < 2015 , so no samples are available to satisfy second check ?

[2022-03-04 11:20] telferm57 commented on #775
Thanks @cosmicBboy , that works nicely .. I can do a simple

  ``` pa.Column(pd.Int8Dtype, pa.Check.isin(['0', '1', 0, 1, False, True, np.nan]), nullable=True, coerce=True) ```

and get what I need - which is great when coercing is the aim (and it often is in our case). I guess I can just throw away the results if I simply want to check it is coercible!

[2022-03-04 12:28] jeffzi commented on #764
Json schema is a common format that support limited validations. See [reference](https://json-schema.org/draft/2019-09/json-schema-validation.html#rfc.section.6). Pydantic can output json schema. There is an external lib [datamodel-code-generator](https://koxudaxi.github.io/datamodel-code-generator/) to transform json schema to pydantic model. If we write pandera extensions for json schema. We cou

[2022-03-04 17:47] ejmolinelli commented on #764
Hey @cosmicBboy  and @jeffzi
I got a chance to fork pandera and get the tests up and running.

1 - The test works and the user facing API is sufficient

2 - Need TypeAlias or `#type: ignore` in the code to circumvent mypy/pylance complaints. This is fine, as it is also the case with Pydantic when using things like callables to define a type (e.g. pydantic.constr)

3 - mypy/pylance still complains

[2022-03-04 17:56] ejmolinelli commented on #764
I suppose this works
<img width="303" alt="Screen Shot 2022-03-04 at 12 55 49 PM" src="https://user-images.githubusercontent.com/7316535/156816411-a61ccdcf-12a5-4596-8713-0309d75ec9de.png">

[2022-03-05 00:02] jeffzi commented on #764
Thanks for your comments @ejmolinelli.

There is an experimental mypy plugin included in pandera. Better static linting is actively explored. You can read the current best practices in the documentation [here](https://pandera.readthedocs.io/en/stable/mypy_integration.html?highlight=mypy).

Here are 2 approaches:
[code]

The choice of the approach depends on the expected input of your function. In

[2022-03-05 15:00] #725 closed

[2022-03-05 15:02] cosmicBboy commented on #771
fixed by #780

[2022-03-05 15:02] #771 closed

[2022-03-06 08:40] ferhah commented on #765
One question: How to handle pa.DataFrameSchema(..., strict='filter, ordered=True)? Should it raise an error if the order does not fit or should it return a DataFrame with the correct order?
I think, there is currently no test for this case?

[2022-03-06 17:32] cosmicBboy commented on #765
For now ordered should raise errors. Conceptually, this is a validator because it simply checks the validity of the raw data.

The only two things in a schema that modify the data are coerce=True and strict="filter". Conceptually, these are parsers because they try to convert raw data into valid data.

I wonder if it would make sense to have a single flag coerce=True that turns some of these optio

[2022-03-06 20:47] ferhah commented on #765
I would say, ordering the columns does only make sense in combination with filtering. Otherwise, how to order columns not specified in the schema?
I see you point with validator vs parser. Since with strict='filter', we already have a parser, I would say, we can ordering the columns at the same time. The drawback is, that this would be an implicit ordering. Could there be a situation, a user wants

[2022-03-08 12:54] jamesmyatt commented on #725
Thanks @cosmicBboy

[2022-03-08 16:36] cosmicBboy opened #785 "Look into pingouin for more statistical checks"
https://github.com/raphaelvallat/pingouin

[2022-03-09 02:48] cosmicBboy opened #786 "use mypy pre-commit instead of nox"
consolidate mypy linting with pre-commit instead of using `nox`. There are known issues with using mypy with pre-commit, where files aren't actually being checked, see [here](https://jaredkhan.com/blog/mypy-pre-commit)

[2022-03-09 02:54] cosmicBboy commented on #765
Fixed by #777

I think the parsing behavior for `ordered=True` can be tackled in another PR. If you find yourself wanting this behavior, feel free to other another issue!

[2022-03-09 02:54] #765 closed

[2022-03-09 03:11] cosmicBboy commented on #764
I'm open to this as a feature, esp. since it's part of the pydantic API and the use case makes sense. Please feel free to open up another feature request issue @ejmolinelli !

[2022-03-09 16:23] tbsexton commented on #393
Hi guys, just wanted to chime in here; coming from a data science side, I've been using pydantic a lot lately to model the observations themselves, esp. when there are hierarchies and/or validation needing to happen, and I get a lot of I/O and web compatibility for free (e.g. spaCy uses pydantic/FastAPI now).

However, the vast majority of the time I want to actually analyze or process data as pan

[2022-03-09 23:43] jeffzi opened #788 "Add support for logical data types"
**Is your feature request related to a problem? Please describe.**

One limitation with the current `DataType.check()` method is that it only validates the data type, without access to the data itself. I've ran into this when implementing decimal and date dtypes, which is why I've been holding back my PR.

I'm quoting the documenation of the [visions lib](https://dylan-profiler.github.io/visions/v

[2022-03-11 19:29] jeffzi commented on #788
Will do !

[2022-03-16 11:04] itaisir opened #791 "Checks at the DataFrameSchema-level in case lambda return Series of Booleans or boolean with element_wise=True."
When I define a DataFrameSchema-level  lambda which returns Series of Booleans it validates the df even if the the returned Series of Booleans not all True.

[code]
<img width="373" alt="image" src="https://user-images.githubusercontent.com/44446418/158575678-7a972d7a-e0bd-44f1-bcbf-b6ed48ec4a28.png">
<img width="179" alt="image" src="https://user-images.githubusercontent.com/44446418/158575767-53

[2022-03-16 11:11] itaisir commented on #791
I set the `element_wise=True` and changed the function but it also not working
[code]

[2022-03-16 11:17] itaisir commented on #791
It is all about this flag `strict=True`

schema = pa.DataFrameSchema(
        columns={
            'Start date': pa.Column(str,pa.Check(lambda s: UploadHeadCountListPerCompany.validate_dates(s),error="Wrong date format"), nullable=False),
            'End date': pa.Column(str,pa.Check(lambda s: UploadHeadCountListPerCompany.validate_dates(s),error="Wrong date format"), coerce=True, nullable=True)

[2022-03-16 13:14] cosmicBboy commented on #791
can you provide a minimally reproducible (copy-pasteable) example with toy data?

[2022-03-17 13:52] fleimgruber commented on #466
After #369 and #559 what is the preferred solution here? Still https://github.com/pandera-dev/pandera/issues/466#issuecomment-824062087 or https://github.com/pandera-dev/pandera/issues/466#issuecomment-824834333?

[2022-03-19 19:16] tbsexton commented on #764
I must have missed this looking through the issues list last time, but I wanted to link some observations/comments I had [here](https://github.com/pandera-dev/pandera/issues/393#issuecomment-1063106848) on using pandera via Pydantic models. Not much to add but I'm a heavy user of this use-case so I'm happy to help as needed

[2022-03-19 19:32] cosmicBboy commented on #764
hi @tbsexton, your use-case should be fulfilled by this PR: https://github.com/pandera-dev/pandera/pull/779

It gives you a way of specifying a `PydanticModel(MyRecord)` in the `DataFrameSchema(dtype=...)` constructor. You need to specify `coerce=True` so that pandera will apply the pydantic model in a row-wise fashion. The main caveat here is that those checks _may not be as fast_ as the equivale

[2022-03-19 19:50] cosmicBboy commented on #393
hey @tbsexton, as discussed in https://github.com/pandera-dev/pandera/issues/764#issuecomment-1073069161, the first use-case is fulfilled with the `pandas_engine.PydanticModel` type:

For the first interop use case:

That would effectively be handled by a `pydantic <-> jsonschema <-> pandera` flow, the main blocker here is the ability to import/export a jsonschema schema to a pandera schema.

What

[2022-03-20 03:43] cosmicBboy opened #794 "Benchmark: PydanticModel validation vs equivalent Pandera schema"
[This PR](https://github.com/pandera-dev/pandera/pull/779) introduced the `PydanticModel` datatype, which enables interoperability of pydantic models in pandera schemas.

The purpose of this task is to create a script (under the `scripts` directory) that benchmarks the performance of equivalent pydantic and pandera schemas.

[2022-03-21 11:04] chedv opened #796 "Pandera Int type doesn't allow nullable values in column when coerce param is true"
#### Code Sample

[code]

#### Actual behavior

[code]

#### Expected behavior
The created schema should allow nullable values in a column with `nullable=True` param.

#### Desktop (please complete the following information):

 - OS: mac os big sur
 - Version 11.3.1

#### Additional context
It is reproduced on the latest (0.9.0) and previous versions. Pandera types INT32, INT64 don't have the foll

[2022-03-21 11:41] jeffzi commented on #796
Hi @chedv. Pandera stays intentionally close to pandas's behavior.

That's expected. If you need nullable integers, you must use [pandas nullable data types](https://pandas.pydata.org/pandas-docs/stable/user_guide/integer_na.html), which are represented by those capitalized `INT32` and `INT64` types.

Can you elaborate? `pandas.DataFrame.to_json` works for nullable integers (tested on last pandas

[2022-03-21 13:07] chedv commented on #796
@jeffzi, thanks for your detailed answer, `pandas.DataFrame.to_json` will helps me. I will close the issue.

[2022-03-21 13:07] #796 closed

[2022-03-22 03:53] elmz87 opened #797 "Unable to install Pandera due to Cython module not found"
#### Question about pandera

I am trying to install Pandera on my local but I am getting this error below.
I have tried to install Cython==0.29 first before attempting to install Pandera but it still gives me the same output as below.
Any help will be appreciated! Thanks!

pip 22.0.4

[code]

[2022-03-22 12:45] #762 closed

[2022-03-23 14:39] jeffreykennethli commented on #692
Hi @cosmicBboy I noticed that the CI now runs both Modin on Ray and Dask without the Windows exclusion [here](https://github.com/pandera-dev/pandera/blob/dev/.github/workflows/ci-tests.yml#L178-L187). Was this issue resolved? Is there anything we can do to help resolve it?

[2022-03-23 21:04] telferm57 commented on #582
Hi @lcbm and @cosmicBboy , I have a similar use case - is this change in progress atm?

[2022-03-24 14:12] lcbm commented on #582
Hi @telferm57, I actually didnt have the time to take this on... at the time I was hoping to use some of my working hours to contribute but we had so many high priority stories to work on that we chose to use custom checks instead :disappointed:

However, I did take some time to look at the code, with @cosmicBboy's suggestion in mind, and indeed its a relatively simple change. If you decide to tak

[2022-03-25 20:24] christeefy opened #800 "🐛 `pa.Index`'s `unique` attribute is not persisted when serializing the schema"
**Describe the bug**
A clear and concise description of what the bug is.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.
- [x] (optional) I have confirmed this bug exists on the master branch of pandera.

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-report

[2022-03-25 20:29] christeefy commented on #800
I have identified the location in the codebase where index serialization occurs: [`pandera/schema_statistics.py::_get_series_base_schema_statistics`](https://github.com/pandera-dev/pandera/blob/7e1742fa4b750fdd47530c4107693ed72aa0f8e6/pandera/schema_statistics.py#L110-L117)

This is my first time contributing to an open-source project, and I'm happy to help fix this issue with guidance from the ma

[2022-03-26 14:28] telferm57 commented on #582
Hi, thanks for the helpful post, ...I will try to take this change on over the next couple of weeks

[2022-03-26 15:44] cosmicBboy commented on #797
hi @elmz87 can you provide:
- OS information
- python version

Based on the warning `An existing connection was forcibly closed by the remote host` this seems like a network issue:
https://stackoverflow.com/questions/52328655/pip-cant-install-any-package

Is the issue persisting?

[2022-03-26 15:53] cosmicBboy opened #802 "Pydantic Model <-> jsonschema <-> Pandera Schema"
**Is your feature request related to a problem? Please describe.**

See the problem articulated in #764

**Describe the solution you'd like**

In combination with #421, figure out a syntax for converting a pydantic model into a pandera schema, where the pydantic model constraints are converted into the most efficient built-in pandera checks so as to use the underlying optimized pandas methods.

Th

[2022-03-26 15:54] cosmicBboy commented on #764
Closing this issue, opened up #802 for the deeper integration

[2022-03-26 15:54] #764 closed

[2022-03-26 15:57] cosmicBboy commented on #773
Yep! This is a current limitation in the strategies module, which would require something like a statistics resolver that collects statistics across all the checks per column so that this won't be so much of an issue.

[2022-03-26 15:58] cosmicBboy commented on #778
thanks @aiwalter ! adding the _help wanted_ tag here

[2022-03-26 16:20] cosmicBboy commented on #733
hi @benjaminbluhm, sorry for the delay in responding!

So the main function to look at is [`_serialize_dataframe_stats`](https://github.com/pandera-dev/pandera/blob/dev/pandera/io.py#L70-L84)

Right now it outputs a `dict` where keys are check names and values are a dict containing all the check metadata, so that should output a list.

You may also need to change [`parse_checks`](https://github.co

[2022-03-26 16:22] cosmicBboy commented on #742
if you're into `functools`, you can also do something like:

[code]

[2022-03-26 16:23] cosmicBboy commented on #742
Would welcome a PR to add this option at the dataframe-schema level!

[2022-03-26 16:55] #800 closed

[2022-03-26 18:09] cosmicBboy commented on #451
closing this issue, I think the functionality described in this issue will require a branch new opensource library for analyzing data transformations 😅

[2022-03-26 18:09] #451 closed

[2022-03-27 13:29] cosmicBboy commented on #729
Hi @Fransisnk this use case makes sense!

Welcoming PRs to fulfill this use case, adding the _help wanted_ tag

[2022-03-27 13:30] cosmicBboy commented on #707
fixed by #758

[2022-03-27 13:30] #707 closed

[2022-03-27 18:14] vovavili opened #806 "Port some checks from Great Expectations to Pandera as pa.Check methods"
### Discussed in https://github.com/pandera-dev/pandera/discussions/799

<div type='discussions-op-text'>

<sup>Originally posted by **vovavili** March 25, 2022</sup>
I think we should start with these methods and work our way up:

1) [Expect a specific format of datetime string in a given column](https://greatexpectations.io/expectations/expect_column_values_to_match_strftime_format)

2) [Expect

[2022-03-28 05:25] vovavili commented on #742
That sounds like a dream option for me! Would save me so much time. Full support.

[2022-03-29 12:57] cosmicBboy opened #808 "Add special case to check values of `str` column"
**Describe the bug**

FYI @jeffzi @dineshkumar-23

The bug is clearly described [here](https://github.com/pandera-dev/pandera/discussions/807). Basically, since `str` dtype arrays are translated to a numpy object arrays, any object can exist within such a column and still pass validation.

There is now `pandas.StringDtype` since pandas > 1.0, but I think it's still important to special-case this t

[2022-03-30 16:39] bendnorman opened #809 "Include DataFrameSchema and Column description attribute in serialization"
**Is your feature request related to a problem? Please describe.**
`description` attributes are not included when DataFrameSchemas and Columns are serialized for exporting to yaml.

**Describe the solution you'd like**
Add the description attribute to [`pandera.io._serialize_schema()`](https://github.com/pandera-dev/pandera/blob/47ccd9f7cf1ddd9660c00da40d366900b00ae7bb/pandera/io.py#L121) for the

[2022-03-31 02:51] cosmicBboy opened #812 "Remove pylint"
There are now 257 pylint disable / skip exceptions throughout the codebase. Unfortunately, it seems like my coding style (at least the one reflected in the `pandera` project) doesn't really conform to these. Gonna drop pylint as a linter and rely on black, flake8, and mypy for linting.

[2022-03-31 13:07] fleimgruber opened #814 "Lazy SchemaErrors should contain schema name"
**Is your feature request related to a problem? Please describe.**
As a user looking at `SchemaErrors` there is no reference to the schema that was validated.

**Describe the solution you'd like**
Somewhere in `SchemaErrors` there could be a section or a note at the top stating the name of the schema that was validated, e.g. for a schema of `DataFrameSchema(name="schema_a", columns=...)`.

**Descr

[2022-03-31 13:18] cosmicBboy commented on #814
Yes! This would involve a simple update to the `SchemaErrors._message` method: https://github.com/pandera-dev/pandera/blob/46d9f71f1457b8cb077750c61b4f59746302cc4f/pandera/errors.py#L153-L159

You can use the `DataFrameSchema.__repr__` method for the one-liner string representation.

I'd welcome a PR for this, if you want to contribute @fleimgruber.

[2022-03-31 13:27] fleimgruber commented on #814
Thanks for the quick feedback and the encouragement! I would be happy to contribute, will prepare a PR for this.

[2022-04-01 08:02] Niccolum opened #816 "Spark dataframe support"
**Is your feature request related to a problem? Please describe.**
pandera is a great library, but it doesn't support pyspark DataFrame yet

**Describe the solution you'd like**
Schema model for pyspark DataFrame

[code]

`pip install pandera[pyspark]`

[2022-04-01 09:18] fleimgruber commented on #814
Ideally I would want to have a `schema` object inside `SchemaErrors` that is an instance of `DataFrameSchema` so that I can use your suggested `__repr__` method on it.

But AFAICS, the `SchemaErrors` does not contain a `schema` object the way `SchemaError` does:
https://github.com/pandera-dev/pandera/blob/99d49a9fa432d830238b4dfb780eb82e9862fd1e/pandera/errors.py#L104

[2022-04-01 09:28] fleimgruber commented on #814
I looked at the site where `SchemaErrors` is raised from `DataFrameSchema.validate` and I suspect:
https://github.com/pandera-dev/pandera/blob/99d49a9fa432d830238b4dfb780eb82e9862fd1e/pandera/schemas.py#L768-L771

where the schema is not passed on to `SchemaErrors`. Am I missing something?

[2022-04-03 16:36] leloew-cr opened #820 "Check Types not working for multiple DataFrame outputs"
If you annotate your code like this, with multiple Outputs, the outputs don't get checked or at least not coerced.
[code]
It would be great if this would work, or we could set a warning.

[2022-04-04 02:42] learnnk opened #821 "Pandera-Schema Model-Showing incorrect results for Integer column validations"
Hi Team,
I'm using the Pandera Schema model to validate my file which as Integer column.

**My Schema Model**
class Retaildata(pa.SchemaModel):
    orderid: Series[int] = pa.Field(coerce=True,nullable=False)
    orderdate: Series[pa.DateTime] = pa.Field(coerce=True)
    orderamount: Series[int] = pa.Field(coerce=True)
    orderstatus: Series[str] = pa.Field(coerce=True, nullable=False)

**Data**

[2022-04-04 02:51] cosmicBboy commented on #821
Hi @learnnk, can you please provide a minimally reproducible code snippet with your (i) schema and (ii) data... basically what you've done above except in an easily copy-pasteable form. This will help us help you 🤝

[2022-04-04 02:55] cosmicBboy commented on #809
thanks @bendnorman, please feel free to make a PR for this, the part of the codebase you linked is exactly where the changes need to happen

[2022-04-04 02:56] cosmicBboy commented on #820
Hi @leloew-cr thanks for the suggestion! would you mind following the feature request template [here](https://github.com/pandera-dev/pandera/issues/new?assignees=&labels=enhancement&template=feature_request.md&title=)? This helps us reason about the problem, possible solutions (and concrete next steps), additional context, etc.

[2022-04-04 03:38] learnnk commented on #821
Thanks for your response
Here is the code snippet

import pandera as pa
import pandas as pd
from pandera.typing import Index, DataFrame, Series
from pandera import Check, Column, DataFrameSchema

class Retaildata(pa.SchemaModel):
    orderid: Series[int] = pa.Field(coerce=True,nullable=False,gt=0)
    orderdate: Series[pa.DateTime] = pa.Field(coerce=True)
    orderamount: Series[int] = pa.Field(co

[2022-04-04 03:40] cosmicBboy commented on #821
FYI you can do triple backticks ``` to preserve indentation:

[code]
this makes it easier to copy-paste into (in this case) my editor to help debug

[2022-04-04 03:51] cosmicBboy commented on #821
ah, you're seeing just the coercion error (failure to coerce `"abc"` to an int)
[code]

because pandera doesn't apply the `gt=0` constraint check for the following reason: currently, failure to coerce a column to the specified dtype will short-circuit the rest of the property checks... the original reasoning for this is the following: if a column cannot even be coerced to the correct type, then it

[2022-04-04 04:13] learnnk commented on #821
Thanks for quick update
Heres is my response to your question

I'm curious: what is your specific use case, and what are the ways you're using pandera/pandas to clean/validate data? E.g. is this a programmatic data pipeline, or are you using pandera in the context of a GUI where a human updates the state of the data with multiple rounds of validation?

[learnnk]-We are using Pandera for DataQualit

[2022-04-04 04:25] cosmicBboy commented on #821
cool, so if I understand correctly, this is a summary of your situation:
1. you have a flat file/DB with raw data represented as strings
2. you want to validate numeric properties of certain columns, but first you need to convert the strings to ints
3. you want to know (a) which values cannot be converted to ints (b) which values fulfill certain numeric properties (e.g. `gt=0`)

my next question i

[2022-04-04 10:05] fleimgruber commented on #814
@cosmicBboy gentle request for guidance or clarifying my understanding.

[2022-04-04 13:54] cosmicBboy commented on #814
hi @fleimgruber, the UX here can definitely be improved, but you can pull out the schema from the `schema_errors` property

[code]

This can be improved by adding a `@property` method to `SchemaErrors` that exposes this as a `.schema` property.

If you have the capacity, please make a PR for this UX improvement!

[2022-04-06 01:10] learnnk commented on #821
Here is my response
1.you have a flat file/DB with raw data represented as strings
[learnnk]-Its my bad. My file will not have entire string data.it’s mixture of string and int data
 My ask - for integer column we want to make sure it has only integer data. When we use this schema model and validated against the data
Scenario
If integer column has alphanumeric value  and another value which does n

[2022-04-06 15:09] cosmicBboy commented on #821
Gotcha, so as I mentioned, `pandera` can't do _both_ of these things at the same time for reasons stated here https://github.com/pandera-dev/pandera/issues/821#issuecomment-1087080411

#### Recommendation 1: Custom Check with no Dtype

You can also forego specifying the `integer` datatype and create a [custom check](https://pandera.readthedocs.io/en/stable/schema_models.html#custom-checks) that (a

[2022-04-06 20:15] telferm57 commented on #582
@cosmicBboy , I've forked repo, having issues with running pyspark test under windows - do do this change , is it only the core test suite I need to worry about ?

[2022-04-07 03:08] cosmicBboy commented on #582
hi @telferm57 yes I think for this issue the core test suite would be the main thing to run

so you can just do `pytest tests/core` for now (for safety you can also try running it for the other extras) but once you make a PR CI/CD should be able to catch any unforeseen issues with the extras.

yeah, so pyspark for windows is currently untested: https://github.com/pandera-dev/pandera/blob/master/.g

[2022-04-07 03:09] cosmicBboy commented on #692
hi @jeffreykennethli thanks for the ping! the issue has now been resolved, closing this issue. Thanks!

[2022-04-07 03:09] #692 closed

[2022-04-07 03:58] WilliamCVan opened #823 "Nested Datatypes specified in schema"
#### How do we specify a nested datatype like a list/array of integers?

I would like to specify a nested data structure for the schema, below I am trying to specify a list of integers for "**column0**". I could not find any documentation on how to specify nested types, is it possible?

[code]
Getting the following ERROR message:
`"pandera.errors.SchemaError: expected series 'column0' to have type

[2022-04-07 06:53] cgebbe opened #824 "Schemas in Tuples are not typechecked"
When the script below is executed,
Then I would have expected an error that "revenue_WRONG" does not conform to the OutputSchema.
However, no error is raised using pandera 0.10.1 and python 3.8.10.

[code]

[2022-04-07 13:28] cosmicBboy commented on #820
closing this, merge with #824

[2022-04-07 13:28] #820 closed

[2022-04-07 13:28] cosmicBboy commented on #824
hi @cgebbe, this is related to #820 . I'd say this is sort of a bug, but more of an enhancement/feature request (the fact that only single dataframe outputs are supported should be better documented...)

The workaround for this would be to use [`check_output`](https://pandera.readthedocs.io/en/stable/decorators.html#check-output), which is a little more flexible:

[code]

In any case, would welcom

[2022-04-07 17:30] cosmicBboy commented on #823
you can use `object` as the dtype, and then use custom checks to validate stuff about that column

[code]

[2022-04-07 19:10] WilliamCVan commented on #823
@cosmicBboy Thank you for your help, resolved my issue

[2022-04-07 19:10] #823 closed

[2022-04-08 13:46] Messlow opened #826 "Missing failure case in SchemaError when coercing integer-like strings to datetime"
**Describe the bug**
There is an issue when validating and coercing to datetime type for integer-like strings, for example `"123"`: the validation raises a `SchemaErrors` as expected, but the index of the errors are not present in the `SchemaErrors.failure_cases`.

This is due to the fact than when coercing the full Series of the column, the function `pandas.to_datetime` is used. If this function

[2022-04-08 18:03] jeffzi commented on #826
Thanks for the bug report @Messlow. Your pointers were very useful, there was indeed a regression in 0.10.0.

I pushed a fix, once it's accepted you can try it out from the `dev` branch or wait for the next minor release.

[2022-04-12 07:04] andretheronsa commented on #381
What would be required to ensure we can add a GeoDataFrame type from GeoPandas with a Pydantic BaseModel?
I am thinking it may not be as complex as support for spark/dask and new interfaces. If someone could point me in the right direction I could work on a PR.

I would like to do:

`class BaseGeoDataFrameSchema(pa.SchemaModel):
    geometry: Series
    properties: Optional[Series[str]]

class Inp

[2022-04-12 10:49] fleimgruber commented on #814
@cosmicBboy should we continue discussion here or on #822?

[2022-04-12 20:20] TheDataScientistNL opened #828 "Column metadata"
Enjoying the Pandera package a lot!

I was wondering if a possibility for column metadata could be added?

A clear example would be validating units of measurements. For instance, in a transformation pipeline you might merge two dataframes and sum two distance columns (one distance column from each separate dataframe, then summed after merging the two dataframes). It would be good that Pandera aut

[2022-04-13 21:48] cosmicBboy commented on #828
hi @TheDataScientistNL at a high level this makes sense! To make things more concrete, would you be able to provide a toy dataset, and perhaps the checks you want to run (written manually with pandas/python)? This'll help me understand how a potential new feature would fit into pandera.

[2022-04-13 21:49] cosmicBboy commented on #828
And thank you 😀

[2022-04-14 10:33] moleary-earnest opened #829 "What is the best way to handle dates in a SchemaModel?"
#### Question about pandera

Is there a way to specify specify a brute force / naive coercion approach for a series to end up with vanilla dates (no tz info)?

I prefer to use the class based `pa.SchemaModel` approach if possible.

The reason I ask is I have been starting to use this library for validation (and coercion) as my data flows through a pipeline and I am using the following model to ens

[2022-04-14 10:53] moleary-earnest commented on #829
I have tried the following 2 approaches, neither work (both result in the same error):
[code]

`SchemaError: expected series 'point_in_time' to have type datetime64[ns], got datetime64[ns, UTC]`

[2022-04-14 10:56] moleary-earnest commented on #829
Just to add to the info.

I am very confused because when I print out the schema I get the following:
[code]
So the schema **is** expecting a `datetime[ns, UTC]` type right?

[2022-04-14 12:39] cosmicBboy commented on #829
Hi @moleary-earnest you'll need to specify coerce=True at the column level (or in the Config definition) for pandera to coerce incoming data. Lemme know if that works!

[2022-04-14 14:39] NickCrews commented on #511
Hi! I just looked up this bug after running into this warning. Thanks for your work on all this @cosmicBboy

Can we make it so that on DataFrameSchema __init__, the Column is copied into a new Column with a modified name, instead of modifying the Column in place? This was very surprising behavior to me. This would also be in line with how pandas does it, where the names of Series is not modified w

[2022-04-15 12:32] fleimgruber commented on #814
The associated PR changed to #831.

[2022-04-16 12:50] kraussel opened #832 "Question: Custom DataFrame Check Method based on NaN Verification"
Hello everybody,

I am currently using the Pandera library and try to implement the following verification:
Assume for simplicity, that we have the four columns: 'b', 'a', 'z', and 'p'. The columns 'b', 'a', and 'p' are not nullable with the data type int and 'z' is nullable and has the data type float (because as far as I know only floats can be NaN?). The actual check which I am interested in is

[2022-04-16 12:57] cosmicBboy commented on #832
hi @kraussel ! this is a gotcha that needs to be documented better... but you need to supply `ignore_na=False` to the check: `pa.Check.customCheck(ignore_na=False)`

https://pandera.readthedocs.io/en/stable/reference/generated/pandera.checks.Check.html#pandera.checks.Check

This question comes up enough that I think it's reasonable to make `ignore_na=False` the default value... it's better for the

[2022-04-16 13:41] kraussel commented on #832
hey @cosmicBboy,
thanks for the fast reply! Supplying `ignore_na=False` to the toy example worked.

However, adding it to my validation pipeline and thus checking the entire dataset it also indicates that for each column of a failed row that the CustomCheck has failed. Is there a way such that only the columns (in my case ' 'b', 'a', 'z', and 'p') are mentioned in the error or even only one entry

[2022-04-16 17:04] cosmicBboy commented on #832
hi @kraussel unfortunately pandera's error-reporting mechanism is not customizeable, so the resulting `SchemaError.failure_cases` is formatted in long (tidy) form.

What is your use case for formatting the failure cases in a particular way? We do have some ideas on how to customize error reporting, so your use case would be a useful data point in desigining it.

[2022-04-17 06:37] kraussel commented on #832
Hey @cosmicBboy,
I understand, just wanted to ask if there is some (hidden) feature I didnt find out while reading the documentation.

Well, regarding your question, the overall goal is to integrate the validation step to a (ML data) pipeline and if one of the validation rules fail an expert takes a look at it. Since there are more than 3000+ features it would be handy to have an option that just

[2022-04-17 06:37] #832 closed

[2022-04-17 14:19] cosmicBboy commented on #821
converting this to a discussion, @learnnk feel free to mark continue the discussion there!

[2022-04-18 18:32] will-gp opened #834 "pa.infer_schema throws TypeError when column is null and dtype is object"
**Describe the bug**
`pa.infer_schema(df)` throws a TypeError when a given column contains all nulls and the column dtype is `object`. This occurs within `_get_array_type` in [schema_statistics.py](https://github.com/pandera-dev/pandera/blob/2d480841753ef6261f1a52c5e1f1b84f9adfac87/pandera/schema_statistics.py#L177). Specifically, if a column contains all null values, the call to infer_dtype on li

[2022-04-19 01:56] cosmicBboy commented on #834
Hi @will-gp thanks for the bug report, I do think the use case you describe should be supported.

+1 to `skipna=False`

Feel free to make changes to the `schema_statistics` module and add some unit tests for these cases:

Let me know if you have any questions, and thanks in advance for your contribution!

[2022-04-19 12:21] cosmicBboy commented on #829
Converting this into a discussion question. @moleary-earnest please mark my answer as the correct one if it solved your problem!

[2022-04-19 18:35] will-gp commented on #834
Hey @cosmicBboy , my initial thought was that we'd first have a call to `infer_dtype` with `skipna=True` (the original logic). If this returns a dtype of `empty` we would then make a second call with `skipna=False`. My thought here is that we would still preserve parts of the original behaviour, and only utilize the null information if needed.

However, after further thinking, I think that overcom

[2022-04-19 18:45] cosmicBboy commented on #834
Agreed! I think `skipna=False` would handle all the cases (🤞), so let's go ahead with that!

Let me know if you have any questions about [contributing](https://pandera.readthedocs.io/en/stable/CONTRIBUTING.html)!

[2022-04-21 09:22] acovaci opened #836 "How to use pandera in conjunction with typeguard and/or as a type checker for the other arguments?"
#### Question about pandera

Hi. I am facing the following scenario. Due to ecosystem limitations, I can't use any static type checkers. So how I got around this is by using [typeguard](https://typeguard.readthedocs.io/en/latest/index.html) for most of my functions to check for the right types.

The issue I'm facing now is if I have a function that has both pandera and non-pandera type annotations

[2022-04-21 11:46] exitNA commented on #260
#369 has been solved, what about this feature ?

[2022-04-21 12:43] acovaci commented on #836
In the meantime, for now I switched to using `@pydantic.validate_arguments`

[2022-04-21 12:45] cosmicBboy commented on #836
hi @acovaci !

Is typeguard a requirement for your use case?

Another thing you can do is use `@pa.check_types(with_pydantic=True)`, and under the hood it uses `pydantic.validate_arguments` to validate inputs, but it will also validate the output.

[2022-04-21 12:49] cosmicBboy commented on #836
If you *really* care about types, then you can actually use `pandera.typing.DataFrame[Schema](data)` (where `data` is some valid data you want for instantiating the dataframe). In this case, the types should match and typeguard should stop complaining.

You can think of `pandera.typing.DataFrame[Schema](data)`  as a typed dataframe. Initializing a dataframe like this basically validates the `data`

[2022-04-21 12:51] acovaci commented on #836
@cosmicBboy Thanks so much, I'll give the guide a read.

Not really, it was just the easiest library to integrate into my ecosystem.

Ah this is awesome, though seems like I can't pass a config to it? This is how I'm currently using it:

[code]

If not, the explicit type instantiation is defo an option.

Thanks 👼

[2022-04-21 12:53] cosmicBboy commented on #816
hey @Niccolum pandera now supports `pyspark.pandas` dataframes! https://pandera.readthedocs.io/en/stable/pyspark.html

Out of curiosity: I haven't tested validating OG pyspark dataframes, I suspect that is not supported... is this a feature that you'd want, or is converting pyspark DFs to pyspark.pandas DFs sufficient?

[2022-04-21 12:55] cosmicBboy commented on #836
You're welcome! Converting this to a *discussion*, mind marking my answer as the correct one?

[2022-04-21 13:03] #816 closed

[2022-04-21 13:06] cosmicBboy commented on #826
this should be fixed in dev branch, gonna cut a bugfix release next week! closing this now

[2022-04-21 13:06] #826 closed

[2022-04-21 21:09] g-simmons opened #838 "hypothesis.errors.Unsatisfiable on Schema.to_schema().example() when SchemaModel has more than 38 fields"
**Describe the bug**
If a SchemaModel contains more than 38 fields, SchemaModel.to_schema().example() throws an error:
[code]

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandera.

**Note**: Please read [this guide](https://matth

[2022-04-22 01:49] cosmicBboy commented on #838
hi @g-simmons, this looks like a performance issue on the dataframe strategy generation function. I suspect it has something to do with this:
https://github.com/pandera-dev/pandera/blob/master/pandera/strategies.py#L1104-L1112

[code]

It would be better to collect the string columns and then apply a list of columns in `strategy.map`:

[code]

I don't have the bandwidth to tackle this right now, b

[2022-04-22 16:05] NickCrews opened #839 "Make declarative and imperative schema declaration result in the same type"
Thanks for your work on this!

Currently, using the imperative `DataFrameSchema` API results in a different type of "schema" object as compared to if you create that same schema using the declarative class-based Schema Model API. This is a bit confusing once you have constructed your schema, because the two types have slightly different APIs. Also, you construct them slightly differently, using pa

[2022-04-22 16:47] cosmicBboy commented on #839
hi @NickCrews, thanks for validating my own thoughts on this!

See [this discussion](https://github.com/pandera-dev/pandera/discussions/643) for more context.

Looks like the link is dead.

At a high level I totally agree, although the direction I'm thinking about is going for a more abstract way of representing *data containers* and their *components*. This is because `pandera` is slated to suppo

[2022-04-22 19:12] NickCrews commented on #839
Thanks @cosmicBboy! Fixed my link, and replied in the discussion that you linked.

[2022-04-22 19:12] #839 closed

[2022-04-22 19:22] NickCrews commented on #839
Also, the abstraction of container and field makes sense.

I would add (spitballing totally from the armchair, feel free to totally ignore) that I might split up the concerns a bit:
- A core schema, which deals with validation (both statistical and otherwise).
- A generator add on which can take a schema and produce examples based off of it. I as a user don't care about about this functionality an

[2022-04-22 19:26] g-simmons commented on #838
@cosmicBboy Great, thanks for the input! I also probably don't have bandwidth to work on it now but will come back later if I do. Thanks!

[2022-04-24 06:00] pbower commented on #828
Hi - I was about to log the same issue. The use in my example is that I want to add a 'version' tag to the column.
New columns are added to this dataset over time (as they come from external partners, which can be unpredictable). Therefore, being able to access the tags during data processing, adds a lot of flexibility.

Therefore, in " columnname: Column(Float), " , could a suggestion be that the

[2022-04-25 20:22] cosmicBboy commented on #591
fixed by #670

[2022-04-25 20:22] #591 closed

[2022-04-26 10:19] aartaria opened #840 "Index of type category fails on validation"
Validation for an index of type "category" fails starting from version `0.8.0`

**Minimal reproducible example**
[code]

[code]

**Where it fails**
Here
https://github.com/pandera-dev/pandera/blob/9a463e1757e2811bbfee4684562541a5f2110cc3/pandera/schema_components.py#L385-L387
 the index gets converted to a numpy array but [Categorical is not a numpy array](https://pandas.pydata.org/docs/user_guide

[2022-04-27 08:14] TheDataScientistNL commented on #828
@cosmicBboy Pardon the delay.

Herewith an example.

Suppose we have two datasets

`
import pandas as pd

df = pd.DataFrame({'person': ['John Doe', 'Rick Ashley'}, 'weight': [205.2, 150.6], 'date':[2021-01-01, 2021-02-01])
`

Suppose I have the above dataframe, in which the column 'weight' contains the weight of the person in units 'lbs'. Then it would be nice to have a schema in where I could exp

[2022-04-29 07:25] vignkri opened #842 "Built in checks for Time series dataframes"
**Is your feature request related to a problem? Please describe.**

DataFrames indexed by either DateTimeIndex or derived indexes need to have specialised tests verifications. There are 3 different types of time based indexes supported in Pandas.

- [DateTimeIndex](https://pandas.pydata.org/docs/reference/api/pandas.DatetimeIndex.html)
- [PeriodIndex](https://pandas.pydata.org/docs/reference/api/p

[2022-05-02 09:09] fleimgruber commented on #814
For the actual changes regarding this issue, now that #831 was merged, please see #847.

[2022-05-03 12:12] fleimgruber opened #848 "Enable poetry tooling in pyproject.toml"
**Is your feature request related to a problem? Please describe.**
As a developer installing the pandera dev environment I want to use [poetry](https://python-poetry.org/).

**Describe the solution you'd like**
Translate the relevant sections of `setup.py` to `pyproject.toml`.

**Describe alternatives you've considered**
-

**Additional context**
-

[2022-05-03 12:35] fleimgruber commented on #848
See #849.

[2022-05-04 08:57] Anders-E commented on #511
I completely agree with you @NickCrews , the behavior feels strange to me as it goes against the immutable style found in pandas.

This is obviously not my project or anything, but I would highly prefer having the Columns copied. As to dropping the `name` attribute, I don't really know what it's used for under the hood so can't really comment on that.

[2022-05-04 13:52] cosmicBboy commented on #511
@Anders-E @NickCrews do either of you want to make a PR for ^^?

[2022-05-04 19:44] cosmicBboy commented on #511
would it? how?

[2022-05-04 19:45] cosmicBboy commented on #511
thanks @NickCrews !

I'm not super concerned that `Column.set_name` will be a breaking change... as you and @Anders-E pointed out, in-plce mutation of the Column when it's fed into a DataFrameSchema is a bug, in that it's sort of unexpected/unintuitive behavior.

[2022-05-04 23:40] NickCrews commented on #511
I was thinking that someone might be directly calling `Column.set_name`, since that is part of the public API, outside of the context of a DataFreSchema that we've been talking about

[2022-05-06 09:01] borissmidt opened #850 "missing from_record mehtod wich resturns DataFrame[Schema]"
**Is your feature request related to a problem? Please describe.**
When i do `panderas.typing.DataFrame[T].from_record()` i get an untyped DataFrame back and not a panderas `DataFrame[T]`

**Describe the solution you'd like**
A from_record method which allows you to create a typed dataframe this is especially usefull for writing unit tests.

[2022-05-06 09:15] borissmidt commented on #850
another improvement might be to have a typed 'record' constructor which matches the columns, but i'm not sure how you can make the IDE pick this up.

[2022-05-06 13:25] cosmicBboy commented on #511
I not _super_ concerned that this will have a big impact, since I'm not sure how many people using `Column`s by themselves rely on the fact that it's mutated in the context of a `DataFrameSchema`... but you're right, to be safe let's manually to a `copy.deepcopy` of the Column before calling `set_name` here: https://github.com/pandera-dev/pandera/blob/master/pandera/schemas.py#L282-L289

[2022-05-06 13:36] cosmicBboy commented on #850
I'm open to supporting this!

Basically the pandera [`DataFrame`](https://github.com/pandera-dev/pandera/blob/master/pandera/typing/pandas.py#L58) type would need to override the `from_record` method by calling the `super().from_record` method and then `typing.cast` the output of that to `"typing.pandas.DataFrame[T]"` (a self referencing return annotation).

Let me know if you have the capacity to

[2022-05-06 13:42] cosmicBboy commented on #840
thanks for reporting this @aartaria, this is definitely a bug!

don't exactly remember now why that `to_numpy` call is there, can you see which unit tests fail if you remove it? I have a suspicion it's there for the sake of supporting the pandas-like frameworks (pyspark.pandas, modin, or dask) but yeah ideally that wouldn't need to be called

[2022-05-06 14:47] borissmidt commented on #850
I made a workaround but it isn't ideal, since the schemas by default don't keep the names of the indexes.
Otherwise each time you do a from_records() call you have to specify which indexes are used in that data type.
I also could get to the 'generic' parameter of the schema inside the DataFrame type. (i'm kind of new to python, but programmed scala before where you can actually acces these things)

[2022-05-06 17:00] NickCrews commented on #511
Oops sorry I didn't see your comment "how?". I wasn't thinking of people relying on Column getting mutated in DataFrameSchema, I was thinking of this:

[code]
How do you want to deal with this?

[2022-05-06 20:54] cosmicBboy commented on #511
gotcha, agreed, so let's do what I mentioned in https://github.com/pandera-dev/pandera/issues/511#issuecomment-1119620703:

[2022-05-09 08:52] borissmidt commented on #850
Yes, i like typed data frames, because it is really good for documenting the code so you don't make any errors in column names or type errors. it also catches a lot of problems in case of missing data.

Another usage i made out of it is to use it as a definition of my xlsx report output. I use the title in the field to actually set the title in the xlsx report output. and use reflection on the sch

[2022-05-09 09:11] borissmidt commented on #850
Oke it is only the `from_records` that doesn't do any checks.
[code]

[2022-05-10 01:24] cosmicBboy commented on #850
Hi @borissmidt

Yeah if you can send a code snippet (or maybe a PR 🙂) to update that test that would be great!

I'm down to support this use case, but I'm currently working on other stuff (#381) so if you'd like to own that part of the codebase I can help review changes and get them merged into the core library.

[2022-05-10 06:46] borissmidt commented on #850
I will spend some time to make a PR.

On Tue, 10 May 2022, 03:24 Niels Bantilan, ***@***.***> wrote:

[2022-05-10 11:47] markkvdb opened #851 "PyArrow as optional dependency"
**Is your feature request related to a problem? Please describe.**

The PyArrow package contains some very large libraries (e.g., `libarrow.so` (50MB) and `libarrow_flight.so` (14M)). This makes it very hard to use the Pandera package in serverless environment, since packages have strict size limits. Concretely, my problem is that Pandera is practically unusable for AWS Lambda.

**Describe the sol

[2022-05-11 13:01] #814 closed

[2022-05-16 02:01] cosmicBboy commented on #851
this use case makes sense... I agree pyarrow should be an optional dependency (i.e. not an package extra).

Removing this as a dependency from the project, we need to:
- remove it from `environment.yml` file
- run `python scripts/generate_pip_deps_from_conda.py` to sync change to requirements-dev.txt
- remove it from `setup.py` file.

Additionally, we should explicitly raise a TypeError when users

[2022-05-16 02:07] cosmicBboy commented on #848
See discussion in #849: basically this issue is blocked by `pyproject.toml` and poetry having better compatibility with setuptools.

[2022-05-16 02:08] cosmicBboy commented on #797
closing due to inactivity

[2022-05-16 02:08] #797 closed

[2022-05-17 17:55] RNKuhns commented on #538
I've got a different use case, but similarly want to be able to provide a strategy for data synthesis for multiple column checks.

@cosmicBboy is this currently a work in progress (I know there are a couple related PRs).

If not, I'm new to the panders code base, but I am willing to do what I can to help contribute this functionality.

[2022-05-18 02:01] cosmicBboy commented on #538
hi @RNKuhns, can you elaborate on the column checks for which you want to generate data?

It'll help with the design and implementation of making the data synthesis strategy customization effort.

No one's currently working on this, so would be happy to work with you to get started.

At a high level, we want to do the following:

1. add a ` strategy` kwarg to the `Check` (and `Hypothesis`) classes

[2022-05-19 14:07] cosmicBboy commented on #851
@markkvdb are you open to making a PR for this change?

[2022-05-19 14:59] RNKuhns commented on #538
@cosmicBboy I would definitely like to help out.

Do you have some time to have a quick meeting? I can explain some of what I'm hoping to accomplish and you can give me some quick pointers on the code base.

[2022-05-25 23:34] mheguy opened #863 "MultiIndex dropped by reset_index with default argument"
**Describe the bug**
A clear and concise description of what the bug is.

- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the latest version of pandera.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandera.

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-report

[2022-05-26 00:39] cosmicBboy commented on #863
thanks for finding this bug @plague006 !

I think the issue is here: https://github.com/pandera-dev/pandera/blob/master/pandera/schemas.py#L1585-L1587

The if `levels is None` then `level_temp` needs to be all of the names in the `MultiIndex` instead of an empty list.

Would you be open to making a PR to fix this issue? [This test](https://github.com/pandera-dev/pandera/blob/master/tests/core/test

[2022-05-26 02:28] plague006 commented on #863
I would be happy to. Thanks for pointing me in the right direction. :)

[2022-05-26 12:29] HenriqueAJNB opened #864 "Custom messages when `SchemaError` is raised without any `Check` available"
**Is your feature request related to a problem? Please describe.**
I can't send a custom message when `SchemaError` is raised and I'm not using any `Check`. For example: data type coercing on entire column.

**Describe the solution you'd like**
Schema's error in general could have a way to define a custom message, just like the `error` parameter of `Check` class.

**Describe alternatives you've co

[2022-05-26 12:39] cosmicBboy commented on #864
hi @HenriqueAJNB can you provide a minimally reproducible example?

[2022-05-26 13:58] HenriqueAJNB commented on #864
Sure.

When I create a `DataFrameSchema` with `Check` I can define a custom error message.

[code]

But whenever I have only a `Column` without checks, I can't handle those custom messages.
[code]

This would be for all validations that doesn't have `Check`.

Please let me know if you understood @cosmicBboy.

[2022-05-27 18:20] blakeNaccarato opened #866 "Dead header "Ordered columns" still present in docs. Seemingly superseded by "Validating the order of the columns""
#### Location of the documentation

<https://pandera.readthedocs.io/en/latest/dataframe_schemas.html#ordered-columns>

#### Documentation problem

Dead header, seemingly superseded by:

https://pandera.readthedocs.io/en/latest/dataframe_schemas.html#validating-the-order-of-the-columns

#### Suggested fix for documentation

Remove the dead header and update any refs.

[2022-05-27 19:21] the-matt-morris opened #867 "Name of single index is None in SchemaModel"
Love the work this library is enabling!

**Describe the bug**
A clear and concise description of what the bug is.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandera.

#### Code Sample, a copy-pastable example

[code]

[code]

T

[2022-05-31 12:10] fyzbt opened #868 "Nullable columns in ModelSchema result in TypeError when converting to Hypothesis strategy"
**Describe the bug**
When one tries to convert a ModelSchema object to a Hypothesis strategy (either by using `Schema.to_schema().example()` or `@given(Schema.strategy())`) **and sets size parameter**, the code breaks with a `TypeError`. It doesn't happen if the `size` parameter isn't set or `nullable=False` (see full traceback below).

- [x] I have checked that this issue has not already been rep

[2022-05-31 19:53] mattB1989 opened #869 "Multiindex unique does not get passed in Schema model"
**Describe the bug**
A clear and concise description of what the bug is.

- [x ] I have checked that this issue has not already been reported.
- [x ] I have confirmed this bug exists on the latest version of pandera.
- [x ] (optional) I have confirmed this bug exists on the master branch of pandera.

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-rep

[2022-05-31 21:17] mattB1989 commented on #869
Here is the PR:
https://github.com/pandera-dev/pandera/pull/870

[2022-06-01 14:35] gg314 opened #871 "Dask DataFrame filter fails"
**Describe the bug**
A clear and concise description of what the bug is.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.

#### Code Sample

[code]

#### Expected behavior
DataFrames should be filtered such that `col2` remains and `col1` is dropped. The validated pandas DataFrame `new_df1` behaves as expec

[2022-06-05 16:54] bede opened #872 "Ability to report a single failure per row for row-level check functions returning boolean series"
**Is your feature request related to a problem? Please describe.**

As established by conversation with @cosmicBboy on Discord, the current handling of custom check functions operating on the whole DataFrame appears to be reporting a `failure_case` for each column of the row in which the check fails. One could argue that it is more natural to report a single failure case per row when the check fun

[2022-06-13 09:44] maxibor commented on #421
Just a comment to upvote this feature request, it would make make Pandera super nice to use for https://github.com/spaAM-community/ancientmetagenomedir/tree/dev and https://github.com/SPAAM-community/AMDirT

[2022-06-15 14:01] dbokal opened #873 "Check.name not used in violaton reporting in column "Check""
**Describe the bug**
Pandera does not use check names when reporting violations, but rather generates an unpredictable description of the performed check that is ambiguous and cannot be easily reconstructed from the parameters used in check creation.

For instance, when I use Check.isin(["A","B","C","D"]) I would not expect its designation in the error report to be isin({'D', 'A', 'B', 'C'}), but

[2022-06-15 20:22] azhakhan opened #874 "Coercing to float64 using custom data type does not work"
**Describe the bug**
When coercing to float64 using custom data type as described here:
https://pandera.readthedocs.io/en/stable/dtypes.html?highlight=register_dtype%20example#example
to treat empty strings as NaNs, they were first removed with
```data_container.replace("", np.nan, regex=True)```
and then series was coerced as
```coerced = pd.to_numeric(data_container, errors="raise")```

this, ho

[2022-06-16 12:08] ng-henry opened #875 "Allow mixed timezone and non-timezone coercion in timestamp column"
**Is your feature request related to a problem? Please describe.**

Cannot coerce a `pd.DataFrame` column containing date strings with mixed timezone and no-timezones.

**Describe the solution you'd like**

A custom dtype that allows for mixed TZ and non-TZ date strings to be coerced into TZ-naive datetime (converting to UTC timezone)

**Additional context**

Example:
[code]

`schema.validate` wil

[2022-06-16 12:59] cosmicBboy commented on #875
thanks for posting this @ng-henry, would you mind creating a minimally reproducible example to help with debugging/iteration process?

[2022-06-16 13:03] cosmicBboy commented on #874
hi @azhakhan I'm using the following snippet for validation and seems like I'm getting the expected behavior:

[code]

output:
[code]

[2022-06-16 13:18] cosmicBboy commented on #875
pandera supports passing in kwargs to the `pandas_engine.DateTime` type so that you don't need to implement a custom type:

[code]

The `tz="utc"` is to avoid the future warning:
[code]

We'll need to refactor the `pandas_engine.DateTime.coerce` method to follow the recommendation in the case that the user wants tz-naive datetimes.

[2022-06-16 13:37] cosmicBboy commented on #873
built-in checks have a default `error` argument, which is just a string to identify the check when a SchemaError occurs. If this is set to `None` then the pandera error reporter will fall back on the check name.

In the case of `isin` it converts the user-provided iterable to a `frozenset`, hence the unpredictable nature of the re-ordering of the list you're providing:
https://github.com/pandera-d

[2022-06-16 13:47] ng-henry commented on #875
Thanks! I didn't know how to construct that `DateTime` with custom args. That fixes the issue.

[2022-06-16 13:47] #875 closed

[2022-06-17 04:02] azhakhan commented on #874
hey @cosmicBboy @jeffzi,

thanks for response!

im not sure if it's caused by the way i build schema (`from_yaml`) or read csv (with `keep_default_na=False`). i tried to reproduce in colab, but could only install version 0.9.0
https://colab.research.google.com/drive/19Qn1D8vfKjMXc0d6HWGkMJM4yWLsp0qa?usp=sharing
the problem in colab is similar, but instead of complaining about empty string, it comp

[2022-06-17 10:49] jeffzi commented on #874
Thanks for the data sample :+1: .

There are a couple of issues with your implementation:

1. You must declare your custom data type before creating the `DataFrameSchema`, otherwise the default one will be used.

2. You need to override the [coerce_value](https://pandera.readthedocs.io/en/stable/dtypes.html?highlight=coerce_value#defining-the-coerce-value-method) method. When pandera hits coercion

[2022-06-17 14:11] cosmicBboy commented on #874
thanks for the solution @jeffzi !

Yeah, I think we can add options on top of the pandas engine dtypes to support this additional behavior, for example providing a:
- regex pattern/list of regex patterns to handle nans
- a list of values that should be considered nans, e.g. I've seen cases where `-1` or some other large negative value representing nans.

I'd support a PR that makes this change! @a

[2022-06-17 14:15] cosmicBboy commented on #874
Right... and I guess for best practices I feel like one should avoid overriding the string aliases for types to avoid this confusion.

[2022-06-19 15:46] ng-henry opened #876 "On coerce failure, pandera runs `coerce_value` for each element which is slow"
**Is your feature request related to a problem? Please describe.**
On coerce failure, pandera runs `coerce_value` for each element which is slow, especially for items like date parsing.

**Describe the solution you'd like**
Make it possible to return the list of failure cases directly from the `coerce` function, or a way to do that. For our use case, we know which elements fail at the `coerce` fun

[2022-06-19 16:27] cosmicBboy commented on #876
@ng-henry if possible can you post your current working solution for this? I'm not really clear on a few points.

Unless you've found a workaround for this, this is the only solution to finding the specific failure cases in a Series. Doing `pd.Series(...).astype("datetime[ns]")` or the equivalent `pd.to_datetime` will only report the first error that happens to be uncoercible.

How pandera works i

[2022-06-20 05:52] ng-henry commented on #876
Yes, forgot to mention we are not using the default coerce function. We are using our own datetime parser which lets us know exactly which values passed/failed.

[2022-06-20 15:29] cosmicBboy commented on #876
You can bypass the element-wise call to `coerce_value` if you raise a [`pandera.errors. ParserError`](https://github.com/pandera-dev/pandera/blob/master/pandera/errors.py#L64-L71) in the `coerce` method. It takes is a `failure_cases` argument where you can provide failure cases that you've extracted with your custom coercion logic.

[2022-06-20 19:19] azhakhan commented on #874
thank you @jeffzi, your snipped did the trick!

@cosmicBboy sure. do you want it as another argument in pandera.schema_components.Column, like na_forms or something like that?

[2022-06-20 19:19] #874 closed

[2022-06-20 22:17] dantheand commented on #809
I also needed this and made a PR to solve this issue: https://github.com/pandera-dev/pandera/pull/877

[2022-06-21 16:35] cosmicBboy opened #878 "WhyLogs integration: support stateful pandera schemas backed by whylogs profiles"
**Is your feature request related to a problem? Please describe.**

Currently, pandera schemas are stateless: the schema only validates based on rules that are fully defined in code.

This is great, but it does close off many use cases that rely on data/aggregates of data that pass through a particular checkpoint in a user's data processing pipeline.

**Describe the solution you'd like**

With [wh

[2022-06-24 13:56] ng-henry commented on #876
Ah ok. Thanks!

[2022-06-24 13:56] #876 closed

[2022-06-25 19:04] cosmicBboy opened #880 "Look into `returns` library for higher-kinded types"
https://returns.readthedocs.io/

Use case: for the `model.SchemaModel` class, we want to be able to support higher kinded types in methods e.g. the `validate` method, such that it can return type-varying generics based on the type of the `check_obj` argument.

https://returns.readthedocs.io/en/latest/pages/hkt.html

[2022-06-28 00:08] cristianmatache commented on #689
@justinlboyer not really, i recently changed jobs so i currently have a lot on my plate. Happy to guide you though, if you would be up for implementing it.

[2022-07-04 16:24] andycarter85 opened #881 "date32 type not supported using infer_schema"
**Describe the bug**
A clear and concise description of what the bug is.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.

**_Hoping that pandera can handle date32 types, but this appears to raise an error._**

#### Code Sample, a copy-pastable example

[code]

[code]

#### Expected behavior
Hoping basic d

[2022-07-05 19:41] jeffzi commented on #881
Hi @andycarter85. Thanks for the reproducible example.

Pyarrow supports  date types (date32 and date64) but pandas does not. Pandas only supports date **times** with  `numpy.datetime64`.

However, pandas does allow to wrap any python object in the `numpy.object` data type. That's how pyarrow can translate its own date types to pandas.

If I expand your example:
[code]
You see that `pd.read_parque

[2022-07-05 19:50] ng-henry opened #882 "Doesn't show all errors even though lazy = True + `coercing` twice on a column"
**Is your feature request related to a problem? Please describe.**
Pandera doesn't show all the errors when validating even though we set the lazy = True flag.

*Example*:
[code]

Here, `err.failure_cases` only has 1 failure for the "not a float" cell, but nothing for the `None` cell even though the column is marked as nullable = False.

**Describe the solution you'd like**
`err.failure_cases` sho

[2022-07-05 21:43] cosmicBboy commented on #882
I believe coercion only happens once... the `DataFrameSchema.coerce_dtype` calls `Column.coerce_dtype` [here](https://github.com/pandera-dev/pandera/blob/master/pandera/schemas.py#L387-L406).

The behavior you're seeing is actually intended behavior given pandera' current execution model.

In summary, if a column cannot be coerced to the intended type, in this case float, pandera won't apply any o

[2022-07-05 22:00] cosmicBboy commented on #882
okay so it looks like coercion does happen twice 😅 this is definitely a bug... will look into correcting that.

Re: the execution model, I'll also look into relaxing this a little bit and see how it feels

[2022-07-08 07:36] jymchng opened #883 "Missing invalid values under failure_cases column in err.failure_cases after try-except lazy-evaluating DataFrameSchema.validate(DataFrame, lazy=True)"
Hi to whom it concerns

Thanks to the great work by the pandera's team, it really helps me with validating a huge number of datasets.

I encountered the following issue.
Context Screenshot:
![pandera_failure_cases_issue](https://user-images.githubusercontent.com/27895426/177940854-663d8ed7-5400-4e48-b96c-b03f1f5a7ebb.png)

This is a sample of what I get after running:
[code]
The problem is the NaN

[2022-07-08 15:05] Blogem opened #884 "SchemaModel.validate on PySpark with pandas_api coerces string into NaN"
**Describe the bug**
When I do a `SchemaModel.validate` on a PySpark pandas_api dataframe, string values are coerced into NaN. This happens when  the column in the schema is defined as `Column(int)`, yet contains string values.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.

#### Code Sample, a copy-past

[2022-07-08 15:36] jymchng commented on #883
Good day to you cosmicBboy,

After investigating it for hours, I think this bug occurs when one sets the Check(... , ignore_na=False, ...) while setting Column(... , nullable=True, ...).

The following codes shall provide a reproducible example.
[code]
Above code produces:
	COLA	COLB
0	E	E
1	E	W
2	E	W
3	E	W
4	E	W
...	...	...
995	B	X
996	A	nan
997	A	X
998	E	nan
999	C	Z

[code]
Above code produces:

[2022-07-08 15:49] jymchng commented on #883
Anyway, just a further comment which is I'm attempting to dynamically generate a pandera's DataFrameSchema (on-the-fly) to validate many datasets. I think pandera is useful as it is lightweight and easy to start, yet effective.

[2022-07-08 16:11] Blogem commented on #884
This is apparently Spark default behaviour: if it cannot cast a value, it returns null.

[2022-07-11 15:17] BigNerd opened #885 "Description of field of schema model does not make it into FastAPI openapi.json"
When defining a schema model as follows I would love to see the description occur in the FastAPI openapi.json / Swagger UI:

class InputSchema(pa.SchemaModel):
    year: Series[int] = pa.Field(description="the year pandera was released")

Is this already possible by any means?

[2022-07-13 09:43] JonathanBonnaud commented on #851
Hi @cosmicBboy,
I am willing to invest some of my time to make the PR, as I would really love to have to possibility to use Pandera in AWS Lambda.
So I tried to make the changes you suggested, but it breaks 2 tests.
- Test 1:
[code]

- Test 2:
[code]

PyArrow is needed for Pyspark, any tips about how I can make it work?

[2022-07-13 22:17] jeffzi commented on #851
Sorry I missed the ping @cosmicBboy.

@JonathanBonnaud Thanks for looking into it !

* Test 1

@cosmicBboy I think we need to keep pyarrow as a dev dependency for pandas tests, but we can indeed remove it from setup.py for user facing dependencies. That should solve the pandas test failing @JonathanBonnaud

* Test 2

We can depend on `pyspark[pandas_on_spark]` instead of just `pyspark`. It will gu

[2022-07-14 09:17] markkvdb commented on #851
@jeffzi I didn't know about Serverless ignoring dependencies already specified in the layers. That's good to know! Actually, the Serverless python plugin is far from perfect. For example, you are supposed to specify certain dependencies not to be deployed but if it's combined with Poetry this setting is (silently) ignored.

Another important issue is that layers do actually count for the total siz

[2022-07-16 17:19] cosmicBboy commented on #881
Yes, that would be awesome!

@andycarter85 does using the `object` type work for you as a temporary workaround?

[2022-07-16 17:37] cosmicBboy commented on #885
hi @BigNerd ! we'll need to update this function so that the json schema representation contains the `description` and other metadata like `title`, etc. https://github.com/unionai-oss/pandera/blob/master/pandera/json_schema.py

Would you be open to making a contribution on this front?

[2022-07-17 04:32] skrawcz commented on #688
I'm not that versed with the SchemaModel classes, but taking a further step back, would it make sense to have a more granular level, i.e. a "value check" over primitive data types?

Rationale:

 - checks can be composed into `map` operations, or `aggregation` operations.
 - `map` operations check single values at a time (e.g. is > 10)
 - `aggregation` operations use multiple values from a list/ten

[2022-07-18 06:23] BigNerd commented on #885
Hi @cosmicBboy yes, I think I can give it a try during the next weeks or so. Thanks for pointing me to the piece of code that needs to be worked on for this.

[2022-07-18 07:35] BigNerd commented on #885
Here is the change to [to_json_schema()](https://github.com/unionai-oss/pandera/blob/master/pandera/json_schema.py) that I want to contribute when I have time to go through the fork, branch, pull request process.

[code]

[2022-07-18 08:19] pprados opened #888 "Check the return value with @pa.check_types"
#### Question about pandera

With this sample

[code]
The return value was not checked.
If I add `@pa.check_output(Link1_schema)` the error was found.

How I can check the return value with only the `@pa.check_types` ?

[2022-07-18 09:15] pprados opened #889 "Accept pythonic schema model with @pa.check_io"
**Is your feature request related to a problem? Please describe.**
Accept pythonic class with @pa.check_io, without the invocation of `.to_schema()`

[code]

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
The Schema Models must be equivalent of the Dataframe schema

[2022-07-18 12:49] pprados opened #890 "Accept NewType for @pa.check_types"
**Is your feature request related to a problem? Please describe.**
I want to use the Python typing, with *mypy* or *pytype*.
I want to declare a Schema and a New Type.

With `My_type = pa.typing.DataFrame[My_schema]`, the `@pa.check_types` check the parameters.
With `My_type = NewType("My_type", pa.typing.DataFrame[My_schema])`, the `@pa.check_types` never check the parameters.

**Describe the sol

[2022-07-19 08:47] ghilesmeddour opened #891 "Convert `DataFrameSchema` to `SchemaModel`, and infer `SchemaModel`."
Hi,

`SchemaModel` can be easily converted into a `DataFrameSchema` using `to_schema()`, but it seems that the reverse is not possible for the moment. I am wondering if there is a way that I missed to do that. It would also be great I think to be able to generate `SchemaModel` source using `infer_schema()` and `to_script()`.

[2022-07-19 09:04] ghilesmeddour opened #892 "Pydantic types support"
Hi,

I think that It's would be very convenient to support [pydantic types](https://pydantic-docs.helpmanual.io/usage/types/) in pandera, since pandera and pydantic and used together very often. What do you think about that ?

**Describe alternatives you've considered**
Use available types and add manual checks.

[2022-07-20 13:27] aodj opened #893 "Possible to add missing columns?"
As far as I can see from the documentation the opposite behavior exists (filtering out columns not specified in the schema) but I can't see if there's a way to add in columns that should exist but aren't.

Is there a way to accomplish this? I was wondering if it might be possible by adding to the `strict` flag, an option to add in missing columns, such that you could do `strict: "add+filter"` allo

[2022-07-20 13:33] aodj commented on #893
Feels similar to #687

[2022-07-20 14:07] #893 closed, assigned to nobody

[2022-07-20 14:33] cosmicBboy commented on #687
Hi @MikiGrit thanks for articulating the feature request! gonna ping @aodj here too, who created a very similar issue (#893).

In short: yes! I give my blessing to support this feature 😀. The use case is clear and will provide value to a lot of other folks using pandera. A related issue is #502, which allows users to fill in default values in a column... this would take it to another level, fillin

[2022-07-20 14:34] cosmicBboy commented on #891
Hi @ghilesmeddour, this use case is articulated in #393, gonna close this issue.

[2022-07-20 14:34] #891 closed

[2022-07-20 14:35] cosmicBboy commented on #393
@ghilesmeddour let me know if you have the capacity to make a contribution here!

[2022-07-20 14:36] cosmicBboy commented on #892
Hi @ghilesmeddour did you check out https://pandera.readthedocs.io/en/stable/pydantic_integration.html?

You can currently use pydantic types at the `DataFrameSchema` level, so pydantic models whose fields are scalar types should validate your dataframe in a row-wise manner. Is this what you were thinking or do you have another use case?

[2022-07-20 14:38] cosmicBboy commented on #889
To validate data using `pa.SchemaModel` subclasses, you need to use `check_types` instead of `check_io`

[2022-07-20 14:39] cosmicBboy commented on #890
Hi @pprados just so I understand the use case, why are you using `NewType` instead of using `pa.typing.DataFrame[My_schema]` directly (or a type alias `MyType = pa.typing.DataFrame[My_schema]`?

[2022-07-20 14:40] cosmicBboy commented on #884
Hi @Blogem, yes this is the behavior I encountered when testing out the pyspark integration... unfortunately I couldn't think of a nice way of handling this without keeping track of actual nulls vs uncoercible nulls... do you have any ideas?

[2022-07-20 15:12] Blogem commented on #884
@cosmicBboy I've tried exactly that: split the dataframe column by column in null and notnull, cast all values in the column, and then test if there are nulls in the notnull dataframe (instead of splitting the dataframe, you could also keep track of counts of nulls and see if they changed). However, this is far from optimal and will not perform with even a handful of columns. The only way I could

[2022-07-21 02:55] dantheand commented on #892
Hey @ghilesmeddour,

This confused me a bit at first too. The only types you can pass to the `pandera.typing.Series` type annotation in `SchemaModel` classes are the [pandas dtypes](https://pandas.pydata.org/docs/user_guide/basics.html#dtypes). This type checking / coercion is done on the column level and is very quick.

If you want to do more specific type-checking than those available as pandas

[2022-07-21 02:56] dantheand commented on #892
I agree that it would be great and intuitive to be able to pass the types directly to `pa.Series` similar to how pydantic works. As long as it didn't greatly slow down the validation.

[2022-07-21 16:14] cosmicBboy commented on #892
thanks for answering @dantheand !

Indeed, this would be the ideal UX, but there are a few technical issues that are blocking this, the main one being that
the pydantic type system works for python types, not for pandas/numpy types... the [pandera type system](https://pandera.readthedocs.io/en/stable/dtypes.html) in theory would allow us to add support for pydantic types, this would definitely be

[2022-07-21 16:15] cosmicBboy commented on #885
cool! I can review if you can make a PR ⭐️

[2022-07-23 22:00] dantheand commented on #892
@cosmicBboy `UUID` isn't a pydantic type as far as I know, it's a type from the `uuid` library. It actually think the current `dtype = PydanticModel(Record)` solution above already provides the required functionality. It's most a UX ask here. It would be awesome to be able to combine pydantic-style subtyping like `List[UUID]` with the powerful validation methods provided by `pa.Field()`.

Although

[2022-07-24 08:12] jeffzi commented on #892
Agreed ! In the case of uuid, it would be more efficient to store it as a string and have a check on top of it to validate its format. I'm pretty sure @ghilesmeddour does not care about having a UUID object, and actually wants to ensure the data in the column is a valid UUID format.

We recently introduced the concept of logical data type  (still in `dev` branch), allowing to
a. support non-native

[2022-07-24 20:53] ghilesmeddour commented on #892
For me, the question came up when trying to use pandera with FastAPI. For Pandera to integrate seamlessly with FastAPI (which is completely based on Pydantic for types validation and documentation), Pandera would have to be able to "recognise" all Pydantic types in my opinion.

For the actual representation of values, I guess that it will be more natural for the user to keep the same behaviour as

[2022-07-25 08:21] jeffzi commented on #892
@ghilesmeddour Thanks for your input! The steps I proposed will enable Pandera to recognize Pydantic types in the same way Pandera recognizes multiple integer types. Internally, Pandera has its own data types that are mapped to the recognized types.

It would look like this (SchemaModel api would work too):
[code]
The same logic would apply to a `Path` or `URL` type.

`uuid.UUUID` objects would be

[2022-07-25 22:07] hoffch commented on #867
I can verify this issue with pandera `0.11.0`. Pretty annoying. Besides that: awesome package!

[2022-07-26 02:26] dantheand commented on #892
@jeffzi I really like the proposed feature. Until your comments, I didn't realize how much effort went into allowing arbitrary custom dtypes in pandera (e.g. choosing pandas-compatible column dtypes, parallelized checks, decisions on output format, etc.) It now makes sense why you wouldn't natively support arbitrary dtypes in pandas columns. The currently available pydantic record model method all

[2022-07-26 13:54] cosmicBboy commented on #867
This need to be documented better, but you need to supply the `check_name=True` argument to `pa.Field` in order to preserve single-index schema metadata when converting `to_schema`.

See example [here](https://pandera.readthedocs.io/en/stable/schema_models.html#aliases)

The API reference has a more complete description: https://pandera.readthedocs.io/en/stable/reference/generated/pandera.model_co

[2022-07-26 14:25] the-matt-morris commented on #867
@cosmicBboy , thank you for the detailed explanation on this.  I won't be able to get to it right away, but I can submit a PR with example in the docs.

[2022-07-27 07:52] philipphanemann opened #896 "Dtype inconsistency when generating examples from SchemaModel"
**Bug description**
The ordering of data types within SchemaModel seems to have an impact of the output. This does not make sense to me. I am using `.example(0)` quite often to generate valid DataFrames for testing.

Below is a scripts which depicts the odd behavior including the resulting error. It might be related to [Nullable columns in ModelSchema](https://github.com/unionai-oss/pandera/issues

[2022-07-27 08:25] hoffch commented on #867
@cosmicBboy Thanks for the clarification, the rationale is pretty convincing. Unfortunately, I can't contribute a PR in the forseeable future. Double thanks to @the-matt-morris for doing so instead of me!

[2022-07-27 15:02] the-matt-morris opened #897 "BaseConfig.multiindex_strict type hint"
The [type hint for BaseConfig.multiindex_strict](https://github.com/unionai-oss/pandera/blob/3ea4f2c4a3a4443c13dd9741d35bb7c8cbb930ac/pandera/typing/config.py#L39) is currently `multiindex_strict: bool = False`.  However, because it allows "filter" as a value, I believe this type hint should be `Union[bool, str]`, similar to [BaseConfig.strict](https://github.com/unionai-oss/pandera/blob/3ea4f2c4a

[2022-07-27 16:32] cosmicBboy commented on #897
thanks for filing this issue @the-matt-morris! would you be able to make a PR?

[2022-07-27 16:33] the-matt-morris commented on #897
Yep!

[2022-07-27 16:35] cosmicBboy commented on #896
hmm, looks like a nasty bug... I can take a look next week after I'm back from vacation :)

[2022-07-27 16:45] cosmicBboy commented on #896
hah, found the issue!

https://github.com/unionai-oss/pandera/blob/master/pandera/strategies.py#L1114-L1116

[code]

Not sure why the `df.empty` conditional in there, but it's changed to

[code]

It addresses the issue.

Would you be open to making a PR? Basically it just needs to:
- contain the change above
- add some unit tests to `tests/strategies/test_strategies.py` to make sure test the case

[2022-07-27 17:10] jeffzi commented on #897
We can use `Union[bool, Literal["filter"]]` since `typing.Literal` was introduced in py 3.8, which is the minimum version supported by Pandera.

[2022-07-27 17:47] the-matt-morris commented on #897
Good point @jeffzi .  Building off that...(though this likely necessitates its own PR), could use `pydantic.validate_arguments` in combination with the type hint as well.  [This validation](https://github.com/unionai-oss/pandera/blob/c494ee76691199a878e0594f2b4ad3741af26ef8/pandera/schemas.py#L172-180) could be removed if DataFrameSchema had a signature like this:

[code]

Though we'd either have

[2022-07-28 07:07] philipphanemann commented on #896
Beautiful, thanks for the quick response! Sure, I'll try to come up with the PR. It would actually be my first contribution to pandera.

[2022-08-01 00:35] #897 closed

[2022-08-01 15:02] the-matt-morris commented on #892
I love this idea and appreciate the proposal provided!  There are many situations where I use the wonderful pydantic constrained types or [define a custom type](https://pydantic-docs.helpmanual.io/usage/types/#custom-data-types).  It is possible to create the same validation with `pandera` checks, but would be great to reuse the same pydantic types that are used elsewhere in the codebase.  Would t

[2022-08-02 19:33] ng-henry opened #902 "`err.failure_cases` should include all values violating unique constraint"
**Is your feature request related to a problem? Please describe.**
If a column is marked as unique and there are two duplicate values, then failure_cases should show show *both* of the duplicate values, not one.

**Describe the solution you'd like**
Show all of the duplicate values.

**Example**
[code]

Here, `err.failure_cases` just has one row for the second `50` value. Preferably, pandera would

[2022-08-04 08:17] joepatol opened #903 "DataFrame level checks on columns that are not in dataframe raise KeyError"
Hi Everyone,

While developing with Pandera I noticed some behavior that I'm wondering if you guys are open to change (Or if I'm doing something wrong?).

I encountered this problem while using custom dataframe level checks, but it also seems a problem with Pandera builtin dataframe level checks.

Consider the example below:

[code]

Output:

KeyError: Index(['c'], dtype='object')

I would expect

[2022-08-05 16:44] bede opened #904 "Implicit ignore_na=True behaviour causes custom dataframe checks to be ignored by default"
**Describe the bug**
When using custom dataframe checks returning boolean series, `SchemaModel.validate()` does not report validation errors generated by a custom check if the record in question (or is it the entire dataframe?) contains null values. This behaviour is deafult and can be disabled by setting `ignore_na` to `False` (either via `@pa.dataframe_check(ignore_na=False)` or a Config entry s

[2022-08-06 21:00] cosmicBboy commented on #840
https://github.com/unionai-oss/pandera/pull/856 fixed this apparantly, but just gonna keep this open, since #856 didn't add unit tests for the changes

[2022-08-07 14:23] ng-henry opened #906 "Apply checks to uncoercible column"
**Is your feature request related to a problem? Please describe.**
If a column is uncoercible, then no downstream checks, and uniqueness and nullable constraints, get applied.

**Describe the solution you'd like**
Perform these checks *even if* a column is uncoercible. Report nullable, unique, and checks errors even if the column is uncoercible.

**Additional context**
Feature request originates f

[2022-08-11 01:58] #904 closed

[2022-08-11 13:17] zak1632 opened #910 "DataFrameSchema.from_yaml ignores "ordered""
We are using `DataFrameSchema.from_yaml` and our schema YAML file includes the line `ordered: true`. However, we found that the column order was not being validated as expected. By examining the string representation of the `DataFrameSchema` we observed that `ordered=False` - which is not expected.

It looks to us like the cause may be at https://github.com/unionai-oss/pandera/blob/master/pandera/

[2022-08-11 13:29] ipear3 commented on #872
Hi bede, I've been looking into this recently. I found for a two-column comparison, the grouped checks for columns result in what you'd like - a single row for the error. You could extrapolate this to additional columns with further groupby being applied.

However, you will lose index information due to the implementation of dicts for GroupBy objects. (Specifically, failure_cases is set to None fo

[2022-08-11 14:06] cosmicBboy commented on #872
thanks for adding your input here @ipear3, there's this issue that tracks a couple of enhancements, including refactoring the `groupby` behavior: https://github.com/unionai-oss/pandera/issues/488

[2022-08-11 14:16] #882 closed

[2022-08-11 14:32] cosmicBboy opened #911 "Does pandera support validating enum.Enum or subclases of it ?"
### Discussed in https://github.com/unionai-oss/pandera/discussions/907

<div type='discussions-op-text'>

<sup>Originally posted by **davidandreoletti** August  8, 2022</sup>
Assuming a pedantic like class declaration with:

[code]

[code]

Currently pandera fails (via exception raised) because it seems pandas does not reconignize the Enum as a registered custom dtype.

What methods/workaround co

[2022-08-11 15:07] cosmicBboy commented on #881
@andycarter85 how are you using `infer_schema` in your workflow?

[2022-08-11 15:10] andycarter85 commented on #881
I am just getting started with pandera tbh, we have some large pre-existing datasets that I wanted to try inferring a yaml schema for, and then iterate from there, rather than start building a schema from scratch .

As it looks like the issue has been resolved in #887 then happy to wait for the next release and try again then.

[2022-08-11 16:02] cosmicBboy commented on #881
Not sure if the `pa.date32` type is important in your use case, but a workaround here would be to convert all the columns containing dates into pandas-supported `datetime64` before calling `infer_schema`.

[code]

Another thing to do would be to register a custom dtype (see https://pandera.readthedocs.io/en/stable/dtypes.html#example) but it would inherit from `pandas_enginer.DateTime`. The `coerc

[2022-08-11 19:06] cosmicBboy commented on #757
closing this in to merge with #393

[2022-08-11 19:06] #757 closed

[2022-08-12 14:14] the-matt-morris commented on #911
This is a cool idea.  It's something I've added in for a specific use case of mine, though I admit all my `Enum` subclasses are strings so I'm not hitting on any obscure cases.  Gotta be a better way to do this than what I hacked together, but I added a step to `SchemaModel.__init_subclass__` to update fields with `Enum` annotations to have `categorical` types with the categories defined by the `E

[2022-08-12 15:07] cosmicBboy commented on #911
@davidandreoletti what do you think?

[2022-08-12 19:38] cosmicBboy commented on #381
hi all, pinging this issue to point everyone to this PR: https://github.com/unionai-oss/pandera/pull/913

It's a WIP PR for laying the groundwork for improving the extensibility of pandera's abstractions. I'd very much appreciate people's feedback on this, nothing is set in stone yet!

I'll be adding additional details to the PR description in the next few days, but for now it outlines the main ch

[2022-08-17 00:20] dantheand commented on #911
For string-type enums, I've found a fairly elegant solution is to pass them directly to `pandera.Field` as the `isin=` argument. I don't know if this would work for non-hashable python objects.

[code]

[2022-08-17 06:48] davidandreoletti commented on #911
@cosmicBboy Enums being limited in cardinality of values should play well with panda `categorical`, especially if `coerce=True` is used. It will limit scope to "scalar" values like str, int but perhaps a good initial scope.

@dantheand I like that. What happen if `coerce=True` is used on the field ?

[2022-08-17 15:01] cosmicBboy commented on #872
Hey @ipear3 just FYI, I'm working on a major overhaul of pandera's internals: https://github.com/unionai-oss/pandera/pull/913

It's still a WIP, but moving forward we should make any changes to pandera's behavior off of the [`core-schema`](https://github.com/unionai-oss/pandera/tree/core-schema) branch. In summary, this PR introduces a `pandera.core` and `pandera.backends` module, where `core` is

[2022-08-17 15:41] KiaXdice opened #918 "Make ``serialize_schema`` public or add ``to_json``/``from_json``"
**Is your feature request related to a problem? Please describe.**
We would like to store the pandera schema as a JSON file for the compatibility with the downstream tools.
However, the current API allows only for YAML format.

**Describe the solution you'd like**
The easiest and probably the most general solution would be to make ``pandera.io._serialize_schema`` public by merely renaming it.

Her

[2022-08-17 20:33] cosmicBboy commented on #918
hi @KiaXdice, this use-case makes sense!

I think a `to_json` / `from_json` method makes a lot of sense, would you be open to making a PR for that? Should be fairly straight-forward, as the output of `_serialize_schema` is already a json-serializable (I think?) python dict

so `pip install 'pandera[io]'` will actually install the `pyyaml` package... is this an issue for you, or do you just not wan

[2022-08-19 15:22] cosmicBboy commented on #911
So data types and checks are intentionally separated concerns in pandera... the reason being that data types have the additional capability of coercing (i.e. parsing) raw data into the desired types, which correspond to some machine-level representation (e.g. int64, str, etc) whereas checks are simply functions that validate a property of the potentially-coerced data.

Conflating the two by conver

[2022-08-19 19:19] dantheand commented on #911
@davidandreoletti @cosmicBboy I actually just found out that using `class_col: Series[pd.StringDtype] = pandera.Field(isin=TestEnum)` results in a `yaml.representer.RepresenterError` when trying to do `SchemaModel.to_yaml()`, so the best solution I've found is to convert to list of strings via list comp:
[code]

@cosmicBboy When you say "custom data type", do you mean [Logical Data type](https://p

[2022-08-19 19:30] cosmicBboy commented on #911
Ah! yeah the [serialize checks](https://github.com/unionai-oss/pandera/blob/master/pandera/io.py#L40-L67) logic would need to be updated to handle enums... feel free to open up a [new issue](https://github.com/unionai-oss/pandera/issues/new?assignees=&labels=enhancement&template=feature_request.md&title=) if you want first class support here.

Yep! Although in this case a PR would make it a built-

[2022-08-20 20:04] ektar opened #920 "Allow kwargs for dict from_format"
**Is your feature request related to a problem? Please describe.**

I use pandera in combination with pydantic and fast api to create and validate jsons being exchanged.  (pydantic classes with several attributes, some of which are pandera's dataframes). Pydantic gives pandera the dict representation of the data it's responsible for validating/deserializing, but pandera currently doesn't expose an

[2022-08-22 12:48] cosmicBboy opened #921 "[Docs] Better documentation on data type overriding behavior"
#### Location of the documentation

https://pandera.readthedocs.io/en/stable/dtypes.html

#### Documentation problem

The way that the pandera datatype system should be better documented, as described by @jeffzi:
https://discord.com/channels/897120336003334214/1007034449441071164/1010851299992018998

---

re: dtype-overriding.
The engine maintains a dict lookup (equivalent object -> DataType) wher

[2022-08-22 12:58] #867 closed

[2022-08-22 15:17] sstadick opened #922 "Failure to validate empty list"
**Describe the bug**
When validating data that which is empty, pandera assumes the inner type is a `float64`.

- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the latest version of pandera.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandera.

**Note**: Please read [this guide](https://matthewrocklin.com/bl

[2022-08-22 19:17] cosmicBboy commented on #922
This is an unfortunately side-effect of pandas defaulting to a float dtype if you try to initialize a dataframe with empty lists.

[code]

If you use the `coerce=True` config:

[code]

Then pandera will do the type coercion for you, otherwise this behavior is expected.

[code]

It's unclear what exactly to do in this case, except to explicitly use an empty series with dtypes specified. But if you

[2022-08-22 19:55] sstadick commented on #922
Got it, the `coerce=True` works for me, and solves my immediate problem of getting errors when I sometimes have no data.

Thank you for the speedy reply!

[2022-08-22 19:55] #922 closed

[2022-08-23 12:40] mristin commented on #918
@cosmicBboy thanks, we'll try to make a PR tomorrow (CET).

Installing the dependency implicitly/by transitivity is OK. We just prefer to have no direct YAML dependency in our code.

[2022-08-25 23:32] rjurney commented on #502
I need to specify a default value for a `pa.Field` and I don't know how :(

[2022-08-26 10:21] airibarne opened #925 "MyPy failure with BOOL data type"
#### Description
MyPy gives the following error with a schema containing a `Series[BOOL]` typed column:

`error: Value of type variable "GenericDtype" of "Series" cannot be "BOOL"`

- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the latest version of pandera.
- [ ] (optional) I have confirmed this bug exists on the master branch of pan

[2022-08-29 12:36] tpcgold opened #926 "Check schema with Decimal not working in Pandera"
Seems like it's not possible to check a decimal with pandera schema:

[code]

[code]

[2022-08-29 12:42] tpcgold commented on #926
Altough this might work for some developers:
[code]
Decimal(13,2) and others like for example Decimal(13,1) are not the same and should be covered by the schema check

[2022-08-30 01:39] rjurney commented on #502
I think `default=` at the `Column` or `Field` level makes a lot of sense.

[2022-08-30 09:06] BrandonDotLin opened #928 "AttributeError: Can't pickle local object 'Check.greater_than.<locals>._greater_than'"
**Describe the bug**
A clear and concise description of what the bug is.

- [x] I have checked that this issue has not already been reported.
- [ ] I have confirmed this bug exists on the latest version of pandera.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandera.

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-report

[2022-08-30 09:31] BrandonDotLin opened #929 "Custom checks lost after to_yaml"
**Describe the bug**
A clear and concise description of what the bug is.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.
- [x] (optional) I have confirmed this bug exists on the master branch of pandera.

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-report

[2022-08-31 02:36] pwithams opened #930 "Best way to integrate parsing logic"
### Question
What is the best way to integrate data cleaning/parsing logic with Pandera? I have included an example use case and my current solution below, but looking for feedback on other approaches etc.

### Scenario

Let's say I have a dataframe, like this:
[code]

I want to:
1. parse/process/clean the data
2. validate that my processing worked

I can do # 2 using pandera by creating a schema

[2022-08-31 14:43] KiaXdice opened #931 "Non-informative message in case of categorical data"
**Describe the bug**
If the categories do not coincide between the schema and the data frame, the resulting error message is confusing for the end user. Unfortunately, the cause of the error is almost impossible to trace.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.
- [ ] (optional) I have confirmed th

[2022-08-31 14:44] KiaXdice commented on #931
Please let us know if we should create a pull request to fix this issue, and how you would like to inform the user. Thanks a lot in advance for looking into this!

[2022-09-01 08:32] rjurney opened #932 "@pa.check_types won't validate in MyPy using type hints that trigger the method"
#### Question about pandera

The actual code I am using and testing:

[code]

The unit test that confuses me... mypy barfs on the type hints required to use `@pa.check_types`. Is this a bug or am I dumb? Just assuming the latter based on long experience. Recommend you assume same unless otherwise indicated :)

[code]

Why won't this code pass mypy checks unless I validate the DataFrame myself, neg

[2022-09-02 14:06] baskervilski opened #933 "pandera import failing because of spark"
**Describe the bug**
When trying to import pandera (0.12) in a python3.8 virtual environment on a Linux RHEL 7.9 machine, I am getting the following error:

[code]

I see that pandera is trying to import Spark in `pandera.external_config`, but only handling the `ImportError` exception, while here we have a `TypeError`

Something is most likely not ok with the Spark installation on the server, but

[2022-09-06 19:46] cchrysostomou opened #935 "mypy incompatible return value type"
I am encountering mypy errors when trying to use pandera and I would like to know if I am misusing the tool. In my functions I often encounter  mypy error messages such as:

[code]

If I do not include pandas-stubs in my environment then the error messages go away. If I include pandas-stubs then I need to use cast() to suppress the error message.

The following is an example code generating the er

[2022-09-07 08:47] davidandreoletti opened #937 "Schema with MultiIndex's subindex dtype declared as something other than 'object' fails to validate an empty dataframe"
**Describe the bug**
On an empty dataframe, with an empty multi index (ie empty sub indexes), validating the dataframe using the schema (declaring each subindex with non 'object' dtype) silently converts subindexes dtypes to 'object' types. Thereby failing the schema validation when the indexes in the schema declare for example 'Int64' dtype for each subindex.

- [x] I have checked that this issue

[2022-09-07 08:54] davidandreoletti commented on #937
@cosmicBboy PR provided. Let me know when you want to discuss this.

[2022-09-07 22:42] DaniloOliveira35 commented on #5
boa noite tudo bem !
poderia me ajudar ? cada fez que tento instalar o pandera da esse erro .
---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
Cell In [5], line 2
      1 import pandas as dp
----> 2 import pandera as pa

ModuleNotFoundError: No module named 'pandera'

[2022-09-09 03:03] rjurney opened #939 "pa.SeriesSchema with a dtype do not verify the actual values within a pd.Series are that type"
**Describe the bug**
A clear and concise description of what the bug is.

- [*] I have checked that this issue has not already been reported.
- [* ] I have confirmed this bug exists on the latest version of pandera.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandera.

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-repor

[2022-09-09 13:37] hsorsky opened #940 "`DataFrameSchema.rename_columns` doesnt allow no-op mapping"
**Describe the bug**
`DataFrameSchema.rename_columns` doesnt allow what is effectively no-op mapping, e.g. passing in a map like `{'col1': 'col1'}`.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.
- [x] (optional) I have confirmed this bug exists on the master branch of pandera.

**Note**: Please read [th

[2022-09-11 02:52] the-matt-morris opened #942 "Not require `coerce == True` for PydanticModels"
**Describe the bug**

`DataFrameSchema.__init__` still requires that `coerce == True` when `isinstance(DataFrameSchema.dtype, pandas_engine.PydanticModel)`, even though #798 has addressed this?

The proposal is simply to remove these lines:

https://github.com/unionai-oss/pandera/blob/a66d71f8918205403bb10f2289d392e362ba9650/pandera/schemas.py#L203-L208

- [x] I have checked that this issue has no

[2022-09-14 20:25] dstumPY commented on #910
#943

[2022-09-15 14:31] cosmicBboy commented on #940
hey @hsorsky just to understand this issue better, if you have

[code]

Why not do `schema.rename_columns({"col2": "new_col2"})` instead?

[2022-09-15 23:07] tpvasconcelos commented on #834
@cosmicBboy @will-gp please take a look at #944

[2022-09-16 01:54] cosmicBboy opened #945 "Integration: Daft Dataframes"
Stub issue for this potential integration:

https://www.getdaft.io/

[2022-09-18 14:46] kumare3 commented on #945
Cc @samster25 / @jaychia

[2022-09-19 22:30] DManowitz opened #946 "pandera 0.12.0 does not support Python 3.7"
When trying to import pandera 0.12.0 in python 3.7, I get the following error message:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "...\lib\site-packages\pandera\__init__.py", line 50, in <module>
    from . import errors, pandas_accessor, typing
  File "...\lib\site-packages\pandera\pandas_accessor.py", line 7, in <module>
    from . import schemas
  File "...

[2022-09-21 05:38] samster25 commented on #945
Thanks for making the issue @kumare3 @cosmicBboy! We'll get on it as soon as we can :)

[2022-09-21 13:05] chills42 opened #947 "Pandas 1.5 support"
**Is your feature request related to a problem? Please describe.**
I would like to update from pandas 1.4.4 to pandas 1.5, but it does not appear to be supported yet.

**Describe the solution you'd like**
I would like pandera to support running with pandas 1.5

**Describe alternatives you've considered**
Until compatibility is confirmed, we can continue to use 1.4.4, without the bug fixes and enha

[2022-09-21 15:29] rbudnar commented on #538
If I'm understanding correctly, I am trying to accomplish essentially what the OP is. I want to make sure that I'm in the right issue and that this is still not currently possible.

My example - I am applying the following dataframe check to schemas:
[code]
How would I go about defining a strategy so that we can correctly generate data for testing purposes? Or is this not possible at this time? I'

[2022-09-21 20:04] tpvasconcelos commented on #834
Thanks @cosmicBboy! I think we can close this one now 🚀

[2022-09-21 20:06] cosmicBboy commented on #834
fixed by #944

[2022-09-21 20:06] #834 closed

[2022-09-22 15:34] ymost commented on #928
I am getting the same error for `Check.isin.<locals>._isin`.
The whole Check module is riddled with functions defined within functions, which makes everything unpicklable. This makes it difficult to use. For example, I was trying to parallelize some runs using multiprocessing, but I couldn't because of this unpicklability.

[2022-09-25 09:29] hsorsky commented on #940
for the particular usecase I had that lead me to discover the described behaviour, that was the exact workaround I implemented. however, it seemed odd that column renaming would fail in the case of mapping to itself when in theory it is a valid operation.

[2022-09-27 18:40] hsorsky commented on #940
https://github.com/unionai-oss/pandera/pull/941

[2022-09-27 18:40] #940 closed

[2022-10-02 23:00] bede opened #949 "Accept multiple strings in str_endswith and str_startswith"
**Describe the solution you'd like**
It'd be useful for some (many?) to be able to supply multiple strings to `pandera.checks.Check.str_startswith` (and `str_endswith`), making the check verify that the field starts or ends with one string in a list of supplied strings. File extensions, for instance.

https://discord.com/channels/897120336003334214/897554078274555965/1025454970172092506

[2022-10-03 21:17] adithyaakrishna commented on #942
@the-matt-morris Can I take this up?

[2022-10-03 21:45] the-matt-morris commented on #942
@adithyaakrishna please do!  I probably should have submitted a PR awhile back on this, but go for it!

[2022-10-04 11:02] bede commented on #949
Perhaps preferable to run the `str_[start|end]swith` checks before the main regex for user friendliness when reporting errors back to the user
https://discord.com/channels/897120336003334214/897554078274555965/1026811304939364455

[2022-10-05 13:22] #937 closed

[2022-10-06 02:48] blais opened #953 "Is it possible to convert a DataframeSchema to a SchemaModel for typing?"
I have DataframeSchema objects for a set of related functions with commonly the same column types, which I find convenient to create, because I can define common Column types in a library and simply refer to them to put together a schema, e.g.,

[code]
In contrast, doing the same thing using SchemaModel requires me to repeat the Series bit of the information, e.g.

[code]

In other words, `Series[

[2022-10-06 03:37] blais opened #954 "Bug: mypy complains about datetime.date / pandera.Date type"
Hi!
I tried the following to represent a column of `datetime.date` objects (with no time):
[code]
and
[code]

Either raises an error "Value of type variable "GenericDtype" of "Series" cannot be "...".
I looked in the tests, it's still unclear to me how to do this.

Using a DataframeSchema I was able to set `dtype=datetime.date` and it appears to work, but what about with SchemaModel?
What's the ri

[2022-10-06 04:11] blais commented on #953
Why can't I use this type?
https://github.com/unionai-oss/pandera/blob/master/pandera/engines/pandas_engine.py#L838

I was just about to set to writing a custom type - I still haven't been able to get this working - and this looks like what I'd be do if I followed these instructions:
https://pandera.readthedocs.io/en/stable/dtypes.html

Yet I'm unable to use it in a `Series`.
Is it just missing fr

[2022-10-06 04:22] blais commented on #954
Why can't I use this type?
https://github.com/unionai-oss/pandera/blob/master/pandera/engines/pandas_engine.py#L838

I was just about to set to writing a custom type - I still haven't been able to get this working - and this looks like what I'd be do if I followed these instructions:
https://pandera.readthedocs.io/en/stable/dtypes.html

Yet I'm unable to use it in a Series.
Is it just missing from

[2022-10-06 04:24] blais commented on #954
I just found an ugly workaround: using `pandera.typing.Object` and a custom check:
[code]

I think this is a kludge, but seems to work.
Any insight appreciated,

[2022-10-06 17:04] cosmicBboy commented on #954
What version of pandera are you using, and can you provide a minimally repro example?

Not able to reproduce this:

[code]

[2022-10-06 17:25] blais commented on #954
Nice! That's what I want.
I've been using 0.12.0.

[2022-10-06 17:30] blais commented on #954
Hmm, even in 0.12.0 your example works. I'm going to try to isolate why it's not working in my unittest setup.

[2022-10-06 17:33] blais commented on #954
Oh! I see now what's going on.
My environment is running "mypy" to check types and it barfs this error:
[code]
So I can disable mypy for this section of my code, but I think you may want to add that type to the GenericDType.

Thank you cosmicBBoy!

[2022-10-06 19:09] cosmicBboy commented on #954
ah, nice!

Feel free to make a PR for this! Will rename this issue to reflect the bug

[2022-10-07 13:56] NathanEmb commented on #926
I encountered this issue as well, both when specifying a custom scale and when trying to use default values

[2022-10-07 15:31] cosmicBboy commented on #926
This is definitely a bug!

Looking into a fix...

In the mean time, you can use the `pandas_engine` datatype here https://pandera.readthedocs.io/en/stable/reference/generated/pandera.engines.pandas_engine.Decimal.html#pandera.engines.pandas_engine.Decimal

[code]

[2022-10-07 20:43] cosmicBboy commented on #926
@tpcgold @NathanEmb #956 should address this issue

[2022-10-08 20:06] #926 closed

[2022-10-08 20:19] cosmicBboy commented on #953
yep! there's an issue for this. The idea is to expose a `DataFrameSchema.to_model()` method that will do this.

Would that work for you?

So actually this is something I wanted to do in the next generation API for pandera... I still need to put together a proper proposal for this, I'll be sure to tag you.

### SchemaModel Component Reusability

One TB-implemented feature is the `SeriesModel`/`Arra

[2022-10-09 00:07] #954 closed

[2022-10-09 03:08] blais commented on #953
re. `to_model()`, thank you, that would do the job.
Another way to look at this would be to make it somehow possible to use typing with the DataframeSchema.

re. SeriesModel: very neat too.
Either of these solutions alleviates the potential for an invalid combo of type + field.

FWIW, I'm proceeding right now in the current project this is for with the following pattern
[code]
where I define both

[2022-10-10 06:12] DXsmiley opened #959 "mypy: pa.typing.Series does not support pd.DatetimeTZDtype as a type argument"
**Describe the bug**

Under mypy, `pa.typing.Series` does not support `pd.DatetimeTZDtype` as a valid type argument.

Bug occurs with and without `pandera.mypy` plugin

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandera.

#### C

[2022-10-10 08:34] cosmicBboy commented on #959
hi @DXsmiley, #960 should fix this!

[2022-10-10 12:42] #959 closed

[2022-10-11 08:03] rbeucher commented on #502
Hi, I'll be happy to have a look at this.
@rjurney  I have the same pb and things would be a lot simpler if there was a "default" value option.

I had a look at the other issues that @cosmicBboy tagged. The nullable column would also be a good thing.
The question is, what do we want the default value to do?

- Work like pandas `fillna` and replace NaN values. ?
- When a column is missing, create i

[2022-10-12 21:51] thomasjpfan commented on #946
This was fixed https://github.com/unionai-oss/pandera/pull/951. Updating to pandera 0.13.3 should resolve the issue.

[2022-10-15 00:05] hsorsky opened #963 "Validate schema against another schema"
**Is your feature request related to a problem? Please describe.**
Provide a way for a schema to validate against another schema (e.g. to check that they're compatible). Example usecase would be to check that two transformers are valid to be performed one after another (output schema of transformer `n` is compatible with input schema of transformer `n + 1`)

**Describe the solution you'd like**
Si

[2022-10-16 02:13] derinwalters opened #966 "Pandera dataframe in Pydantic model .dict() and .json() compatability"
In reading through the Pandera documentation, it's not clear to me how to intermingle Pandera dataframes within a Pydantic model and still be able to use .dict() and .json() methods successfully. I followed the steps on https://pandera.readthedocs.io/en/stable/pydantic_integration.html#using-pandera-schemas-in-pydantic-models and love how seamless it is. However, the .dict() method keeps the Pande

[2022-10-18 04:12] blais opened #967 "Request: A date-time type that is timezone aware, or any timezone."
**Is your feature request related to a problem? Please describe.**

We have the need to accept timestamps that require having a timezone (any timezone, not a specific one).
I believe Pandera requires you to provide the specific timezone at the moment.

**Describe the solution you'd like**

A new dtype for "datetimes with timezone".
Naive datetimes should fail; aware datetimes should always validat

[2022-10-18 09:13] sebwills opened #968 "Unnecessary pandas-stubs pin"
#916 pinned the version of pandas-stubs for the mypy plugin at 1.4.3.220807. The pandas-stubs issue that was stated as the reason for this pin (https://github.com/pandas-dev/pandas-stubs/issues/197) has been resolved and released. Would it be possible to remove the pin?

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version

[2022-10-18 15:17] cosmicBboy commented on #968
hi @sebwills yes please create a PR removing the pin, follow the [contribution guide](https://pandera.readthedocs.io/en/stable/CONTRIBUTING.html) to run tests locally, any breaking changes across python versions should be caught by CI when you make a PR.

[2022-10-18 15:18] cosmicBboy commented on #967
hi @blais check out the [parameterized dtypes](https://pandera.readthedocs.io/en/stable/schema_models.html#parametrized-dtypes) docs, pandera supports datetime-aware types in pandas.

[2022-10-18 16:59] cosmicBboy opened #970 "Look into adding support for GPU runners on CI"
For #969, we need to add GPU-support for CI, since there's no way to be confident that pandera will run correctly on `cudf` without testing it. Relying on local testing won't be sustainable, so we need to do research on existing solutions like https://cirun.io/ .

[2022-10-18 18:20] cosmicBboy commented on #966
so looking at [pydantic docs](https://pydantic-docs.helpmanual.io/usage/exporting_models/#json_encoders), this will work:

[code]

The `.dict()` method is not really customizable, the the `json_encoders` configuration lets your serialize your validated data to `json` by letting it know how to handle certain, potentially unknown types.

[2022-10-18 18:26] cosmicBboy commented on #963
Hi @hsorsky the solution you describe with `schema_1.validate(schema_2.example(0))` is actually the way I'd recommend doing it.

Doing extra magic like `schema_1.validate(schema_2)` seems confusing to me... it looks like I'm trying to validate `schema_2` itself instead of the data that it generates.

Are you using this in the context of unit tests? If so I'd recommend using the `hypothesis` librar

[2022-10-18 18:34] cosmicBboy commented on #946
Closing this now, @DManowitz feel free to re-open if you have issues installing `0.13.x` on python 3.7

[2022-10-18 18:34] #946 closed

[2022-10-18 18:37] cosmicBboy commented on #502
Hey @rbeucher thanks! I'm currently doing a major overhaul of pandera's internals, which should make adding new features like this easier: https://github.com/unionai-oss/pandera/issues/381

You can check out progress on this branch: https://github.com/unionai-oss/pandera/tree/core-schema

I'm gonna try to get this done by the end of November, I'll ping you when it's ready!

[2022-10-18 21:26] cristianmatache opened #971 "Pandas deprecated `(timezone naive timestamp).astype(timezone aware dtype)`"
Pandas support for `(timezone naive timestamp).astype(timezone aware dtype)` is deprecated and will be removed in future versions.
This line https://github.com/unionai-oss/pandera/blob/master/pandera/engines/pandas_engine.py#L740 gives a warning when coercing a timezone naive series to a timezone aware one with a schema like the one below:
[code]

Example code:
[code]

example output:

[code]

[2022-10-18 22:12] rbeucher commented on #502
Great. Looking forward to it. I haven't look at the other branch but did see that you mentioned some refactoring in other posts.
Ping me when ready. Happy to test it.

[2022-10-19 13:29] cosmicBboy commented on #970
@beckernick thanks! do you know how the cudf projects does unit tests on CI? I personally don't have an nvidia-enabled machine so can't test anything locally. Would love to support cudf but need CI infra in place to make sure it actually works with pandera... any tips would be much appreciated.

[2022-10-19 13:41] cosmicBboy commented on #963
Cool, this use case makes sense, though I have an additional question:

In the code example above, how is the output of `transformer.transform_schema(schema)` different from `transformer.output_schema`? Are they meant to be the same? Is the intent that `transform_schema` implements schema transformations that are validated with `output_schema.validate(schema)`?

re: the concerns with `schema_2.exa

[2022-10-19 14:41] beckernick commented on #970
RAPIDS projects like cuDF use a custom CI setup due to the significant GPU requirements that would likely be overkill for other projects.

At the moment, my understanding is that there are at least the following ways to do CI on GPUs with GH Actions (someone please feel free to correct me if I'm missing something):
- [Manually create and use a self-hosted runner](https://docs.github.com/en/actions

[2022-10-19 17:27] hsorsky commented on #963
Apologies, I wasn't very clear in my example. I'm imagining `input_schema` and `output_schema` to be attributes/properties of type `pa.DataFrameSchema`. `transform_schema`, however, would be a method with a signature like
[code]
that "transforms" the schema itself.

The need for this would be, for example, if you had a transformer that appends a column to a DataFrame. In this case, the `output_sch

[2022-10-19 21:34] aktech commented on #970
Hey @beckernick thanks for considering [cirun.io](https://cirun.io), yes you can surely use it for the above mentioned purposes and I am more than happy to help make it happen and yes it's free for open source without any restrictions. Feel free to let me know if you have any questions.

[2022-10-20 11:27] a-recknagel opened #974 "Wrong calculation and kwarg in custom check docs"
#### Location of the documentation

https://pandera.readthedocs.io/en/stable/extensions.html#registered-custom-checks-with-the-class-based-api

#### Documentation problem

- The check function `total_missing_fraction_less_than` uses `count` to calculate the number of values in a dataframe, it should be using some form of `mult`.
- The decorator of the check function `col_mean_a_greater_than_b` has

[2022-10-20 12:30] a-recknagel commented on #974
While debugging this, I noticed that wrong-formed statistics don't produce an error neither during class definition, nor during validation, and not even during serialization:
[code]

If I've understood the code correctly, adding a sanity check during a schema-class build would be a relatively straight-forward fix in `pandera.extensions.register_check_method`:

[code]
When running the code example

[2022-10-20 19:04] cosmicBboy commented on #963
Cool, you have my support on this feature, it seems super use to support!

However I think this proposal is still under-specified, but I'd be happy to help flesh it out further. Just to be clear, I'd estimate this to be a fairly heavy lift, so appreciate your willingness to contribute to this feature!

I'd start off with a proof of concept implemented in a gist or a WIP branch, but basically what

[2022-10-20 20:45] anantzoid commented on #260
Looks like https://github.com/unionai-oss/pandera/issues/369 is merged. What's the status of this?

[2022-10-20 21:23] ecthompson99 opened #976 "Unexpected behavior with `coerce=True` in DataFrameSchema"
## Bug description
* Using the `@check_output` or `@check_input` decorators do not actually coerce all elements in the dataframe. Instead, it updates the column dtype label, but each individual element is not necessarily coerced into the desired datatype.
---
**For context, here is the issue I am dealing with**
* I have saved my dataframe schema in a yaml file, example entry:
     * Notably, a hav

[2022-10-20 21:52] hsorsky commented on #963
OK cool, thanks for writing all of that out. I agree with all. Sounds like a good plan of action. I'll post something when I've got something non-trivial and then we can build from there.

[2022-10-21 10:14] derinwalters commented on #966
@cosmicBboy thank you so much for your suggestion. Leveraging the Config json_encoders seems like just the thing. I will give this a try and report back.

The use case is a hierarchical data class that I store in MongoDB and process locally. Recently I transitioned from a monolithic Pandas dataframe to lists of Pydantic class dictionaries where I convert to Pandas for manipulation. However, this i

[2022-10-21 13:56] cosmicBboy commented on #966
Yep! this is pretty much the reason I built pandera, though at the time I wasn't aware of pydantic and was doing the same thing with the [schema](https://pypi.org/project/schema/) library.

[2022-10-21 15:11] #974 closed

[2022-10-21 19:30] hsorsky commented on #963
One thing I've noticed as I work on this PoC is that the answer isn't just yes/no, but yes, no and (often) maybe. e.g. if `sub_schema` is non strict and has no explicitly provided columns and `super_schema` has required column `"col"`, whether `sub_schema` conforms to `super_schema` is 'maybe' (i.e. it would depend on your interpretation of conformity/validity in the case of 2 schemas). In terms o

[2022-10-21 21:26] hsorsky commented on #963
do you know if panderas currently supports checking if a `pa.DataType` can be cast to different one without explicitly creating an object of the first type and trying to convert to the second and seeing if it works?

[2022-10-22 21:26] blais commented on #967
I like both of them. The second one folds the semantics into a single attribute, it depends on whether you think that's good or bad. For instance (1) has this going against it: one could potentially create a column with `has_timezone=False` and some particular `tz`.  So I prefer (2) as well I suppose.

[2022-10-22 21:43] kr-hansen opened #977 "`pa.check_types` doesn't seem to work with Union of multiple pandera types"
**Describe the bug**
A clear and concise description of what the bug is.

- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the latest version of pandera.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandera.

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-report

[2022-10-22 22:05] kr-hansen commented on #977
I played around with it a little and I can get a `pydantic.ValidationError` raised if I use `@pa.check_types(with_pydantic=True)`, but I'm not sure why it doesn't behave as I'd expect with just `pandera`.

[2022-10-22 23:43] derinwalters commented on #966
I think the proposed solution works well enough for what I was asking. Thanks! I'm having a bit of trouble though with figuring out how to properly validate columns of list-like and dictionary-like elements, which is rather straightforward in a pydantic by row approach, and will continue working on that. Looks like you're also already working on providing a default value option on #502, which is g

[2022-10-22 23:43] #966 closed

[2022-10-23 21:53] cosmicBboy commented on #977
thanks for reporting this bug @kr-hansen, yeah currently `check_types` doesn't know anything about `Union` (or other generics like `Optional` for that matter)

Was this error what you were expecting?

In any case, the `check_types` function will need to be updated to handle `Union`s of `SchemaModel`s, right now it's just skipping it entirely: https://github.com/unionai-oss/pandera/blob/master/pand

[2022-10-23 21:58] cosmicBboy commented on #976
Thanks for reporting this @ecthompson99. Can you please provide a minimally reproducible example of what you're seeing? Sometimes things get lost in translation, but I'll try to repro based on the code you have above.

[2022-10-23 22:16] cosmicBboy commented on #976
I was able reproduce the bug for `check_output` but not for `check_input` (which appears to correctly coerce the dtype)

[code]
Output:
[code]

Can you confirm that this matches the behavior you're seeing?

[2022-10-23 22:18] cosmicBboy commented on #976
I was able reproduce the bug for `check_output` but not for `check_input` (which appears to correctly coerce the dtype)

[code]

Output:

[code]

Can you confirm that this matches the behavior you're seeing?

[2022-10-24 00:44] blais commented on #967
Hi @cosmicBboy. I had a look at doing this, was able to run the full suite of tests with no change, but looking at the modification, I'm afraid I have too many questions to have a good shot at it, at least without asking a lot of questions.

The thing is,
- Numpy's datetime64 does not support timezones (https://numpy.org/doc/stable/reference/arrays.datetime.html#basic-datetimes)
- This means we'd

[2022-10-24 03:17] cosmicBboy commented on #967
So this will be a little tricky, but it's supported by the pandera type engine.

Basically we need to have a conditional branch [here](https://github.com/unionai-oss/pandera/blob/master/pandera/engines/pandas_engine.py#L787-L795) that delays the definition of the `type` attribute set on line 795.

Then, override the [DataType.check](https://github.com/unionai-oss/pandera/blob/master/pandera/engine

[2022-10-24 03:44] cosmicBboy commented on #976
https://github.com/unionai-oss/pandera/pull/979 should address the `check_output` bug. Will wait on you @ecthompson99 to confirm the `check_input` bug.

[2022-10-24 10:40] Drumbits opened #980 "Add class name for methods in validation error message"
The current validation error message only gives the name of the wrapped function. It would be nice to have the name of the class when said function is an object method.

Example

class MyClass:
    @check_output(schema)
    def my_method(self) -> DataFrame[schema]:
        ...

Current error message:
"error in check_output decorator of function 'my_method':...

Improved error message:
"error in ch

[2022-10-24 14:17] cosmicBboy commented on #980
hi @Drumbits would welcome a PR for this improvement!

Basically need to update this line: https://github.com/unionai-oss/pandera/blob/master/pandera/decorators.py#L93

To check if `fn` is part of a method in a class, then correctly format a string for `MyClass.my_method` instead of just the method name

[2022-10-24 14:20] cosmicBboy commented on #966
Great!

There's this issue https://github.com/unionai-oss/pandera/issues/260, but for now I'd recommend custom checks

[code]

[2022-10-24 14:22] cosmicBboy opened #981 "Create DBT plugin"
**Is your feature request related to a problem? Please describe.**

Since the [support of python models in dbt](https://docs.getdbt.com/docs/building-a-dbt-project/building-models/python-models), it would be great to be able to use declaratively-defined pandera schemas (potentially yaml-based schemas, but not necessarily limited to that) in DBT pipelines.

**Describe the solution you'd like**

TBD

[2022-10-24 15:44] cosmicBboy commented on #902
fixed by #914

[2022-10-24 15:44] #902 closed

[2022-10-24 17:41] Drumbits commented on #980
PR is there:
[https://github.com/unionai-oss/pandera/pull/982](url)
Chose not to extend it to statics (staticmethod/classmethod), though that could make sense.

[2022-10-24 20:21] cosmicBboy commented on #260
@anantzoid current status is `help wanted`. Open to contribution!

Basically would require:
- creating new pandera datatypes (see [here](https://pandera.readthedocs.io/en/stable/dtypes.html)) that supports:
   - lists: `list`, `List[...]`
   - dictionaries: `dict`, `Dict[...]`
   - etc.
- adding unit tests for these

This would basically use `object` as the underlying pandas type, and using the [l

[2022-10-24 20:24] kr-hansen opened #983 "Are Configs not inherited by design?"
#### It seems that Configs on SchemaModels are not inherited.  Is this by design?

I've built some pandera schema models that inherit from one another, but it seems that pandera SchemaModels don't inherit the Config from one another. Is this by design or am I doing something wrong?

For example:

[code]

With the above SchemaModels defined, I would expect that Model2 would also have an attribute o

[2022-10-24 21:12] cosmicBboy commented on #983
Hi @kr-hansen so as background, the `SchemaModel` classes inherit field attributes but not configs by design (@jeffzi might be able to provide more insight on the rationale) but the configuration settings are *effectively* inherited when you do `Model2.to_schema()`. Ultimately, `SchemaModel`s are converted into `DataFrameSchema`s are used under the hood for before they do any runtime validation.

[2022-10-25 08:38] a-recknagel opened #984 "Ensure statistics-arguments in extensions.register_check_method line up with with the decorated args/kwargs"
**Is your feature request related to a problem? Please describe.**
If you have a typo in the `statistics` list, it passes through definition, validation, and serialization:

schema definition:
[code]
running it:
[code]
**Describe the solution you'd like**
During either definition or serialization, an error should be raised.

**Additional context**
I'm essentially describing a bug, but given that t

[2022-10-25 13:41] cosmicBboy commented on #977
what's CLA?

Also happy to help guide you through!

#### Steps

1. Add a conditional [here](https://github.com/unionai-oss/pandera/blob/master/pandera/decorators.py#L535-L536) that checks for `Union` types. For now, I think we should only support `Union[pandera.typing.DataFrame[S1], pandera.typing.DataFrame[S2]]`  types and not something like `Union[pandera.typing.DataFrame[S1], dict]`.
2. General

[2022-10-25 18:15] #984 closed

[2022-10-26 04:26] blais commented on #967
Thanks Niels. I'll try creating a bogus datetime.tzinfo of name "ANY" which raises an error if the offset method is called, and using that instead of a valid one, and overriding check as you suggest.

[2022-10-26 10:55] jonathanunderwood opened #986 "RFE: Add multiple inheritance to documentation"
**Is your feature request related to a problem? Please describe.**
I often want to compose SchemaModels from multiple other schema models. However, I always get it wrong, as it's slightly unintuitive.

Here are some things which don't work today:

[code]
which results in:
[code]

OK, so what's needed I need to have `A` and `B` inherit from `pa.SchemaModel`:

[code]
which results in:

[code]
as exp

[2022-10-26 14:35] cosmicBboy commented on #963
hey @hsorsky no, currently there's no way to do this. I'd suggest implementing the strictest version of this (dtypes have to match exactly) and we can extend this once we have an `is_castable` method (or something like it), which I'd consider a separate task.

[2022-10-26 14:41] alejandro-yousef commented on #502
Thanks to all Pandera contributors!

I would love a `default` argument for `pa.Field` equivalent to the one of Pydantic https://pydantic-docs.helpmanual.io/usage/schema/#field-customization:~:text=the%20following%20arguments%3A-,default,-%3A%20(a%20positional%20argument

[2022-10-26 19:12] #976 closed

[2022-10-26 19:13] cosmicBboy commented on #976
hey @ecthompson99 just merged #979, feel free to re-open this if your issue hasn't been resolved.

[2022-10-26 21:19] kr-hansen commented on #983
Oh interesting.  Thanks for your clear explanation replicated with the example.

My primary use-case came up in that I've built essentially a data hierarchy for the models expected at different points in our processing pipeline.  I have basic models, then models that inherit from multiple models (ie. `class Model3(Model1, Model2)`).  I'd written a helper function to extract the uniqueness constrai

[2022-10-26 21:50] kr-hansen commented on #977
Sounds great.  A CLA is a [Contributor License Agreement](https://en.wikipedia.org/wiki/Contributor_License_Agreement) which we've typically had to fill out regarding IP/licensing stuff when contributing to Open Source projects, especially those hosted supported by other companies.  Typically just to clarify/formalize that the contributions to the project are still owned/maintained by the Open Sou

[2022-10-27 09:12] a-recknagel opened #987 "Remove columns on a SchemaModel"
**Problem**
I use `SchemaModel`s extensively to type-hint my function calls and have written some code which uses the annotations at run-time. At one point, I need to define a `SchemaB` which has dropped a bunch of columns from its parent `SchemaA`:

[code]
Unless I'm a bit blind, there is no way to define `SchemaB` in a straight-forward manner.

**Possible Solutions**
- preferably, a way to creat

[2022-10-27 13:03] cosmicBboy commented on #987
hey @a-recknagel so unfortunately using `SchemaModel`s in this way isn't possible because inheritence is only additive.

It's perhaps a little less intuitive, but if you want to rely on Python's inheritence semantics, I typically use this pattern:

[code]

This can get overly verbose, so an alternative would be to patch the `to_schema` method in `SchemaB` by calling the parent class `to_schema()`

[2022-10-27 13:23] a-recknagel commented on #987
The second option hopefully works for me, thanks! I have some multiple inheritances, and always forget how to make overriding methods cooperative. I'll try to add the docs, too.

[2022-10-27 19:04] cosmicBboy commented on #977
Hey @kr-hansen can you send your work email to me at niels@union.ai? We'll send over the CLA there.

[2022-10-27 19:45] mattharrison opened #988 "Inferred schema fails to generate example"
**Describe the bug**

I'm inferring the schema from a CSV with 83 columns. When I try to generate an example it fails.

`Unsatisfiable: Unable to satisfy assumptions of hypothesis example_generating_inner_function.`

#### Code Sample, a copy-pastable example

[code]

#### Expected behavior
A clear and concise description of what you expected to happen.

I would expect this to generate an example.

[2022-10-27 19:53] kr-hansen commented on #977
Thanks @georgesnelling.  I'll chat with someone on my legal team specifically about this scenario and respond back here.  I know our company has had this happen on Open Source contributions before, so I figured I'd ask ahead to help the ball get rolling on it.  I'll respond after I chat with someone at my company early next week.

[2022-10-27 19:59] cosmicBboy commented on #988
hey @mattharrison, is there a particular reason you're generating more and more examples `.example(i)` as you include more and more columns?

`hypothesis` is doing all the heavy lifting generating the dataframes, and the more examples it has to generate the more time it needs. I believe one can increase the `deadline` setting, which is basically a timeout for generating examples, to give it more t

[2022-10-27 20:05] mattharrison commented on #988
Good catch. I changed the `i` to a `1`

[code]

I also changed

[code]

to

[code]

And it failed to generate an example:

[code]

[2022-10-27 20:07] mattharrison commented on #988
I also tried inferring from a sample (100 rows) of the data and got a different error:

[code]

[code]

[2022-10-27 20:30] georgesnelling commented on #977
Sounds good. Just so you know, it is not required on our side, but we are happy to configure one for you and / or your company if that is y'all's policy.   Pandera's license is MIT, which is about as unrestrictive as you can get.

[2022-10-27 21:21] cosmicBboy commented on #988
okay, I identified the promixal issue here: https://github.com/unionai-oss/pandera/pull/989

Generating an example on the entire schema works up to 16-ish examples (it craps out at 32):

[code]

Output:
[code]

Cutting a bugfix release `0.13.4` next week, this should be included in there!

[2022-10-27 23:27] georgesnelling commented on #977
Hi Kyle, I think the information I gave you may be out-of-date.  We have to huddle on our side.  Likely we will add an built-in CLA into the checkin flow, but we have a little work left to do to put that in place.

[2022-10-28 13:10] #988 closed

[2022-10-28 13:35] cosmicBboy commented on #987
Cool, I'm gonna convert this issue into a discussion... would you mind marking my response as the answer?

[2022-10-28 21:51] cosmicBboy commented on #983
I think the behavior you're seeing can be explained with Python inheritance... my memory's a little rusty here, but I believe Python will inherit attributes based on the order in which they're specified in the `class MyClass(...)` definition, with parent classes earlier in the class definition taking precedence.

If I'm correct in the above statement, this is expected... Python won't automagically

[2022-10-28 21:51] #983 closed

[2022-10-31 01:48] #971 closed

[2022-10-31 01:50] #918 closed

[2022-10-31 02:09] cosmicBboy commented on #925
hi @airibarne, I believe this got fixed in https://github.com/unionai-oss/pandera/commit/5f9c713c6a9e3654f23e3c1a24b7ad39a8979e2e

You can update to pandera >= 0.13.0 and this should work.

[2022-10-31 02:09] #925 closed

[2022-10-31 02:10] #910 closed

[2022-10-31 02:10] #906 closed

[2022-10-31 20:59] Davidkloving opened #992 "Create empty dataframe from schema"
#### Question about pandera

I need to be able to create an empty dataframe and (maybe) populate it later. I hoped this would be fairly straight forward like `np.empty(...)` but so far the best way I have found is to write an `empty()` method for each `SchemaModel` I have that explicitly creates a `pd.DataFrame` with manually-maintained columns and dtypes. Have I overlooked something?

[2022-11-01 10:56] TPreece101 opened #993 "Output from `schema.to_script()` no longer works as standalone script"
**Describe the bug**
When using the `to_script()` method the `dtype` values are from `pandera.engines` but `pandera` is not included in the imports on the script

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandera.

**Note**: Pl

[2022-11-01 14:03] cosmicBboy commented on #992
You can do `SchemaModel.example(size=0)` to create an empty dataframe, via [data synthesis strategies](https://pandera.readthedocs.io/en/stable/data_synthesis_strategies.html)

[2022-11-01 15:27] Davidkloving commented on #992
Thanks, I have tried that but I was hoping to accomplish this without introducing `hypothesis` as a dependency. For some reason it makes our tests very slow to start, sometimes hang, and surprisingly produces the following error:

`pandera.errors.SchemaError: expected series 'created_at' to have type datetime64[ns, UTC], got datetime64[ns]`

for a column defined as such:

[code]

[2022-11-01 16:09] cosmicBboy commented on #992
ah, I don't think pandera strategies support `pd.DatetimeTZDtype` yet.

do you mind opening up a feature request?

Here's a recipe for creating an empty dataframe without the data synthesis strategies:

[code]

Does this work for you?

[2022-11-01 16:29] cosmicBboy commented on #993
just put out a PR to address this: https://github.com/unionai-oss/pandera/pull/994

Opted to use string aliases to represent datatypes in "to_script", as is done with `to_yaml` and `to_json`. String aliases tend to be more portable, as we don't want to expose the quirks of the pandera datatype engine.

[2022-11-01 17:36] kr-hansen commented on #977
@cosmicBboy I put together a good first stab on this and opened the above PR.  Let me know if you have any comments or thoughts on my implementation of some of the steps you outlined and any necessary tweaks to the associated tests.

[2022-11-01 17:38] kr-hansen commented on #977
@georgesnelling Let me know when that CLA is in place with associated text.  Chatting with our Legal team they'd just like to sign off on the verbiage there before I approve it.  For the scope of these tweaks they don't anticipate there will be any issues, but once I'm able to do that and run it by them we should be good to go as far as merging some of these tweaks into `dev`.

[2022-11-01 18:25] TPreece101 commented on #993
Amazing, thanks @cosmicBboy - I've checked out the branch and it solves the problem I was having.

Thanks for your speedy response it's much appreciated 😊

[2022-11-01 19:15] #993 closed

[2022-11-01 21:14] nwoodbury opened #996 "Config option `strict = "filter"` does not work on spark dataframes"
**Describe the bug**
When using a SchemaModel on a pyspark dataframe with the config option `strict = "filter"` set, a `TypeError: drop() got an unexpected keyword argument 'inplace'` is raised.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.
- [ ] (optional) I have confirmed this bug exists on the master

[2022-11-02 15:30] joepatol opened #997 "DataFrame level checks on columns not in dataframe raise KeyError"
Hi Everyone,

While developing with Pandera I noticed some behavior that I'm wondering if you guys are open to change (Or if I'm doing something wrong?).

I encountered this problem while using custom dataframe level checks, but it also seems a problem with Pandera builtin dataframe level checks.

Consider the example below:

[code]

Output:

KeyError: Index(['c'], dtype='object')

I would expect

[2022-11-02 15:30] nwoodbury commented on #996
@cosmicBboy sure, I'll take a crack at it. The special case treatment might be ideal allowing the library to maintain efficiency where possible.

[2022-11-02 15:35] cosmicBboy commented on #997
hi @joepatol can you provide an example of the custom df check?

[2022-11-02 15:43] cosmicBboy commented on #997
Yes! that should address this particular issue

I think this would make sense if pandera goes the direction of specialized `Check` subclasses for different contexts (columns vs. dataframes, for example). I'm not opposed to this in theory, but I think we can achieve something similar by modifying the way `Check` objects handle errors. Right now, pandera will not fold that error into the `SchemaErro

[2022-11-02 15:56] cosmicBboy commented on #942
hey @adithyaakrishna @the-matt-morris just a friendly ping on this, could be cool to support this use case/syntactic sugar.

[2022-11-02 16:11] cosmicBboy commented on #997
hey @joepatol https://github.com/unionai-oss/pandera/pull/999 should address your issue... it's not quite ready as it needs some unit tests.

We need two tests:
- test the unique option on the DataFrameSchema, probably below/near [this one](https://github.com/unionai-oss/pandera/blob/main/tests/core/test_schemas.py#L1897)
- another test to make sure exceptions in check functions are bubbled up as

[2022-11-02 17:06] joepatol commented on #997
hey @cosmicBboy, I'll update #999 !

Thanks for the quick response.

I think it's a good idea to raise errors in custom checks as schemaerrors so they don't crash, however, running I test on a column that is not in the dataframe, and thus already in the failure cases, is redundant. I think Ideally we would skip the check, but maybe not now...

[2022-11-02 17:37] cosmicBboy commented on #997
Yeah I do understand the efficiency point, and I do think there are ways to be smarter about which checks to run. Pandera's current design is in the simplicity of treating all `Check`s as independent from other checks, even the built-in ones.

The `required_columns` option would address this particular case, but I'd like to wait and see if there are any other use cases that justify adding dependen

[2022-11-02 19:43] the-matt-morris commented on #942
@cosmicBboy thanks for the reminder, I can submit a PR in the next day or 2

[2022-11-03 11:37] nwoodbury commented on #996
@cosmicBboy I've created [Pull Request #1001](https://github.com/unionai-oss/pandera/pull/1001) to resolve this issue.

Note, I am unable to run the full nox test suite locally due to versioning problems in conda. I get the following errors (only the last few lines added here since my terminal ran out of space to contain the full output) running a conda install in a fresh build of the `continuumio

[2022-11-03 12:51] cosmicBboy commented on #996
Thanks @nwoodbury, would you mind opening a [bug report issue](https://github.com/unionai-oss/pandera/issues/new?assignees=&labels=bug&template=bug_report.md&title=) for this?

[2022-11-03 15:26] nwoodbury opened #1002 "Cannot install using conda due to version conflicts"
**Describe the bug**
Cannot install using conda due to version conflicts.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.
- [x] (optional) I have confirmed this bug exists on the master branch of pandera.

#### Code Sample, a copy-pastable example

Note, using the latest miniconda docker image, and follow

[2022-11-03 15:27] nwoodbury commented on #996
@cosmicBboy done. See [Issue #1002](https://github.com/unionai-oss/pandera/issues/1002)

[2022-11-03 17:56] cosmicBboy commented on #928
yeah, the internal functions should really be pulled out into a separate module (perhaps as a private module/functions) so they're pickle-able

[2022-11-03 18:00] cosmicBboy commented on #838
this was fixed by https://github.com/unionai-oss/pandera/pull/989

[2022-11-03 18:00] #838 closed

[2022-11-03 18:22] cosmicBboy opened #1003 "Try to parse lambda function string to automatically name lambda Checks"
**Is your feature request related to a problem? Please describe.**

Right now, `pa.Check(lambda ...)` checks will show up as `<lambda>` in string representations, failure case reports, etc. Users have to `name` the check for it to be more human-readable.

**Describe the solution you'd like**

Inspired by `hypothesis`, try to extract the lambda code to populate the name attribute: https://github.co

[2022-11-03 19:44] cosmicBboy commented on #996
fixed by #1001

[2022-11-03 19:44] #996 closed

[2022-11-04 12:43] williamjamir opened #1004 "Type hints usage"
#### Question about pandera

I don't know if it's a misusage from my side of knowing the limitation.

[code]

* I'm using the pandera version from my latest PR, which unpins pandas-stubs, so this is why my stubs on the latest version
https://github.com/unionai-oss/pandera/pull/1000

Using this code
[code]
I got the following output from mypy using this config:
[code]
[code]

Is this expected?

Do

[2022-11-04 13:46] cosmicBboy commented on #1004
hi @williamjamir, I'm unaware that `pandas.Series` is a generic type that supports type-hints now?

The pandera mypy plugin does require `pandas-stubs`, but it's really to support the syntax described here: https://pandera.readthedocs.io/en/stable/mypy_integration.html

The use case above is basically a pandas + pandas-stubs thing that I don't know too much about

[2022-11-04 14:04] cosmicBboy commented on #260
Note: based on [this thread](https://discord.com/channels/897120336003334214/897554078274555965/1038023505075245078) we also want the pandera datatype system to handle unhashable types (sets, lists)

[2022-11-04 14:12] cosmicBboy commented on #1004
this may be a bug in `pandas-stubs`? just looking at

Found 1 error in 1 file (checked 1 source file)
It seems like the input type `TimestampSeries` should be float?

[2022-11-04 14:19] cosmicBboy commented on #1004
yeah, I don't think you can use `pd.Series[str]` as you expect:

[code]

[2022-11-04 14:35] #968 closed

[2022-11-04 14:43] williamjamir commented on #1004
Okay, that is bizarre just noticed that my message on the output of mypy without the plugin is not complaining about anything (while it should)...

But if I pass this value to a variable, it "works just fine" 🤔

[code]

Either way, both scenarios are without the plugin from pandera activated, and none of them shows a warning about `TimestampSeries `

[2022-11-04 15:01] cosmicBboy commented on #1004
Yeah, I'm investigating on my side too. actually the `pandera.mypy` plugin doesn't do much except for modify the type analysis done by `pandas-stubs`... earlier on it produced a bunch of false negatives (in fact the issue you're seeing around `TimestampSeries` might be a pandas-stubs bug)

[2022-11-04 15:31] williamjamir commented on #935
I could not reproduce this error on my machine:
[code]

[code]

Could you share some snippets of your code or how you are calling this function?

[2022-11-04 15:42] cosmicBboy commented on #1004
Okay, so it looks like the `pandera.mypy` plugin hooks are causing the `TimestampSeries` issue. Going to make a PR to address this and add some additional tests to cover false positives that are still not handled by `pandas-stubs`.

I'll also update the docs to make it clear that pandera-mypy type linting should really be used in the way described in the [docs](https://pandera.readthedocs.io/en/st

[2022-11-04 15:52] cosmicBboy commented on #935
yeah, so right now using `pandera.typing.Series` or `pd.Series` as generic types with dtype args (like `pd.Series[int]`) are not really supported for mypy type linting, so using it in this way will likely cause mypy errors.

I'd consider this to be within the purview of the [pandas-stubs](https://github.com/pandas-dev/pandas-stubs) project, so whatever progress that project makes will be automatic

[2022-11-04 18:39] cosmicBboy commented on #1004
hi @williamjamir, I just created this PR: https://github.com/unionai-oss/pandera/pull/1007

The summary is that `pandas-stubs` is still in its early days and will not support many of the type-hinting use cases you might want out of pandas. The only thing pandera promises is the intended usage as described in the docs: https://pandera.readthedocs.io/en/stable/mypy_integration.html

For now, I'd rec

[2022-11-04 21:13] a-recknagel opened #1008 "Columns of type Decimal with scale=0 don't get handled correctly"
**Describe the bug**
When setting the scale of a Decimal to 0 (also the default), many checks and coercions fail.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.
- [x] (optional) I have confirmed this bug exists on the master branch of pandera.

#### Code Sample

[code]

#### Expected behavior
I expect al

[2022-11-06 09:47] fcarpentey75012 opened #1009 "Schema Models for SeriesSchema"
Hello,

I would like to create an Schema Models for an Series, do you have an example to convert this example :

https://pandera.readthedocs.io/en/stable/series_schemas.html

[code]
Into an Schema Models class ?

Thank you,

[2022-11-07 14:32] cosmicBboy commented on #1009
hi @fcarpentey75012 this is currently not supported. https://github.com/unionai-oss/pandera/issues/688 describes an approach to add `SeriesModel`/`ArrayModel` to the class-based API, it's not currently prioritized due to core internals overhaul work: https://github.com/unionai-oss/pandera/pull/913. Will revisit this once that is completed

[2022-11-07 16:46] Davidkloving commented on #992
Thanks for the suggestion! Yes, this does work. I was able to combine it with a trick I learned from [PEP 673](https://peps.python.org/pep-0673/) to come up with the following solution which works for Python 3.10 and plays nicely with mypy:

[code]

Is this something that we could add to Pandera itself? I'm sure a `.empty()` would be useful to many people.

[2022-11-07 16:53] cosmicBboy commented on #992
Great! Yes would welcome a PR on this. One note on the approach: we should add an `empty` method to `DataFrameSchema`, which implements basically the first 2 lines of your `empty` method, which would basically be used by `SchemaModel.empty` to created the typed `DataFrame[SchemaType]` dataframe. Converting this issue to an enhancement

[2022-11-07 19:06] cosmicBboy commented on #1009
closing this in favor of #688, please feel free to comment on that issue if you have stuff to add!

[2022-11-07 19:06] #1009 closed

[2022-11-07 20:50] a-recknagel commented on #1008
If the PR gets merged as-is, I'll open a new bug for the TypeError

[2022-11-07 21:00] cosmicBboy commented on #1008
hey @a-recknagel feel free to address the TypeError on this PR as well

[2022-11-08 10:22] a-recknagel opened #1013 "Unhashable values don't get handled properly on failing checks in layz validation"
**Description**
If I have an unhashable object in a dataframe, failing check functions on them will crash on lazy validation:

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.
- [x] (optional) I have confirmed this bug exists on the master branch of pandera.

#### Code Sample

[code]

#### Expected behavior

[2022-11-08 13:54] a-recknagel commented on #1008
@cosmicBboy that took a bit, but I think I got it.

[2022-11-09 19:05] the-matt-morris opened #1016 "DataFrameSchema.__init__ validate_arguments"
**Describe the solution you'd like**
Use `pydantic.validate_arguments` for `DataFrameSchema.__init__` function signature.  This will validate `strict`, removing the necessity for this statement:

https://github.com/unionai-oss/pandera/blob/6b6c9d5eea12b1b3640b4ba69178ae392132fcac/pandera/schemas.py#L190-L198

It would also add validation for `report_duplicates` to ensure value is one of `["exclude

[2022-11-10 05:43] #942 closed

[2022-11-10 13:49] lorenzo-w commented on #763
Facing the same issue right now. I would like to validate my dataframes right after loading them from csv and then have the proper type annotation from there. Currently I am using a small custom function which calls SchemaModel.validate and then casts to DataFrame[T], but I would actually expect pandera to already return that....

[2022-11-10 18:19] #1008 closed

[2022-11-10 18:42] cosmicBboy commented on #763
Looking into this... basically need to do the following:

- use `typing.overload` on the following methods:
  - `validate`: https://github.com/unionai-oss/pandera/blob/main/pandera/model.py#L249-L267
  - `__new__`: https://github.com/unionai-oss/pandera/blob/main/pandera/model.py#L156-L159
  - `example`: https://github.com/unionai-oss/pandera/blob/main/pandera/model.py#L276-L285
- For `example`, w

[2022-11-10 18:52] lorenzo-w commented on #763
@cosmicBboy Wow thanks! That was the swiftest response I've ever had to a public issue. How could I say no then? 🙃
So yes, I'll take a shot at it this weekend and make a PR if it works.

[2022-11-10 20:19] cosmicBboy commented on #1016
go for it @the-matt-morris !

[2022-11-11 14:55] #977 closed

[2022-11-14 09:28] noahhansson opened #1018 "Dependency error in typing-extensions"
**Describe the bug**
As of pandera 0.13.4 the module /pandera/schemas.py imports the class Self from typing_extensions. The Self class was introduced in typing-extensions 4.0.0, however, pandera dependencies is specified as "typing_extensions >= 3.7.4.3 ; python_version<'3.8'" in setup.py.  Having a version of typing-extensions lower than 4.0.0 results in an error when importing pandera.

- [x] I

[2022-11-14 21:56] wakelt opened #1019 "Argument Passing to SchemaModel"
It would be great if the SchemaModel .validate() method allowed us to pass arguments to the superclass. Today we can pass the dataframe, lazy, strict parameters, but not much else. We need to facilitate child classes passing data up to superclass.

For example:

SchemaModel.validate(dataframe, arguments={})

where <arguments> is a data structure such as a dictionary, list , or perhaps a class.

Th

[2022-11-16 04:42] the-matt-morris commented on #1016
After trying this out locally, I'm thinking it's not going to be worth it:

1. [This line](https://github.com/unionai-oss/pandera/blob/5aa77957615720741dd817b668154e9a72cf6c73/pandera/schemas.py#L55) is fine for mypy, but `pydantic.validate_arguments` actually needs access to `Column` [here](https://github.com/unionai-oss/pandera/blob/5aa77957615720741dd817b668154e9a72cf6c73/pandera/schemas.py#L10

[2022-11-16 10:40] a0th opened #1020 "Check_types doesnt check Series"
#### Code Sample

[code]

#### Expected behavior
I would expect the example to fail.
check_types doesn't check Series, neither the input or output.
Not sure if this is intended. It works with typing.DataFrame

#### Desktop (please complete the following information):

 - OS: [ubuntu 22.10]
 - Python 3.10.5

[2022-11-16 12:46] bryngarrod-habitatenergy opened #1021 "`pandera.check_types` causes `ValueError: no results` for functions called by `pandas.DataFrame.apply`"
If the `@pandera.check_types` decorator is used for a function that is called by `pandas.DataFrame.apply`, it causes `ValueError: no results`.

- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the latest version of pandera.

#### Code Sample

[code]

#### Expected behaviour
It should run without errors and the final check should return `

[2022-11-16 14:36] cosmicBboy commented on #1020
currently pandera only supports checking `pa.typing.DataFrame`, this would be a feature enhancement, which is already tracked in #688. Closing this issue in favor of that one.

I'd consider this work to be done after the core internals re-write is complete #381

[2022-11-16 14:36] #1020 closed

[2022-11-16 14:39] cosmicBboy commented on #1016
okay, let's close this issue in that case. it was worth a try!

[2022-11-16 14:39] #1016 closed

[2022-11-16 16:29] cosmicBboy commented on #1021
hey @bryngarrod-habitatenergy fun bug! Basically `@check_types` uses the `wrapt` library, which returns a `FunctionWrapper` that somehow defines an `__iter__` argument. This confuses pandas into thinking it's a list of aggregation functions.

#1022 should address this issue... would you mind adding regression tests to this PR? Test case should probably live in this file: https://github.com/unionai

[2022-11-16 19:35] cosmicBboy commented on #1018
hi @noahhansson what version of python are you using? Also a `pip list` of your env would be helpful.

Not sure I understand why you're getting the import error... are you on an earlier version of `typing_extensions`?

[2022-11-17 02:33] mattharrison commented on #988
Ok, trying this again with another dataset and running into issues.

This fails. Note I'm not every creating all of the columns (though I would like to), just two floating point columns.

Code:
[code]

Should I open another bug?

[2022-11-17 06:42] vovavili commented on #806
Awesome! Thanks for your contribution.

[2022-11-17 08:38] noahhansson commented on #1018
The import error was encountered in python 3.9.5, typing-extensions==3.10.0.2 and pandera==0.13.4

[2022-11-17 13:36] abyz0123 commented on #933
The issue I believe is that spark is still in your path. If you remove it, should work. For example:

[code]

[2022-11-17 14:40] abyz0123 commented on #931
I think you are defining your schema incorrectly.

This is how it should look like:

[code]

See [here](https://pandera.readthedocs.io/en/stable/schema_models.html#type-vs-instance) about using types and not instances for your column types.

[2022-11-17 16:10] cosmicBboy commented on #806
@wakelt FYI the `DataFrameSchema` (or `SchemaModel.Config` option) has a `unique` option that checks for duplicate records: https://pandera.readthedocs.io/en/stable/dataframe_schemas.html#validating-the-joint-uniqueness-of-columns

[2022-11-17 16:13] cosmicBboy commented on #933
if this issue persists @baskervilski feel free to add a PR to catch the `TypeError` as well.

[2022-11-17 16:16] abyz0123 opened #1024 "Inheritance of Config in SchemaModel"
**Describe the bug**

!Not sure if a bug or design choice!

When inheriting a SchemaModel, I would expect that the Config class gets inherited with it, so that Schema-wide parameters such as `unique` are present in downstream model. This would be consistent with `pydantic`'s handling thereof.

Also asked on SO [here](https://stackoverflow.com/questions/74167556/pandera-schemamodels-dont-seem-to-in

[2022-11-17 16:18] cosmicBboy commented on #931
@KiaXdice yeah the str representation of the `Categorical` dtype should be updated. The `__str__` method in the `pandas_engine.Category` class can override the default implementation here: https://github.com/unionai-oss/pandera/blob/main/pandera/engines/pandas_engine.py#L568

[2022-11-17 16:18] cosmicBboy commented on #931
do you have capacity to make this change ^^ @KiaXdice ?

[2022-11-17 16:49] cosmicBboy commented on #1024
(in short, it's by design)

[2022-11-17 22:31] aboomer07 opened #1025 "Multi-Level Column Headers"
I'm not sure if this is a feature request or documentation improvement, haven't been able to find it in the documentation yet if it exists.

It seems like you can only use the from_format for loading schemas from a file in the SchemaModel configuration, but you can only specify a multi-level column index in a DataFrameSchema, with no way to convert from DataFrameSchema to SchemaModel, or to load a

[2022-11-18 09:32] abyz0123 commented on #1024
Thanks for the quick follow-up, will close!

[2022-11-18 09:32] #1024 closed

[2022-11-19 14:28] cosmicBboy commented on #1025
❤️

You can use aliases in this case: https://pandera.readthedocs.io/en/stable/schema_models.html#aliases

[code]

output:
[code]

[2022-11-20 15:15] osmenia opened #1026 "ImportError: cannot import name 'validate_arguments' from 'pydantic'"
Pandera in conda does not work.

What i am doing wrong?

Traceback (most recent call last):

  File.py:2 in <module>
    import pandera as pa

  File ~\.conda\envs\TestData\lib\site-packages\pandera\__init__.py:52 in <module>
    from .decorators import check_input, check_io, check_output, check_types

  File ~\.conda\envs\TestData\lib\site-packages\pandera\decorators.py:24 in <module>
    from py

[2022-11-20 19:12] cosmicBboy commented on #1026
can you provide:
- python version
- pandera version
- pydantic version

[2022-11-20 21:21] osmenia commented on #1026
python version 3.8.13
pandera version: 0.13.4
pydantic version: 0.18.2

[2022-11-20 21:56] osmenia commented on #1026
I am runing
python version 3.9
pandera version: 0.13.4
pydantic version: 1...

it works now

[2022-11-20 21:56] #1026 closed

[2022-11-21 14:09] cosmicBboy commented on #1026
huh, @osmenia what did you do differently to get it to work?

[2022-11-21 16:34] aboomer07 commented on #1025
Thanks!

[2022-11-21 16:34] #1025 closed

[2022-11-21 17:19] aboomer07 opened #1028 "Extended from_format, to_format support"
Is there any interest/possibility for support distributed versions of the automated I/O functionality using the from(to)_format syntax in the Schema models?

Something like an additional argument in the Config class within the Schema model that would change the pd.read_csv function from being a pandas function to a modin.pandas function for example. My use case is wanting to be able to either run

[2022-11-21 17:23] cosmicBboy opened #1029 "Add support for tags"
**Is your feature request related to a problem? Please describe.**

Pandera schemas currently do not allow for attaching user-defined tags to it at the component level (columns, indexes) of a schema. This additional metadata would allow for operations on the schema, such as selecting subsets of schema columns based on those tags.

**Describe the solution you'd like**

Add a `tags` kwarg for all sc

[2022-11-21 17:28] cosmicBboy opened #1030 "Add support for attaching arbitrary metadata to schemas"
**Is your feature request related to a problem? Please describe.**

The problem here is similar to https://github.com/unionai-oss/pandera/issues/1029, but this issue addresses attaching arbitrary metadata to a schema/schema components that users can use for any purpose. The difference between metadata and tags is that tags can be used to manipulate the schema in a first-class way, whereas metadata

[2022-11-21 17:37] cosmicBboy commented on #1028
hey @aboomer07! so two thoughts here:

1. it makes sense to support arbitrary functions in the `from/to_format` arguments. This would be done by:
   - updating the supported types of this to include Callables: https://github.com/unionai-oss/pandera/blob/main/pandera/typing/config.py#L59-L64
   - special-casing the Callable case to use the function (instead of the dict mapping) [here](https://githu