[2021-02-02 23:03] jeffzi commented on #396
Thanks for the bug report.  The links you provided are very useful.

That makes sense. Front-loading the heavy lifting is something I had in mind but never had the opportunity to implement.

Adding `from __future__ import annotations` at the top of `tests/test_model.py` and `tests/test_decorators` make several tests fail. I see two solutions to prevent regressions

1. We could copy/paste those tes

[2021-02-03 13:41] cosmicBboy opened #397 "drop support for pandas 0.25.3"
**Is your feature request related to a problem? Please describe.**

The breaking changes between pandas +1 and <1 are only going to compound. It would be advantageous to drop support for pandas <1 in a future release.

[2021-02-03 17:44] crypdick opened #398 "DFs synthesized from regex=True do not satisfy schema"
**Describe the bug**

I expect data synthesized from a Pandera schema to satisfy `my_schema.validate(my_schema.example())`. However, schemas using the `regex=True` option to not synthesize column names that satisfy that regex.

#### Code Sample, a copy-pastable example

[code]

#### Expected behavior

`schema.example()` should synthesize column names that match the regex instead of one column lite

[2021-02-03 18:16] cosmicBboy commented on #398
ooo yeah that's a 🐞 alright, thanks for submitting @crypdick! Should be a pretty straightforward fix, will get to this on the weekend

[2021-02-03 18:16] crypdick opened #399 "Parse Hypothesis strageies for schema inference, validation, and synthesis"
**Is your feature request related to a problem? Please describe.**
Pandera's new synthesis feature is very attractive, but is broken if the constraints are non-trivial (e.g. `pa.Check.str_matches(complicated_regex)`).  [Related discussion here](https://github.com/HypothesisWorks/hypothesis/issues/2641#issuecomment-772187225).

**Describe the solution you'd like**
Ideally, we could use complex sche

[2021-02-03 19:00] cosmicBboy commented on #399
hey @crypdick, yes getting data synthesis right is pretty challenging and I'd like to smooth out the rough edges. Just so I get a better sense of the issue, can you provide an example schema that's causing the health check issues?

[2021-02-03 19:26] crypdick commented on #399
@cosmicBboy sure! I had to obfuscate sensitive details but hopefully this gives you a rough idea.

[code]

[2021-02-03 23:04] cosmicBboy commented on #399
This sounds complicated 😅 (I did sort of look into this when building out the data synthesis functionality but found it way over my head, I'm not sure if there's a straightforward way of parsing a multi-part strategy)

Note that rejection sampling only occurs after the first check in the `checks` list, so inefficiencies in the first check would not be due to rejection sampling. Testing the code ou

[2021-02-03 23:14] cosmicBboy commented on #399
Other types of solutions that would be fairly heavy lifts re: going into the guts of the `pandera.strategies` module:
- supporting [composite strategies](https://hypothesis.readthedocs.io/en/latest/data.html#composite-strategies) as a way of chaining multiple checks together.
- providing an interface for "multi-check resolution", which basically aggregates the statistics of multiple checks and con

[2021-02-05 03:00] cosmicBboy commented on #398
@crypdick #402 should do it! btw will be release this and changes from #400 as part of release `0.6.2`

[2021-02-05 14:13] cosmicBboy opened #403 "Decouple MultiIndex schema component from DataFrameSchema"
**Is your feature request related to a problem? Please describe.**

For convenience, the `MultiIndex` schema component inherits from `DataFrameSchema` do avoid duplicating logic for validating multiple fields. However, this has caused more headaches in terms of extensibility and maintenance.

**Describe the solution you'd like**

`MultiIndex` should have its own validation implementation and not r

[2021-02-05 15:42] crypdick commented on #399
@cosmicBboy Tyvm for the detailed answer! When I copy-paste your code, I get a `TypeError: url_strategy() missing 1 required keyword-only argument: 'check_regex'`.

[2021-02-05 16:53] cosmicBboy commented on #399
woops! just edited the code snippet , should work now

[2021-02-05 17:10] crypdick commented on #399
@cosmicBboy you beat me to it :) ty for pointing me to the extensions docs, I hadn't noticed this feature before

[2021-02-06 11:45] Zac-HD commented on #399
Ah, yeah.  As a Hypothesis core dev *I* wouldn't try this; complex strategies like `data_frames()` often have all the relevant structure inside `@composite` strategy functions and pulling it back out of the closures is totally infeasible.

--------------

A better approach, at least for element-wise checks, would be to get our "efficient filter rewriting" https://github.com/HypothesisWorks/hypothe

[2021-02-06 12:12] Zac-HD opened #404 "Make Hypothesis strategies more efficient with statistics resolver and reducing use of `.filter()`"
Heya!  I'm a Hypothesis core dev, and *stoked* that you've found it useful enough to promote to your users 🥰  I also have some suggestions for how to make things more efficient - the short version is "avoid using `.filter()` wherever possible"; the long version is... well, longer.  And probably a lot of work for all of us 😅

Filtering is very convenient, but can also cause some performance issues

[2021-02-06 12:17] Zac-HD commented on #371
This is going to be *totally intractable* for more than the simplest cases, and have some complicated interactions with e.g. #404 even for those.  I'd recommend pushing the problem back onto users and recommending e.g. `.map()` or `@st.composite`, at least for now 😕

[2021-02-06 12:25] Zac-HD commented on #404
You also mention that

https://github.com/pandera-dev/pandera/blob/637f2bf1745d9053eede2ac15655a03b29210178/pandera/strategies.py#L307-L308

...that's just because nobody has asked for them yet; and if you're working on categorical or object support we'd love to have that upstream rather than Pandera-specific if that would work for you 😄

[2021-02-07 14:59] cosmicBboy commented on #399
Thanks for the pointers @Zac-HD! Also, just wanted to say I'm a big fan of `hypothesis`, it's made a huge difference in the way I test DS/ML code (indeed, pandera strategies simply wraps hypothesis for convenience)

The current implementation of check strategy chaining in pandera does heavily use `filter`, really as a first pass to offer this functionality. I'll look into using `composite` and `ma

[2021-02-07 15:05] cosmicBboy commented on #371
cool, I'm thinking of providing some built-in strategies for those simple cases and then providing an interface for custom strategies for users.

[2021-02-08 01:45] cosmicBboy commented on #404
thanks @Zac-HD!

Yes, this is something I noticed when building out the strategy wrappers, so currently `pandera` mostly filters elements where it can and only falls back to filtering whole columns/dataframes for user-defined custom checks that haven't been registered with a user-provided strategy via the [extensions API](https://pandera.readthedocs.io/en/stable/extensions.html).

Building off of

[2021-02-08 05:58] Zac-HD commented on #404
I wouldn't recommend this, as it skews the distribution *very* badly - you'll tend to end up testing the same forced-to-an-endpoint value essentially every time.

This is the "right way to do it", though it can also get complicated - which is why I've suggested that we do it upstream 😉

As it happens, there is!  I've just opened https://github.com/HypothesisWorks/hypothesis/pull/2853, and https://

[2021-02-09 03:34] Voyz opened #406 "Schema Versioning?"
#### Does Pandera support Schema Versioning?

I'd like to have a way to reliably version the schema using Pandera and I couldn't find anything in the documentation. I'd imagine this would look along these lines:

[code]

or

[code]

Then the validation along the lines of:

[code]

I know this could be achieved by storing various schemas in a dictionary and writing the versioning logic myself - I m

[2021-02-09 16:15] crypdick commented on #399
@cosmicBboy the solution you posted seems to break down when used with indexes. In particular, if you edit the  `"img_url": pa.Column(...)` part to

[code]

Then run `my_schema.strategy().example()` we get a `ValueError: Length mismatch: Expected axis has 7 elements, new values have 0 elements`. However, when we use it in `@given` it works fine.

[2021-02-09 16:37] cosmicBboy commented on #399
@crypdick do you have a stacktrace of the error? this is definitely a bug

[2021-02-09 16:46] jguffinib opened #407 "Lazy evaluation fails to identify series errors"
**Describe the bug**
When evaluating a pandas Series using a simple SeriesSchema, non-lazy validation correctly identifies problems but lazy validation does not do so.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

**Note**

[2021-02-09 16:57] crypdick commented on #399
@cosmicBboy sure, here you go:

[code]

[2021-02-09 16:58] jguffinib opened #408 "Lazy evaluation raises SchemaError instead of SchemaErrors"
**Describe the bug**
When performing lazy validation using a SeriesSchema, the error type raised is SchemaError instead of SchemaErrors when the name of the series does not match the name of the schema.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas.
- [ ] (optional) I have confirmed this bug exists on the

[2021-02-10 20:33] ktroutman commented on #406
To my knowledge, this is not a feature. There was some talk about adding a version meta feature #331, though I'm not sure where that stands.

Fwiw, I use the name attribute for such cases where I want to have closely-related schema versions, for example at different points of a data pipeline where features may have evolved.

[code]
But yeah, you still need to persist these on your own.

[2021-02-11 02:53] cosmicBboy commented on #408
thanks for submitting this bug @jguffinib, will take a look this weekend

[2021-02-11 02:54] cosmicBboy commented on #407
this is probably related to #408, will merge these two issues since the fix to both of these should probably be in one PR

[2021-02-11 02:54] #407 closed

[2021-02-11 03:15] cosmicBboy commented on #406
thanks for this question @Voyz, and that is a good suggestion @ktroutman!

I think before digging into this particular solution I'd like to understand the use case/problem statement implied by your proposal a little better.

So far, I let the versioning system (i.e. git) handle versioning of a schema, so whenever I update my schema definition those changes are tracked by git and I generally don't

[2021-02-11 07:30] Voyz commented on #406
Thanks for great answers @ktroutman and @cosmicBboy 😊

Sure thing, sorry for not being more specific before. I'm trying to tackle issue of outdated data, caused by either changes to schema definition, changing data sources or changes in underlying framework. Similarly to how the [`docker-compose` file](https://docs.docker.com/compose/compose-file/compose-versioning/) contains a version number that

[2021-02-12 01:44] cosmicBboy commented on #399
hey @crypdick #410 should fix the issue! there was a bug leading to the length mismatch where the generated df and index would not have the same length.

Will be merging into `master` probably by tomorrow. In the meantime, you can circumvent this bug by providing a value for the `size` parameter: `my_schema.strategy(size=<int>).example() `

[2021-02-12 13:24] crypdick commented on #399
Sounds great! Cc @daavidstein

[2021-02-12 18:06] #399 closed

[2021-02-13 15:14] cosmicBboy commented on #406
Thanks for the detailed explanation @Voyz, the problem statement is much clearer now!

I do have a few questions about the overall setup and assumptions of the example code you provided.

[code]

The implication here is that there's a `version` field in the csv where each row contains values like `1, 2, 3`, etc? I've never really encountered this way of versioning data before: what's the rationale

[2021-02-13 15:21] cosmicBboy commented on #408
@jguffinib #411 should fix both #407 and #408

[2021-02-13 16:14] cosmicBboy commented on #398
fixed by #402

[2021-02-13 16:14] #398 closed

[2021-02-13 16:14] cosmicBboy commented on #222
fixed by #401

[2021-02-13 16:14] #222 closed

[2021-02-13 18:54] cosmicBboy commented on #399
@crypdick let me know if you come across any other problems relating to this issue! we can reopen it if needed

[2021-02-13 20:04] cosmicBboy opened #414 "improve contribution instructions and expose in the docs"
#### Location of the documentation

NA

#### Documentation problem

Currently, the contribution documentation is in [github](https://github.com/pandera-dev/pandera/blob/master/.github/CONTRIBUTING.md) but it would be nice to also expose it in the online documentation.

Additionally, we also want to document the process of contributing:

Enhancements (New features)
- create a `feature/<my-feature>`

[2021-02-15 20:20] #341 closed

[2021-02-15 21:13] cosmicBboy commented on #408
fixed by #412

[2021-02-15 21:13] #408 closed

[2021-02-15 22:29] #414 closed

[2021-02-16 03:17] Voyz commented on #406
Sure - either way the data gets versioned.

Cool, thanks for the encouragement!

Yupp! I'm not sure either! I wanted to start this issue to figure out if this is already possible or would make sense at all - not that I'm endorsing this addition.

The reasoning for why built-in schema versions would be advantageous over a dict-based non-native support, is that from OOP perspective the schema versio

[2021-02-16 17:19] cosmicBboy commented on #297
fixed by #413

[2021-02-16 17:19] #297 closed

[2021-02-16 18:27] antonl commented on #383
Are there plans for making global checks serializable? I'd like to use `pandera` as a data definition on disk of sorts. Right now, global checks are just dropped when calling `to_yaml`. It would be nice to save them as keywords and look up from the extension API, but as far as I know, there is no way to do this.

[2021-02-16 19:24] cosmicBboy commented on #383
Hey @antonl, I had to double check, but any check registered via `extensions.register_check_method` should be serializable as a yaml file or python script, see this post I just made: https://github.com/pandera-dev/pandera/discussions/417.

I did find a bug in the current serialization implementation that errors out when providing `pandas_dtype` arguments that are not of type `PandasDtype`, so for

[2021-02-16 19:36] cosmicBboy opened #418 "schema serialization doesn't work for non PandasDtype types."
**Describe the bug**
Schemas that use python types, numpy dtypes, or pandas string aliases in the `pandas_dtype` argument can't be serialized. It currently only works if `PandasDtype` enum is used.

- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the latest version of pandas.
- [ ] (optional) I have confirmed this bug exists on the mast

[2021-02-16 20:46] antonl commented on #383
Hi @cosmicBboy!  Thank you for your quick reply, I really like the library! I've posted a test case to demonstrate what I meant in the discussion you've linked.

[2021-02-16 20:58] antonl opened #419 "`to_yaml` silently drops global checks"
**Describe the bug**
When attaching global dataframe checks to either `SchemaModel` or `DataFrameSchema`, the `to_yaml` call silently drops those checks.

- [x] I have checked that this issue has not already been reported.
- ~~[ ] I have confirmed this bug exists on the latest version of pandas.~~
- ~~[ ] (optional) I have confirmed this bug exists on the master branch of pandas.~~

**Note**: Plea

[2021-02-16 21:52] e-lo opened #420 "Import frictionless data table schemas and json-schemas"
**Is your feature request related to a problem? Please describe.**
Many common data standards are codified in json files. Using the same data schema file without having to translate it to [`yaml`](https://github.com/pandera-dev/pandera/pull/203) or into classes itself reduces inconsistency and errors and greatly speeds the up the ability to validate that a dataframe is, for example, a valid [GTFS

[2021-02-17 17:29] cosmicBboy commented on #419
mathanks @antonl!

It looks like this behavior is also true for columnar/index checks:

[code]

In this method `is_positive` won't be serialized.

I think there are a couple of ideas to come out of this problem:
1. support built-in dataframe-level checks as specified in https://github.com/pandera-dev/pandera/issues/383#issuecomment-759103344, which should also include support for serializing built

[2021-02-17 17:55] cosmicBboy commented on #420
thanks for this feature request @e-lo! Been keeping an eye out on the frictionless data ecosystem and was waiting for someone to have this use case :)

Out of curiosity, how do you use frictionless tables schema, json schema, and pandera in your workflow? It might help in fleshing out the solution to this issue.

Just to riff off of your described solution, here are some initial thoughts:

#### MV

[2021-02-17 19:36] e-lo commented on #420
**Desired use case**: when working with data with an expected structure codified in a schema file which defines a data standard, be able to validate the data that is read in using a pandera decorator which directly reference that [potentially external] schema file rather than hard-coding the schema.

Right now I'm not using pandera, but have been watching it to see if/when it would solve my use ca

[2021-02-17 19:37] e-lo commented on #420
Agree. The titles and descriptions are great for documentation but not necessary for usage.

[2021-02-17 19:39] e-lo commented on #420
Agree that this is tricky, because it relies on a structure of data - not just a single df. Original frictionless validator didn't do this either...but if this is the only thing I have to implement myself then that's fine ;-)

MVP implementation could just be a uniqueness check if it isn't already explicitly specified as a constraint?

[2021-02-17 19:41] e-lo commented on #420
I can take a hack at this if it is helpful, starting with frictionless (because I think it maps easier to dfs) - if you point me to the best list for pandera.

[2021-02-18 01:22] antonl commented on #419
I agree that (2) is not a good idea, so raising a `UserWarning` is a good approach. For the case that you'd want "reusable validators", the syntax along the lines of that discussed in #383 is great. I should have perhaps split out the `SchemaModel` case. I use them purely as a convenience, improving the `DataFrameSchema` is definitely a higher priority.

[2021-02-18 20:50] jeffzi commented on #420
On particular case related to json schema is mapping [OpenAPI](https://en.wikipedia.org/wiki/OpenAPI_Specification) [data models](https://swagger.io/docs/specification/data-models/) to a pandera schema. The pandera schema that validates data received from the REST API could be synced with the API definition itself.

OpenAPI data models are based on an extended subset subset of JSON schema.

[2021-02-18 21:24] jeffzi commented on #406
I'm working a lot with data coming from mobile applications, sent to our endpoints via json events. We do have a `version` field. Sometimes, the new version of the data schema is tied to a new version of the app. Not all users will update right away, if ever. In that we will receive a mix of events on multiple version. The endpoint leverages the ``version`` field to know which schema it should val

[2021-02-19 21:17] cosmicBboy commented on #406
Based on the discussion so far, it feels like the term "version" is overloaded, so I'll take a crack at disambiguating.

From https://github.com/pandera-dev/pandera/issues/406#issuecomment-777251536

I think it may be helpful to distinguish between software version and data version. The [pandera yaml schema](https://pandera.readthedocs.io/en/stable/schema_inference.html#write-to-yaml) does have a

[2021-02-19 21:22] cosmicBboy commented on #419
Cool! I just added this issue to the [0.8.0 release milestone](https://github.com/pandera-dev/pandera/milestone/8). Things are getting busy in the `pandera` project, and I won't have time personally to work on #383 and #419 for a few months. Let me know if you'd be down to contribute to these issues, and I can help guide you through env setup and parts of the codebase that need changing!

[2021-02-19 21:58] cosmicBboy commented on #420
Thanks @e-lo! Things are getting busy with pandera and I need to turn my attention to some other aspects of the project over the next few weeks, so your contribution would be much appreciated 🎉

I just added this issue to the [0.8.0 release milestone](https://github.com/pandera-dev/pandera/milestone/8), I think we can tackle the json schema and OpenAPI specifications in separate issues.

A good pl

[2021-02-19 22:05] cosmicBboy opened #421 "Import json-schemas and OpenAPI schemas"
**Is your feature request related to a problem? Please describe.**
The problem statement here is the same as the one articulated in #420

**Describe the solution you'd like**
Support the importing of [json-schema](https://json-schema.org/) and [Open API data models](https://swagger.io/docs/specification/data-models/) with the following interface:

[code]

For details on modules that would be invol

[2021-02-22 07:10] Voyz commented on #406
@cosmicBboy that's some great progress there, thanks for tackling this!

Naturally, you're right. In a sense though - in the reasoning I brought up each data version corresponds to a particular `my_data_processor`, so in a sense some version of the software. These are naturally disjoint from an actual version of the project itself, but it seems to me that there's both some overlap and some discrep

[2021-02-22 21:16] stevemarin opened #422 "Coercion Converting Non-String Object to String"
I'm trying to validate a DataFrame which has a column of `dict`s, and I'm also using Pandera to coerce some types.  Pandera version 0.5.1 worked as expected, but version 0.6.2 converts the object to a string.  I looked through the issues and docs and didn't see this discussed (unless I missed it!).  Which behavior is expected?  Am I missing something obvious here?

Thanks for Pandera, BTW!

[code]

[2021-02-22 22:02] cosmicBboy commented on #422
hey @stevemarin, thanks for submitting this bug! This is a regression with respect to the `pa.Object` enum value. Will make a fix for this.

Alternatively, you can specify `object` or `"object"` as the data type, and it should preserve the `dict` type:
[code]

[2021-02-22 22:20] stevemarin commented on #422
That did the trick and was simpler than my `ast.literal_eval` approach!  Thank you!

[2021-02-23 17:33] antonl commented on #419
@cosmicBboy sounds good. I can help out next week.

[2021-02-24 06:03] Zac-HD commented on #404
@cosmicBboy - we've just released our first filter rewriting, for `st.integers()`.

If you change the comparison and equality checks to use e.g. `functools.partial(operator.ge, min_value)` instead of a custom `less_than` function, it'll just work.  The downside is of course no keyword arguments or type annotations 😕

[2021-02-24 09:31] jdvala commented on #260
Has this been in consideration?

[2021-02-24 13:57] cosmicBboy commented on #260
Yes @jdvala, it still needs to be prioritized in the release roadmap, it's dependent on #369, which is a re-vamping of the pandera typing system, which should make this feature easier to implement.

[2021-02-24 14:09] cosmicBboy commented on #404
thanks @Zac-HD! will update the minimum `hypothesis` version and make these improvements.

Thats okay, currently we're using lambda functions for these right now, so we're not type-annotating anyway

[2021-02-24 23:52] #422 closed

[2021-02-25 17:53] #418 closed

[2021-02-25 21:50] cosmicBboy commented on #392
@ericmjl @jeffzi FYI I just placed this issue under the `sentinel` milestone, which is tracked under the corresponding [project](https://github.com/pandera-dev/pandera/projects/2), which describes the goals of this effort.

For now I wanted to release as package extension `pandera[profiling]` as opposed to a separate package (a) because I think the functionality is closely related to pandera as a

[2021-02-26 02:34] cosmicBboy opened #425 "Implement error report aggregator"
**Is your feature request related to a problem? Please describe.**

Currently, pandera `SchemaError` and `SchemaErrors` are geared towards the debugging workflow, which is useful when trying to figure out what's gone wrong one particular dataframe in a pipeline. However, pandera provides no support for more general reporting of schema errors in the context of:

- a unit or integration test suite.

[2021-02-26 02:46] cosmicBboy opened #426 "Implement CLI for pipeline profiling and reports"
**Is your feature request related to a problem? Please describe.**

Once pipeline profiling #392 and schema error report aggregation #425 are completed, we'll want a `pandera` CLI tool for accessing this functionality on the terminal to:
1. profile a set of modules to write machine/human-readable outputs showing
   - data flow graph of functions typed with pandera schemas
2. generate schema error

[2021-02-26 16:43] jstammers opened #427 "SchemaModel with nullable Config property fails to validate correctly"
**Describe the bug**
I'm trying to validate a data frame that contains null values in an integer column. However, I'm encountering a `SchemaError` when validating the data, even after specifying `nullable=True` in the Config class

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas.
- [ ] (optional) I have conf

[2021-02-26 16:52] cosmicBboy commented on #427
hi @jstammers, currently there isn't a `nullable` option at the schema model [`Config`](https://pandera.readthedocs.io/en/stable/generated/pandera.model.BaseConfig.html) (which maps onto the DataFrameSchema keyword options), but specifying additional constraints on [`Field`](https://pandera.readthedocs.io/en/stable/generated/pandera.model_components.Field.html) should work:

[code]

[2021-02-26 16:56] jstammers commented on #427
My mistake! I was following the docs [here](https://pandera.readthedocs.io/en/v0.6.2/schema_models.html#config) and assumed that because `coerce` was specified, other properties would map onto keyword arguments for `Field`.

[2021-02-26 17:17] cosmicBboy commented on #427
no probs! closing this issue

[2021-02-26 17:17] #427 closed

[2021-02-27 13:33] cosmicBboy commented on #369
hey @jeffzi, just wanted to bring your attention to the `visions` package:
https://dylan-profiler.github.io/visions/visions/getting_started/usage/types.html

It's written by the same people who wrote `pandas-profiling`, and it might be worth a look to see if it fits our needs here. If not it might nevertheless be a good source of inspiration/ideas.

[2021-03-01 21:16] jeffzi commented on #369
Thanks @cosmicBboy, I did not know about `visions`.

Before presenting my evaluation of `visions`, let me restate the goals of the dtype refactor:
1. Decouple pandera and pandas dtypes: opening up to other dataframe-like data structures
   in the python ecosystem, such as Apache Spark, Apache Arrow and xarray.
2. Built-in support for dynamic dtypes: e.g. categorical dtype implementations often hav

[2021-03-08 15:41] arielshulman opened #429 "Is there a way to generate informative error on custom checks?"
Hello,
I'm trying to create a custom check such as
```Check(lambda g: g.mean() >0.1, error="mean over 0.1")```
Is there a way adding more info to the error message such as `f"mean over 0.1 and the current mean is {g.mean()}"`?

Thanks 🙏

[2021-03-09 20:38] jeffzi commented on #429
Hi @arielshulman

At the moment that's not possible. How would you add the error message?

The first idea that comes to mind is to catch a pandera-defined exception `CheckError` that contains the message, on top of the usual boolean return value. The custom exception distinguishes a validation error from an other error in the code of the check function.

[2021-03-09 21:44] jeffzi opened #430 "DataFrameSchema.__eq__ fails when other object is not a DataFrameSchema"
**Describe the bug**
`DataFrameSchema.__eq__()` fails when the other object is not a DataFrameSchema.

- [ x] I have checked that this issue has not already been reported.
- [ x] I have confirmed this bug exists on the latest version of pandas.

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information

[2021-03-10 08:28] arielshulman commented on #429
Hey @jeffzi,

I think it's a good option, but it's involved with a lot of code refactor since then the `error` parameter becomes a bit dispensable.

Another option I thought of, is to make the `error` parameter optionally a callable which gets the Series/DataFrame, exactly like like the `fn` parameter and returns a string which will be the error message.

[2021-03-10 18:09] joshguffin opened #432 "Empty data type not supported for yaml serialization"
**Describe the bug**
Schema serdes requires a pandas data type to be present.  Not requiring this is useful to verify that the column is actually present in the frame.  This is similar to https://github.com/pandera-dev/pandera/issues/418, but includes support for None.  I have verified this failure exists as of 3e2fad0b64698d3a84a63af23e8f927632f5cefd.

- [x] I have checked that this issue has not

[2021-03-10 21:05] jeffzi commented on #429
Do you mean refactors on the user end?

With a callable you would most likely run the check again in that error function, only with a tiny modification to return the message.

[2021-03-11 19:55] arielshulman commented on #429
Yes, but maybe I didn't understand the exact way you meant the use of `CheckError`, could you elaborate please?

The way I see it, it will defenatly use part of the computation used for validation, so yes, you're right 🤗

[2021-03-11 23:23] khwilson opened #433 "Mixins with only dataframe_checks cause error in SchemaModel"
**Describe the bug**
When creating a `SchemaModel`, if it only contains `dataframe_check`s then the `to_schema` function fails when it tries to take `vars(config)`.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

#### Code S

[2021-03-12 05:01] khwilson commented on #433
First off, didn't get to say it in the formal report above, but thank you for putting your time into this wonderful library!

To business, it turns out the error turns out to be simpler. You can reproduce the error for any schema with no annotations. For instance, the following code snippet produces a similar error:

[code]

The issue seems to stem from this line: https://github.com/pandera-dev/pa

[2021-03-12 22:52] jeffzi commented on #433
Thanks @khwilson for the bug report and concise examples.

You are right, the problem comes from `__annotations` returning its super's annotations (i.e `SchemaModel`) if the class doesn't have annotations itself. `Config` is then misinterpreted as a missing field and overwritten.

I've just pushed a fix. I simply filter out annotations that starts with "_" and "Config", as it is done when collecti

[2021-03-12 22:55] jeffzi commented on #430
fixed by #431

[2021-03-12 22:55] #430 closed

[2021-03-12 23:09] jeffzi commented on #429
I was thinking of having 2 ways  of signaling a failing check:
1. Output a boolean or a Series of boolean values (current)
2. Raise a specific error with a message that pandera should report. This is similar to [pydantic validators](https://pydantic-docs.helpmanual.io/usage/validators/).

Example:
[code]

@cosmicBboy Do you have another idea?

[2021-03-12 23:19] khwilson commented on #433
Excellent! One quick comment on your solution, though: it's not common practice but I assume there will be times people have fields that start with `_`. Perhaps at least updating the documentation to reflect that?

And I'm happy to do a PR with the primary_key_mixin if you wanted to add it to the main library. I've been getting some decent mileage out of it. :-)

[2021-03-12 23:35] jeffzi commented on #433
Actually private annotations have always been ignored since `SchemaModel` was introduced. I realized now that it was not to specified in the [docs](https://pandera.readthedocs.io/en/stable/schema_models.html). I'll do that !

I think the primary key would be better as a recipe. It seems very specific for pandera itself, but @cosmicBboy might have another opinion. It would be nice if you could post

[2021-03-13 00:12] jeffzi commented on #432
Thanks for the bug report @joshguffin

There was a similar issue with `to_script`. I've just pushed a fix.

[2021-03-13 22:00] cosmicBboy commented on #433
thanks @khwilson for pointing this out!

+1, love how flexible this syntax is turning out to be :)

Thanks @jeffzi just ✅ your PR.

[2021-03-13 22:45] cosmicBboy commented on #429
Great discussion so far! I think coming up with a simple API for this is quite the puzzle...

The reason is that the whole premise of `check_fn` in `pa.Check(check_fn, ...)` is that it establishes a fairly simple contract of taking in a series, dataframe, or grouped series/dataframe and returns a boolean scalar or series/dataframe. I think this is one of the big selling points of features of pande

[2021-03-14 01:26] khwilson commented on #433
Thanks, y'all! Happy to start a discussion about the mixin!

[2021-03-14 08:38] arielshulman commented on #429
Thank you for the analysis.

In option (3) do you think the `agg_fn` could be an array of multiple aggregations, for example `series.mean()` and `series.std()`?

[2021-03-14 20:35] cosmicBboy commented on #432
fixed by #435 FYI @joshguffin this fix should be available in the soon-to-be-released `v0.6.3`

[2021-03-14 20:35] #432 closed

[2021-03-14 20:44] cosmicBboy commented on #429
yeah, the implementation for (3) at validation time (`Check.__call__`) would do something like:

[code]

So you can do something like
[code]

Or
[code]

Of course specifying an `agg_fn` would raise an exception if `element_wise == True` or `groupby` is specified.

[2021-03-15 22:32] jeffzi commented on #429
I totally agree :star:

I'm very much in that camp. I think it's worth breakdown my reasons to dislike `groupby`, since (3) is similar.
* For me, it's mot intuitive. At first, I expected `groupby` to result in a pandas groupby object, not a dictionary index by tuples.
* In my opinion, `groupby` encourages the use of complex inline lambdas (see [examples](https://pandera.readthedocs.io/en/stable/ch

[2021-03-17 12:30] arielshulman commented on #429
Why I 💛 Pandera over other methods I've tried, and as said by @cosmicBboy, is that everything is in front of your eyes when you look at the schema model.
It includes every column and it's checks, even if it has a custom check which not includes in pandera.
That's why I do like the `agg_fn` solution since it continues this state of mind.
We can think of `agg_fn` as pack of sub calculations layer (v

[2021-03-18 12:48] cosmicBboy commented on #433
fixed by #434

[2021-03-18 12:48] #433 closed

[2021-03-18 14:28] cosmicBboy commented on #429
Okay, letting these ideas marinate for a few days, I think we can decompose this into two separate issues:

### (I) more informative custom error messages

I think (2) is the simplest solution considered so far, however the problem that still bugs me about it is that it's only really useful in the case of checks that involve aggregations.

For example, how would we handle `CheckError`s in the case

[2021-03-19 23:10] jeffzi commented on #429
Both of you made very good points. I agree `CheckError` / Dataframe checks do not allow to report metadata and it is indeed a deal-breaker. I can also see why some users appreciate inline checks (thanks @arielshulman  for your input).

I like the idea of specialized Check classes. That would be much clearer than adding a growing number of options to `Check`. It would also be easy to understand tha

[2021-03-21 02:20] cosmicBboy commented on #429
One thing to point out here is that going this direction would also mean implementing `ElementWiseCheck` and `WideCheck` to disambiguate the function signature of `Check` (which would properly be called `ColumnCheck`. I actually remember why I went for keyword arguments instead of check subclasses: class proliferation is something I wanted to avoid by keeping a small API surface, and traded having

[2021-03-21 18:38] cosmicBboy commented on #369
Just adding my thoughts here @jeffzi for the record

Agreed! Let's go with our own class hierarchy, something like what we've discussed in https://github.com/pandera-dev/pandera/issues/369#issuecomment-757514810 and https://github.com/pandera-dev/pandera/issues/369#issuecomment-757514810

Would love this, we can tackle these once the major refactor for existing dtypes is done. (would also love a `

[2021-03-22 21:35] antonl commented on #383
@jeffzi @cosmicBboy I'm interested in working on this.

How would you support checks with multiple parameters?
[code]

[2021-03-23 01:22] cosmicBboy commented on #383
thanks @antonl, work on this would be much appreciated!

Currently the way these are handled for `Field` checks is with a dict.

[code]

So the `{"first": "a", "second": 2}` makes sense, although the `tuple` idea also makes sense, maybe that syntax should be supported too (thoughts @jeffzi?)

Another thought I had about this issue is I wonder whether built-in dataframe checks make sense to specify

[2021-03-23 13:52] tfwillems opened #439 "Use of CategoricalDtype in schema model does not validate that categories are correct"
First off, thanks for creating a tremendously useful project!

**Describe the bug**
When using a *CategoricalDtype* in my schema model and set of *categories*, I thought pandera would validate that the input column only contains allowable *categories*. However, it seems to allow values not specified in the schema.

- [x] I have checked that this issue has not already been reported.
- [x] I have co

[2021-03-23 15:32] tfwillems opened #440 "Add description argument to Field function for documentation purposes"
**Is your feature request related to a problem? Please describe.**
I'm a huge fan of the *SchemaModel* approach implemented in pandera, but I often want to add a description to each *Field* to further document it.  pydantic's [Field](https://pydantic-docs.helpmanual.io/usage/schema/#field-customisation) fn accepts *description* as an argument, and I've found it incredibly useful for
1) Directly co

[2021-03-23 22:02] jeffzi commented on #383
Agreed, we could interpret a tuple as positional arguments and dict as keyword arguments.

Regarding DataFrame-level checks (global checks). I'm reluctant to add another inner class. That's not very pythonic (as far as I know). `Config` was inspired by `pydantic` to increase adoption, and I couldn't find a better alternative.

`Config` mirrors `DataFrameSchema` arguments. Adding built-in checks wo

[2021-03-23 22:22] jeffzi commented on #439
Thanks @tfwillems, that's an excellent idea ! Generally speaking, we should leverage extra information contained in the dtype.

I'm working on a refactor of the dtype translation layer (#369). We can delegate the validation of dtypes to pandera's internal representation of the dtype. Each pandera dtype equivalent of native pandas dtype would implement appropriate validation.

Currently, you can us

[2021-03-23 22:26] jeffzi commented on #440
There was a discussion regarding description (and title) in #33 but it went stale.

[2021-03-24 03:14] antonl commented on #383
Regarding the inner class idea, I'm not a fan. Most python people don't even know you can declare classes like this.

How about keeping the same field syntax for cols/index and making a class decorator to enable this sugar,
[code]

The implementation would just attach a `_checks/checks` field to the type. Subclassing would just append to the field if it exists.

You could even enable something lik

[2021-03-24 11:59] tfwillems commented on #440
Hi @jeffzi,

Yes, that's precisely the implementation I had in mind! I'll close this as it's well-captured in #331. Apologies for not finding that related issue

[2021-03-24 11:59] #440 closed

[2021-03-24 12:01] tfwillems commented on #439
Great @jeffzi that would be fantastic! I'll leave this issue open until the dtype refactor addresses this

[2021-03-24 12:49] cosmicBboy commented on #439
@jeffzi would the [Annotated](https://pandera.readthedocs.io/en/stable/schema_models.html?highlight=dtype_kwargs#annotated) syntax also work here?

[2021-03-24 12:52] cosmicBboy commented on #419
fixed by #428

[2021-03-24 12:52] #419 closed

[2021-03-24 13:14] cosmicBboy commented on #383
I think for consistency of the `SchemaModel` interface, I'd like to keep two requirements:
1. the user doesn't have to worry about `Check` objects because checks are either built-in or expressed as methods decorated with `@check` or `@dataframe_check`.
2. minimize the surface area of how checks are expressed. Currently its with `Field(<builtin_check>=...)`, `@check` methods, and registering custom

[2021-03-24 20:16] mattHawthorn opened #442 "Add support for `pandas.BooleanDtype`"
I see that `pandera` now has support for the new extension dtypes added in pandas 1.0.0, but it appears that `pandas.BooleanDtype` (added primarily to support nullable boolean columns) is missing.

For example:

[code]

I suspect it wouldn't be hard to add a `pandera.BOOL` dtype, following the same convention as was followed in reflecting `pandas.Int8Dtype` with `pandera.INT8` and `pandas.StringDt

[2021-03-25 01:46] cosmicBboy commented on #442
hey @mattHawthorn! the pandera [pandas_dtype](https://pandera.readthedocs.io/en/stable/generated/pandera.schemas.SeriesSchema.html#pandera-schemas-seriesschema) also does accept any of the pandas extension types, including `pd.BooleanDtype()` or the uninstantiated `pd.BooleanDtype` (in the case of extension dtypes that don't take any arguments).

So this should work:
[code]

[2021-03-25 03:15] cosmicBboy commented on #439
Hey @tfwillems thanks for reporting this! I just made a PR #443 that you can check out (@jeffzi I added you as reviewer) that's a minimal implementation for doing what you need. With those changes your script should raise this error:

[2021-03-27 18:09] jeffzi commented on #369
I'm ready to share a proposal of dtype refactor. I iterated several times on the design and I have now a good base for the discussion. Full draft implementation is in [this gist.](https://gist.github.com/jeffzi/8ccb1c8c216b0e66ad1fc9ce6b2fc1e2)

Here are the main ideas:

1. `DataType` hierarchy that implements portable/abstract dtypes, not tied to a particular lib (pandas, Spark, etc.)
  * Its res

[2021-03-27 22:40] cosmicBboy commented on #369
great design work @jeffzi ! will read this and the gist over and chew on it for a few days.

[2021-03-28 01:18] cosmicBboy commented on #439
fixed by #443

[2021-03-28 01:18] #439 closed

[2021-03-28 07:34] m-richards opened #445 "SchemaModel inheritance field alias propagation"
**Describe the bug**
A clear and concise description of what the bug is.
In the particular case where a child SchemaModel defines no fields (e.g. the class body consists of `pass` or a config class only) , field alias names are not inherited from the parent.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas.

[2021-03-28 16:59] cosmicBboy commented on #445
thanks for submitting this bug @m-richards! #446 should do it, @jeffzi added you as reviewer, feel free to edit if there's a better solution, unit tests should catch this case now.

[2021-03-29 12:55] cosmicBboy commented on #445
fixed by #446

[2021-03-29 12:55] #445 closed

[2021-03-29 17:06] Hoeze opened #451 "Re-implement lazy-executable Pandas API for Pandera"
Usually, I write code like this:
[code]
and then I need a large amount of time to annotate the column types.

It would save me an indefinite amount of time if there would be an automatic schema inference like e.g. in PySpark.

**Describe the solution you'd like**
Like already done with DataFrameSchema.set_index() / reset_intex(), we could mirror the Pandas API for type inference:
[code]
Basically

[2021-03-30 12:02] crypdick opened #452 "Regex columns to synthesize >1 column"
**Is your feature request related to a problem? Please describe.**

We make extensive use of regex schema in our data pipelines. However, one big limitation of this schema is that `schema.example()` always returns a df with a single column:

[code]

Because of this, we cannot use this schema for Hypothesis data generation since some of our data pipelines must have at least 2 columns.

**Describe t

[2021-03-30 12:59] cosmicBboy commented on #452
the `n_regex_columns` argument should do the trick :)

- https://pandera.readthedocs.io/en/stable/generated/methods/pandera.schemas.DataFrameSchema.example.html
- https://pandera.readthedocs.io/en/stable/generated/methods/pandera.schemas.DataFrameSchema.strategy.html#pandera.schemas.DataFrameSchema.strategy

[2021-03-30 16:58] crypdick commented on #452
Thanks!

[2021-03-30 16:58] #452 closed

[2021-03-31 12:55] cosmicBboy commented on #429
### Action Items

- [ ] refactor `groupby` behavior to expect a pandas `Groupby` object
- [ ] add `agg` kwarg to `Check` that simply wraps [DataFrame.agg](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.agg.html) and [Series.agg](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.agg.html) depending on the schema context
- [ ] support callback func

[2021-03-31 13:42] tfwillems opened #453 "Extend SchemaModel so that it's a valid type in a pydantic model"
**Is your feature request related to a problem? Please describe.**
I'd like to include pandera *SchemaModel*s as a type within a [*pydantic*](https://pydantic-docs.helpmanual.io/usage/models/) model. pandera's *SchemaModel* best encapsulates a valid "type" for pandas data frames (as far as I'm aware), but it's currently missing a single classmethod that would make this possible. Ideally, we'd be a

[2021-03-31 20:42] jeffzi commented on #453
`SchemaModel` was inspired by pydantic. I think it only makes sense to be compatible with it. Pinging the big boss @cosmicBboy to make sure that's ok with him :)

That said, we need to use the same annotation as the [pandera.check_types](https://pandera.readthedocs.io/en/stable/generated/pandera.decorators.check_types.html?highlight=check_types) decorator, e.g . `pandera.typing.DataFrame[SimpleDF]

[2021-03-31 22:07] jeffzi commented on #451
Hi @Hoeze. If I rephrase your explanations, you want a schema whose data types would be continiously synced with a DataFrame.

Given the use of `compute()` in your example, I guess you mean "lazy" in the sense of Spark or Dask, where transformations do not compute their results right away. I'm not sure how it is related to the problem at hand. Could you clarify?

Could you detail your motivations

[2021-04-01 01:12] cosmicBboy commented on #453
sounds good to me, thanks @tfwillems !

[2021-04-01 13:01] cosmicBboy commented on #451
Thanks for the post @Hoeze! In addition to echoing @jeffzi's questions re: the intent/use case behind the lazy `compute()` method, I do want to emphasize the point he made:

I.e. pandera is meant to be an explicit specification for a dataframe's contents, types, and statistical properties, both for human understandability of data pipelines and enforcement at runtime. So any schema inference functi

[2021-04-01 13:26] Hoeze commented on #451
Thanks for your input @jeffzi and @cosmicBboy.
Let me try to clarify a bit my issue:
Currently, I write a complex data pipeline where the output schema depends on some variables.
Therefore, in order to know the output schema before actually running the whole pipeline, I manually write for every transformation an additional `schema()` function.
This `schema()` function takes exactly the same argume

[2021-04-01 13:37] cosmicBboy commented on #451
When you obtain the output schema, what do you use it for? Is it fed back into the pipeline to validate the data? Do you do this when you're developing a pipeline and want to bootstrap a schema to write out to its own python module to use in the pipeline itself? I'm still a little unclear what the context is and problem this solution is trying to solve, I think a toy code example of what you're tr

[2021-04-01 14:31] Hoeze commented on #451
When I know the output schema of a previous transformation, I can use it for implementing the next transformation.
Also, to solve edge cases in the transformation I need to know the expected output schema, so I can return an empty dataframe from it.
Finally, I need to know a fixed schema to prepare e.g. on-disk schemas or setup input dimensions in Keras.

I'm using Pandera to annotate the output s

[2021-04-02 01:04] cosmicBboy commented on #451
Okay, I think I'm starting to understand. So to re-state your use case, you want to be able to recover the schema of a `pd.DataFrame/Series` after several transformations (calls to pandas data transformation methods like `join`, `groupby`, `agg`, etc), even before actually executing those transformations on actual data for the purposes of:

Also, to solve edge cases in the transformation I need to

[2021-04-02 19:26] fkrull8 commented on #390
Hi is this feature still something you would like and be open to a PR for @cosmicBboy ? I've done this manually quite a bit and itd be nice to have built-in :)

At the dataframe level would you allow for a list of lists? Could one assume that the object will always be a pandas object and thus have access to dataframe/series-level attributes?

Any other considerations?

[2021-04-03 13:24] Hoeze commented on #451
Thanks @cosmicBboy, you perfectly summarized my issue.

In most case, the Pandas API has a stable return type independent of dataframe contents (e.g. min, max, join, groupby/agg, ...).
=> Just execute the transformation with an empty dataframe should give the desired schema.
For cases where the return type is not known beforehand, we could just drop an exception and tell the user that he needs to

[2021-04-03 18:55] TColl commented on #420
@e-lo and @cosmicBboy - I've had a quick go at building out frictionless compatibility in PR above - I'd appreciate any feedback if/when you have a minute!

[2021-04-03 19:31] cosmicBboy commented on #390
hi @fkrull8! yes a PR would be very much appreciated 🙂

The list of lists would be in the case of specifying multiple sets of columns that would be considered unique? I think that's a good idea! Feel free to add support for that to your PR.

We'll probably want to keep the `allow_duplicates` option in the `Column`, `SeriesSchema`, and `Index` classes for backwards compatability and forward the val

[2021-04-03 19:41] cosmicBboy commented on #420
thanks @TColl! let's go ahead and merge this into the `release/0.7.0` branch so we can make it available to users sooner

[2021-04-03 19:52] cosmicBboy commented on #331
Hey @tfwillems I saw you submitted #440, let me know if you're willing to make a PR for this :)

It should be pretty straight-forward to add these properties to all the relevant objects, since they don't touch the validation parts of the library.

[2021-04-05 05:30] TColl opened #455 "pre-commit using old pylint version"
**Describe the bug**
Pre-commit is currently using `pylint==2.6.0`, which results in [false-positive error cases](https://github.com/PyCQA/pylint/issues/3882#issuecomment-786194897) when using subscriptable type hints in python 3.9.

Per the comment linked above, this should be fixed by bumping pylint to >2.7 (or just committing the changes to `pre-commit autoupdate` to catch everything?)

- [X] I

[2021-04-05 14:58] tfwillems commented on #453
@jeffzi @cosmicBboy  I started working on a simple prototype for this that would replace *DataFrame* in [pandera.typing](https://github.com/pandera-dev/pandera/blob/master/pandera/typing.py#L90) but unfortunately ran into an issue.

Currently,  pydantic supports Generic classes as types, but if type argument(s) are supplied, it seems that they must also implement `__get_validators__()`. So this wo

[2021-04-05 20:06] jeffzi commented on #453
Pydantic wants to "recursively" validate attributes, which makes sense in most cases.

I agree 3. is the way to go. In our case, we could attempt a `SchemaModel.to_schema()` to ensure the model definition can be compiled to a DataFrameSchema.

Just a detail, but I think `DataFrame.validate` could be renamed to `_validate_pydantic()` to avoid confusion for pandera users. We'd also need to add a tes

[2021-04-06 20:10] jeffzi commented on #455
We should also have a nox session that reads the `.pre-commit-config.yaml` and verifies that versions are synced, similarly to the [nox session](https://github.com/pandera-dev/pandera/blob/3191be9c1237eb07780c5c4b50c245d3a767afb3/noxfile.py#L195) to verify that `setup.py` and  `requirements-dev.txt` are synced.

[2021-04-08 11:28] sfczekalski opened #456 "Allow a check to fail on specified fraction of rows"
First of all thank you for all your work on this amazing library!

I though of following enhancement: I believe it would be valuable to allow a check to fail for some configurable fraction of rows in the column. It would be valuable to be able to check if majority of the rows pass the check, not necessarily all of them.

**Is your feature request related to a problem? Please describe.**
Yes, I hav

[2021-04-08 12:55] cosmicBboy commented on #456
thanks @sfczekalski!

congrats on being the first to justify this issue #183 🙂! I'd be happy to discuss in there

[2021-04-08 13:11] cosmicBboy commented on #183
@sfczekalski let's discuss implementation details a little further here:

The big question is where to apply this option. Should it be at the level of the:
1. Check: this makes sense for checks with an output that has the same shape as the origin series/dataframe being validated

[code]

2. Column: how to apply different tolerances to the first-class checks?
   - allow a float between 0 and 1 (inc

[2021-04-08 14:55] sfczekalski commented on #183
@cosmicBboy

1. Fair point, totally agree with the `SchemaDefinitionError` being raised in the third example.
2. It makes sense for me!
3. What about `Dict[str, float]` dictionaries with column names as keys and tolerance floats as values?

[2021-04-09 17:01] ryanhaarmann commented on #369
Hi, I'm highly interested in the usage of `pandera` but support for PySpark dataframe/schemas is really needed. I would really like to see this make it into a release. I'm also willing to participate in creating the PySpark schema/types variant.

[2021-04-09 19:31] sfczekalski commented on #183
@cosmicBboy now I started wondering, if you mean that the `unique` option for `DataFrameSchema`, in the list of columns option, checks for uniqueness of all values in those columns when combined? If so, them my point above of course doesn't make much sense. In such situation I'd maybe make sense to allow the tolerance fraction to be duplicated, no matter if the duplicates are across the columns, o

[2021-04-10 15:00] cosmicBboy commented on #369
@jeffzi the implementation looks good to me overall!

I'm having a hard time grokking `PandasCategory. _to_pandas_category`... how is the first arg not `self`? I think it would be beneficial to be really explicit (in naming things in this module) about pandera abstract `DataTypes`, library-specific e.g. pandas types, e.g. `pd.CategoricalDtype`, and instances of pandas data types, e.g. `pd.Categori

[2021-04-10 20:10] cosmicBboy commented on #381
### Design Sketches

Currently, the schema and check classes conflate the __specification__ of properties with the __validation__ of those properties on some data. We want to separate these two concerns.

- `DataFrameSchema` collects all column types and checks and does some basic schema validations to make sure the specification is valid (raises `SchemaInitError` if invalid).
- `DataFrameSchema.v

[2021-04-10 20:56] cosmicBboy commented on #369
hey @ryanhaarmann, thanks that would be awesome!

we'd appreciate your thoughts on this issue, but also a closely related one: https://github.com/pandera-dev/pandera/issues/381. Namely, would it be enough to leverage a library like [koalas](https://koalas.readthedocs.io/) as a validation backend engine to perform validations on spark dataframes, or would you want access to the pyspark API when e.g

[2021-04-11 14:29] cosmicBboy opened #457 "check_types decorator output doesn't coerce"
**Describe the bug**

When using `@check_types` with a `SchemaModel` that has `coerce=True` set as the config, the output dataframe is not coerced to the specified types.

- [X] I have checked that this issue has not already been reported.
- [ ] I have confirmed this bug exists on the latest version of pandas.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

**Not

[2021-04-11 18:25] jeffzi commented on #369
It replicates the property [PandasDtype.numpy_dtype](https://github.com/pandera-dev/pandera/blob/3191be9c1237eb07780c5c4b50c245d3a767afb3/pandera/dtypes.py#L363). Pandas implementation will give back numpy or pandas dtypes, PySpark would give Spark types, etc. Currently, `PandasDtype.numpy_dtype` is only used for strategies. Generally speaking, it could be useful for specific `DataFrameSchema/Chec

[2021-04-11 19:36] jeffzi commented on #381
I think those operations can be handled by `DataFrameSchema`, provided that the engine exposes `get_columns(df)/set_columns(df)`. "columns" here refers to a list of `pandera.Column`.

We could merge the idea of `Backend` outlined in #369 with `ValidationEngine`. That would add the responsibility of registering dtypes.

Question: What to do with `pandera.Index`? Most DataFrame libraries don't have

[2021-04-14 13:09] cosmicBboy commented on #457
fixed by #458

[2021-04-14 13:09] #457 closed

[2021-04-14 13:20] cosmicBboy commented on #183
So for #390 the dataframe-level unique option would behave like this:

[code]

And to support at tolerance float there are several options:

1. A `dict` with `tuple` keys specifying columns and `float` values for tolerance

[code]

2. A list of 2-tuples where the first element is the column list and second is the tolerance value

[code]

3. A list of dictionaries with `column` and `tolerance` keys

[2021-04-14 22:11] jeffzi opened #460 "check_types decorator input doesn't coerce"
**Describe the bug**

Related to #457,  when using @check_types with a SchemaModel that has coerce=True set as the config, the input dataframe is not coerced to the specified types.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas.
- [ ] (optional) I have confirmed this bug exists on the master branch of pan

[2021-04-15 10:33] quancore opened #461 "Dynamical schema"
#### Question about pandera
Hi, I have a question. I have methods that accept a dataframe and column names related to specific task (like target column name for forecasting, index column name for time indexing etc.) so I have n predefined column names and column names are dynamical and argument of methods. How can I use a validator for such a case?

[2021-04-15 12:54] cosmicBboy commented on #461
hey @quancore this is a fun question! I've had this use case several times and here are the two ways I've implemented in the past:

1. if the dynamic (only-known-at-runtime) column names follow a particular pattern, you can still pre-define a schema using that pattern `Column(..., regex=True)`

[code]

2. create a function that takes as input som relevant args and outputs a schema dynamically. Bel

[2021-04-15 13:26] quancore commented on #461
Thank you for the fast answer. Unfortunately, my feature names as no common pattern so case 1 should not work. For case 2, I have also runtime-defined no-pattern index names. Is there any functionality like add_index etc?

[2021-04-17 14:09] cosmicBboy commented on #461
hey @quancore, yes there is the [set_index](https://pandera.readthedocs.io/en/stable/generated/methods/pandera.schemas.DataFrameSchema.set_index.html) method which is similar in behavior to [pandas.DataFrame.set_index](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.set_index.html?highlight=set_index#pandas.DataFrame.set_index), so you could set `append=True` to add mor

[2021-04-17 14:18] cosmicBboy commented on #461
also @quancore would you mind if I converted this into a [discussion](https://github.com/pandera-dev/pandera/discussions)? It may be easier to find in the future

[2021-04-17 16:37] sfczekalski commented on #183
I'd also opt for the first option as it's the most concise.

Yes, let me give an example:
[code]
The DataFrame has unique values in columns `col1` and `col2` when concatenated, it also has unique values in columns `col3`, `col4` when concatenated. Is this what you mean as well?

[2021-04-18 13:07] jeffzi commented on #156
Here are typing-related changes to make after dropping py3.6 support:
* [ ] Remove py3.6-specific logic in `pandera.typing.AnnotationInfo`
* [ ] Add `from __future__ import annotations` at the top of `test_model.py` and `test_decorators.py`
* [ ] Redefinition of `get_type_hints` at the top of `model.py`

[2021-04-18 13:09] jeffzi commented on #460
Closed by #464

[2021-04-18 13:09] #460 closed

[2021-04-18 13:12] jeffzi commented on #396
FYI @asford, #464 fixes delayed annotations and resolves the signature types during function wrapping.

[2021-04-18 13:12] #396 closed

[2021-04-19 20:43] quancore commented on #461
Yes of course.

[2021-04-20 01:44] #461 closed

[2021-04-20 15:38] quancore opened #466 "Less strict numerical type"
Is there any type that represents a numerical column (includes int, float etc.)?

[2021-04-20 20:20] schlich opened #467 "validate function should throw a more informative error for None"
**Describe the bug**
A clear and concise description of what the bug is.

- [ x] I have checked that this issue has not already been reported.
- [x ] I have confirmed this bug exists on the latest version of pandas.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

#### Code Sample, a copy-pastable example

[code]

#### Expected behavior
Should probably throw a Sch

[2021-04-20 23:32] schlich commented on #390
Would love to see this feature!!! Definitely needed for a Hypothesis strategy

[2021-04-21 13:13] cosmicBboy commented on #466
currently there's no way of specifying a "number" column since right now pandera adheres to pandas data types (and also in general python doesn't have a generic number type), although with @jeffzi's work on #369 you could make custom datatypes like this.

I'd recommend specifying a float since floats are a superset of integers.

[2021-04-21 13:19] cosmicBboy commented on #183
you mean `col3`, `col4`, and `col5` right?

yes, this is exactly what I'm thinking. I think we an scope this particular issue to cover:
- adding the `tolerance` argument to `Check` objects,
- support `float` between [0, 1] for the `nullable` and `allow_duplicates` key word arguments.

Once #390 is done we can make another issue to tackle the `unique` tolerance implementation at the dataframe-level

[2021-04-21 13:21] #442 closed

[2021-04-21 13:29] cosmicBboy commented on #466
oh, I guess another way of doing this would be to specify `pandas_dtype = None` and then use a `Check` to validate a number type:

[code]

[2021-04-21 21:40] jeffzi commented on #369
Quick update.

* renamed `Backend` to `Engine` :tada:
* simplified registration mechanism. You need to decorate a dtype with `Engine.register_dtype(akin: List[Dtype])`. It does 2 things:
  1. `akin` lists equivalent dtypes that can be directly mapped to the default constructor.
  2.  Look for `from_parametrized_dtype` an optional class method and register it. This method is used to convert from dt

[2021-04-21 22:00] jeffzi commented on #466
We could even have a built-in `Number` dype. Coercion would output floats or ints depending on the actual values (same as [pandas.to_numeric](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_numeric.html))

[2021-04-22 07:52] quancore commented on #466
I think we should add a built-in Number type that includes all kinds of integers and floats because we have huge datasets and checks with mapping would not be the best performant case. @cosmicBboy

[2021-04-22 13:01] cosmicBboy commented on #467
PR welcome!

[2021-04-22 13:18] cosmicBboy commented on #466
The higher-level data types are still TBD, but Number will most likely be one of them

In the mean time, the more performant thing to do would be

[code]

Not that it won't be as informative an error message (no indication of which element caused the check to fail).

[2021-04-22 13:19] #456 closed

[2021-04-22 17:51] quancore opened #469 "Copy Dataframe schema settings to another schema"
I am inheriting Dataframe schema to implement my schema validator and at some point, I need to fetch the state (columns, checks, etc.) of external schema and set it to my state. I could not found any method like _from_schema_ to copy given schema settings.

[2021-04-22 23:48] cosmicBboy commented on #469
can you provide a little more context around what you're trying to do? a small reproducible code example would help.

[2021-04-23 09:57] quancore commented on #469
So basically I have an derived class from `DataFrameSchema` and I need to copy the internat structure of other given `DataFrameSchema` . What I added right now  is that:

[code]
to my derived class. Is it seems okay to you in terms of internal state correctness etc.?

[2021-04-24 18:57] cosmicBboy commented on #369
I know tests that involve testing types is kinda all over the place, hopefully it won't be too much of a pain to refactor 😅.

One minor point: I don't any objective points to back this up, but `akin` feels a little esoteric to me. Alternatives to consider might be `equivalent_dtypes`, `equivalents`, or `members` (as in members of a set of types).

[2021-04-24 19:09] jeffzi commented on #369
At first I was going for "equivalent_dtypes" but it's very verbose and repeated many times. "equivalents" is perhaps a good middle-ground. English isn't my native language so I trust your judgment :)

[2021-04-24 21:55] cosmicBboy commented on #469
yeah, that should work fine!

[2021-04-26 06:09] schlich opened #470 "Integrate with Factory Boy? Or other solution?"
**Is your feature request related to a problem? Please describe.**
Mostly for the purposes of testing and example generation, I would like to see Pandera's `schema.example` function to incorporate patterns similar to [Factory Boy](https://factoryboy.readthedocs.io/en/stable/):

While this might seem at first like this is a less-thorough version of what Hypothesis does, the bolded part above outlin

[2021-04-26 14:19] cosmicBboy commented on #470
hi @schlich, thanks for opening up this discussion.

Before going ay further, are you aware of the [`strategy`](https://pandera.readthedocs.io/en/stable/generated/methods/pandera.schemas.DataFrameSchema.strategy.html) method? Calling it basically creates a hypothesis strategy object that generates data. In line with what `hypothesis` recommends, `example` isn't the recommended way of synthesizing

[2021-04-26 15:48] schlich commented on #470
I think the problem might come with the complexity of my dataframes -- i have upwards of 20 columns/index levels, many with dependencies on each other.  I began trying to approach my problem with strategies but not only did the strategies end up being very complex (for example, there is no existing check that multiindex rows are unique, or a check to [guarantee that each element from a list of cho

[2021-04-27 07:54] quancore opened #471 "Schema validation throws unexpected error"
**Describe the bug**
I have a codeblock given below. When I add a column named `wrong_dynamic_real_1` which has a same string value (every row of that column has the same string value: `static_val`) to schema, and try to validate `dataframe`,  it throws an error:
[code]

When I give `pandas_dtype` as `str`, it works as expected and fail on checks.
- [x] I have checked that this issue has not alrea

[2021-04-27 08:49] quancore opened #472 "Return groupby object optionally"
**Is your feature request related to a problem? Please describe.**
I have a Multiindex dataframe which some of columns have static features meaning that for each key group (part of multiindex), the feature value is constant. Therefore, I do not need a specific group but a check for each group. To check whether it holds:
[code]

**Describe the solution you'd like**
The code iterates all groups and

[2021-04-27 08:50] quancore commented on #466
@cosmicBboy I propose to add enhancement tag to this issue.

[2021-04-27 14:22] quancore opened #473 "Dataframe schema coerce question"
I have a DataFrameSchema following

[code]
And I would like to validate the dataframe dtypes given below:
[code]
According to my understanding, `dynamic_real_1` column should fail because the dtype of the column in dataframe schema is None and dataframe schema is set up for coercion dtypes, however, it validates the dataframe without raising any error. Am I missing something?

[2021-04-27 15:01] cosmicBboy commented on #473
The current semantics of `pandera` is that `pandas_dtype=None` means the column can be of any type, and coerce won't dod anything with this column.

[2021-04-27 15:08] cosmicBboy commented on #471
can you please provide a minimally reproducible example?

[2021-04-27 15:09] cosmicBboy commented on #472
working on this change as part of https://github.com/pandera-dev/pandera/issues/429#issuecomment-811045571

[2021-04-27 15:10] #469 closed

[2021-04-27 15:17] quancore commented on #473
But when I do type checking for other column `dynamic_cat_1` which is also None, it throws me an error:
[code]
As you said, I do not expect to fail in this column as well because the type in schema is None as well.

[2021-04-27 15:26] cosmicBboy commented on #473
can you provide a minimally reproducible example? hard to debug going off of error tracebacks

[2021-04-27 15:38] cosmicBboy commented on #473
for example:
[code]
output
[code]

It looks like maybe you're bypassing the `__init__` method schema checks?

[2021-04-27 15:41] quancore commented on #471
[code]
it may related to #473

[2021-04-28 21:04] quancore opened #474 "Indexes list includes Column type"
**Describe the bug**
When I append a third index to a multi-index dataframe schema, the first two index type become `Column` type rather than `Index`.

- [ x ] I have checked that this issue has not already been reported.
- [ x ] I have confirmed this bug exists on the latest version of pandera.

#### Code Sample, a copy-pastable example

[code]

Output
[code]

#### Expected behavior
I expect that

[2021-04-29 00:38] yyie opened #475 "Error after upgrade to 0.6.3"
Hi, after upgrading to 0.6.3 when I try to load a YAML schema I have receive the following error:

[code]

My YAML schema has some null checks like this

ID:
    pandas_dtype: int64
    nullable: false
    checks: null

How I should specify columns without checks?

[2021-04-29 02:07] cosmicBboy commented on #471
I think I found the bug! will push up a fix soon

[2021-04-29 21:38] yyie commented on #475
@jeffzi  thanks for your answer. It didn't find any documentation about the changes in the 0.6.3 schema. With your answer is clear to me what I need to do.

Regards!

[2021-04-30 02:15] cosmicBboy commented on #470
Thanks for continuing the discussion @schlich!

One thing I want to emphasize is that pandera's data synthesis capabilities are still in the early days, but there is one constraint that I think is important to preserve: the symmetry between defining a schema and generating data directly from the constraints defined in the schema itself. Of course the user can always decide to adapt a `DataFrameSch

[2021-04-30 02:22] cosmicBboy commented on #475
let's re-open this so that @jeffzi can reference it in the PR

[2021-04-30 12:37] cosmicBboy commented on #471
fixed by #476

[2021-04-30 12:37] #471 closed

[2021-05-01 02:15] cosmicBboy commented on #474
fixed  by #477

[2021-05-01 02:15] #474 closed

[2021-05-01 04:25] antonl commented on #383
Let me know if #478 looks acceptable, @cosmicBboy and @jeffzi! It's a little weird that we have to specify stuff on the Config class implicitly, but it is easy enough to implement.

We should perhaps have a "best practices" section in the doc that highlights the difference between methods decorated with `dataframe_check` and through Config. Do we recommend one or the other?

[2021-05-01 18:25] antonl commented on #470
As a side note, I've been using the dataframe checks for dependencies between columns. You can add your own using the extensions API as @cosmicBboy said.

That said, I think there's a fundamental mismatch between the bottom-up and filter approach that `pandera` takes and the top-down approach that would be required to generate dataframes with complex dependencies efficiently. That's not a bad thin

[2021-05-01 18:38] schlich commented on #470
Yes, I'm trying to see i can accomplish what i need to with the "group" options in the checks (the documentation here could use a little bit of a facelift IMO) but my guess is it will only take me about 50% of the way there... stay tuned!

[2021-05-02 14:56] jeffzi opened #480 "Registered checks with no statistics accept positional arguments"
**Describe the bug**
Registered checks with no statistics can be called with any positional arguments. The arguments are ignored.
That's confusing, especially in the context of a custom check listed in a `Field`.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.
- [x] (optional) I have confirmed this bug ex

[2021-05-02 15:49] jeffzi commented on #383
Best practices and cookbook sections would be great.

I kind of agree but `Field` can also implicitly swallow custom checks. Perhaps it feels less natural with the inner class `Config` because this mechanism is  uncommon.

An alternative to the inner class could be a special attribute `__config__` that must be assigned a `Config` class.
[code]
Just testing the water, I can open a discussion if any

[2021-05-02 17:39] fkrull8 commented on #390
Hi @cosmicBboy apologies I'm just getting around to this.

I have the dataframe level kwarg added and tested. However, adding the unique kwarg to the series object has proven to be more challenging. I'm not sure I understand entirely how the assignment is functioning for the SeriesBaseModel , as my implementation is failing two tests that check that copies of the object are being made.

What would

[2021-05-02 19:34] cosmicBboy commented on #390
hey @fkrull8 thanks for your efforts on this!

yes please create a PR against the `release/0.7.0` branch and I can help you push this through the finish line.

[2021-05-02 20:00] cosmicBboy commented on #466
adjusted the tags, here, PR is welcome after the fix for #369 is done

[2021-05-02 20:28] cosmicBboy commented on #470
great discussion!

okay, there are a few points that were brought up here worth decomposing:
1. the schema constraints should only provide a default data synthesis strategy that is potentially inefficient for more complex use cases.
2. for those complex use cases, there should be an elegant way for users to "bring their own strategy" at multiple levels of the pandera API.
   - the current `extensi

[2021-05-03 01:23] antonl commented on #383
Sorry I wasn't clear @jeffzi . I think the `Config` class is fine. I was just concerned that there are two ways to add dataframe checks (using methods and adding keys to Config), and they look totally different.

Also, the two ways have trade-offs: one is a one-off, but prevents serialization, and the other is global.

[2021-05-03 16:53] jeffzi commented on #475
fixed by #479 thank to @antonl

[2021-05-03 16:53] #475 closed

[2021-05-03 21:00] quancore opened #481 "Bug on re-adding removed column check"
**Describe the bug**
When I infer the schema, remove a column, and re-adding it again back to the schema, its checks have been failed even if the check is perfectly fine. Minimal example:
[code]
This works fine:
[code]

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.
- [x] (optional) I have confirmed this

[2021-05-03 21:42] quancore commented on #466
@cosmicBboy If adding Number type will take time, could you add a build-in check that can be serializable and suitable for data synthesis?

[2021-05-04 12:55] cosmicBboy commented on #466
hey @quancore you can register checks into the `pa.Check` namespace with the [extensions API](https://pandera.readthedocs.io/en/stable/extensions.html). I'd recommend doing that, as I don't think it makes sense to temporarily add a built-in check for this type if there will be a first-class representation of it in the new type system.

Let me know if you need any help with the strategy implementat

[2021-05-04 12:57] cosmicBboy commented on #481
hey @quancore what error are you getting? both cases work for me

[2021-05-04 13:00] cosmicBboy commented on #473
fixed by #476

[2021-05-04 13:01] cosmicBboy commented on #473
just making sure, @quancore is this issue addressed by #476? looks like a similar issue to the one you posted in #471

[2021-05-04 13:54] quancore commented on #481
@cosmicBboy Here is the error when I run the first case. I am using the latest pip version of the package (0.6.3), are you sure to use the same version?
[code]

[2021-05-04 17:00] cosmicBboy commented on #481
do you use conda or virtualenv? whichever one you're using can you provide the list of dependencies you're using in your env?

[2021-05-04 18:07] quancore commented on #481
I am using conda. Here is environment.yaml
[code]

here is the pip packages (requirement.txt)
[code]

[2021-05-04 20:29] quancore opened #483 "Better error message when validating pandas.MultiIndex with a pandera.Index schema"
**Describe the bug**
Trying to validate a MultiIndex data frame with a schema that Index has been set to single Index.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.
- [x] (optional) I have confirmed this bug exists on the master branch of pandera.

#### Code Sample, a copy-pastable example

[code]
Outpu

[2021-05-04 21:04] jeffzi commented on #369
Hi @cosmicBboy. I'm still working on this, aiming for a PR this weekend. Testing has been (very) time consuming!

[2021-05-05 01:04] cosmicBboy commented on #483
you need to use a `pandera.MultiIndex` object if you want to validate a `pandas.MultiIndex`. This error does point to the need for a better error message, will push a PR up for that.

[2021-05-05 01:21] cosmicBboy commented on #481
hmm, still unable to reproduce. Using a fresh conda env with the deps you listed:

[code]

output:
[code]

[2021-05-05 12:04] jesperbruunhansen opened #484 "Lazy validation is missing errors"
**Describe the bug**
When validating with the `lazy=True` flag Pandera does not seem to be catching all failure_cases the first time around.

1. I run `schema.validate(df, lazy=True)` on my DataFrame
2. I inspect the failure cases on the SchemaErrors `failure_cases` property to see where I have validation errors
3. I remove all the problematic rows (from index) from my DataFrame via `df = df.drop(

[2021-05-05 12:18] jesperbruunhansen commented on #484
Well, 5 min after posting this issue I found `n_failure_cases` on the `Check` class which by default is set to 10. If set to `None` ALL the failure_cases are now displaying.

For reference:
[code]

[2021-05-05 12:18] #484 closed

[2021-05-05 13:44] cosmicBboy commented on #484
@jesperbruunhansen yes this behavior is kind of unintuitive and one of those artifacts from the early days of the library.

Do you think `n_failure_cases` should be something configurable at the global level?

A couple of non-mutually exclusive options:

1. have a mechanism to configure these options like [pandas.set_option](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.set_opt

[2021-05-06 06:35] jesperbruunhansen commented on #484
Hi @cosmicBboy and thanks for looking into this.

Personally, I can say that I intuitively expected the framework to return ALL failure cases as default. For me it would make sense to set `n_failure_cases`  as `None` as pr. default, and then if people wanted less output they could set a limit?

All of the options you mention could be a potential solution, but for me it would OK to just invert the

[2021-05-06 10:06] jesperbruunhansen commented on #484
@cosmicBboy and one more thing - Are `n_failure_cases` also applicable for check like `nullable` which is not on the `Check` object?

[2021-05-06 16:21] antonl commented on #404
https://github.com/HypothesisWorks/hypothesis/releases/tag/hypothesis-python-6.12.0

[2021-05-07 03:55] Zac-HD commented on #404
Yep!  Support for floats is probably a month or two off, and then `text()`-filtering-by-regex sometime after that.

Unfortunately we'll never be able to "rewrite" length filters (😢), because it's possible that `len` would be redefined in the outer scope and then we'd give the wrong answer.  There are still some useful ideas to explore here, but they're all quite a lot of work and well in the futur

[2021-05-07 23:10] ablacklama opened #486 "Type issue on 'check"
**Describe the bug**
A clear and concise description of what the bug is.

- [ ] I have checked that this issue has not already been reported.
- [ ] I have confirmed this bug exists on the latest version of pandera.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandera.

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-report

[2021-05-07 23:10] #486 closed

[2021-05-08 15:24] cosmicBboy commented on #420
fixed by #454

[2021-05-08 15:24] #420 closed

[2021-05-08 15:29] cosmicBboy commented on #383
fixed by #478

[2021-05-08 15:29] #383 closed

[2021-05-08 16:43] cosmicBboy opened #488 "Refactor groupby behavior, add agg function to Checks, support error callback option"
**Is your feature request related to a problem? Please describe.**

This issue tackles several problems with the related theme of producing more informative error messages in `Check`s, see discussion in #429.

**Describe the solution you'd like**

The outcome of the discussion is described in https://github.com/pandera-dev/pandera/issues/429#issuecomment-811045571

- [ ] refactor `groupby` behavio

[2021-05-08 16:43] cosmicBboy commented on #429
Closing this issue, tracking changes discussed here in #488 488

[2021-05-08 16:43] #429 closed

[2021-05-08 16:54] cosmicBboy commented on #369
thanks @jeffzi, yeah I'm sure you're uncovering all the random places there are type-related tests in the test suite 😅

[2021-05-09 17:08] quancore commented on #481
It has been solved with the current version, thanks.

[2021-05-09 17:08] #481 closed

[2021-05-15 11:26] KyleRConway commented on #316
I'll work on this.

[2021-05-15 12:43] KyleRConway commented on #316
### My current understanding

Trying to replicate the functionality I feel like I must be misunderstanding something. My core understanding is the following:

1. For Pandera `Check` `ignore_na=True` by default (but you can specify anyway with `Check(..., ignore_na=True)`)
2. "[By default, Pandera drops null values **before** passing the objects to validate into the check function](https://pandera.

[2021-05-16 15:17] #473 closed

[2021-05-16 15:19] cosmicBboy commented on #162
closing this issue for now, can re-visit later if it still seems like a good idea

[2021-05-16 15:19] #162 closed

[2021-05-16 15:23] cosmicBboy opened #491 "Replace '%s' string formatting with f-strings"
For consistency in the code base, re-format all instances of '%s' string interpolation to use f-strings

[2021-05-16 15:37] #472 closed

[2021-05-16 15:56] cosmicBboy commented on #453
Hey @tfwillems just wanted to ping you about this feature, which I think would be very useful!

Let me know if you're still interested in making a PR and if there's anything we can do to help out!

[2021-05-16 16:05] cosmicBboy commented on #406
closing this discussion for now, @Voyz feel free to re-open if you had additional questions/ideas about this

[2021-05-16 16:05] #406 closed

[2021-05-16 16:11] cosmicBboy opened #492 "Add documentation for importing frictionless schemas"
#### Location of the documentation

The page doesn't exist yet. A new page titled something like "Importing Other Schema Formats" or something like that.

**Note**: You can check the latest versions of the docs on `master` [here](https://pandera.readthedocs.io/en/latest/).

#### Documentation problem

The frictionless schema support that was added here https://github.com/pandera-dev/pandera/pull/4

[2021-05-16 16:21] cosmicBboy opened #493 "create automated github action for producing ASV benchmarks"
the pandera ASV benchmarks are maintained in this repo: https://github.com/pandera-dev/pandera-asv-logs.

Currently, these need to be built manually given the instructions in the README. The purpose of this issue is to add a github action that automates this process.

[2021-05-16 16:23] #56 closed

[2021-05-16 16:35] lkadin commented on #491
Can I do this using flynt?

[2021-05-16 16:45] cosmicBboy commented on #491
yes, thanks! I do think it's set up as a pre-commit hook, but there are a bunch of cases that haven't been converted https://github.com/pandera-dev/pandera/search?q=%25s

[2021-05-16 16:45] cosmicBboy commented on #491
assigned this to you @lkadin

[2021-05-16 17:55] benkeesey commented on #311
Can I do take this?

[2021-05-16 18:00] cosmicBboy commented on #311
- https://github.com/pandera-dev/pandera/blob/master/pandera/schemas.py#L110-L115

[2021-05-16 18:08] lkadin commented on #491
Just created the PR.

Regards

Lee Kadin
E-mail: ***@***.***
Direct: 954-243-4101

On Sun, May 16, 2021 at 12:46 PM Niels Bantilan ***@***.***>
wrote:

[2021-05-16 18:15] jekwatt commented on #483
Let me take a look at this issue.

[2021-05-16 18:16] cosmicBboy commented on #483
- error is happening here: https://github.com/pandera-dev/pandera/blob/master/pandera/schema_components.py#L365-L381
- schema component tests: https://github.com/pandera-dev/pandera/blob/master/tests/core/test_schema_components.py

[2021-05-16 19:22] cosmicBboy commented on #316
hey @KyleRConway thanks for taking a closer look at this!

This issue definitely needs some clarification/edits. The issue you're experiencing is pretty much the motivation behind improving the docs to explain this behavior better.

In a nutshell, there are two options related to null values in pandera:

1. [Column nullable](https://pandera.readthedocs.io/en/stable/generated/pandera.schema_compone

[2021-05-16 19:35] benkeesey commented on #311
Things should all be updated in the PR, I did not edit these pa.DataDtypes as I wasn't sure what the best replacement should be. Please let me know if these should also be changed.

"pa.DateTime"
https://github.com/pandera-dev/pandera/blob/master/pandera/schemas.py#L114
&
https://github.com/pandera-dev/pandera/blob/master/docs/source/lazy_validation.rst#L64

"pa.Category"
https://github.com/pander

[2021-05-16 19:42] cosmicBboy commented on #311
cool, thanks! we can leave `pa.DateTime` and `pa.Category` for now.

[2021-05-17 11:46] lkadin commented on #491
I don't understand the errors from the CI.
Can you explaining?

Regards

Lee Kadin
E-mail: ***@***.***
Direct: 954-243-4101

On Sun, May 16, 2021 at 12:46 PM Niels Bantilan ***@***.***>
wrote:

[2021-05-17 14:20] cosmicBboy commented on #483
hey @jekwatt just checking in, let me know if you have any questions or need help with anything!

[2021-05-19 14:29] jekwatt commented on #483
@cosmicBboy I tried to follow your convention.  Can you take a look to see if any changes to be made?

[2021-05-20 12:57] cosmicBboy commented on #483
the changes look good @jekwatt, thanks! Feel free to go ahead and make a pull request so we can merge this onto the `dev` branch.

[2021-05-20 20:00] jekwatt commented on #483
@cosmicBboy In reviewing the contributing guidelines, I realized the branch name should be `bugfix/483`.  I can rename the local/remote branch before making a PR.  Please comment.

[2021-05-21 13:16] cosmicBboy commented on #483
the naming is just a recommendation so no need to do that before submitting a pull request :)

before doing that though, you'll have to rebase your changes onto the `master` branch so that your branch is up-to-date with some changes I made to fix the documentation build. Let me know if you need any help with that!

[2021-05-21 18:23] jekwatt commented on #483
Thanks.  I can rebase onto the 'master`.

[2021-05-27 15:49] bfmcneill opened #501 "Add documentation for type coercion behavior"
#### Question about pandera

Is there a place in the docs that explains the difference between Coerce at column level vs coerce at schema level?

[code]

[2021-05-27 15:53] bfmcneill opened #502 "option to specify default value upon validation coercion"
## **Describe the solution you'd like**
During schema validation it would be helpful to not only coerce the data type but to also have the option to fill in NaN

## **Describe alternatives you've considered**
This could be achieved through pandas dataframe manipulation but it would be pretty slick to have an option to default column value as part of the schema validation

## **Additional context**

[2021-05-27 17:53] jbechtel opened #503 "Regex not applied as expected"
**Describe the bug**
Regex column validation doesn't work as expected. For example, columns `['col1_test', 'col2_test']` fail to match regex pattern `'col*_test'`.

[code]

#### Code Sample, a copy-pastable example

[code]
results in
[code]

#### Expected behavior
I'd expect `col*_test` to match both `['col1_test', 'col2_test']`

[2021-05-27 18:01] jeffzi commented on #503
Hi @jbechtel. In your example, it should be `.*` (or `\d*`) and not a unix wildcard `*`.

[2021-05-27 18:05] jbechtel commented on #503
Ah, thank you! Ignore me...

[2021-05-27 18:05] #503 closed

[2021-05-29 15:54] cosmicBboy commented on #501
hey @bfmcneill the current behavior is that `DataFrameSchema(coerce=True)` will override the coerce setting at the column/index level.

This is not currently explicitly documented anywhere. It would probably belong [here](https://pandera.readthedocs.io/en/stable/dataframe_schemas.html#coercing-types-on-columns) right after

And also in the docstring [here](https://github.com/pandera-dev/pandera/bl

[2021-05-29 16:07] cosmicBboy commented on #502
Thanks @bfmcneill this is a good idea! This highlights the difference between parsing and validation: parsing modifies values to fulfill certain assumptions while validations just check that those assumptions are true, e.g. [pydantic](https://pydantic-docs.helpmanual.io/) is primarily a parsing library while pandera is primarily a validation library.

The only parsing that pandera today is through

[2021-06-02 00:58] ablacklama opened #507 "Support for columns with only NaN values as non-float type"
I have csv's that have entire columns that are empty. But they still have types that i'd like to check. The problem is that pandas will read these as float columns and thus they'll fail to validate as their given type in pandera unless that type is float.

Say i have `data.csv` with a column `bool_col` that is entirely empty on file.
[code]

This will throw a validation error because pandas with a

[2021-06-02 01:39] cosmicBboy commented on #507
hey @ablacklama, glad you're finding pandera useful!

you can use the pandas-native [`BooleanDtype`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.BooleanDtype.html), which supports NaNs, in the schema definition that has `coerce` set to `True`:

[code]

This seems like an issue with pandas:
[code]

[2021-06-02 01:56] ablacklama commented on #507
Thanks, that works great!

[2021-06-02 01:56] #507 closed

[2021-06-04 06:59] kacky24 opened #509 "check_types decorator cause error with typing.Literal"
**Describe the bug**
A clear and concise description of what the bug is.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.
- [  ] (optional) I have confirmed this bug exists on the master branch of pandera.

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-repor

[2021-06-04 13:31] cosmicBboy commented on #509
thanks for pointing this out @kacky24! https://github.com/pandera-dev/pandera/pull/510 should fix it

[2021-06-04 13:36] kacky24 commented on #509
Thank you!

[2021-06-04 20:52] Anders-E opened #511 "Improve warning message when using the same Column object multiple times in DataFrameSchema"
#### Question about pandera

When using Pandera, I've tried to reuse `Column` objects for multiple rows. However, since there are side effects on any `Column` objects used in the `DataFrameSchema` constructor, I find myslef having to do a workaround using lambdas.

For example, the following code triggers a warning:

[code]

#### Output
[code]

Whereas the following code runs with no issues:

[cod

[2021-06-06 15:50] cosmicBboy commented on #511
hey @Anders-E, the user warning you're seeing is because _checks_ should be reusable but by assigning a `Column` object to a variable

[code]

You're basically re-using the entire column definition for two different columns (a `Column` is a schema-like object that holds metadata about the column, not a `Check`). There are several ways of applying the same set of checks to a group of columns. I'll

[2021-06-08 20:46] Anders-E commented on #511
Thank you for the very detailed reply @cosmicBboy !

This is indeed very helpful for my use cases, and I particularly like the solution using `functools.partial`.

So long story short, `Column` objects are not supposed to be reused. Do you think it would be a good idea to elaborate on this in the user warning?

[2021-06-10 09:42] juliuscrn commented on #425
Would be extremely useful indeed. I'm currently using PandasSchema because it gives me a report, instead of raising exceptions. Raising an exception kind of implies that it is a show stopper, but I just want to know how my data deviates from the schema.

[2021-06-10 14:04] cosmicBboy commented on #425
hey @juliuscrn thanks for your input! Just FYI I won't be able to get to this task for some time, and will require some design work to figure out the best UX for this feature.

out of curiosity, what does your validation workflow look like? The core model of pandera is that schemas enable type-checking of dataframes, so `schema.validate` returns the validated dataframe, not a report of errors.

If

[2021-06-11 21:33] juliuscrn commented on #425
@cosmicBboy  thanks! that function works like a charm, and I would say it is very much worth it to expose it as a method. The information it provides is already very useful.

Getting UX right is important indeed. One thing that I like having (and which is also not available in pandas-schema) is an id column. For example, in addition to 'index' I would be able to use one of the columns to act as an

[2021-06-14 13:27] gbargibant opened #513 "lazy validation for multiple checks per column"
#### Question about pandera

Hello,

I noticed that if you have multiple checks for one column (with failures for each check) and performing lazy evaluation, only the first check is reported in the SchemaErrors.

[code]

Here, only col1;check1 and col2:check3 will be present in the SchemaErrors.

Is it possible to lazy validate all the checks in the list, for each column?

Also, when raise_warning

[2021-06-15 21:51] crypdick commented on #381
Any ETA on Modin support?

[2021-06-16 13:31] cosmicBboy commented on #381
hey @crypdick once #504 is merged (should be in the next few days) I'll going to tackle this issue.

The plan right now is to make a `ValidationEngine` base class and `PandasValidationEngine` with native support for pandas, modin, and koalas.

I've done a little bit of prototyping of the new validation engine but still needs a bunch of work... I'm going to push for a finished solution before scipy

[2021-06-16 14:50] cdagnino opened #515 "Ability to make checks with lambda functions on nullable int columns (Pandas' `Int64`)"
Suppose I have a dataframe with a nullable `int` column (`Int64` in pandas instead of the non-nullable `int64`)
and a nullable `float` column:

[code]

Which gives

|   | x1   | x2  |
|---|------|-----|
| 0 | 2    | 1.0 |
| 1 | 3    | NaN |
| 2 | <NA> | 2.1 |

If I try to use a `lambda` function to check the `x1` column

[code]

then I get a not so informative error message. In particular, I don't

[2021-06-16 16:00] tfwillems opened #516 "@pa.dataframe_check fails to identify issues in rows with NAs"
**Describe the bug**
When using the @pa.dataframe_check for a custom *SchemaModel*, validation is not correctly performed on rows if their any of their columns contains NAs/None. These columns need not be defined in the *SchemaModel* and need not be referenced with the decorated validation function.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bu

[2021-06-16 16:42] tfwillems commented on #516
Looks like I missed the mark here ... adding *ignore_na=True* to `@pa.dataframe_check` solved all of my issues.

[2021-06-16 16:42] #516 closed

[2021-06-18 15:21] leonoverweel opened #518 "Column with type pd.DatetimeTZDtype(tz="UTC") does not validate time zone"
**Describe the bug**
A clear and concise description of what the bug is.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandera.

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-report

[2021-06-18 17:22] cosmicBboy commented on #518
hey @leonoverweel! it's because `coerce==True`, which means pandera will try to coerce the dtype of the specified column, so if you do this the error raised as expected:
[code]

[code]

[2021-06-20 20:02] cosmicBboy commented on #515
hey @cdagnino, I'd recommend using built-in checks or explicitly handle na case in lambda function `element_wise=True`. The issue you're coming up against is happening because the element-wise function doesn't know how to operate on null values.

Some solutions are:
[code]

[2021-06-21 12:01] leonoverweel commented on #518
Oh wow, I feel a bit silly now!

When I was playing around with this earlier I thought I couldn't get it working without the `coerce=True` at all, but I just tried it again and it works exactly as expected.

Thanks for the quick reply @cosmicBboy; I'll close this issue.

[2021-06-21 12:01] #518 closed

[2021-06-22 13:44] cosmicBboy commented on #513
hi @gbargibant can you please provide a minimally reproducible code snippet? (i.e. something one can copy-paste that reproduces the behavior you're seeing)

[2021-06-22 14:27] gbargibant commented on #513
Hello, I updated my issue. Thank you.

[2021-06-22 16:44] cdagnino commented on #515
hi @cosmicBboy , thanks for the solutions!
What do you think should be the result of this issue though?
Should the answer be that there won't be a change, but maybe the error message should be improved?

[2021-06-23 11:20] Christoph-1 opened #521 "Integer as column names"
#### Question about pandera
Through aliases and regex it is possible to check for an arbitrary number of column names whether they are valid. The column names are strings. In the below example all integers above 0 are valid column names.

[code]
Is there a similar check if the column names are integers? I have a data frame with an arbitrary number of columns whose names are integers and I want to

[2021-06-23 12:00] jeffzi opened #522 "SchemaModel does not support empty data type"
`SchemaModel` does not support annotations without a data type, which is supported by `DataFrameSchema`.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.

#### Code Sample, a copy-pastable example

[code]

#### Expected behavior
`SchemaModel` should match the `DataFrameSchema` API and the data type should

[2021-06-23 12:11] jeffzi commented on #521
You can use the `strict` argument to ensure that all and only the columns defined in the schema are present in the dataframe:

[code]

Unfortunately, the `SchemaModel` api does not support the omission of data types. I've just opened an issue about it and will work on its resolution (#522).

If all your columns have the same type, this will work with current version:
[code]

[2021-06-23 12:33] SebbanSms commented on #521
@jeffzi I think the question is about a case where the column names are of type int instead of string that represent integers:

import pandas as pd
import pandera as pa

df = pd.DataFrame({1: [0]})

schema = pa.DataFrameSchema(
    columns={r"\d+": pa.Column(regex=True)},
    strict=True,
)
schema.validate(df, lazy=True)

# Traceback (most recent call last):
# ...
#     schema.validate(df, lazy=Tr

[2021-06-23 12:52] jeffzi commented on #521
@SebbanSms In that case, the problem is that `regex=True` implicitly requires the DataFrame columns "index" to be of of type `str`.

I think it would be possible to cast to type str [here](https://github.com/pandera-dev/pandera/blob/a0813b7d85c5564fa98554196d459477ca2d272f/pandera/schema_components.py#L248). @cosmicBboy Do you anticipate side effects?

[2021-06-23 13:04] SebbanSms commented on #521
@jeffzi how would casting to string work only for the validation using the @check_types decorator?

Also if there are already string integers:
`df = pd.DataFrame({1: [0], '2': [0]})`
the DataFrame should still raise an exception. In this case only for the column name `'2'` but not of the `1`.
Context: The code following working with the checked DataFrame expects the numbered column names to be of

[2021-06-23 13:16] cosmicBboy commented on #522
hey @jeffzi I don't think this addresses the question in #521... tho I think it would be a nice feature to have, so feel free to make a PR for it!

[2021-06-23 13:19] SebbanSms commented on #521
So far we came up with this work around to also perform some checks on the integer columns:

[code]

Some tests:
[code]

results:
[code]

[2021-06-23 14:15] cosmicBboy commented on #521
hey @Christoph-1 @SebbanSms this is an interesting use case that pandera currently doesn't support very elegantly, the workaround you posted is the direction I was about to suggest!

Non-string column names do seem like an important thing to validate as part of a schema, currently the pandera assumes (i) for `regex=True` that all column names are strings and (ii) non-string column names are known

[2021-06-23 15:57] SebbanSms commented on #521
@cosmicBboy looks like a good solution. You would need to change the implementation of the `alias` arg to accept type as input for this to work, right?

I'd propose to also be prepared for other pivot tables (in matrix format) as well, to also allow a list of column names as well.

E.g. if we have a DataFrame that has some price columns for products over time:
| date       | mp3_player | smartphon

[2021-06-24 13:49] cosmicBboy commented on #521
btw, if you know the column keys before hand you can do this with `DataFrameSchema`:

[code]

The code is more concise but the problem remains that the schema object is sort of over-specified with duplicated column objects.

Thinking about this problem more, I feel like piggy-backing on `alias` is a little bit of a hack... I think we can boil the problem down to pattern matching (sort of like in t

[2021-06-24 19:10] internetofjames opened #523 "check_types decorator does not work on methods"
- [✅ ] I have checked that this issue has not already been reported.
- [ ✅] I have confirmed this bug exists on the latest version of pandera.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandera.

I am using the latest `pandera` version 0.6.4. I noticed while using `SchemaModel`s that the `pandera.check_types` decorator does not validate annotated arguments of a metho

[2021-06-24 23:36] bphillips-exos opened #524 "pa.dataframe_check causes generated data to be invalid"
Hi, below is a minimal example of the question / possible bug. Is it expected that after adding a `dataframe_check` in `SchemaWithDFCheck` that the schema no longer generates valid data according to the `field` column checks? This example is still somewhat non-deterministic, please let me know if there is a better way than `@seed(10)` to get reproducible results.

I do get a warning when running t

[2021-06-25 00:06] jeffzi commented on #521
Correct me if I'm wrong, but it sounds like there are 2 distinct problems:
1. Selecting column names based on the type of the **name**: only string column names are allowed at the moment.

2. Selecting columns based on their **dtype** (content) , in order to apply specific checks to integers for example.

Regarding, 1. What's the use case for a mixed type column index? I'm guessing that situation

[2021-06-25 07:04] SebbanSms commented on #521
Sorry, my wording was not very precise there. I actually meant if columns share the same `Field`, so the same checks.

Coming back to the price per product and time example:
I may want to check that all prices are greater than zero, have no extreme fluctuation on a daily basis, and so forth.
So I rather meant columns that carry the same type of data (not all columns having the same `dtype`)
All pr

[2021-06-25 09:38] daavidstein opened #525 "DataFrameSchema with column of type pa.Float will raise SchemaError on validating DataFrame with float32 column"
**Bug description**
`DataFrameSchema` with column of type `pandera.Float` will raise `SchemaError` on validating DataFrame with `float32` column

#### Minimal Failing Example

[code]

#### Expected behavior
Given that the pandera [documentation](https://pandera.readthedocs.io/en/stable/generated/pandera.dtypes.PandasDtype.html#pandera.dtypes.PandasDtype) states that `pandera.Float` corresponds to

[2021-06-25 11:22] spencervoorend commented on #525
Thanks for raising this, been encountering it myself.

[2021-06-25 12:06] jeffzi commented on #525
Technically the documentation is correct, `numpy.float_` is an alias for the default float size. Pandas behaves similarly.
Pandera follows pandas' defaults. On my system:
[code]

At the moment, Pandera only does strict dtype validation. Perhaps the documentation should be clearer?

That said, I do think it would be helpful to be allow size-agnostic float, int and complex dtypes. For context, we ar

[2021-06-25 12:23] jeffzi commented on #521
You can already select a list of column names with a regex:
[code]

I forgot to mention that a drawback of my `Selector` proposal is that we'd need an argument `pa.Field(selectors=...)`, similar to @cosmicBboy 's `matches`. In my opinion, it's not worth introducing `matches` if it just enables the seemingly uncommon case of mixed typed column names.

[2021-06-25 12:53] cosmicBboy commented on #521
okay, now I'm confused... @SebbanSms @Christoph-1 can you please re-state the use case?

From my understanding, you want to:
- select columns based on the column _name_ type, NOT the column _content_ data type.
- make sure those selected columns are some type _other than string_

[2021-06-25 13:37] cosmicBboy commented on #525
@daavidstein the approach pandera takes is to (a) err on the explicit side rathen than the implicit (a validation library with too much magic seems like an oxymoron 🙂) and (b) to be consistent with pandas/numpy behavior, so `pa.Float` is basically an alias of `float, "float", np.float_`, which defaults to `float64`. This is behavior consistent with numpy and pandas.

[code]

Currently I'd recommen

[2021-06-25 15:29] cristianmatache commented on #523
I found a temporary work-around - use keyword arguments.

[code]

[2021-06-25 22:35] jeffzi commented on #523
Thanks for the bug report and clear examples. The issue seems to be that the implicit positional argument `self` is not re-injected when calling the method after having validated its inputs. https://github.com/pandera-dev/pandera/blob/a0813b7d85c5564fa98554196d459477ca2d272f/pandera/decorators.py#L506

@cosmicBboy I can take care of that.

[2021-06-25 23:26] NathanCastroPacheco opened #527 "Validate function run on DataFrameSchema with lazy=True doesn't report all error schema violations"
**Describe the bug**
A clear and concise description of what the bug is.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.
- [x] (optional) I have confirmed this bug exists on the master branch of pandera.

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-report

[2021-06-26 14:16] cosmicBboy commented on #524
this is certainly a bug, thanks for catching @bphillips-exos! looking into it

[2021-06-26 14:19] cosmicBboy commented on #509
@kacky24 this'll be availabe in the next bugfix release `0.6.5` in the mean time you can do a [dev install](https://github.com/pandera-dev/pandera#development-installation)

[2021-06-26 14:19] #509 closed

[2021-06-26 14:22] cosmicBboy commented on #527
hey @NathanCastroPacheco thanks for the report, I think this is related to #513, looking into it 👀

[2021-06-26 15:34] cosmicBboy commented on #527
#528 should fix your issue, although I can't confirm this directly, if you can provide a copy-pastable minimally reproducible example I can confirm that the change solves the specific issue you're encountering

[2021-06-27 14:30] cristianmatache commented on #523
First, a few quick reminders:
- In Python, methods take "self" (i.e. the instance) as the first positional argument (`classmethods` can be thought of as instance methods on a metaclass). That is, regular methods are class methods are bound while static methods are unbound.
- In Python, [Descriptors are a powerful, general purpose protocol. They are the mechanism behind properties, methods, static

[2021-06-27 17:51] cosmicBboy commented on #513
fixed by #528

[2021-06-27 17:51] #513 closed

[2021-06-27 17:51] cosmicBboy commented on #527
fixed by #528

[2021-06-27 17:51] #527 closed

[2021-06-28 06:08] JoyMonteiro commented on #252
Hello,

just checking if this functionality can be implemented using available APIs in pandera, or we have to wait for this PR to land.

TIA,
Joy

[2021-06-28 13:34] SebbanSms commented on #521
@cosmicBboy In our specific case making sure that columns that have a positive integer as column name share the same checks would be enough.

___

Sorry once again for the imprecise language. With this I meant columns that should have the same checks (e.g. checks for all price per product columns)

Thanks for the example on how to do this with a list of string columns in combination with regex, I'

[2021-06-28 14:26] internetofjames commented on #523
Thanks all -- I appreciate the good discussion and quick work! `pandera` looks to be a very promising tool and I am excited to see where the future takes it! 😎

[2021-06-28 15:40] NathanCastroPacheco commented on #527
Sorry for the delayed response. I hope you had a good weekend. #528 didnt fix the issue as can be verfied by the code snippet below
[code]

[2021-06-28 15:49] NathanCastroPacheco opened #531 "Validate function run on DataFrameSchema with lazy=True doesn't report all error schema violations (reopen)"
**Description:**
Not all rows whose value(s) violate a defined schema are being reported when schema.validate(df, lazy=True) is run. In cases where the value causing the violation is identical between consecutive rows only the first row is reported in pa.errors.SchemaErrors.failure_cases (reopening of #527)

I apologize for my delayed response for #527 and am opening a new issue in hopes that you

[2021-06-28 19:55] alex-tully opened #532 "validate function run on DataFrameSchema w/ lazy=true doesn't report all violations on non nullable column"
**Describe the bug**
When a column is set to non-nullable and a nullable value is supplied in the data frame then no further validations are executed for that column and all failure cases are not reported for that column. I am hoping you'll tell me that I am doing something wrong :smiley:

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on

[2021-06-29 07:01] alex-tully opened #533 "coerce=True does not report row index"
**Describe the bug**
When `coerce=True` is set on a Column it does not report the index of the row that cannot be coerced and it doesn't report all rows that couldn't be coerced

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.
- [x] (optional) I have confirmed this bug exists on the master branch of pander

[2021-06-29 12:29] BakerAugust opened #534 "Parameterized dtype DatetimeTZDtype failing when used as a strategy?"
#### Question about pandera
Hi there, Thanks for the package. Love what you are doing with this project. I'm posing this as a question because I am unsure if this is a bug, an implemenatation error on my end, or expected behavior.

I am trying to use the parameterized dtype `pd.DatetimeTZDtype` in a `SchemaModel`. When using the resulting `SchemaModel` to validate other dataframes it works as expe

[2021-06-29 12:49] cosmicBboy commented on #521
cool, so next step for this issue is:

[2021-06-29 18:18] cantos688 commented on #534
I noticed this issue today as well. I'm not sure if from_str_alias supports datetimes with timezones. I get this same error with infer_schema function call on a dataset that has UTC timestamp listed as string alias as 'datetime64[ns, UTC]'.

[2021-07-02 08:14] suned opened #538 "How to define a strategy function for a custom wide check"
I'm attempting to implement a dataframe level custom check for one-hot encoding for a subset of the columns in a dataframe. I'm interested in using the resulting schema to create a hypothesis strategy, so to that end I'm writing a strategy function as described [here](https://pandera.readthedocs.io/en/latest/extensions.html#specifying-a-check-strategy). A minimal example:

[code]

Since the `is_on

[2021-07-02 14:11] cosmicBboy opened #539 "add backwards compatibility measures for type engine"
**Is your feature request related to a problem? Please describe.**

The purpose of this is to minimize backwards compatibility issues incurred by the new type engine:

**Describe the solution you'd like**

1. Add back the `Column(pandas_dtype=...)` kwarg (to exist alongside `dtype` arg)
   - user cannot specify both `pandas_dtype` and `dtype`
   - if using `pandas_dtype`, `DeprecationWarning` is r

[2021-07-02 14:27] cosmicBboy commented on #252
hi @JoyMonteiro this functionality won't be available for another few releases... supporting parsing is something I want to design carefully, the code sketches above are likely not going to be what the final implementation looks like.

To help with the design process, can you describe what your parsing use case is?

[2021-07-02 15:52] JoyMonteiro commented on #252
I see. thanks for letting me know.

We are trying to build a tool to assist in cleaning/curating data. It would consist of a UI probably made with [panel](panel.holoviz.org/) where the user uploads an excel file. This file will be parsed and cleaned (to some extent)
in the backend and all rows/columns which don't pass validation checks will be highlighted and displayed to the user.

This would lik

[2021-07-03 13:50] cosmicBboy commented on #534
hey @BakerAugust thanks for filing this issue! looking into it now

[2021-07-03 13:51] #525 closed

[2021-07-04 23:00] d-chambers opened #542 "Pydanitc-style validators"
Hi,

I just found pandera and I am  *very* pleased with the pydantic style support for dataframes. However, one feature that is missing is [validators](https://pydantic-docs.helpmanual.io/usage/validators/), which, in pydantic, are different from pandera's checks in that they can change/correct values or raise validation errors. From my understanding pandera's checks must always return a boolean i

[2021-07-06 13:07] Anders-E commented on #511
@cosmicBboy Do you think the user warning could be improved (see my comment above)? If not I think this issue can be closed.

[2021-07-06 13:52] cosmicBboy commented on #511
hey @Anders-E, a contribution on that front would be very welcome. I think better than improving the warning message, we can make this case invalid:

- in `DataFrameSchema.__init__`, check whether a `Column` object is used more than once
- if so, raise a [`SchemaInitError` ](https://pandera.readthedocs.io/en/stable/generated/pandera.errors.SchemaInitError.html#pandera.errors.SchemaInitError) sayin

[2021-07-06 14:21] Anders-E commented on #511
I think that's actually a better idea yes, cause I really can't see why you would want to proceed with using the same `Column` multiple times.

Do you mind if I go ahead and implement it?

[2021-07-06 14:52] cosmicBboy commented on #542
hi @d-chambers, I'm glad you're finding pandera useful!

Yes, completely agreed that the parsing functionality of pydantic is a super useful feature to have.

See #252 for previous discussion about this topic. pydantic and pandera's designs do sort of differ in that pydantic is a parser first, a validation library second, while pandera is primarily a validation tool (with type coercion being the o

[2021-07-06 18:01] cosmicBboy commented on #252
# Pandera Parsing

As referenced in #542, imo pydantic's `validator` decorator is a bit of a misnomer, as what it's doing is (i) _parsing_ raw data values and (ii) emitting an error in the case of invalid ones (the validation bit).

We can map (ii) easily onto pandera's concept of checks, which return booleans mainly to indicate which elements in the dataframe failed the check... ultimately a `Sch

[2021-07-06 18:02] cosmicBboy commented on #511
yes, please do! make sure to base your changes off of the `dev` branch and make a PR against that branch when it's ready!

Also be sure to check out the [contributing guide](https://pandera.readthedocs.io/en/stable/CONTRIBUTING.html) for recommended ways of setting up your local env, running pre-commit hooks, and tests.

Let me know if you have any other questions!

[2021-07-06 21:22] cosmicBboy commented on #523
fixed by #530

[2021-07-06 21:22] #523 closed

[2021-07-07 07:06] Anders-E commented on #511
Thank you very much and thank you for the quick replies!

[2021-07-07 22:23] jeffzi commented on #252
I think your proposals are not incompatible:

* (1) and (2) are called **after** validation and hand in the failed cases. The later is a desirable  feature missing from (3), (4).
`SchemaErrors.failure_cases` itself is a bit rough imo.

* (3) and (4) are called **before** validation.

At my work, I created a function that splits out failed cases after validation so that they can be stored and debug

[2021-07-07 23:00] cristianmatache opened #544 "Enable decorators on coroutines (async functions/methods)"
**Problem**
Current decorators don't work fully on coroutines. They can validate inputs but not outputs of coroutines (because calling a coroutine without `await` yields a coroutine object not the actual result of the function). By comparison, pydantic allows validation on async functions: https://pydantic-docs.helpmanual.io/usage/validation_decorator/#async-functions

**Solution**
I am already wo

[2021-07-08 14:43] cosmicBboy commented on #252
cool, thanks for your feedback @jeffzi, I think it makes sense to distinguish between pre-processing and post-processing. re: naming, I think `parse` is a perfectly suitable name for converting data from a raw form into a clean form... in fact, pydantic even makes that distinction:

And there was even an [issue](https://github.com/samuelcolvin/pydantic/issues/578) discussing the renaming of `valid

[2021-07-08 21:26] jeffzi commented on #252
I understand your reasoning about the `parser` name, thanks for clarifying. I completely agree with the flow you described :+1:

Agreed. The `error` columns actually contains all errors related to the row, in a json line format. If an error is schema-wide, the error is duplicated in every row... That's a bit hacky and very specific to my use case. A pandera-native solution should not have so stron

[2021-07-09 07:45] peter1456 opened #545 "Is Lazy Validation in DataFrameSchema not evaluating all checks in the column intended?"
Hi, I'm new to the dev community of pandera, and I have question regarding to the behaviors of the lazy validation in `DataFrameSchema` and `SeriesSchema`.

#### Method to Reproduce

For Lazy Validation in `SeriesSchema`, all checks listed in the `checks` parameter were checked, e.g. when running the following code snippet:

[code]
the `failure_cases` would capture all failed checks in the series

[2021-07-10 20:11] cosmicBboy commented on #539
fixed by #547

[2021-07-10 20:11] #539 closed

[2021-07-10 20:35] cosmicBboy commented on #545
hey @peter1456 thanks for the question! this issue should be fixed by #535 and #528, it's still in the `dev` branch and should be out in the `0.6.5` release! In the mean time you can try the development installation: https://github.com/pandera-dev/pandera#development-installation

[2021-07-10 20:36] #545 closed

[2021-07-11 06:14] m-richards commented on #393
Just wanted to say I think having `to_model` would be really nice to have. I've been using the SchemaModels side of panderra quite a bit and really like having the type annotation style validation. Recently I've been using the transformation features of DataFrameSchema and would love to be able to define SchemaModels from these to keep on using type annotations as I have been (check_io is fine, it

[2021-07-11 22:57] jeffzi opened #549 "[Dtype refactor] Document access to pandas native dtype"
In pandera 0.7.0, `DataFrame.dtypes` returns a dictionary `Dict[str, pandera.DataType]`. In 0.6.X it was a dictionary of string aliases.That behavior can be reproduced in 0.7.0 by applying `str` to a `pandera.DataType`. Most pandas dtypes can be constructed from a string alias. One notable exception is `pandas.CategoricalDtype` whose alias is "category" no matter the categories supplied.

There is

[2021-07-12 01:55] #491 closed

[2021-07-12 02:20] cosmicBboy commented on #521
just updated the tags on this issue @Christoph-1 @SebbanSms, let me know if either of you would be interested in making a contribution!

[2021-07-12 13:06] cosmicBboy commented on #532
fixed by #550

[2021-07-12 13:06] #532 closed

[2021-07-12 13:06] cosmicBboy commented on #531
fixed by #550

[2021-07-12 13:06] #531 closed

[2021-07-12 13:16] cosmicBboy commented on #524
fixed by #550 @bphillips-exos this should be out in the next 0.6.5 release!

[2021-07-12 13:16] #524 closed

[2021-07-12 14:11] cosmicBboy commented on #544
fixed by #546

[2021-07-12 14:11] #544 closed

[2021-07-12 14:19] cosmicBboy commented on #483
fixed by #500

[2021-07-12 14:19] #483 closed

[2021-07-12 14:38] alex-tully commented on #532
@cosmicBboy thanks for fixing, do you know when this will be released?

[2021-07-12 14:59] cosmicBboy commented on #532
Should be by end of this week!

On Mon, Jul 12, 2021 at 10:38 AM alex-tully ***@***.***>
wrote:

[2021-07-12 15:01] peter1456 commented on #545
Hi @cosmicBboy, thank you for your reply! Definitely would try the development installation and it should fix the problem.

[2021-07-12 15:03] cosmicBboy commented on #545
oh, you'll also have to check out the `dev` branch to get those changes

[2021-07-12 21:01] cosmicBboy opened #555 "fix CI issue with Windows python 3.7, 3.9 suspected problem with pyarrow string representation"
**Describe the bug**
A clear and concise description of what the bug is.

- [X] I have checked that this issue has not already been reported.
- ~~[ ] I have confirmed this bug exists on the latest version of pandera.~~
- ~~[ ] (optional) I have confirmed this bug exists on the master branch of pandera.~~

#548 introduced support for pandas==1.3.0 pyarrow-backed string representation. This led to a

[2021-07-12 21:29] #521 closed

[2021-07-13 13:42] cosmicBboy opened #556 "figure and fix slow tests using hypothesis in python 3.7"
**Describe the bug**
A clear and concise description of what the bug is.

- [X] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.
- [X] (optional) I have confirmed this bug exists on the master branch of pandera.

For some reason the `tests/strategies/test_strategies.py` module takes a much longer time to run in p

[2021-07-13 16:39] mattHawthorn opened #557 "`DataFrame`-level row-wise checks on a `DataFrame` with a `MultiIndex` fail with `TypeError` and fail to print failure cases"
This block fails to handle the case when `failure_cases` is a `DataFrame` with a `MultiIndex` on the index. The call `failure_cases.rename("failure_case")` with a single string argument only works for `Series` objects.
https://github.com/pandera-dev/pandera/blob/2c30d13a8192ba55ad46fbeacbe4d8df8a66cb17/pandera/error_formatters.py#L76-L88

- [ x] I have checked that this issue has not already been

[2021-07-15 14:40] cosmicBboy commented on #542
closing this, merging with #252

[2021-07-15 14:40] #542 closed

[2021-07-15 14:55] cosmicBboy opened #561 "Add better support for custom strategies"
**Is your feature request related to a problem? Please describe.**

Currently, custom strategies are supported via the [extensions API](https://pandera.readthedocs.io/en/stable/extensions.html). It would be nice to have a way for the user to completely override the strategy-compilation process that pandera uses under the hood.

**Describe the solution you'd like**

Add a global attribute at the sc

[2021-07-15 15:06] cosmicBboy opened #562 "Create schema from a pandas-profiling ProfileReport"
**Is your feature request related to a problem? Please describe.**

Pandera's current schema inference routine is pretty basic, and while it would be good to improve this implementation, it would also be nice to be able to convert a [pandas-profiling report](https://pandas-profiling.github.io/pandas-profiling/docs/master/index.html) into a pandera schema

**Describe the solution you'd like**

Crea

[2021-07-15 19:53] jcQuartic opened #563 "A setter method missing for the `ordered` attribute of `DataFrameSchema`"
**Is your feature request related to a problem? Please describe.**
The `ordered` attribute is not able to be modified by `schema.ordered = False` since it does not have a setter decorator.

**Describe the solution you'd like**
Add a corresponding setter decorator in the `DataFrameSchema` class:
[code]

[2021-07-16 22:01] cosmicBboy commented on #563
thanks for this feature request @jcQuartic! added some tags to get some contributions

[2021-07-17 15:06] cosmicBboy opened #565 "Create google colab and binder "try pandera" example"
**Is your feature request related to a problem? Please describe.**

Currently, trying out pandera requires installing it in some environment locally. It would be nice to be able to quickly try it out on a google colab and/or binder notebook

**Describe the solution you'd like**

1. Create a notebook in `pandera/examples` directory. This notebook should support binder and google colab environments

[2021-07-17 16:38] vinisalazar commented on #563
Hi!

I'd like to work on this, if that's okay. Will attempt a PR shortly.

Best,
V

[2021-07-17 17:03] jekwatt commented on #178
@cosmicBboy  I use `pandas` a lot and I would like to create tutorial examples from some of my more generalized use cases.  In doing so, I hope to have a better understanding of `pandera`.

[2021-07-17 17:06] cosmicBboy opened #566 "Fix regex selection examples"
#### Location of the documentation

https://pandera.readthedocs.io/en/latest/dataframe_schemas.html#column-regex-pattern-matching

#### Documentation problem

The regex patterns in the above section are incorrect. e.g. `num_var_*` should be `num_var_.+`, since `*` means [something else in regex](https://docs.python.org/3/howto/regex.html)

#### Suggested fix for documentation

Replace these regex

[2021-07-17 17:08] cosmicBboy commented on #178
sounds good @jekwatt! I'd recommend creating a `tutorials` directory in the root `pandera` repo and creating a jupyter notebook in there.

[2021-07-17 17:50] ak1920 commented on #178
@cosmicBboy, I would like to contribute to the tutorials and understand how to implement panderas in regular use with pandas DF.

[2021-07-17 17:55] cosmicBboy commented on #178
great, thanks @ak1920 !

[2021-07-19 02:17] #563 closed

[2021-07-23 09:31] jgirault-qs opened #577 "pa.errors.SchemaErrors.failure_cases only returns the first 10 failure_cases"
**Describe the bug**
A clear and concise description of what the bug is.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera. **0.6.5**
- [ ] (optional) I have confirmed this bug exists on the master branch of pandera.

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-

[2021-07-23 10:03] jgirault-qs commented on #577
Update: looked a bit deeper into the code of pandera, turns out it's the variable `pandera.constants.N_FAILURE_CASES` that decides this behaviour. Setting the value to `None` made all the indexes show up as expected.

However, I think this constant should be configurable (turn this issue into an improvement maybe) and it's behaviour should be made explicit in the doc [https://pandera.readthedocs.i

[2021-07-24 21:25] cosmicBboy commented on #577
hi @jgirault-qs thanks for pointing this out! there are two things here to improve the experience:

1. add documentation to document the behavior of `n_failure_cases`
2. set the default for `n_failure_cases` to None.

Let me know if you're interested in making a contribution to any one (or both 😃 ) of these items!

[2021-07-25 11:07] Patil2099 commented on #577
I would love to pick this up

[2021-07-25 15:31] #492 closed

[2021-07-25 15:33] cosmicBboy commented on #577
cool, thanks @Patil2099! Head over the the [contributing guide](https://pandera.readthedocs.io/en/stable/CONTRIBUTING.html) to see how to set up your dev environment

[2021-07-25 18:50] #566 closed

[2021-07-25 19:25] cosmicBboy commented on #557
fixed by #560

[2021-07-25 19:25] #557 closed

[2021-07-26 15:11] EricCBonet commented on #484
Hi @cosmicBboy first off, awesome library, thanks for the hard work!

I agree with @jesperbruunhansen that inverting the logic from what it is now i.e. all failure cases are returned but we can specify a maximum number for failure cases through `n_failure_cases`, would be a nice solution.

[2021-07-28 11:25] vivek89007 commented on #533
Has this bug got fixed? Even I am facing this issue...Is it possible to resolve this bug?

[2021-07-28 11:30] vivek89007 commented on #533
@vshulyak @antonl @admackin Can you please help us resolve this bug?

[2021-07-28 12:04] vivek89007 opened #582 "unable to use error="Custom Error" in in_range function"
unable to use error="Custom Error" in in_range function

[2021-07-28 12:05] vivek89007 commented on #582
@cosmicBboy Can you please help me resolve this?

[2021-07-29 01:16] antonl commented on #533
I’m not sure this is a bug, but rather a feature request.  @cosmicBboy can confirm, but the way validation works right now is to just report the series coercions that failed, not *why* it failed. You can see that [here](https://github.com/pandera-dev/pandera/blob/a0813b7d85c5564fa98554196d459477ca2d272f/pandera/schemas.py#L317), where the error is reported using the scalar formatter.

You’d have t

[2021-07-29 01:48] vivek89007 commented on #533
I have also found that while coercing if it fails, it also doesnt report
the nullable values correctly with indexes for that column if null values
are present in the column and nullable = False..

Is this a correct behavioir?

Thank You.

Vivek Shukla.

On Thursday, July 29, 2021, Anton Loukianov ***@***.***>
wrote:

[2021-07-29 02:19] cosmicBboy commented on #533
Agreed with @antonl, this is not a bug but a feature request, which would probably be useful to have, though there is the efficiency tradeoff mentioned here

I'm in support of supporting this feature, I'll look into how to do this as efficiently as possible after the `0.7.0` release.

[2021-07-29 02:20] cosmicBboy commented on #582
This behavior is intentional, as the built-in checks already define this argument: https://github.com/pandera-dev/pandera/blob/master/pandera/checks.py#L747

Can you please explain your use case?

[2021-07-29 02:31] cosmicBboy commented on #533
Not sure I understand, can you provide a minimally reproducible example?

[2021-07-29 12:53] pedroallenrevez opened #583 "Serialization to YAML with custom checks (statistic has a different type than the variable itself (datetime, pandas freq))"
**Describe the bug**

Stacktrace
[code]
I am trying to serialize a schema with a custom check.
I have tried both `.to_yaml()` and `to_script()`

Above is the produced stacktrace.
`stat` is the statistic from the custom check decorator, which is not from the same datatype as the column.
Here the statistic has to be different than the type of the variable.
Is there any way to decouple this?

- [x] I

[2021-08-02 13:52] #533 closed

[2021-08-05 18:24] riosatbms commented on #425
I agree PandasSchema give a better error reporting indicating the row and column where the error has occurred.
It would be of great value if we could iterate through the errors and format a report based on a user designed error report template.

[2021-08-05 18:47] cosmicBboy commented on #425
@riosatbms this is currently possible with lazy validation, see [here](https://pandera.readthedocs.io/en/stable/lazy_validation.html)

The `pa.errors.SchemaErrors` object has a `failure_cases` attribute, which itself is a dataframe containing two columns, `index` and `column`, which indicates where in the dataframe the error occurred. The `failure_case` column also indicates the specific error cas

[2021-08-06 01:48] #583 closed

[2021-08-06 02:07] cosmicBboy commented on #549
I think the `schema.dtypes` change breaks backwards compatibility, but I think that's okay. If I recall correctly this feature was introduced before coercion existed, so users can do something like `dataframe.astype(schema.dtypes)`, but with coercion I don't think this use case is super common.

Let's revisit the `native_dtypes` idea if the use case comes up in the future. Closing for now!

[2021-08-06 02:07] #549 closed

[2021-08-12 11:38] padlam001 opened #586 "Support for JSON schema"
**Is your feature request related to a problem? Please describe.**
I need to call a 3rd party library by passing a large pandas dataframe. I also need to validate the dataframe before passing that across. The 3rd party library provides JSON schema for the dataframe. My current validation gets slow as the dataframe gets bigger. Switching to pandera is an option but I need to convert JSON schema to

[2021-08-15 13:22] cosmicBboy commented on #586
thanks for the feature request @padlam001, this is a duplicate of #421, closing this one.

contributions welcome!

[2021-08-15 13:22] #586 closed

[2021-08-17 07:20] rbngz opened #587 "Allow for composite primary keys when creating schema from frictionless schema."
**Is your feature request related to a problem? Please describe.**
When using the `from_frictionless_schema()` method from the `pandera.io` module, the column that is marked as primary key will have the `allow_duplicates` property set to `False` which is understandable and usually desired. However, when the primary key in the frictionless schema consists of an array with multiple columns, each ind

[2021-08-18 06:56] peter1456 opened #589 "ValueError raised in pandas when lazy validating DataFrame with MultiIndexed Columns"
**Describe the bug**

A `ValueError` is raised in pandas when a `pandas.DataFrame` object with MultiIndexed Columns is lazily validated (using the parameter `lazy=True`) by a `pandera.DataFrameSchema` object, and there is at least one failed check for the columns.

Running the code below, the following exception is raised:

[code]

Checking the line 172 in `errors.py` in `pandera`, i.e.

[code]

I

[2021-08-20 15:45] Veganveins opened #590 "Great Expectations vs Pandera"
#### Question about pandera

Hi there, I've used pandera in the past to validate data processing pipelines for ML workflows. My current org is doing a spike on Great Expectations to try to improve the quality of our data ingestion process.

Could anyone here provide insight as to the differences between Great Expectations and Pandera, whether or not they overlap or do similar things? It seems like

[2021-08-23 14:07] cosmicBboy commented on #590
Hi @Veganveins thanks for your question!

So one big caveat here is that I haven't used GE very extensively but I'll do my best to summarize the similarities and differences.

The main overlap is that both libraries aim to solve the same problem of ensuring data quality, but I think the approach pandera takes is closer in spirit to [pydantic](https://pydantic-docs.helpmanual.io/) or [dataclasses](

[2021-08-23 18:07] lcbm commented on #582
Hi @cosmicBboy,

We have a feature which allows our final user to upload a (big) CSV file so that we analyze its data and return some metrics to him. However, we need to validate fit the CSV file and data are valid. We use Pandera for that.

The happy path is that the user will upload a perfect file and we will be able to compute all metrics from that.

The not so happy path, the user will upload

[2021-08-24 01:41] cosmicBboy commented on #582
Hi @lcbm, are you using custom checks or built-in checks?

For custom checks you can pass in a string to the [`error` argument](https://pandera.readthedocs.io/en/stable/reference/generated/pandera.checks.Check.html#pandera-checks-check). For built-in checks this is currently not possible, but it would be a relatively easy fix to support an override for all built-in checks:

https://github.com/pand

[2021-08-24 10:19] rbngz opened #591 "String length constraint not read correctly when creating pandera schema from a frictionless schema"
**Describe the bug**

When a pandera schema is created from a frictionless schema using the `pandera.io.from_frictionless_schema()` method, the length constraints are not correctly applied in the following case:

[code]

When I create a yaml file based on the newly created schema, it will add a check for exact length of the string rather than just the max length:

[code]

In the event that both a

[2021-08-24 11:42] lcbm commented on #582
Hi @cosmicBboy, we are using custom checks because of this limitation but we would prefer using built-ins (for example, in the `pandera.Check.str_matches` case) :smile:

Indeed it seems like an easy fix, I will definitely take a look into it either today when I'm done with my working hours or tomorrow first thing in the morning. In either one of these times, I may open a draft MR and can @ you the

[2021-08-24 20:14] jeffzi commented on #369
fixed by #559

[2021-08-24 20:14] #369 closed

[2021-08-28 12:36] cosmicBboy commented on #534
Awesome, thanks @jeffzi!

[2021-08-28 14:00] th0ger commented on #534
A bit off topic: I'm leveling up on pandera, hypothesis, and property based testing (PBT) in general. This is great. I also assume that contributers to this project are test geeks, taking your own PBT medicine 😀.
So, v0.7.0 added support for `pandas.DatetimeTZDtype`, and it turned out to work for validation but not strategies. So I'm curious why the tests didn't capture this bug before release?

[2021-08-30 18:43] jeffzi commented on #534
v0.7.0 introduced a complete rework of how internal dtypes representation. Strategies are a separate feature, tested independently.

Concretely, tests are applied to a list of `pandera.dtypes.DataType` that can be translated to numpy equivalents. That list only contains dtypes initialized with the default constructor. Unfortunately `pandera.engines.pandas_engine.DateTime` (internal representation

[2021-08-31 16:20] rdmolony commented on #590
You might find [fugue](https://github.com/fugue-project/fugue) interesting.  They are running pandera on spark and dask through fugue, Kevin Kho (@kvnkho) wrote up a [medium post](https://towardsdatascience.com/using-pandera-on-spark-for-data-validation-through-fugue-72956f274793) on it here!

[2021-08-31 16:33] Veganveins commented on #590
Thank you @cosmicBboy and @rdmolony ! Great content and very useful context. I don't have any other questions right now but I will follow up if I think of anything else :)

[2021-08-31 20:45] kvnkho commented on #590
Thanks for tagging @rdmolony . Coincidentally, there is this [pull request](https://github.com/pandera-dev/pandera/pull/588) into the pandera docs on how to use pandera on top of the Spark execution engine through Fugue. We connected with @cosmicBboy after PyCon.

I talked about Great Expectations versus pandera in my PyCon [presentation](https://www.youtube.com/watch?v=2AdvBgjO_3Q), but not detai

[2021-08-31 23:04] Veganveins commented on #590
Wow thanks @kvnkho !! This presentation looks excellent and the O'Reilly course looks great!

![image](https://user-images.githubusercontent.com/16780529/131586426-c429e576-7ef9-42e1-a412-bee46ccf77f9.png)

[2021-09-01 09:56] parayamelo commented on #515
I have a similar problem. I am trying to check a float column. However, the column can have strings and null. But null are accepted, it shouldn't give an error. So, my question would be: how can I make a Check that accepts a column that has numbers between -90 and 90, it also accepts null (it is ok to have empty fields), but it can not have strings?

I tried doing a helper function, but the issue

[2021-09-01 14:50] cosmicBboy commented on #515
hi @parayamelo can you provide a minimally reproducible example of the behavior you're seeing?

[2021-09-01 16:35] cosmicBboy commented on #515
@cdagnino yes I think a better error message would help here. The output of an element-wise `Check` function must always a boolean, so outputing an NA value should not be allowed.

Basically, right [here](https://github.com/pandera-dev/pandera/blob/master/pandera/checks.py#L387-L394) there should only be `False` or `True` values, otherwise a [SchemaDefinitionError](https://pandera.readthedocs.io/e

[2021-09-05 16:52] daavidstein opened #596 "KeyError is raised when synthesizing data with schema strategy on schema with regex column and a custom column check"
**Describe the bug**

If `schema` has a custom check associated with a regex column, when calling `schema.strategy(size=n).example()`, a KeyError is raised.

[code]

#### Expected behavior
A KeyError is not raised and the strategy produces an example (a synthetic dataframe)
OR a more informative error message is given.

#### Additional context
I'm aware of [pandera extensions](https://pandera.read

[2021-09-05 17:10] cosmicBboy commented on #596
This is indeed a bug! Looking into it

[2021-09-06 15:57] cosmicBboy commented on #591
hi @rbngz would you be open to contributing a fix to this bug?

[2021-09-06 15:58] cosmicBboy commented on #590
@Veganveins thanks for the question, the discussion in here is great! Going to convert this to a github discussion, would you mind selecting my response as the answer?

[2021-09-06 15:58] #590 closed

[2021-09-06 16:18] cosmicBboy commented on #596
@daavidstein #599 fixes this issue, coming out with a bugfix release by end of week!

[2021-09-06 16:19] cosmicBboy commented on #577
Hey @Patil2099 just checking in: are you still able to tackle this issue?

[2021-09-06 16:36] cosmicBboy commented on #589
hi @peter1456, #600 should address this issue

[2021-09-06 19:06] cosmicBboy commented on #522
@jeffzi FYI #594 added support for the any type, it probably still makes sense to support an empty `pa.typing.Series` type, so this issue is still valid

[2021-09-06 19:13] cosmicBboy opened #601 "add support koalas and modin"
**Is your feature request related to a problem? Please describe.**

This feature is related to https://github.com/pandera-dev/pandera/issues/381 and is an intermediate stepping stone for abstracting out the framework that executes the validation rules specified by the pandera API.

**Describe the solution you'd like**

Since koalas and modin are in-place replacements of pandas, supporting these tw

[2021-09-06 20:06] jeffzi commented on #534
@th0ger @cantos688 @BakerAugust The fix for this bug (#595) has been merged !

[2021-09-07 20:29] miriam-z opened #603 "SQL syntax?"
#### Question about pandera

How to specify in SQL syntax here, for example:

salary DECIMAL(28,8)

[2021-09-07 20:32] cosmicBboy commented on #603
hi @miriam-z can you provide a more context on what you're trying to achieve? Currently pandera doesn't support validating SQL tables

[2021-09-07 22:57] miriam-z opened #604 "[Question] How to append to the left of original when using add_column?"
it only appends to the end of existing data structure, what if I wanted to append to the front as well?

[2021-09-08 00:41] miriam-z opened #605 "Tuple index out of range?"
#### Question about pandera

[code]

Normally pycountry

[code]

But getting tuple index out of range?

sample.csv

DealName,D1,D2,D3,D4,D5,IsActive,Country,Currency,Company
Deal_123,1223456789123445677.88888888,1223456789123445677.88888888,123456789123445677.888888,123456789123445677.888888,123456789123445677.888888,false,CO,COP,Brightdog

[2021-09-08 14:27] cosmicBboy commented on #603
@miriam-z I'm not very familiar with the `pycountry` package, so I'm not entirely certain what each value in the `Currency` and `Country` looks like. It would help to (a) show a minimally reproducible code example of what a sample dataframe looks like that you're trying to validate, along with a high-level description of your use case.

To use custom data types, two approaches I can currently thin

[2021-09-08 21:12] jeffzi commented on #603
The first argument of `pandera.Column` must be a data type compatible with pandas, which is not the case for `pycountry` objects. As @cosmicBboy said, you could use the pandas `object` type to store `pycountry` objects in a DataFrame (option 2.). However, if your objective is to export to csv, I'd convert those objects to a string or integer depending on the attribute (name, code, etc.) you're int

[2021-09-09 00:17] miriam-z commented on #603
@cosmicBboy and @jeffzi Thank you, I added in the first question a sample of csv

pycountry.countries.lookup(s).alpha_2 returns US
pycountry.currencies.lookup(s).alpha_3 returns USD

[2021-09-09 00:52] miriam-z opened #606 "zsh: no matches found: pandera[all]"
virtualenv .venv  --python=3.9

(.venv) pip3 install pandera is ok but

(.venv) pip3 install pandera[all]
zsh: no matches found: pandera[all]

(.venv) pip3 install pandera[hypothesis]
zsh: no matches found: pandera[hypothesis]
?

[2021-09-09 00:57] cosmicBboy commented on #606
looks like zsh can't parse the command correctly without quotes: `pip3 install "pandera[all]"` should work

[2021-09-09 00:57] miriam-z commented on #606
thanks again @cosmicBboy

[2021-09-09 00:59] #587 closed

[2021-09-09 00:59] #606 closed

[2021-09-09 13:16] peter1456 commented on #589
Hi @cosmicBboy, thanks a lot!

[2021-09-09 15:16] scheung38 opened #607 "[Question] How to specify unique row and calculated hash?"
How to specify unique row identifier), and a calculated hash for each row. Thank you

[2021-09-09 21:35] scheung38 opened #610 "[Question] How to have field concat from two calculations"
How to concatenate from two functions into a single pa.Column field?

[2021-09-09 22:00] scheung38 opened #612 "[Question] How to truncate pa.DateTime"
pa.DateTime is of type:

1970-01-01 00:00:00.000025480

How do we truncate or format to:
1970-01-01 00:00:00

[2021-09-09 23:07] jeffzi commented on #603
That's indeed a bug. Your check was raising a `LookupError()` that does not have a message, and pandera did not handle that case graciously. I just submitted a fix (#613). That will resolve your other issue #605 as well.

Keep in mind that a check must return a boolean or a Series of booleans. Moreover,  by default the input will be a Series whereas pycountry.countries.lookup(s) is expecting a str

[2021-09-10 03:28] scheung38 opened #614 "[Question] ModuleNotFoundError: No module named 'pandera' when inside FastAPI"
(.venv) ➜ pip3 install fastapi, pandera

src/main.py

[code]
works but when inside FastAPI

[code]

uvicorn main:app --reload

  File "/usr/local/Cellar/python@3.9/3.9.6/Frameworks/Python.framework/Versions/3.9/lib/python3.9/importlib/__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1030, in _gcd_i

[2021-09-10 12:46] cosmicBboy commented on #604
hi @miriam-z, see my comment https://github.com/pandera-dev/pandera/issues/603#issuecomment-915288403, let me know if the workaround solution works for you

[2021-09-10 12:50] cosmicBboy commented on #607
hi @scheung38, can you elaborate on your use-case?

Do you want a check that each row in the dataframe is unique?

[code]

Or are you asking how to calculate a hash for each row in a `pandas.DataFrame`?

[2021-09-10 12:50] cosmicBboy commented on #610
hi @scheung38, can you elaborate a bit on your use case? The question as stated is unclear

[2021-09-10 12:52] cosmicBboy commented on #612
is this a `pandas` question? `1970-01-01 00:00:00.000025480` is a literal time value, not a type.

Truncating pandas datetimes: https://stackoverflow.com/questions/28773342/truncate-timestamp-column-to-hour-precision-in-pandas-dataframe

[2021-09-10 12:53] cosmicBboy commented on #614
doesn't look like `pip3 install fastapi, pandera` is a valid pip command. Try it without the comma`pip3 install fastapi pandera`

[2021-09-10 12:53] scheung38 commented on #610
Yes I mean a field that's from output of two functions or lookups:

CountryCode and ID:

United Kingdom UK
Japan JP

[2021-09-10 12:56] cosmicBboy commented on #610
can you provide some sample code? I'm still not sure what you're trying to achieve.

[2021-09-10 13:09] cosmicBboy commented on #603
Checks are vectorized by default, meaning that `s` is a series:

[code]

So you can either map over it:

[code]

Or use `element_wise=True` to turn it into a scalar check

[code]

Though this check as-is doesn't return a boolean value, something like this would be a valid check

[code]

[2021-09-10 13:10] jeffzi commented on #610
Hi @scheung38. Judging from the issues you opened recently, there seems to be a confusion between pandas and pandera. The scope of pandera is schema manipulation and validation, rather than actual data manipulation which is handled by pandas.

If I understand your example correctly, to concatenate the values of two columns using pandas you'd do `df["CountryCode"] + df["ID"]` where `df` is a pandas

[2021-09-10 13:33] cosmicBboy commented on #453
hey @tfwillems friendly ping on this issue. Let me know if you're still interested in making a PR for this, or let @jeffzi or I know if you want to pass the baton, you can point us to a dev branch/fork with your most up-to-date prototype and perhaps one of us can take it to the finish line! 🏁

[2021-09-13 09:25] th0ger commented on #534
The provided test case is fixed (pandera 0.7.1).
Tested it for non-UTC as well:

[code]
[code]
Worth mentioning: If we use `dtype = pd.DatetimeTZDtype(tz='dateutil/US/Central')`, taken from the [pandas.DatetimeTZDtype](https://pandas.pydata.org/docs/reference/api/pandas.DatetimeTZDtype.html)) documentation, I get `TypeError: Invalid datetime unit in metadata string "[ns, tzfile('/usr/share/zoneinf

[2021-09-13 10:42] th0ger opened #618 "`Check.in_range` not working properly with `Timedelta` types"
**Describe the bug**
The [Check.in_range](https://pandera.readthedocs.io/en/latest/reference/generated/methods/pandera.checks.Check.in_range.html#pandera.checks.Check.in_range) function fails for [pandera.dtypes.Timedelta](https://pandera.readthedocs.io/en/latest/reference/generated/pandera.dtypes.Timedelta.html#pandera.dtypes.Timedelta) data type.

#### Code Sample, a copy-pastable example

[code

[2021-09-13 20:41] jeffzi commented on #534
@th0ger Thanks for testing, and reporting the dateutil case.

Historically pandera relied on string aliases to coerce dtypes but `str(pd.DatetimeTZDtype(tz='dateutil/US/Central'))`' is not recognized by pandas:
[code]
I've pushed a fix for strategies (#620) to avoid using string aliases and verified that it fixed your case.

[2021-09-14 03:43] cosmicBboy commented on #618
thanks for pointing this out @th0ger, #621 should fix this

[2021-09-14 04:27] peter1456 commented on #589
Hi @cosmicBboy,

Sorry for not checking carefully, but seems like `pandas` would not broadcast properly even when the MultiIndex column names are wrapped in a list. See the following example

[code]

When it is run, the following error is thrown:
[code]

It seems like `pandas` try to fit an list-like object in the column "as-is", and failed.

#### Desktop:

 - OS: Windows 10
 - Version: Python 3.8

[2021-09-14 05:02] th0ger commented on #534
@jeffzi leveled up for fast response: +1

[2021-09-14 06:33] peter1456 commented on #589
Thanks again!

[2021-09-14 23:50] cosmicBboy commented on #589
fixed by #622

[2021-09-14 23:50] #589 closed

[2021-09-14 23:51] cosmicBboy commented on #618
fixed by #621

[2021-09-14 23:51] #618 closed

[2021-09-15 06:51] markkvdb opened #623 "Cannot import Pandera due to missing np.float128"
Pandera appears to do some internal transformation of data types creating equivalents between Numpy, python and pandera types. The most recent version of Numpy (1.21.2) does not contain the `np.float128` making it impossible to import the pandera package.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.
-

[2021-09-15 13:05] cosmicBboy commented on #623
Hi @markkvdb thanks for reporting this issue!

I'm unable to reproduce this on my intel mac
[code]

Some questions/thoughts:
- Do earlier versions of numpy work for you?
- This might be an M1 issue. Pandera repo CI is tested against [macos](https://github.com/pandera-dev/pandera/blob/master/.github/workflows/ci-tests.yml#L91), which should have caught this error if it's a numpy version thing.

A q

[2021-09-16 06:50] markkvdb commented on #623
Hi!

I tried your suggestion to install different versions of numpy and I can confirm that versions `1.20.3` and `1.19.5` throw the same error. Installing your fix also does not help and throws exactly the same error as reported before.

It seems to me that bumpy does not include float128 for all architectures -- Windows users also reported issues with this type before. The accepted answer of this

[2021-09-16 06:53] markkvdb commented on #623
I just looked into your fix and I suspect that the way that you set the MAC_M1_PLATFORM is not correct (which I can understand since you have an intel machine :)).

I provide you the output of the platform data that you use so that you can fix it:

[code]

[2021-09-16 22:15] tfwillems opened #625 "pandas Dataframe with 1 row results in AssertionError during call to validate"
**Describe the bug**

When calling *validate* for a SchemaModel on a pandas's data frame with only 1 row, an AssertionError is raised. This appears to be triggered when coerce=True is includex in the field definition, but seems like a simple fix as detailed below

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pan

[2021-09-16 22:27] tfwillems commented on #453
@cosmicBboy Sorry I've made so little progress here. I don't think I have the bandwidth at the moment to make a full-fledged PR, but here is all I think is really necessary:

[code]
Obviously the additional class is unnecessary and these functions would just be added to pa.SchemaModel's definition

[2021-09-17 02:18] cosmicBboy commented on #625
doh! nice catch

[2021-09-17 04:45] cosmicBboy commented on #625
#626 should address this

[2021-09-17 15:08] tfwillems commented on #625
Great! Feel free to close this whenever #626 is merged

[2021-09-18 14:12] cosmicBboy commented on #623
Updated #624 to be platform-agnostic

[2021-09-18 19:19] kvnkho commented on #381
Went through the discussion and we'd certainly be interested in contributing a [Fugue](https://github.com/fugue-project/fugue) `ValidationEngine`. We'll keep an eye out for the `PandasValidationEngine` and the koalas/modin support and see if Fugue has direct mappings to the implementation you arrive at!

[2021-09-19 09:33] markkvdb commented on #623
Can confirm that the issue has been resolved in the last version of the dev branch.

Thank you for handling the issue in this manner. It's highly appreciated.

[2021-09-19 12:18] #625 closed

[2021-09-22 15:18] markkvdb opened #632 "Set Name of Index"
#### Question about pandera

Defining a schema as:

[code]

does not set the name of the index field as can be seen from

[code]

which outputs

[code]

This sets the name of the index to `None`. How can I change this so that `name=time`?

[2021-09-22 16:09] cosmicBboy commented on #632
hi @markkvdb, you can try the `Field(..., check_name = True)` [kwarg](https://pandera.readthedocs.io/en/stable/reference/generated/pandera.model_components.Field.html#pandera.model_components.Field). For single index SchemaModels this is set to `False` (`True` for multi-index SchemaModels)

[2021-09-22 20:56] markkvdb commented on #632
thanks @cosmicBboy. Works as expected.

[2021-09-22 20:56] #632 closed

[2021-09-23 00:29] #623 closed

[2021-09-23 08:02] bstefania opened #633 "TypeError when using numpy.intc"
Hello,

I've encountered a problem when trying to migrate from version 0.6.2 to 0.7.0. With versions up until 0.6.5 everything works as expected, but with >=0.7.0 I'm getting a TypeError exception when using numpy.intc in a pandas DataFrame. I'm not sure if this is a bug or the intended behaviour.

This is the full error message:

cls = <class 'pandera.engines.pandas_engine.Engine'>, data_type = <

[2021-09-23 08:27] jeffzi commented on #633
Hi @bstefania. Thanks for reporting the error. That's indeed not intended.

Could you provide a minimal reproducible example? The error is not triggered when I run this simple code:

[code]

^ On my Linux system, `np.intc` is an alias for `np.int32`. Could you also post the output you get from the above snippet?

[2021-09-23 10:45] bstefania commented on #633
I've created a test_file.csv to be able to reproduce exactly what I want to do.
It looks like this:
_number, type
1, int
2, int_

And here is the code:
[code]

When I'm creating directly a data frame with dtype = np.intc for me too is converted to np.int32.

[2021-09-23 13:57] MikiGrit opened #634 "Unsatisfiable when field is nullable and size 0."
**Describe the bug**
As in the described in the title, the example code below will throw exception while I believe it should not.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandera.

**Note**: Please read [this guide](https://m

[2021-09-23 20:41] jeffzi commented on #633
I had to set `strict=False` in your example since the column `type` is not in the schema. Otherwise, the error described in your initial post is not triggered on my side. Does your example trigger the error on your machine?

Does the snippet I provided run without errors for you?

[2021-09-23 20:45] jeffzi commented on #522
Fixed by #602

[2021-09-23 20:45] #522 closed

[2021-09-24 05:34] bstefania commented on #633
Yes, both examples trigger the error on my machine. With your example it is triggered also in the
`schema = pa.DataFrameSchema({"col": pa.Column(np.intc)}, coerce=True)`
line, not just
`print(pandas_engine.Engine.dtype(np.intc))`

I'm on Windows 10 and using Python 3.7.11. These are the package versions:
datatable 1.0.0
numpy 1.20.3
pandas 1.3.1
pandera 1.7.1
pyarrow 5.0.0
typing-extensions 3.10.0

[2021-09-24 12:24] markkvdb opened #635 "Version 0.7.2 has not been deployed on PyPi"
Version 0.7.2 has been finished (on GitHub) but has not been deployed to PyPi which shows 0.7.1 as the latest version.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.
- [x] (optional) I have confirmed this bug exists on the master branch of pandera.

#### Expected behavior
Install version 0.7.2 from PyPi

[2021-09-24 12:44] cosmicBboy commented on #633
@bstefania seems like this is related to https://github.com/numpy/numpy/issues/9799

what's the output of this?
[code]

[2021-09-24 13:10] bstefania commented on #633
This is the output:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col     1 non-null      int32
dtypes: int32(1)
memory usage: 132.0 bytes
None

I don't think that would be a problem since the error appeared only after updating pandera, and if I set it back to 0.6.2 eve

[2021-09-24 13:21] cosmicBboy commented on #633
what I'm confused by is:

if `np.intc` resolves to `np.int32`, how is the error message reporting
[code]
In the `Engine.dtype` call?

@bstefania what does `print(np.intc)` output?

[2021-09-26 20:31] #635 closed

[2021-09-27 06:17] bstefania commented on #633
Hi, sorry for the late reply. It is not always transformed to `np.int32`. When I run my example,  the printed type is `<class 'numpy.intc'>`. Maybe this is due to the datatable fread.

The output for `print(np.intc)` is `<class 'numpy.intc'> `

[2021-09-27 18:17] jeffzi commented on #633
@bstefania I confirm I was able to reproduce the error with your example on a windows machine. I'll work on a fix.

[2021-09-28 03:57] cosmicBboy commented on #634
thanks for filing this bug @MikiGrit! looking into this

[2021-09-28 15:23] alex-tully opened #639 "dateutil parser error when coercing"
When running the validate function against a datetime column that is trying to coerce a datetime that contains a string that is not a valid datetime a ParserError is thrown - `dateutil.parser._parser.ParserError`. This exception is not handled by pandera and so bubbles up into my application, I assumed it would be handled and then form part of the issues reported in validation.

- [x] I have check

[2021-09-28 15:33] cosmicBboy commented on #634
#638 should address this issue

[2021-09-28 15:33] #634 closed

[2021-09-29 12:57] MikiGrit commented on #634
Thanks, for solving it promptly. Great work! :)

[2021-09-30 14:40] cosmicBboy commented on #639
thanks for filing this issue @alex-tully, looking into this

[2021-10-01 20:57] MikiGrit opened #640 "Over ten times worse `example()` performance when field is `nullable`."
**Describe the bug**
When field is set as nullable, calling `example()` is more than ten times slower. I believe there is no reason for this.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandera.

#### Code Sample, a copy-pastabl

[2021-10-04 21:48] cosmicBboy commented on #640
fixed by #641

[2021-10-04 21:48] #640 closed

[2021-10-05 12:08] tfwillems opened #644 "Should null values be counted as duplicates: Expected behavior for nullable=True and unique=True"
#### Question about pandera

Currently, if a *Field* is created with *unique=True* and *nullable=True*, the data frame will fail validation if > 1 null values is present in the column. Although this seems consistent with the definitions of these attributes, my question is whether this should be the case or whether *null* values should be treated as special types omitted from duplicate checking.

[

[2021-10-07 02:43] Lavi2015 opened #646 "Print rows with invalid data type"
#### Question about pandera

Hi,

I am trying to test pandera for schema validation.
In the following example, I would like to know whether 1st row ( because of "a" in the "int_column") will be flagged as error.

print(err.data) indicates "int_column  dtype('int64')" as the possible error but without row or index value.

And err.data prints all the 3 rows instead of just 1 st row. As 2nd and 3rd r

[2021-10-08 08:31] JackKelly commented on #381
Hi, I was just wondering if it's possible to use `pandera` to define schemas for n-dimensional numpy arrays; and hence to use pandera with `xarray.DataArray` objects, just as `pandera` is currently used for `pandas.DataFrames`?

[2021-10-10 21:40] jeffzi commented on #639
@alex-tully Thanks for the bug report. A fix (#645) has been merged and will be available in next release. Feel free to pull the dev branch if you need the fix asap.

[2021-10-10 21:40] #639 closed

[2021-10-10 21:52] jeffzi commented on #646
Hi @Lavi2015.

By default, pandera does not check one value at time, and only checks for the dtype of the columns (i.e. `DataFrame.dtypes`). To know the exact failure cases, you can enable `coerce=True`. Pandera will attempt to coerce the DataFrame to the schema dtypes and will report values that could not be coerced:

[code]

It's true that this behavior could be made easier to discover. We've ta

[2021-10-11 11:03] jeffzi commented on #646
`failure_cases` is actually a DataFrame. You can ask pandas to print more rows with [`pd.options.display.max_rows = 999`](https://pandas.pydata.org/docs/reference/api/pandas.set_option.html?highlight=max_rows) .

How did you redirect?  Exporting to csv with `err.failure_cases.to_csv("failures.csv", index=False)` should write all the failures.

[2021-10-11 16:02] JackKelly commented on #381
Thanks loads for the reply!  No worries at all!

Yes, our primary use-case is to check the data type, dimensions, and values of xarray Datasets and DataArrays.

[2021-10-11 16:25] cosmicBboy commented on #381
Great! will keep this in mind for when we get there.

Also, once pandera schemas can be used as valid pydantic types, https://github.com/pandera-dev/pandera/issues/453 is supported, the solution you outline [here](https://github.com/openclimatefix/nowcasting_dataset/blob/jack/pydantic/notebooks/pydantic_xarray.ipynb) would be pretty straightforward to port over to pandera, making for a pretty conc

[2021-10-11 19:22] jeffzi commented on #453
Hi @tfwillems, no worries  :+1:  ! Thanks for sharing your work in progress, I'll take it from there.

[2021-10-13 04:59] cosmicBboy commented on #601
TODO:
- [ ] support koalas
- [ ] support modin

[2021-10-13 06:34] Lavi2015 opened #652 "Time taken to complete schema validation is more when the number of NULL values are more in the dataset"
Hi,
I am trying to use pandera for schema validation and it works fine and completes within seconds most of the time.
My raw dataset is around 250MB size and dataframe shape is (594384, 42) and I am testing with nullable=False with few columns to test the performance.

When I try to run schema validation with a  column where data points are null for 594338 out 594384 records, (essentially only 46

[2021-10-13 20:56] #534 closed

[2021-10-14 01:51] cosmicBboy commented on #652
I was able to reproduce your issue with the following script:
[code]

The problem occurred right here: https://github.com/pandera-dev/pandera/blob/master/pandera/errors.py#L107-L108

Since `na` values are not equal to each other, the `failure_cases` function produced a list of all the failure cases instead of producing a list of a single `na` value.

I'll push up a fix for this, but for posterity,

[2021-10-14 06:39] Lavi2015 commented on #652
Hi @cosmicBboy , Thanks for your response and appreciate the details.
When the fix is available, I will test and let you know.

[2021-10-14 18:08] ghost opened #656 "How can I store lists in a column and validate it with Pandera?"
#### Question about pandera
Sometimes I have a pandas dataframe with a column that holds lists. The pandas dtype of that column is object, but if I get the type of a single cell it's a list.

How should I write a schema to validate against, such that coercion does not lead to a string representation of the list?

[code]

Writing `"col2": Column(list)` in the schema results in the error `TypeError:

[2021-10-14 18:13] #656 closed, assigned to nobody

[2021-10-14 19:47] cosmicBboy commented on #614
closing, issue is related to invalid installation command

[2021-10-14 19:47] #610 closed

[2021-10-14 19:48] cosmicBboy commented on #607
closing, this is a pandas related question, a good lead would be to check out https://pandas.pydata.org/docs/reference/api/pandas.util.hash_pandas_object.html @scheung38

[2021-10-14 19:48] #607 closed, assigned to nobody

[2021-10-20 02:15] #397 closed

[2021-10-20 12:55] delmarrerikaine opened #661 "Wide check bug"
**Describe the bug**
A clear and concise description of what the bug is.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandera.

#### Code Sample, a copy-pastable example

[code]

[code]

[code]

[code]

[code]
[code]

[code]
[cod

[2021-10-20 13:46] cosmicBboy commented on #661
hi @delmarrerikaine, the check function implementation is correct, you can get your desired behavior by passing in `ignore_na=False` ([it's True by default](https://pandera.readthedocs.io/en/stable/reference/generated/pandera.checks.Check.html#pandera.checks.Check))

[code]

Output

[code]

[2021-10-20 14:03] delmarrerikaine commented on #661
Thanks!
That resolves the issue.

[2021-10-20 14:03] #661 closed

[2021-10-22 00:57] cosmicBboy opened #663 "Update contributing documentation: how to add dependencies"
Update the CONTRIBUTING.md doc so it includes instructions on how to add new dependencies to the project

[2021-10-22 07:08] opme opened #664 "is it possible to have nullable field but also use coerce?"
#### Question about pandera

I have requirement to validate an integer field that can also be nullable.  I also want to use coerce on the pandas dataframe.  If field is nullable, then coerce should ignore it when null.

bad request: Error while coercing 'myintegerfield' to type int64: int() argument must be a string, a bytes-like object or a number, not 'NoneType'

[code]

In the pandera docs:

**

[2021-10-27 12:33] markkvdb opened #666 "Using regex for column names in SchemaModel"
#### Using regex for column names in SchemaModel

Is it possible to write a `SchemaModel` class in which the column names follow a regex pattern, e.g., `^[0-9]+$`  for 0, 1, 2, 3, 4, etc?

If not, can I use the `DataFrameSchema` class in  the same way as the `SchemaModel` class?

[2021-10-30 14:06] bphillips-exos commented on #561
Following up on the discussion in https://github.com/pandera-dev/pandera/discussions/648.

There are often use cases where it would be useful to override the base strategy for a column. The following hypothesis strategies clearly express the shape of data, but cannot be easily represented using the pandera check API.

[code]

A workaround described in https://github.com/pandera-dev/pandera/discuss

[2021-11-02 21:51] jeffzi commented on #666
Hi @markkvdb,

You can use the `regex` argument of [Field](https://pandera.readthedocs.io/en/stable/reference/generated/pandera.model_components.Field.html#pandera.model_components.Field). You'll also have to pass the regex in `alias` if it is not a valid name for a class attribute (which is the case in your example):

[code]

If you define a `DataFrameSchema` instead, [Column](https://pandera.rea

[2021-11-03 09:26] markkvdb commented on #666
Thanks for your clear answer. It seems to work now! I already had it working with `DataFrameSchema` but all other schemas were defined using the `SchemaModel`, so using a single approach is a bit nicer.

[2021-11-03 09:26] #666 closed

[2021-11-04 11:44] pedroallenrevez opened #669 "Data synthesis with a simple schema with datetime (equivalent to random generation of floats)"
**Describe the bug**
I have a simple schema in the form of:
[code]
I can generate an example of size=5, but not size=100, which gives rise to unsatisfiability.
It is a pretty simple schema, I don't understand why it has trouble generating random data.
Should I provide data types in another format?
The only option that is not shown here is `allow_duplicates=False` for the datetime index.

Stacktrac

[2021-11-05 01:42] cosmicBboy commented on #669
hi @pedroallenrevez I was able to reproduce your error with this:

[code]

Out of curiosity, what's the use case for generating 50 samples? I ask mainly because the data synthesis pandera offers is built on `hypothesis`, which is meant to use for testing. I believe it follows [certain constraints](https://hypothesis.readthedocs.io/en/latest/healthchecks.html#hypothesis.HealthCheck) reflected in th

[2021-11-09 15:15] pedroallenrevez commented on #669
Hey @cosmicBboy thanks for the quick answer.
The use case is for testing data pipelines, that feed into model training.
In some of these cases data is resampled, in which case it can go from the 50samples down to 5.

The data follows constaints such as "angles are within [0, 360]", "statistical min aggregations are less than statistical max aggregations" etc etc. The objective is to have a schema

[2021-11-09 15:26] cosmicBboy commented on #669
Yeah this seems like the most practical way forward, esp. if the functionality that you're testing is invariant to batch size, i.e. if it doesn't make a meaningful difference testing your pipeline with a batch of 20 vs. 100 examples, going with the smaller batch is okay.

From my understanding `hypothesis` places limits on how big the data gets and how many "decisions"/operations it takes to gener

[2021-11-09 15:53] cosmicBboy commented on #669
Another workaround you might want to take is to generate a small batch as a strategy and then copying that batch multiple times, introducing noise to whatever elements you want to get the properties you need, for example:

[code]

[2021-11-11 04:26] cosmicBboy commented on #664
@opme I'm going to convert this into a discussion, please mark @jeffzi's answer as correct if it addresses your issue!

[2021-11-11 04:26] #664 closed

[2021-11-11 14:17] cosmicBboy commented on #644
yeah, I think it makes sense to have an `ignore_na` kwarg in `Column`, which is passed down as the default to all checks in that column.

One question: would the user be able to override this default in the check?

[code]

+1 to ignore nulls when `ignore_na=True` and `unique=True`, we can make slight deviations from pandas behavior if the deviation makes more intuitive sense from a validation perp

[2021-11-16 03:37] zevisert opened #679 "`P.STRING` index not coercible with pandera[modin-ray]"
**Describe the bug**
A clear and concise description of what the bug is.

`P.STRING` fails validation / coercion when using `pandera[modin-ray]`.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandera.
- [x] (optional) I have confirmed this bug exists on the master branch of pandera.

**Note**: Please read [this

[2021-11-16 04:01] cosmicBboy commented on #679
hi @zevisert, it doesn't look like modin can handle `string[python]` dtypes for indexes (it'll just silently convert it to `object`)

[code]

output:
[code]

You can specify the `str` or `object` types in your schema, which should work just fine:
[code]

[2021-11-16 04:05] cosmicBboy commented on #679
would probably make sense to raise an error for cases like these where the pandas-like implementation (modin, koalas, etc.) silently casts types to some fallback type

[2021-11-16 13:42] cosmicBboy commented on #669
closing this issue. @pedroallenrevez feel to post in [show and tell](https://github.com/pandera-dev/pandera/discussions/categories/show-and-tell) what solution you end up going with!

[2021-11-16 13:42] #669 closed

[2021-11-16 17:43] zevisert commented on #679
Interesting, I didn't notice that this was on modin. Thanks!

[2021-11-16 22:37] jeffzi commented on #453
This feature has been release with 0.8.0

[2021-11-16 22:38] #453 closed

[2021-11-17 13:57] zevisert opened #680 "Nullable pandas BooleanDtype should be exposed as `pandera.typing.BOOL`"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

Other nullable types are exposed, eg as `P.INT64`, or `P.STRING`.

`P.BOOL` is missing, even though it is defined.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

`BOOL` is already defined, so it should be aliased in typing/c

[2021-11-17 14:03] cosmicBboy commented on #680
ah, yes this should be the case! do you mind opening up a PR that imports `BOOL` into `typing/__init__.py`?

[2021-11-17 17:54] zevisert commented on #680
Sure!

[2021-11-18 03:36] gordonhart opened #682 "SchemaModel.validate sample, head, tail only work with hashable column types"
The `SchemaModel.validate` arguments `sample`, `head`, and `tail` only work with hashable column types. Sometimes it's desirable to put unhashable types (like `numpy.ndarray`) into the columns of a DataFrame. The presence of such a column shouldn't break schema validation.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest vers

[2021-11-18 04:30] cosmicBboy commented on #682
thanks for finding this bug @gordonhart ! I added a comment to your PR

[2021-11-22 23:16] zevisert commented on #320
#369 is done, and with `Annotated` types, we can embed the categories into the type!

[2021-11-23 09:01] MikiGrit opened #687 "Add nullable column when missing."
I would like to use pandera to validate columns that are missing in the dataframe but are nullable, so they can be safely added. Would it be possible? Perhaps with some new config key like `coerce_columns=True`?

Why I'm trying to do this is that I'm parsing XML files and some fields may be missing. As the schema of the resulting dataframe is defined only in one place (pandera SchemaModel), I woul

[2021-11-24 00:58] zevisert commented on #680
I'll close this when that PR is included in a release :)

[2021-11-24 01:16] zevisert opened #688 "SeriesModel -- support for defining an index on a series."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

We have `SchemaModels`, and we have inline types like `P.Series[float]`, but we don't have a way to specify the kind of index that a series has. Consider this example function:

[code]

**Describe the solution you'd like**
A clear and concise description of what you want to h

[2021-11-24 01:19] zevisert commented on #688
Oh, forgot to mention -- both of the proposed ideas are already valid code, but they don't validate how I'd like them to.

[2021-11-25 13:39] cristianmatache opened #689 "Generate pyarrow schema from pandera schema"
**Is your feature request related to a problem? Please describe.**
Need to maintain the schema twice, once for the pandas dataframe and again for the pyarrow table. An example where we need both is writing partitioned parquet datasets.

**Describe the solution you'd like**
Generate pyarrow schema from pandera schema.

I plan to implement this over the Christmas holidays.

[2021-11-25 17:22] GustavoGB commented on #663
Hey, I will be working on this ok?

[2021-11-26 22:13] cosmicBboy opened #690 "FastAPI integration"
**Is your feature request related to a problem? Please describe.**

[FastAPI supports pydantic models](https://fastapi.tiangolo.com/features/?h=pydantic#pydantic-features) as part of request bodies and responses. Pandera now [integrates with pydantic](https://pandera.readthedocs.io/en/stable/integrations.html#pydantic), but there are a few more things needed to integrate with FastAPI in a more sea

[2021-11-29 19:24] gordonhart commented on #682
#683 merged, closing.

[2021-11-29 19:24] #682 closed

[2021-11-30 16:25] cosmicBboy opened #692 "Modin data validation with ray backend in windows leads to CI failures"
As the title of the issue says, modin CI test suite fails on windows + ray.

It seems to be a timeout error but the exact cause is unclear, see:

- https://github.com/pandera-dev/pandera/runs/4342449874?check_suite_focus=true
- https://github.com/pandera-dev/pandera/runs/4342449897?check_suite_focus=true
- https://github.com/pandera-dev/pandera/runs/4342449905?check_suite_focus=true
- https://gith

[2021-11-30 19:36] roshcagra opened #693 "How to properly extend pandas_engine.DataType"
#### How to properly extend pandas_engine.DataType

Hi! I'm trying to use pandera with [GeoPandas](https://geopandas.org/en/stable/) - I think all I should need to do to make it work is add support for the `geometry` column by registering `BaseGeometry` as a `DataType`. However, I'm struggling to get it to work - any suggestions?

[code]

[code]

[2021-11-30 22:02] jeffzi commented on #693
Hi @roshcagra, interesting question !

It's a little confusing to trace back the source of the error but here is the gist of it. Your `BaseGeometry.type` is `None` by default and your `SchemaModel` does not provide a `type`. During validation, pandera will call `BaseGeometry.check()`, inherited from `pandas_engine.DataType`, which leverages the `type` argument. The type is supposed to be something

[2021-12-02 15:14] michaelwalshe opened #694 "raise_warning option in a Check is not kept when saving the Schema to yaml or script."
As in the title, if you create a Schema and set 'raise_warning = True' in a check, then this behaviour will not persist if you then save the Schema to a yaml file or even as a Python script. This is on pandera v0.8.0.

#### Example:

[code]

This returns:
[code]

However when I save to yaml and re-create the Schema:
[code]

This returns (after all the traceback):
[code]
#### Expected behavior
I wo

[2021-12-02 16:38] GustavoGB commented on #663
Hi @cosmicBboy, I will basically explain how to access the requirements.txt file and change it, with the desired  dependencies ?

[2021-12-02 18:49] roshcagra commented on #693
Thank you so much @jeffzi !

I would love to expand on this and contribute. What would be the best way to do that? Maybe build another package that depends on `pandera` and adds support for geopandas? I'm guessing we wouldn't want to add it directly here because you wouldn't want to take geopandas and shapely on as dependencies.

[2021-12-02 21:01] jeffzi commented on #693
Awesome, thanks !

I think a module inside the core pandera repo should suffice. We have done this before by adding optional dependencies. See  [setup.py](https://github.com/pandera-dev/pandera/blob/7664092b020288b245071c18b07e1df356ae1515/setup.py#L10) and [strategies module](https://github.com/pandera-dev/pandera/blob/7664092b020288b245071c18b07e1df356ae1515/pandera/strategies.py?_pjax=%23js-rep

[2021-12-03 15:41] cosmicBboy commented on #693
thanks for you help @roshcagra!

yes the approach described by @jeffzi is the way to go.

Out of curiosity, I have a few questions (as someone who hasn't used `geopandas` before):
- is there any meaningful way in which a `GeometryDtype` is coerced from some other raw format, for e.g. as `"1" -> int("1")` as `"some raw value" -> GeometryDtype("some raw value")`?
- Similarly, does this operation hap

[2021-12-03 15:58] cosmicBboy commented on #694
thanks for filing this bug @michaelwalshe!

So we want the checks to serialize into something like this:

[code]

The relevant parts of the codebase that would need to be updated are:
- [_get_array_check_statistics ](https://github.com/pandera-dev/pandera/blob/master/pandera/schema_statistics.py#L188-L212): so that the `check_stats` dict contains the user-provided check kwargs
- [_serialize_check_

[2021-12-03 17:53] jeffreykennethli commented on #692
Hi @cosmicBboy I'm taking a look at this!

[2021-12-05 13:40] cosmicBboy commented on #692
Awesome, thanks @jeffreykennethli !

[2021-12-05 14:05] cosmicBboy commented on #688
hi @zevisert thanks for proposing this, it's a great idea!

I think the syntax of idea # 1 will be more useful and expressive, since you can also provide `pa.Field` metadata and custom checks via the `@pa.check` method.

[code]

After reading the pydantic docs on [custom root types](https://pydantic-docs.helpmanual.io/usage/models/#custom-root-types), one question I have about the `__root__` keywo

[2021-12-06 04:50] jhamman commented on #381
Hi all. I wanted to share a little experiment we've been playing with, [xarray-schema](https://github.com/carbonplan/xarray-schema), which provides schema validation logic for Xarray objects. We've been following this thread closely and we're looking at ways to integrate what we've done with pandera/pydantic.

[2021-12-06 10:05] m-richards commented on #693
Hey @cosmicBboy, I'm a contributor to geopandas and coincidentally just started looking at using geopandas with pandera today. But I might be able to give some clarity on those questions (sorry this is a longer write up than I thought it would be).

First, there are are Well Known Text (WKT) and Well Known Binary (WKB) which I suppose are analogues of raw formats, but these are not coerced with `a

[2021-12-06 10:18] m-richards commented on #693
Just adding on to the above question by @jeffzi

There are two special `NDFrame._metadata` fields `_metadata = ["_crs", "_geometry_column_name"]` which perhaps could warrant special handling (but to be honest I don't really know how that would work on the pandera side) - and I also don't feel it's essential (for my use case, I want to specify a geometry column in my schema and that's probably enou

[2021-12-06 14:01] cosmicBboy commented on #381
wow @jhamman this looks amazing! I'd love to integrate, do you want to find a time to chat?
https://calendly.com/niels-bantilan/30min

Also feel free to join the discord community if you want to discuss further there: https://discord.gg/vyanhWuaKB

[2021-12-06 14:20] cosmicBboy commented on #693
Thanks for the detailed analysis @m-richards, and I'm glad you're finding pandera useful!

It seems like GeoSeries and GeoDataFrame already does a lot of heavy lifting in terms of checking types of `GeometryDtype` arrays, and adding support for `GeometryDtype`, which is @roshcagra's use case, would cover a majority of the type-checking use cases.

Once there's a `pandera.Geometry` data type, addin

[2021-12-06 14:23] cosmicBboy commented on #596
fixed by #599

[2021-12-06 14:23] #596 closed

[2021-12-06 14:23] cosmicBboy commented on #390
fixed by #580

[2021-12-06 14:23] #390 closed

[2021-12-06 14:25] cosmicBboy commented on #538
hi @suned sorry for the long reply-time! currently this isn't quite possible, but we're working on adding more flexibility to the data synthesis strategy functionality:

- https://github.com/pandera-dev/pandera/issues/561
- https://github.com/pandera-dev/pandera/discussions/648

Will keep you updated on when support for your use case will be added!

[2021-12-06 14:29] cosmicBboy opened #695 "Support better custom error reporting"
**Is your feature request related to a problem? Please describe.**

Customizing pandera error reports is currently not a great experience (i.e. it's just a string identifier in the `pa.Check(..., error="custom error")` definition. This issue describes three related solutions that would make that experience much better.

**Describe the solution you'd like**

- [ ] support custom error reporting: th

[2021-12-07 03:00] cosmicBboy commented on #123
hi @benlindsay 👋 currently there is no way to do this, but I'd be open to support this feature... basically it has the same semantics as the check-level `raise_warning` kwarg, but at the schema/schema component level.

Would you me down to open up a [new issue](https://github.com/pandera-dev/pandera/issues/new?assignees=&labels=enhancement&template=feature_request.md&title=) describing the feature

[2021-12-07 14:04] cosmicBboy commented on #680
fixed by #681

[2021-12-07 14:04] #680 closed

[2021-12-07 14:04] cosmicBboy commented on #601
fixed by #658

[2021-12-07 14:04] #601 closed

[2021-12-07 17:20] roshcagra commented on #693
@cosmicBboy @jeffzi @m-richards

This is my first pass:

[code]

Let me know what you think!

[2021-12-07 19:14] roshcagra opened #697 "SchemaModel's index doesn't store the name"
**Describe the bug**
When creating a `SchemaModel`, if you specify an `Index` and try to retrieve its name, the name is set to `None` instead of the field name.

- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the latest version of pandera.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandera.

#### Code Sam

[2021-12-07 20:47] jeffzi commented on #693
@m-richards Thanks, appreciate you're taking the time to explain in details !

Yes, my question was about whether we'd need to add built-in checks to better support geopandas but it does not seem to be necessary.

It will be important to test that `validate` does return a geopandas Dataframe if presented one, and preserves the geopandas metadata attributes kindly listed by @m-richards.

@roshcagra

[2021-12-07 21:46] jeffzi commented on #688
Idea 2 is very verbose and not intuitive. You need to remember the order of arguments since the `Annotated` mechanism does not allow naming arguments.

I think the use case is json(schema) output. Consider:
[code]
The semantics do match up. `__root__` indicates the type of the modeled pandas object.

I guess the default `__root__` for regular SchemaModels should be `__root__=DataFrame` so that you

[2021-12-07 22:21] jeffzi commented on #697
You need to use `check_name`:

[code]
The reason is that naming a [pandera.Index](https://pandera.readthedocs.io/en/stable/reference/generated/pandera.schema_components.Index.html) will automatically activate name validation. In a SchemaModel, you have to name the class attribute to satisfy python's syntax. `check_name` is there to not force users to name the index of the DataFrames they want to v

[2021-12-07 22:23] #697 closed

[2021-12-07 22:35] roshcagra commented on #693
@jeffzi @cosmicBboy PR for this up here: https://github.com/pandera-dev/pandera/pull/698

[2021-12-08 01:47] cosmicBboy opened #699 "Add pre-commit hook to ensure environment.yml and requirements.txt are in sync"
As the title suggests, update `.pre-commit-config.yaml` with a bash hook that runs `python scripts/generate_pip_deps_from_conda.py` to sync up environment.yml and requirements.txt files

[2021-12-11 15:35] cosmicBboy opened #705 "Xarray integration"
**Is your feature request related to a problem? Please describe.**

[xarray](https://xarray.pydata.org/en/stable/index.html) is a project that provides a dict-like data container abstraction for ndimensional arrays. It shares some commonalities with `pandas`, but there many key differences (e.g. `coords` and `attrs`).

After chatting with @jhamman about this approach, we decided it would be approp

[2021-12-11 15:42] cosmicBboy commented on #381
@jhamman made this issue https://github.com/pandera-dev/pandera/issues/705 to track the xarray integration.

I'm planning on making a PR for this issue (#381) by end of year to make the xarray-schema integration as smooth as possible.

[2021-12-12 02:23] benlindsay opened #706 "Enable raising warning if optional column is missing"
There are times when it's not clear if a column is necessary or not, so I don't want to force it to exist, but I'd also like to be able see a warning if that column isn't present to help debug long pipelines. I can do this with something like this:

[code]

But it would be nice to be able to simplify the schema with syntax like this:

[code]

Additionally, it might be nice to have a schema-wide co

[2021-12-12 03:45] benlindsay opened #707 "Add config option to disallow duplicate column names"
I'm in the camp of wishing pandas would disallow duplicate column names. A fallback wish would be pandera disallowing duplicate column names by default. Since that would be a breaking change that I'm guessing won't fly, my fallback fallback wish is a config option to do so. My current solution is to define a `BaseSchema` that all my schemas inherit from that looks like this:

[code]

I'd propose s

[2021-12-13 15:41] benlindsay commented on #123
@cosmicBboy sounds good! I opened a new issue for this [here](https://github.com/pandera-dev/pandera/issues/706)

[2021-12-14 15:48] cosmicBboy commented on #706
Hey, @benlindsay this proposal looks good to me!

One minor naming/API change I'd suggest is perhaps to do `Field(on_missing="warn")` and `on_missing_columns="warn"` for the schema model config. I think this is nice because actually now `on_missing` and `on_missing_columns` can be refactored to accept callback functions (some time in the future of course!).

For the scope of this issue `"warn"` wo

[2021-12-14 18:30] benlindsay commented on #706
I like that API change suggestion, thanks for the feedback! I'd love to work on this, but don't foresee myself being able to commit the time to do so in the near future. I'll make a PR if that changes some day, but in the meantime if anyone else has the time and interest in doing this, please go for it.

Thanks!

[2021-12-14 18:36] cosmicBboy commented on #706
cool! just added the "help wanted" tag on this issue.

In the mean time, here's a perhaps useful extension to the code snippet you provided:

[code]

[2021-12-14 18:50] benlindsay commented on #706
Nice, thanks for the tag and the hints! Maybe I can add that dataframe check to my `BaseSchema` mentioned [here](https://github.com/pandera-dev/pandera/issues/707) with `_warn_if_missing_columns = []` which can be overridden by subclasses

[2021-12-14 20:02] #663 closed, assigned to nobody

[2021-12-16 02:40] nickolay opened #709 "Confusing message on coercion failure due to chained exceptions (Could not coerce <..> data_container into type ..)"
When coercion fails, e.g. in the following script:

[code]

...the user gets a huge traceback (below), which consists of three "chained" exceptions:
* A useful, if vague `ValueError: could not convert string to float: ''`
* followed by a meaningless `pandera.errors.ParserError: Could not coerce <class 'pandas.core.series.Series'> data_container into type float64`
* followed by `pandera.errors.Sche

[2021-12-18 09:48] matthiashuschle opened #713 "SchemaError breaks pickle"
**Description**
`SchemaError` (and probably `SchemaErrors`) have a couple of problems that make it impossible to use them with pickle:

1. Pickling breaks when the `schema` attribute contains `Check` objects with lambdas or local functions from `Check.isin` or similar.
2. Unpickling breaks always, as the signature differs from `Exception` and has more than one required positional argument.

This i

[2021-12-18 21:37] cosmicBboy commented on #707
I support this feature @benlindsay! As I mentioned in your other issue I'm not sure when I'll be get to implementing this, but contributions are welcome!

[2021-12-18 21:43] cosmicBboy commented on #713
Thanks for raising this issue @matthiashuschle!

Your proposal looks good, and thanks in advance for the contribution!

Let me know if you have any questions about dev environment setup.

[2021-12-18 22:01] benlindsay commented on #707
Thanks! This is another one I wish I had time to make a PR for but don't foresee having the time for

[2021-12-22 19:40] rchui opened #718 "Explicitly reexport in base init"
**Describe the bug**
When mypy is run with the setting (`implicit_reexport = False`), mypy will fail when pandera is used as the documentation recommends.

- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the latest version of pandera.
- [X] (optional) I have confirmed this bug exists on the master branch of pandera.

**Note**: Please re

[2021-12-23 00:55] cosmicBboy commented on #718
Hi @rchui thanks for filing this issue! This should have been addressed in https://github.com/pandera-dev/pandera/pull/686.

I reproduced the issue on `0.8.0` tag, and it isn't a problem on `master`.

I'll be releasing a bugfix release by next week (a pre-2022 holiday 🎁 !)

Also as a head up, `0.8.1` will be making the mypy static-linting support optional with a `pip install pandera[mypy]` extra a

[2021-12-23 04:17] cosmicBboy commented on #709
woops, didn't mean to close this @nickolay

thanks for raising this issue! the non-validation error reporting in pandera can stand to be improved, so this PR https://github.com/pandera-dev/pandera/pull/710 added a little more information in the bottom-most exception in the strack trace.

It's not ideal, but the exception chaining is pretty nice so that chunks of the stack trace aren't lost.

The `

[2021-12-23 04:30] rchui commented on #718
Thank you. I'm looking forward to this. Closing this issue.

[2021-12-23 04:30] #718 closed

[2021-12-23 13:31] vovavili commented on #74
Hello Nils! Why was it decided for this issue to be closed without implementing Check.date_format in checks.py?

Vladimir

[2021-12-23 15:04] cosmicBboy opened #719 "lazy validation on dask dataframes should collect all errors"
**Describe the bug**

When doing lazy validation on dask dataframes, currently only the first partition to raise a `SchemaErrors` exception is reported.

- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the latest version of pandera.
- [X] (optional) I have confirmed this bug exists on the master branch of pandera.

#### Code Sample, a c