[2018-11-12 18:31] cosmicBboy opened #2 "add support/tests for multi-index columns"

[2018-11-12 18:31] cosmicBboy opened #3 "add support for MultiIndex index/columns"
the API for MultiIndex columns could be something like:

[code]

The API for MultiIndex indexes could be something like:
[code]

[2018-11-12 18:32] cosmicBboy opened #4 "add support for validating head/tail/random sample of dataframe/series"

[2018-11-13 13:03] marianneke opened #5 "ModuleNotFoundError: No module named 'pandera'"
Hi Niels,

Awesome library! I pip-installed it, and tried to use it, but for some reason the library can't be found.
I get the same error whether I open python from the command line or open a Jupyter notebook. (I also tried opening a new Terminal window).

I'm using Miniconda3 with pandera I believe installed under:
`/miniconda3/lib/python3.6/site-packages (0.0.3)`

However, all I can find there i

[2018-11-13 13:37] cosmicBboy commented on #5
I think I found the problem... `setup.py` wasn't properly configured. let me know if it works now

[2018-11-13 15:50] marianneke commented on #5
I uninstalled and reinstalled, and it worked! 💯

[2018-11-13 15:50] cosmicBboy commented on #5
great!

[2018-11-13 15:50] #5 closed

[2018-11-19 02:50] cosmicBboy opened #6 "add support for dataframe schema transformations: add_column, remove_column"
these should be methods that correspond with pandas dataframe operations.

For example, if the user adds a column to a dataframe, also support changing the corresponding schema to account for that change:

[code]

[2018-11-21 19:51] cosmicBboy opened #7 "add support for schema merging"
This is similar to #6, except this enables the user to merge schemas (using a similar api as `DataFrame.merge`)

[2018-11-26 04:01] cosmicBboy opened #8 "update dataframe schema API"
Make the interface more natural to pandas users:
[code]

note that `Int`, `Float`, and `String` are now just validators

Or provide a list of validators
[code]

Validator interface should be the same

[2018-11-28 20:23] cosmicBboy opened #9 "replace Validator with Check class"
should act in pretty much the same way.

[2018-11-28 20:25] cosmicBboy opened #10 "create Nullable class (inherits from Assert)"

[2018-11-30 17:27] #10 closed, assigned to nobody

[2018-12-03 17:00] cosmicBboy opened #11 "dict-based definition of schema"
express schema as a dictionary

[code]

for multiindex column, use tuple as key
[code]

[2018-12-10 19:53] cosmicBboy opened #12 "add `allow_duplicates` to SeriesSchema or Index class"

[2018-12-10 22:03] cosmicBboy opened #13 "add debug mode"
The user enables "debug" mode (maybe as an ENV variable) in order to enter the scope of the schema validator where the error occurs.

[2018-12-10 22:08] cosmicBboy opened #14 "add dataframe-level checks: a list of checks that have access to the entire dataframe"
This feature enables checks on the dataframe that assert properties about multiple columns in the dataframe, for example, to assert that the ratio of two columns is `<`, `>`, etc.

This should be expressed as a list of `checks` supplied to the `DataFrameSchema` constructor:

[code]

Note a subtlety here that if we supply `element_wise=True`, then the function signature should apply to a row in the

[2018-12-10 22:11] cosmicBboy opened #15 "only print out most common failure cases when validator fails"
for failure cases, print out failure cases in the following form:
[code]

[2018-12-11 16:12] cosmicBboy commented on #7
this may obfuscate the code and be counter-productive to the entire point of pandera, which is to make the code more readable.

[2018-12-11 16:12] #7 closed

[2018-12-11 16:17] cosmicBboy commented on #9
validator is fine

[2018-12-11 16:25] cosmicBboy opened #16 "add support for grouping column of interest by another column."
if the user needs to validate some column `x` conditioned on the values of column `y`, the user can specify multiple column names argument

[code]

[2018-12-11 16:39] cosmicBboy opened #17 "implement Hypothesis validator"
this is a special class of multi-column validator that performs a hypothesis test on the dataset.

For two-sample hypothesis tests, the minimum requirement is that a `groupby` argument is specified.

For a one-sample hypothesis test, if the `groupby` argument is supplied, then the `groups` argument must be a string of a one-element list specifying the group that you want to test. If `groupby` is N

[2018-12-11 16:41] cosmicBboy commented on #2
dupe of #3

[2018-12-11 16:41] #2 closed

[2018-12-11 17:46] cosmicBboy opened #18 "support subsetting the dataframe for validation"
user can subset by head, tail, or randomly (set seed) in order to validate a subset of a potentially large dataframe.

[2018-12-18 00:19] cosmicBboy commented on #11
fixed by a68af4270a0e37a164a1f50cfd580c8aa3aea903

[2018-12-18 00:19] #11 closed

[2018-12-26 22:42] cosmicBboy opened #20 "add coerce option to DataFrameSchema"
this should coerce the type of all columns to the specified dtype before validation.

This should raise a warning when `nullable` Int columns are defined... these should
just default to Float

[2018-12-29 16:12] #15 closed

[2019-05-01 00:42] cosmicBboy commented on #12
fixed by #24

[2019-05-01 00:42] #12 closed

[2019-05-01 00:43] cosmicBboy commented on #6
this may obfuscate the code and be counter-productive to the entire point of pandera, which is to make the code more readable.

[2019-05-01 00:43] #6 closed

[2019-05-01 19:43] mastersplinter opened #26 "Dataframe null check doesn't provide df name if error occurs"
**Describe the bug**

If a dataframe contains null values in a column, the dataframe name is not returned when the errors in the series are reported. When multiple checks are being run in the same script, this makes debugging difficult as only the column name is returned.

**To Reproduce**
[code]
This results in an error:
[code]
(full error report included at the bottom of this issue).

I _think_

[2019-05-02 01:57] cosmicBboy commented on #26
The error message leaves a lot to be desired, among them the fact that it's handled twice, once by `pandera` and once by the `schema` code.

[code]

I'd support including the `dataframe.name` in the error message if it's not `None`, though I'd really if the error message were a bit cleaner it would be clear where it's coming from:

[code]

At least the way I use dataframes, I often don't name them

[2019-05-02 03:55] cosmicBboy commented on #26
After hacking around a little bit and reading through this [pandas issue](https://github.com/pandas-dev/pandas/issues/447) it seems like including the dataframe name to the error message is not the way to go, and explicitly providing some sort of identifier to the `validate` call seems like quite a burden on the user, especially since the last traceback message does point to the invalidated datafr

[2019-05-02 04:19] cosmicBboy commented on #26
@mastersplinter it was easier to remove the `schema` dependency that I thought :)

after https://github.com/cosmicBboy/pandera/pull/27, the error message (executing the code in the issue description) is much easier to read:

[code]

[2019-05-02 07:35] mastersplinter commented on #26
@cosmicBboy this is great. Your changes enable faster when using schema.validate.

An issue still remains when using the _check_input_ and _check_output_ decorators on a function.

Take this example:
[code]

With your latest changes from #27 and mine from #25, the error message still doesn't help the user isolate which schema check/decorator raised the issue:
[code]

[2019-05-03 18:31] cosmicBboy commented on #26
cool, this I think can be handled easily at the decorator level. Will do this weekend

[2019-05-03 18:53] cosmicBboy opened #28 "add strict=True to DataFrameSchema"
if strict=True, then all columns in the dataframe must have a corresponding `Column` in the dataframe schema. If strict=False, raise UserWarning that indicates columns in the df that aren't being validated.

[2019-05-09 03:27] cosmicBboy commented on #26
@mastersplinter this should do it: https://github.com/cosmicBboy/pandera/pull/29

[2019-05-09 03:27] #26 closed

[2019-05-13 20:13] cosmicBboy opened #30 "create a human-readable __repr__ method"
`print(DataFrameSchemaObj)` as a human-readable string, e.g.
[code]

[2019-05-13 22:07] cosmicBboy opened #31 "handle `self` argument when using check_input in class method when str obj_getter is supplied"
Check is the wrapped function is a class method:

https://stackoverflow.com/questions/5963729/check-if-a-function-is-a-method-of-some-object

if so, ignore the first argument.

[2019-05-18 17:38] cosmicBboy opened #35 "make Check element_wise=False the default"
since we're working with pandas here, it makes sense to make vectorized checks the default setting to encourage users to take advantage of performance gains of vectorized checks.

[2019-05-18 17:45] cosmicBboy opened #36 "create CONTRIBUTING.md with dataframe schema style-guide"
based on conversation here:
https://github.com/cosmicBboy/pandera/pull/34

[2019-05-18 18:08] mastersplinter commented on #30
I will use this example in this comment:
[code]
@cosmicBboy I think it makes sense to have a `__repr__` and a `__str__` method.

The `__str__` is used by `print`, and `__repr__` can be used for logging.

**Proposal:**
For `class DataFrameSchema(object):` :

[code]
this makes the single line:
[code]

For the `__str__` method, I tried various attempts at using `json` and `pprint` but could never get

[2019-05-18 18:27] mastersplinter opened #37 "include code coverage badge"
It would be nice to be able to see the code coverage via a button on the readme:
<img width="278" alt="image" src="https://user-images.githubusercontent.com/3764091/57973547-740a3680-79a2-11e9-9ec2-22b686073cc4.png">

A free/commonly used approach is via:
https://codecov.io/

[2019-05-18 20:40] mastersplinter commented on #18
How do you see this differing from the user using head/tail/sample:

[code]

[2019-05-18 20:45] cosmicBboy commented on #18
ah, yes I've been meaning to invalidate this issue, your example makes sense.

[2019-05-18 20:45] #18 closed

[2019-05-18 20:47] cosmicBboy commented on #28
fixed by https://github.com/cosmicBboy/pandera/pull/34

[2019-05-18 20:47] #28 closed

[2019-05-18 21:02] #36 closed

[2019-05-18 21:04] cosmicBboy commented on #13
not sure how useful this is really, general `pdb`/`ipdb` workflow may be enough

[2019-05-18 21:09] mastersplinter opened #41 "update readme on release of next version"
suggest replacing

```**Supports:** python 2.7, 3.5, 3.6```

with:

```[![PyPI pyversions](https://img.shields.io/pypi/pyversions/pandera.svg)](https://pypi.python.org/pypi/pandera/)```

when the new metadata is available on pypi.

It will be 'missing' before pypi is updated:
[![PyPI pyversions](https://img.shields.io/pypi/pyversions/pandera.svg)](https://pypi.python.org/pypi/pandera/)

[2019-05-18 21:35] mastersplinter commented on #16
What's your view on handling the `nullable`, `strict`, `allow_duplicates` when supplying a tuple of columns for checking?

Do you see something like this?:

[code]

[2019-05-18 22:00] cosmicBboy commented on #16
this is an interesting problem... I'm wondering if it would make more sense to extend the `Check` class so specifying a tuple of column names that the column `depends_on` that modifies the signature of the check function, like so:

[code]

This way the user only needs to specify column properties once, and modify the function signature of a `Check`.

I'm concerned that my original proposal will ma

[2019-05-18 23:17] mastersplinter commented on #16
Specifying `depends_on` before those columns are defined seems a bit odd on first read (it makes me think of the classic IDE error "variable referenced before assignment").

Maybe the use of `b` in the `check` of `a` could be handled implicitly, i.e. the fact that `b` exists is enough for building a dependency graph behind the scenes?

That still suffers from the readability issue.

One option cou

[2019-05-19 19:22] cosmicBboy commented on #16
the separate `checks` idea is challenging because I think checks should be bound to the data provided by the `columns` keys. There really isn't a straightforward way to let a `Check` know what the function signature is besides associating a `Check` with column names in an explicit way.

Really, the intent behind checks that involve multiple columns is to enable things like hypothesis testing https

[2019-05-20 21:43] mastersplinter commented on #16
I like your thinking - column wise checks follow the logic of "this column depends on these others", and fits the primary use case. The syntax gets clunky if a user writes too many overlapping checks, and that can easily be handled outside of Pandera if required.

I looked at implementing it and one observation: if the user made a mistake in specifying the `lambda` function or `depends_on`, it wou

[2019-05-21 16:45] cosmicBboy commented on #16
good point, I do like the direction of making the API for specifying checks clearer, and I'd like to maintain the separation of the primary column (the one that is specified in the `columns` key) and the `depends_on` columns.

For example:

[code]

basically specifying `depends_on` modifies the expected `Check` function signature to
[code]

where `dataframe` contains the columns specified in `depe

[2019-05-23 23:53] cosmicBboy commented on #16
after much thought, the solution to the problem of specifying additional columns in a `Column` `Check` was to introduce a `groupby` argument to the `Check` class.

The reason for this is that it enables the user to group a `Column` of interest by some other column in the dataframe with some reasonable guard rails.

If we went with the `depends_on` solution proposed in https://github.com/cosmicBboy

[2019-05-24 14:26] #16 closed

[2019-05-27 15:52] cosmicBboy opened #44 "discussion: add `filter` method to DataFrameSchema"
Discuss the use case for partitioning a dataframe into valid and invalid portions.

[2019-05-29 15:36] cosmicBboy opened #45 "create official documentation with Sphinx"
Move the documentation currently maintained in the readme into https://readthedocs.org, use sphinx to auto-generate.

[2019-06-02 00:56] cosmicBboy opened #46 "drop python 2.7 support"
since python2.7 will no longer be maintained by Jan 1, 2020, we should also no longer maintain it moving forward.

pandera v0.1.3 will be released on June 9th, 2019.

Should plan to follow up with a v0.2.0 version bump to deprecate support for python 2.7 after resolving a few more issues

[2019-06-02 18:18] mastersplinter commented on #45
@cosmicBboy do you have a strong preference re: docstrings format?

Sphinx needs a plugin to read the google-style docs and I'm used to the reST style (which seems more prevalent)?

https://stackoverflow.com/questions/3898572/what-is-the-standard-python-docstring-format

[2019-06-02 18:43] cosmicBboy commented on #45
@mastersplinter yeah I'm actually more accustomed to reST style documentation as well, I wanted to try numpy-style docstrings for this project, but I'm thinking we can re-format to reST style in an issue preceding this one.

I also wanted to start using type hints for this project, and it looks like there's a handy sphinx extension to support that: https://pypi.org/project/sphinx-autodoc-typehints

[2019-06-02 18:51] cosmicBboy opened #47 "add flake8 linter to CI"

[2019-06-02 18:54] cosmicBboy commented on #35
fixed by #42

[2019-06-02 18:54] #35 closed

[2019-06-02 18:55] cosmicBboy opened #48 "create conda package"

[2019-06-02 19:01] mastersplinter commented on #45
@cosmicBboy I've started the docs here (WIP right now):
https://github.com/mastersplinter/pandera/tree/feature/documentation/docs

I used `sphinxcontrib-napoleon` to handle the numpy-style docstrings, but will use https://github.com/dadadel/pyment to convert the existing docstrings.

I'm a huge fan of type hinting, and agree on doing this after the initial docs setup.

[2019-06-02 20:14] cosmicBboy opened #49 "discussion: submit pandera to pyOpenSci review process"
might be good to get more contributers/users/feedback to speed up development and adoption of this tool by having pandera have the stamp of approval of the pyOpenSci community:

https://www.pyopensci.org/dev_guide/intro.html

[2019-06-03 10:36] mastersplinter opened #52 "discussion: should pandera get a logo?"
Should Pandera get a logo?

Many public projects have logos to help with recognisability.

There's a free logo generator on https://hatchful.shopify.com/

To make the logos below, II used the options: Get Started -> Services -> Reliable -> pandera+pandas schema validation -> Online store or website

These are some of the better ones:
Option 1:
<img width="289" alt="image" src="https://user-images.

[2019-06-03 16:38] cosmicBboy commented on #17
fixed by #43

[2019-06-03 16:38] #17 closed

[2019-06-03 17:19] mastersplinter commented on #49
Turning the OpenSci requirements into a to-do list:

### Requirements
This section has descriptions of all the packaging requirements for pyOpenSci. I've converted the Good/Better/Best recommendations into their own bullets where appropriate as we should be aiming for best and the good/better points are fairly small.

**README** must include:
- [ ] The package name
- [ ] Badges for:
- [ ] continuo

[2019-06-05 15:07] cosmicBboy opened #56 "blog post ideas?"
@mastersplinter do you have any ideas on blogposts to demonstrate the utility of this library?

So far I've written this one:
https://cosmicbboy.github.io/2018/12/28/validating-pandas-dataframes.html

I'm thinking other topics could be:
- pandera in a machine learning pipeline
- more data munging use cases

Re: exposure:
- I also think brief posts on Medium would help get more exposure.
- posting

[2019-06-05 15:29] cosmicBboy commented on #52
Played around with Option 1 a little bit.. what do you think?

<img width="287" alt="image" src="https://user-images.githubusercontent.com/2816689/58969067-1426d480-8785-11e9-8671-925d53c7a01b.png">

[2019-06-05 21:04] mastersplinter commented on #52
![pandera](https://user-images.githubusercontent.com/3764091/58990440-cdb19400-87dd-11e9-930b-6d95dc092664.png)

I had a simple go at making it 3d

[2019-06-05 21:14] mastersplinter commented on #45
@cosmicBboy think this is resolved by #50 and can be closed.

[2019-06-05 21:16] cosmicBboy commented on #45
fixed by #50

[2019-06-05 21:16] #45 closed

[2019-06-05 21:28] cosmicBboy commented on #47
fixed by #54

[2019-06-05 21:28] #47 closed

[2019-06-06 01:02] cosmicBboy commented on #52
cool idea! I think it's a little bit busy for a logo tho. I'll put up the flat downward-facing chevron design for now

[2019-06-06 04:53] cosmicBboy commented on #37
fixed by #59, #60, e1c8063312b86ad8417cbf12cebe1218ddbf39f5

[2019-06-06 04:53] #37 closed

[2019-06-06 22:11] #52 closed

[2019-06-06 22:22] mastersplinter commented on #56
This is a good idea, I think there's a few pre-reqs to get out of the way, e.g.
- conda availability (important for some teams in my company for example)
- next release on pypi
- tightening up the readme to really explain some of the key differentiators from other schema validation packages (for me, the _key_ differentiator has always been the decorators i.e. easy pipeline integration).

I think M

[2019-06-06 22:31] mastersplinter opened #62 "create GitHub organisation for repo?"
Could aid credibility of repo, e.g. it's fairly common for other projects to be associated with an org rather than a specific user.
https://github.com/scikit-learn
https://github.com/pandas-dev
https://github.com/matplotlib

[2019-06-07 20:43] cosmicBboy commented on #62
Done! https://github.com/pandera-labs

Before we migrate the repo here, I'd like to get the 0.1.3 release out there and have a bit more comprehensive documentation + examples.

Some concrete steps for the migration:
- release 0.1.3
- update any urls that might break the build or UX
- do migration to pandera-labs org.

I think this will prove a lot more useful when the project scales to the point w

[2019-06-07 21:58] mastersplinter commented on #62
Both are great ideas, and would be super helpful in a number of my projects.

Agree on all points. I've been thinking about a similar concept that could be associated with Feather's DataFrames for example:  https://blog.rstudio.com/2016/03/29/feather/

[2019-06-07 22:08] cosmicBboy commented on #62
Yep! feather's a perfect example of R/Python bilingual support.

R already has a mature validation package called [validate](https://github.com/data-cleaning/validate), and I pretty much lifted the json/yaml config idea from there: https://cran.r-project.org/web/packages/validate/vignettes/rule_files.html.

I think one thing that `pandera` has over `validate` is the native support for hypothesis t

[2019-06-07 22:19] mastersplinter commented on #62
I've used `validate` before - very handy. My memory of it led me to find pandera.

Another idea for the backlog, although a little niche, would be a NetworkX (graph) validation library. I'm less clear on the exact niche - I/my team use a number of built-in NetworkX algos to do validation, so maybe not necessary.

[2019-06-07 22:46] mastersplinter commented on #49
The OpenSci checklist: _If applicable, how the package compares to other similar packages and/or how it relates to other packages_

These are some of the alternatives to pandera and a few points on how they compare:
- https://github.com/alecthomas/voluptuous
  - not specific to pandas, applies to JSON/YAML etc.
  - very flexible but reasonably simple
  - no decorators, hypothesis or sophisticated

[2019-06-08 13:08] cosmicBboy opened #63 "automate conda packaging with travisci"
this gist is useful:

https://gist.github.com/zshaheen/fe76d1507839ed6fbfbccef6b9c13ed9

[2019-06-08 13:13] cosmicBboy commented on #48
fixed by #61

[2019-06-08 13:13] #48 closed

[2019-06-08 13:35] cosmicBboy commented on #4
@mastersplinter I don't remember where you brought this topic up, but I think this feature would support the use case where a dataframe is potentially very large and we want seamless integration with a pipeline

[code]

This would validate:
- first 1000 rows
- last 1000 rows
- random sample of 10,000 rows with random state `1234`

While also returning the full df, thus assigning it to `clean_df`.

[2019-06-08 22:13] #31 closed

[2019-06-08 22:14] cosmicBboy commented on #13
closing this issue, feature doesn't seem that useful.

[2019-06-09 14:25] cosmicBboy opened #66 "for two sample hypothesis tests, standardize API"
For a more intuitive API, two sample `Hypothesis` tests class method definitions should look like this:

[code]

which is more intuitive than specifying a list of `groups` that may or may not have 2 elements in it.

[2019-06-10 02:40] #66 closed

[2019-06-10 12:35] #41 closed

[2019-06-12 02:06] cosmicBboy commented on #63
See this issue for info on how to run conditional commands based on the branch:

https://github.com/travis-ci/travis-ci/issues/879

[2019-06-12 02:09] cosmicBboy commented on #46
Going to delay release of this until the 0.1.5 release milestone

[2019-06-12 02:14] cosmicBboy opened #72 "add type hints to all functions/methods"
this should happen after dropping 2.7 support

[2019-06-12 02:41] cosmicBboy opened #73 "Add more comprehensive type support"
Currently, only the `*64` bit dtypes are supported by pandera.

- explicitly cover all valid pandas dtypes, including `category` dtype: https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html

[2019-06-12 02:46] cosmicBboy opened #74 "Add built-in Checks for common operations"
`pandera` offers a lot of flexibility in terms of the kinds of assertions you can make about a dataframe. However, it would be useful to have built-in checks for common operations. This issue is a proposal to define what those common operations are.

These should all use vectorized pandas operations.

### For dtypes that support pandas comparison operators `>`, `>=`, `<`, `<=`, `==`, `!=`

- great

[2019-06-12 04:28] cosmicBboy opened #75 "Add Compare subclasses of Check for dataframe-level multi-column checks"
The `Compare` subclasses of `Check` are designed to work nicely with dataframe-level checks #14.

### `Compare` class

This class enables element-wise comparison of two columns.

The proposed API for this would be something like:

[code]

This will be an experimental API

[2019-06-12 09:33] mastersplinter opened #76 "PyPI docs logo not loading"
Not sure why, but I get the below when looking at pypi. Have tried a few times and get the same error.

The image address on pypi is odd : https://warehouse-camo.cmh1.psfhosted.org/8a54bccff4f1c84259a30f7d18afae06ce64b607/68747470733a2f2f6769746875622e636f6d2f636f736d696342626f792f70616e646572612f626c6f622f6d61737465722f646f63732f736f757263652f5f7374617469632f70616e646572612d62616e6e65722e737667

[2019-06-12 12:26] cosmicBboy commented on #76
That should be fixed now, it’s because the image is svg, only png and jpeg
format is supported

On Wed, Jun 12, 2019 at 5:33 AM Nigel Markey <notifications@github.com>
wrote:

[2019-06-12 12:26] cosmicBboy commented on #76
Should show up on next release

On Wed, Jun 12, 2019 at 8:26 AM Niels Bantilan <niels.bantilan@gmail.com>
wrote:

[2019-06-17 02:40] cosmicBboy opened #77 "support DataFrameSchema transformations"
This feature supports the use case where I want to be able to declare schema transformations as methods of a `DataFrameSchema` so that I can express dataframe schema transformations that I expect in a pipeline of transformations.

## Schema Transformations

[code]

The `add_columns` and `remove_columns` methods should return a deep copy of the dataframe schema so that it doesn't mutate the origina

[2019-07-10 18:19] cosmicBboy opened #78 "make coerce logic compatible with nullable columns"
currently, of `coerce=True`, the validation logic will first coerce the column to the specified dtype, then the column checks are applied.

This causes an issue where coercing to type `str` will turn `None` into `'None'`, thus invalidating the nullable logic.

[2019-07-11 21:21] mastersplinter opened #79 "Wrapping a check_input causes index out of range"
The following example:
[code]

Results in this list index out of range error:

[code]

[2019-07-11 21:31] cosmicBboy commented on #79
the `check_input` call should be `@check_input(schema)`, or `@check_input(schema, 0)`

[2019-07-11 21:35] cosmicBboy commented on #79
not sure if this is important, but positional args should also be a list/tuple and unpacked on function call

[code]

[2019-07-11 21:40] mastersplinter commented on #79
I need to investigate more, after playing with my toy example it's now fixed. I need to investigate my original code (which is much more complicated) and figure out if this is actually a pandera issue or not. Closing for now.

[2019-07-11 21:40] #79 closed

[2019-08-07 02:18] cosmicBboy commented on #3
fixed by 4286a5ccef536f8ca459514947871fef9984bb25

[2019-08-07 02:18] #3 closed

[2019-08-08 23:05] cosmicBboy commented on #4
fixed by 3d3ef7cd9b9df5d0b5202ca0e8db49c85f5b7b74

[2019-08-08 23:05] #4 closed

[2019-08-11 05:03] cosmicBboy commented on #14
fixed by dd97eb4edd6e61154429bb91219bcfad34a2c24a

[2019-08-11 05:03] #14 closed

[2019-08-13 14:12] mastersplinter commented on #76
Fixed in 0.1.5

[2019-08-13 14:12] #76 closed

[2019-08-14 01:08] cosmicBboy commented on #46
this will be a multi-step transition, but first step is to stop CI support for 2.7, and remove from pypi

[2019-08-14 01:21] cosmicBboy opened #85 "modularize pandera code"
what started as a small ~200 LOC project is now... larger.

should modularize schemas, checks, hypotheses, errors, and decorators into their own modules.

[2019-08-15 16:54] mastersplinter commented on #44
Giving users more info about failure cases would be great

I feel like it adds complexity to let the user just use .failure_cases - If I encountered this scenario I'd probably just write what I needed in pandas, but the concept makes sense for SchemaErrors alone.

[2019-08-15 22:47] #46 closed

[2019-08-18 21:22] cosmicBboy opened #90 "create conda-forge package"
https://conda-forge.org/#contribute

[2019-08-19 11:46] chr1st1ank opened #91 "Schema definitions in yaml"
I suggest allowing to pass schemas as yaml files. That way it wouldn't be necessary to hardcode all the checks when using pandera. Instead they would be defined in the yaml schema.
There are two use cases I see:

- Validating dataframes in a CI/CD pipeline. There it would be possible to have a validation step which could then be re-configured without changing the actual python code. It would be po

[2019-08-19 13:46] cosmicBboy commented on #62
@mastersplinter this is done

[2019-08-19 13:46] #62 closed

[2019-08-19 19:53] mastersplinter commented on #91
@chr1st1ank great idea.

As an interim measure, one option I've used is putting the schemas in a .py file and importing that file. Not ideal, but keeps modules a little tidier and enables reuse.

[2019-08-20 06:01] chr1st1ank commented on #91
Yes, sounds like a good workaround. And you're totally right that the API should be kept small and neat and not be cluttered with too many capabilities.
I still don't overview fully what pandera offers. The yaml format should be designed in a way that ideally everything pandera offers for valiation can be expressed with it.

[2019-08-20 06:06] chr1st1ank opened #93 "Infer dataframe schema?"
This is an idea I want to put out for discussion.

Together with a yaml schema format (#91) one could introduce schema inference to create a "draft schema" automatically. Currently it seems a lot of manual work to specify a schema for a dataframe with many features thoroughly. With two methods `infer_schema(df)` and `to_yaml()` work could be a little easier, because then the schema would only need

[2019-08-20 13:05] chr1st1ank commented on #85
Talking about modularization I have a question there:

It seems that the Check class (and possible subclasses) is hard to unit test because the `__call__` and `_vectorized_check` method take `parent_schema` and `check_index` as mandatory input. Is there another reason for this else than only error formatting?
Because if there isn't I would suggest to detangle the classes from each other.

That's t

[2019-08-20 13:50] chr1st1ank opened #95 "Why does SeriesSchema not accept a series with name?"
I'm having trouble with this section of SeriesSchemaBase:
https://github.com/pandera-dev/pandera/blob/ca5b39d329b3572d2889dd52a41ea97da6ef1534/pandera/pandera.py#L748-L751

It raises an error if I give it a series with name. Here a minimal example:
[code]

I can try to suggest a change as PR. But before I would like to ask if there is a particular reason for this behaviour?

[2019-08-20 13:55] cosmicBboy commented on #95
if the pd.Series has a non-`None` name attribute (which is true in the example above), it should explicitly be specified in the SeriesSchema.

[code]

The general design philosophy if `pandera` is to be strict by default, not permitting unstated assumptions about the data to pass silently.

[2019-08-20 18:35] chr1st1ank commented on #95
Ah, ok. That actually makes sense. It is an additional check.

Sorry for this beginner question. Maybe I could have guessed that from the exception type. I'll suggest a different message in a quick PR tomorrow if you don't mind.

[2019-08-21 02:07] cosmicBboy commented on #85
yes, I've been meaning to clean up this part of the internal API for some time now.

As you suggest, I think we can separate the error formatting and reporting functionality currently in the `Check` class into a utility module, and which would allow `Check.__call__` to not rely on the `parent_schema` or `check_index` argument, but I'd consider this another ticket. You're welcome to create an issue

[2019-08-21 08:23] chr1st1ank opened #96 "Move error formatting out of Check class"
It seems that the Check class (and possible subclasses) is hard to unit test because the `__call__` and `_vectorized_check` method take `parent_schema` and `check_index` as mandatory input. Is there another reason for this else than only error formatting?
Because if there isn't I would suggest to detangle the classes from each other.

That's the `_vectorized_check` function for example:

[code]

I

[2019-08-21 11:48] chr1st1ank commented on #95
I suppose we better simply leave it as is. I think with too many pull requests we would only get a "merging jungle".
The warnings can be improved later when the #85 task is done.

[2019-08-21 11:48] #95 closed

[2019-08-21 11:50] chr1st1ank commented on #85
I created such an issue, not expecting that we will work on it very soon.

Are you actively working on the modularization right now? I am a bit afraid that branches are moving too far appart if we don't take care. I am currently working on some built-in checks and on the yaml loading topic. I will try to keep it in separate files for now to avoid conflicts.

[2019-08-21 14:22] cosmicBboy commented on #85
Should be pushing something up by the end of this weekend

Let's move this discussion over to here https://github.com/pandera-dev/pandera/issues/74, as there are a couple of decision we should discuss re: API design that I'd like your and @mastersplinter feedback on.

[2019-08-21 15:12] chr1st1ank commented on #74
This is definitely a good idea, especially if we want to import schemas from an external format like yaml.

I have drafted some already to combine them with the yaml reader which I would also put to discussion in the yaml topic (#91 ).
Looks like this:
[code]

Here is how they are used then:
[code]

I think we shouldn't overdo it. For example the regex check covers all other string checks you list

[2019-08-21 18:53] cosmicBboy commented on #74
One API design decision I'd like to discuss for this issue is how to implement built-in `Check` and `Hypothesis` functions. I'll propose two options, knowing there are probably more:

1. For each built-in check/hypothesis, add a new class method to the corresponding class definition, much like the [two sample ttest](https://github.com/pandera-dev/pandera/blob/master/pandera/pandera.py#L445) and [o

[2019-08-21 20:29] chr1st1ank commented on #74
So, I am not sure if I fully understand option 1. Could you give an example how to use the classmethod of option 1 then? How would the schema definition look like?

[2019-08-21 20:41] chr1st1ank commented on #74
Ok, I get it. So there would only be the Check class with factory methods injecting the fn argument. Not that bad...
I have to think a moment what this leads to. We get fewer new classes but instead one rather huge class (pandas style, so to say...).
I am very used to class hierarchies, that's why I came up with the other approach at first.
For the user not that different after all.

I think the o

[2019-08-21 22:04] mastersplinter commented on #74
I like the class method approach for brevity.

I like @chr1st1ank's suggestion of having the factory methods in a module to keep the Check itself tidy (it's already a bit big)

[2019-08-27 09:39] #72 closed

[2019-08-31 15:21] #85 closed

[2019-08-31 15:39] cosmicBboy opened #99 "Schemas should be responsible for preparing the `check_obj` input."
Right now the `Check` class handles this, but really the consuming `Schema` or `SchemaComponent` should handle this.

[2019-08-31 16:30] cosmicBboy commented on #74
@mastersplinter @chr1st1ank now that #98 is merged, I think there are a few entangled issues that make sense to raise here:

1. The `Check` class is responsible for too much, pieces of logic need to be delegated elsewhere:
  - need to [move error formatting](https://github.com/pandera-dev/pandera/issues/96) logic out into separate helpers (perhaps in a `utils.py` module).
  - need to delegate the

[2019-09-04 08:29] mastersplinter commented on #74
@cosmicBboy So we'd have this hierarchy?
- `CheckBase`
  - `Check`
  - `HypothesisBase`
    - `Hypothesis`

What're you thinking needs to be in `HypothesisBase` rather than just having something like this?:
- `CheckBase`
  - `Check`
  - `Hypothesis`

[2019-09-04 13:31] cosmicBboy commented on #74
I was thinking that `HypothesisBase` would define core logic and methods that distinguish a `Check` from a `Hypothesis`, e.g. [`is_one_sample_test`](https://github.com/pandera-dev/pandera/blob/master/pandera/hypotheses.py#L103), [`hypothesis_check`](https://github.com/pandera-dev/pandera/blob/master/pandera/hypotheses.py#L161), and [`relationships`](https://github.com/pandera-dev/pandera/blob/mast

[2019-09-05 13:51] chr1st1ank commented on #74
Ok, let's list what the classes currently seem to do:

- Check:
  - Prepare a dataframe or series for a test (e.g. groupby)
  - Apply the test function
  - Find violations
  - Report violations
- Hypothesis:
  - A little additional dataframe/series preparation
  - Create Hypothesis objects with special built-in test functions

What we are trying now is to add built-in test functions also for the g

[2019-09-10 01:35] cosmicBboy commented on #73
fixed by b01eef07015dc76cae4b2a5be060417be3288c11

[2019-09-10 01:35] #73 closed

[2019-09-10 02:10] cosmicBboy opened #108 "use pylint linter in CI and make suggested code changes"

[2019-09-10 02:11] cosmicBboy opened #109 "add osx and windows support in CI"

[2019-09-10 02:21] cosmicBboy opened #110 "modularize tests/test_pandera.py"

[2019-09-10 04:06] #30 closed

[2019-09-15 21:02] cosmicBboy opened #112 "add example docstrings to all public functions/methods"
improve usability by adding example docstrings

[2019-09-26 21:24] zacharylawrence opened #113 "Make dtype optional in Column"
Is there a specific reason that the Column's dtype must be specified? If working with a dataset where that doesn't matter (eg. lots of str columns) it would be nice to omit this check.

Any thoughts on this?

https://github.com/pandera-dev/pandera/blob/ffd57d85d4983bb085ca0cd0af1fba59970ff6db/pandera/schema_components.py#L13

[2019-09-27 01:53] cosmicBboy commented on #113
I think it's mainly vestigial from when the api was much smaller. Any interest in making a PR? Will prioritize for next release.

Out of curiosity, how often do you have this use case?

[2019-09-27 14:17] zacharylawrence commented on #113
Awesome, thanks for considering this change and the code review! Also - what's the release procedure or when would you expect this to be pushed out?

I'd say it happens fairly regularly that I don't actually care about the type but would just like to run some validation checks over my dataframe!

[2019-09-27 18:24] cosmicBboy commented on #113
this project doesn't really have a formal release schedule yet, working on a few issues and will plan on 0.2.2 release in a week or two.

you could also use the dev version when your we merge your PR

[2019-09-29 23:13] cosmicBboy commented on #112
fixed be 4eeeb16541e5d9e74748fe9d1307065a8902a6b1

[2019-09-29 23:13] #112 closed

[2019-09-30 02:40] zacharylawrence commented on #113
That release plan makes sense to me!

Another reason I often don't want to check the dtype is because I'd prefer to write a `Check` myself that verifies the specific Python type instead of Pandas dtype (eg. that every element is a `datetime.date`). But let me know if you think I'm going about that the wrong way!

[2019-10-02 02:38] #113 closed

[2019-10-03 12:38] cosmicBboy commented on #113
yeah, if you wanted to validate non-pandas dtypes that would be the way to go

[2019-10-18 22:46] xmnlab opened #118 "PyOpenSci Blog"
hey @cosmicBboy !

PyOpenSci will start to publish some blog posts related to the work we are doing and about the packages approved.

Would you like to create a blog post about panderas and publish that to PyOpenSci Blog?

cc @lwasser

[2019-10-21 19:41] cosmicBboy commented on #118
yes, I'm down! are there any guidelines for content, language, etc. for such blog posts?

[2019-10-23 15:17] lwasser commented on #118
that would be so awesome -- thank you @xmnlab  and @cosmicBboy ...
there is a hackmd that Ivan created for the blog guidelines!! let me add a bit about the yaml part for website publication and then we will ping you Niels!! You will be our first blog contributor and we are so appreciative of that!!

[2019-10-25 21:26] xmnlab commented on #118
@cosmicBboy here is the first version of our blog post guidelines: https://hackmd.io/RX2nz6WFSm-RjHyOIsmTnA

feel free to reach me out with you need anything.

[2019-10-27 17:46] cosmicBboy commented on #118
@xmnlab thanks! I'll take a look. What would be the best way to share a draft? A PR to https://github.com/pyOpenSci/pyopensci.github.io?

[2019-10-27 22:01] xmnlab commented on #118
Yes, please :)

[2019-11-09 20:32] cosmicBboy opened #119 "Add first-class support for Dask"
Enable users to integrate pandera schema checks with Dask for large-scale data validation.

[2019-11-09 23:44] cosmicBboy commented on #78
fixed by 91559311d8f78c23eb1ce5869bbd59a7f3f0f545

[2019-11-09 23:44] #78 closed

[2019-11-09 23:44] cosmicBboy commented on #110
fixed by d5816a33b54793d3e191802c3bd9863d1efcd414

[2019-11-09 23:44] #110 closed

[2019-11-09 23:45] cosmicBboy commented on #49
package was accepted into pyopensci ecosystem!

https://github.com/pyOpenSci/software-review/issues/12

[2019-11-09 23:45] #49 closed

[2019-11-11 02:49] cosmicBboy commented on #90
PR to conda-forge https://github.com/conda-forge/staged-recipes/pull/10114

[2019-11-12 20:50] cosmicBboy opened #122 "implement lazy validation: iteratively validate dataframe and report all errors"
would probably be best to handle this after doing #96 and #99

The a user calls the `validate` method on any schema-like object, all checks should be evaluated before raising a `SchemaError`. This improves the debugging and schema-iteration experience by allowing the user to consider all schema errors at once without having to fix one error only to find another error.

Does data validation need to

[2019-11-16 16:50] cosmicBboy opened #123 "add `warning: bool` argument to Check class definition to raise warning instead of error if True"
The purpose of this feature is to give user control over what checks should raise an Exception vs raise a warning.

This supports use cases where check failures should not stop execution of the program.

Default should be `warning=False`

[2019-11-23 21:44] cosmicBboy commented on #118
blog was published!

https://www.pyopensci.org/blog/pandera-python-pandas-dataframe-validation

[2019-11-23 21:44] #118 closed

[2019-11-23 22:05] cosmicBboy commented on #63
pandera now has a conda forge recipe:
https://github.com/pandera-dev/staged-recipes

closing this ticket, since version updates should be managed from that repo

[2019-11-23 22:05] #63 closed

[2019-11-23 22:06] cosmicBboy commented on #90
https://github.com/pandera-dev/staged-recipes

[2019-11-23 22:06] #90 closed

[2019-11-24 23:40] xmnlab commented on #118
awesome! thanks @cosmicBboy !

[2019-12-04 20:01] lwasser commented on #118
yay!! and just an update!! @cosmicBboy i figured out how to add authors to blog posts so i added you to the left sidebar on the post! i grabbed info from your github profile. if you want to change anything you can edit the authors.yml file in our _data/ directory!

[2019-12-05 17:47] cosmicBboy commented on #118
great! thanks @lwasser looks good to me

[2019-12-05 20:51] lwasser commented on #118
perfect!!

[2019-12-17 18:41] #109 closed

[2019-12-18 10:20] mastersplinter opened #126 "Rebase master for most recent CI changes"
Hi @cosmicBboy to keep the commit history of master clean, can I suggest rebasing the most recent changes to the CI?

My process for getting the CI working was pretty haphazard, and the end result was simpler than my interim approaches, so we probably don't want these in master.

I'd propose rebasing the following? If you're ok with this I can do it.

<img width="567" alt="image" src="https://user

[2019-12-18 13:33] cosmicBboy commented on #126
done! https://github.com/pandera-dev/pandera/commit/0a28e30c8fd4dfdb78736a7545d0df99f70f02d5

[2019-12-18 13:48] mastersplinter commented on #119
@cosmicBboy have you used [Modin](https://github.com/modin-project/modin)?

One way to use Dask without having to change anything in Pandera is via using the Modin Dask Engine like this:

![image](https://user-images.githubusercontent.com/3764091/71091405-f3602280-219c-11ea-9f7d-4b81f2907437.png)

Can I check your goal here; are you aiming to have pandera itself parallelised and running on Dask?

[2019-12-18 13:53] mastersplinter commented on #126
thank you!

[2019-12-18 13:53] #126 closed

[2019-12-19 13:50] cosmicBboy opened #128 "add informative docstrings to tests"
the purpose of this is to make tests more maintainable/readable, and might even warrant some refactoring tests to isolate functionality being tested into separate unit test functions.

[2019-12-19 13:53] cosmicBboy commented on #119
This looks like a perfect solution! Betting that Modin will continue to be developed so these features come out of experimental mode, this looks like an easy integration.

Yes, the goal for this is to be able to perform data validation on "big" datasets (that don't fit into memory/disk). Not sure how Modin handles theses cases (i.e. constructs a computation graph and lazily evaluates it when neede

[2019-12-19 16:47] mastersplinter opened #129 "Remove pylint disabled exceptions"
`pylint` currently has disabled warnings, implemented after upgrading to `pylint` but that required more work than desirable in the single PR #127.

The full list of disabled checks to remove are:
- [x] ~~C0103 **Invalid Name** %s name "%s" doesn't conform to %s Used when the name doesn't conform to naming rules associated to its type (constant, variable, class...).~~
- [x] ~~C0114 **missing-modul

[2019-12-19 16:49] mastersplinter opened #130 "Switch to environment.yml or remove conda?"
We don't _strictly_ need conda in the CI process, as all dependencies can be found on pip.

That said, I usually work with conda environments, so prefer it, but appreciate the installation process does slow the CI a little (even with Miniconda). Having conda does help in making the environment more easily reproducible across different CI systems (avoiding Travis-specific syntax).

For simplicity,

[2019-12-19 16:51] mastersplinter opened #131 "Improve breadth of CI tests to cover specific dependency versions instead of latest"
Currently the CI will try and find the latest versions of python packages when testing on different OS' and different Python versions.

This is suboptimal because the CI could break if a new version of a dependency is broken.

It would be more thorough/error-proof to CI-test specific dependency versions alongside latest.

[2019-12-30 23:23] cosmicBboy opened #132 "make a light weight column checker that can be used independent of DataFrameSchema"
_Not sure if this would be useful to users in general, but I personally have had this use case when doing small transformations on a dataframe and would've liked support for this kind of feature._

Consider a lighter-weight column checker where the user wants to check one or a small number of columns without having to define a `DataFrameSchema`. Might want to implement this as a function instead o

[2020-01-03 13:37] matteby opened #133 "Support for returning `dtype` dict used by Pandas"
Pandas has several locations where it takes a `dtype` dict argument to convert a `DataFrame` to a specific type. I'd like to be able to maintain my schema with pandera and get type information from it when interacting with pandas `dtype` parameters. Examples:

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html
https://pandas.pydata.org/pandas-docs/stable/reference/api/

[2020-01-03 17:59] cosmicBboy commented on #133
excellent idea! I'm all for this

At an API level, one design pattern that would be nice to maintain is to closely mirror the pandas API so that pandera is intuitive, so I'd suggest having a `DataFrameSchema.dtypes` property and a `SeriesSchema.dtype` property so the user doesn't have to make a method call to access them.

As a lower-level implementation detail, one thought would be to look into t

[2020-01-03 22:46] matteby commented on #133
@cosmicBboy I opened #134 with the changes described above. I didn't add an additional method `to_numpy_dtype` to `PandasDtype`. Pandas will take either a `np.dtype` or the `str` representations. I didn't see much added value in converting to `np.dtype` since the enum values are guaranteed to be proper string representations. However, I'm happy to add that in if you have a strong preference.

[2020-01-04 16:25] cosmicBboy commented on #133
fixed by 7aecf163ae3b24e0829a1a7464c870d745495fb7

[2020-01-04 16:25] #133 closed

[2020-01-06 14:57] mastersplinter commented on #132
I think multi-column support is best left to DataFrameSchemas.

I also prefer extending the init of Columns objects, purely to keep surface-area lower.

[2020-01-07 16:45] mastersplinter commented on #128
I believe this is fixed by #135 so closing.

[2020-01-07 16:45] #128 closed

[2020-01-07 17:14] mastersplinter commented on #108
Solved by #127. Changes for pylint are tracked in #129.

[2020-01-07 17:14] #108 closed

[2020-01-08 16:20] cosmicBboy opened #139 "Make schema and schema component method signatures consistent"
Currently the `SeriesSchemaBase` class and subclasses have inconsistent method signatures, which pylint is complaining about, see: https://github.com/pandera-dev/pandera/pull/138#issuecomment-572138205

Need to come up with a solution to make signatures consistent, ideally without breaking the public API.

[2020-01-08 16:27] #130 closed

[2020-01-08 16:27] #131 closed

[2020-01-08 16:32] mastersplinter commented on #129
Per @cosmicBboy in #138

R0913, will remain unfixed and W0222 is covered in #139

[2020-01-08 16:32] #129 closed

[2020-01-08 23:16] mastersplinter commented on #77
Working on the first section of this, I have the following implementation ready:
[code]

I will PR once I've got the equality operators in via #140

[2020-01-09 11:39] mastersplinter commented on #93
@chr1st1ank strongly support this.

my initial use case of pandera would have been simplified with this functionality.

@chr1st1ank would you consider implementing the YAML parts of #97 ?

I'll investigate further, but know from experience that performance could be a major issue and something we want to test, so we could look at implementing [airspeed velocity](https://github.com/pandas-dev/pandas

[2020-01-09 13:24] mastersplinter opened #142 "Changes for dropping Py3.5 support"
3.5 is end-of-lifed at 2020-09-13 as per [the official status page](https://devguide.python.org/#status-of-python-branches).

Use this Issue to track Python 3.5 specific code that could be dropped after 2020-09-13.
- [ ] ~~change string substitutions to f-strings~~ >> new issue #273
- [X] drop 3.5 specific pylint exceptions
- [X] improve `add_columns` doctests to print out result (instead of check

[2020-01-09 16:34] cosmicBboy opened #145 "bug: coerce=True doesn't work with string dtypes"
When using string dtypes, coerce=True fails:

[code]

Solution:
Use the `dtype` property in the `coerce_dtype` method: https://github.com/pandera-dev/pandera/blob/master/pandera/schemas.py#L347-L363

[2020-01-09 21:49] mastersplinter opened #148 "implement airspeed velocity on core methods, e.g. decorators"
To ensure that the package continues to perform quickly and efficiently over time, it would be good to track performance of some of the key components using Airspeed Velocity. https://asv.readthedocs.io/en/stable/

[2020-01-10 03:41] cosmicBboy commented on #148
this is a good idea 👍🏽

[2020-01-10 17:33] mastersplinter commented on #148
@cosmicBboy had a first trial run at Airspeed Velocity:
![image](https://user-images.githubusercontent.com/3764091/72172909-490ba180-33ce-11ea-8348-b2ffa4f5295e.png)

To preview it for yourself, clone branch [feature/asv_benchmarking](https://github.com/pandera-dev/pandera/tree/feature/asv_benchmarking)

[code]

Next steps:
- The run logs are quite large - I'd suggest we start a new repo for them?

[2020-01-10 18:17] cosmicBboy commented on #148
Cool, created a repo for this: https://github.com/pandera-dev/pandera-asv-logs

[2020-01-11 07:51] chr1st1ank commented on #93
Well, yes. I would do that,  I suppose.

But this is the third step already. First we need built in checks, then we can create a schema from yaml and lastly we could infer a schema and serialize it to yaml.
It is presumably better not to mix multiple topics in one PR.

So, first #74 needs to be tackled and I need to check out what you guys have done in the meantime with regards to the refactoring

[2020-01-11 15:23] cosmicBboy commented on #99
This issue is not  valid, since `Check` classes and subclasses need to implement their own methods for preparing the `check_obj`.

[2020-01-11 15:24] #99 closed

[2020-01-11 15:50] mastersplinter commented on #148
@cosmicBboy to get a look at current progress: https://mastersplinter.github.io/pandera/

If we keep the asv-conf and benchmarks in the pandera repo itself, it's simple to use the built-in command to publish the benchmarks to the pandera GitHub Pages. This would mean they could be viewed here:
https://github.com/pages/pandera-dev/pandera

You'd need to ensure that this was enabled in the repo sett

[2020-01-12 01:32] cosmicBboy commented on #148
cool, I just made you an admin to the https://github.com/pandera-dev/pandera-asv-logs repo if you wanted to try hosting the pages on there, though if it's not straightforward to set it up then we should just maintain it in the pandera repo

[2020-01-12 15:58] cosmicBboy commented on #145
fixed by df364f1b1b67bc1f8d2777baca761aa89e33d33e

[2020-01-12 15:58] #145 closed

[2020-01-12 16:02] cosmicBboy commented on #139
this would be addressed by #153

[2020-01-12 16:03] cosmicBboy commented on #93
As @chr1st1ank says, steps needed for this issues:

- clean up check and series schema API: got a PR draft that does this: #153
- built-in checks, issue still outstanding #74
- yaml schema definitions #91

[2020-01-12 18:02] cosmicBboy opened #154 "add core unit tests for checks"
before 7bf2fe8cb525f9d917ff081b1fe4ccc536355070, checks were hard to unit test because the check API was confusing and conflating checks with error reporting. Therefore all the tests in `test_checks` essentially need to use `DataFrameSchema` or `SeriesSchema` objects to execute the actual data validation.

Since the `Check.__call__` method is much simpler and de-couples validation and error report

[2020-01-12 18:05] cosmicBboy opened #155 "improve documentation for Check and Column classes"
before 7bf2fe8, which simplifies the Check and Column `__call__` methods, users couldn't actually use these classes independently of the underlying schema object. With these improvements (blocked by #132), add documentation for using these classes for data validation.

[2020-01-12 22:15] cosmicBboy commented on #139
fixed by #153

[2020-01-12 22:15] #139 closed

[2020-01-13 10:59] mastersplinter opened #156 "Changes for dropping Py3.6 support"
Use this Issue to track Python 3.6 specific code.

- [ ] Implement [postpone evaluation of annotations](https://docs.python.org/3.7/whatsnew/3.7.html#pep-563-postponed-evaluation-of-annotations) to improve performance and enable the specification of `columns` in `DataFrameSchema`

[2020-01-13 14:54] mastersplinter commented on #156
I ran a test about the behaviour of:
```from __future__ import annotations```

and it improves the performance of the `@check_input` and `@check_output` decorators by 25%::
<img width="1043" alt="image" src="https://user-images.githubusercontent.com/3764091/72265437-68940b80-3614-11ea-8004-7455db31b7ef.png">

[2020-01-13 15:07] mastersplinter opened #157 "Should multi-index parent from SeriesSchemaBase?"
Should MultiIndex inherit from `SeriesSchemaBase` rather than `DataFrameSchema`?
https://github.com/pandera-dev/pandera/blob/dcc40f4a3813f4be5f837894a1520a1b02decf84/pandera/schema_components.py#L165

[2020-01-13 15:41] cosmicBboy commented on #157
The original motivation for inheriting from DataFrameSchema is that I wanted to piggy-back on the its `__call__` / `validate` method functionality, since `MultiIndex.__call__` converts the index to a dataframe via `to_frame()`, effectively treating each index as a series.

This was more a function of not wanting to implement MultiIndex-specific validation logic, since there's a somewhat natural ma

[2020-01-13 15:55] mastersplinter commented on #157
Your explanation makes much more sense. I've raised #158 to fix and enhance the docstring which was wrong via my misunderstanding.

[2020-01-13 15:55] #157 closed

[2020-01-13 16:25] cosmicBboy opened #159 "coerce object type column converts to a string"
when `coerce=True` for an Object column type, pandera should not do anything.

minimally reproducible example:
[code]

[2020-01-14 09:42] mastersplinter opened #161 "Is the pandera on your personal conda channel intentional?"
While this is only a minor point, it could be confusing for users that the pandera package I son your personal conda channel @cosmicBboy. It might be worth removing it so that the only published package is on conda-forge.
https://anaconda.org/cosmicbboy/pandera

<img width="994" alt="image" src="https://user-images.githubusercontent.com/3764091/72332434-f245e680-36b1-11ea-9c9f-17cd52baf372.png">

[2020-01-14 13:38] mastersplinter commented on #93
Just discovered [pandas-profiling](https://github.com/pandas-profiling/pandas-profiling) which could be of interest here.

[2020-01-15 03:21] cosmicBboy commented on #161
nope, I need to delete this!

[2020-01-15 14:47] cosmicBboy commented on #161
done!

[2020-01-15 14:47] #161 closed

[2020-01-15 14:50] cosmicBboy commented on #96
fixed by 7bf2fe8cb525f9d917ff081b1fe4ccc536355070

[2020-01-15 14:50] #96 closed

[2020-01-15 14:56] cosmicBboy commented on #132
fixed by: 10e32c6811afbf24d426af8af573a9cd646a6371

[2020-01-15 14:56] #132 closed

[2020-01-15 14:56] cosmicBboy commented on #93
yes, would be perfect if we can pull out the underlying data structures that generate the report and use that to auto-generate schema.

[2020-01-15 15:03] cosmicBboy commented on #154
this can be done as part of #74

[2020-01-15 15:03] #154 closed

[2020-01-15 15:07] cosmicBboy opened #162 "support SchemaPipelines"
## Schema Pipeline

This would be a convenience class for using an in-memory object that contains a registry of transformations that are expected to occur to a data frame. The example above would look something like:

[code]

[2020-01-15 15:08] cosmicBboy commented on #77
Moved SchemaPipelines to its own issue #162, closing this issue

[2020-01-15 15:08] #77 closed

[2020-01-15 15:15] cosmicBboy opened #163 "Simple infer dataframe schema"
See discussion in #93

This should be a simple implementation of schema inference, producing a dataframe schema with simple property checks:
- columns and their types
- nullability
- basic type-specific checks
  - numeric: min-max range
  - category: levels in the categorical values
  - others?

While [pandas profiling](https://github.com/pandas-profiling/pandas-profiling) offers a lot of useful f

[2020-01-15 20:50] chr1st1ank commented on #93
Hm, yes, why not. It seems there is something to reuse in it. The interesting parts are in the [model](https://github.com/pandas-profiling/pandas-profiling/tree/master/src/pandas_profiling/model) folder, especially in the `base` module there.
And it is MIT license, so also no issues from this perspective.

[2020-01-15 21:16] chr1st1ank commented on #74
So, I guess after the nice refactoring of #153 and as we need it for other topics like the yaml i/o and schema inference, this topic here becomes interesting again.
Maybe I can find some time for this next weekend to write a couple of checks including tests. But before that let's nail down the architecture.

Based on what's written above we would go for factory methods? The usage would be for exam

[2020-01-16 15:45] cosmicBboy commented on #74
Yes, I think the class (factory) methods are the way to go here.

One thing I wanted to discuss about design and naming is that I think it would be good to (i) define a minimal set of "primitive" checks that we can use to construct other, more specialized checks, and (ii) name these built-in checks in an intuitive and concise way, so with the example above, I'd propose `Check.range` instead of `Ch

[2020-01-16 21:55] chr1st1ank commented on #74
This design still doesn't feel clear enough for me.

1. The `create_` suffix was to highlight that the factory functions within the Check class are not ordinary methods. This is because they are not just in the checks module, but within the Check class. But I agree that the suffix is a bit awkward.

2. Clearly pure functions are easy to test. But a Check object behaves like a pure function already

[2020-01-16 22:25] cosmicBboy commented on #74
good point, I like the higher order functions idea. To refine the classmethods approach a little further, I think the following two options would get at the spirit of what you're saying that makes the syntax a little more concise (`Check(checks.*)` syntax seems a little clunky to me):

### Option 1:

This is exactly as you put it, but returning a Check object directly

[code]

### Option 2:

Do th

[2020-01-18 01:31] chr1st1ank commented on #74
For me option 1 sounds better. Mainly because I would expect to find many checks in a module called `checks`, but not within a class called `Check`.

But the point with the function not being testable on its own is bothering me. You can see that I tried the implementation for greater_than for a start in PR #164 .
The amount of test code for such an easy thing is tremendous. I thought for a moment

[2020-01-18 15:27] cosmicBboy commented on #74
what are you thoughts @mastersplinter? to me 1 and 2 are logically equivalent, the difference is a matter of user expectations and API design. I'm still partial to the classmethod approach, I think it's a reasonable way of organizing the built-in checks, and it's already a pattern that's established with the built-in Hypothesis checks:

- two_sample_ttest: https://github.com/pandera-dev/pandera/bl

[2020-01-18 15:47] cosmicBboy opened #165 "Add CompareGroups subclass of Check for built-in groupby checks"
This is similar to #75, but supports built-in comparisons of a column between two groups

### `CompareGroups` class

This class enables built-in comparison of two groups.

The proposed API for this would be something like:

[code]

This will be an experimental API

[2020-01-18 18:09] #159 closed

[2020-01-19 06:24] mastersplinter commented on #74
Purely out of convention I think the class method approach is more consistent across the codebase.

[2020-01-19 09:30] chr1st1ank commented on #74
Fair enough, so the class methods it is...
I am just glad there is a plan we agree on. Every change of mind would have been a lot of refactoring with all these built-in tests we want to have.

Then I'll leave all additional parameters out for the moment. It is easier to add something to the interface later than to remove something people have started using.

I assume you are right. But at least I

[2020-01-19 16:55] cosmicBboy commented on #74
great, thanks for discussing and contributing @chr1st1ank! after this is done I'll push out the 0.2.8 release: https://github.com/pandera-dev/pandera/milestone/3

[2020-01-22 23:02] cosmicBboy commented on #74
fixed by #164

[2020-01-22 23:02] #74 closed

[2020-01-24 22:11] chr1st1ank commented on #156
This is actually very interesting.
I also once observed a measurable slow-down just because of type hints when I profiled a bottleneck in some Python 3.6 production code base. At the time I couldn't believe what I saw and focused on other optimization potentials. Because I would expect that this effect is just some microseconds at import time and that's it...

But your results seem to show the sam

[2020-01-26 19:45] cosmicBboy opened #168 "Add more comprehensive suite of Hypothesis tests"
This is a draft issue for expanding the number of built-in hypothesis tests offered by pandera

[2020-02-19 19:38] cosmicBboy opened #169 "decorators should support all schema and schema component objects"

[2020-02-21 11:38] cosmicBboy opened #170 "groupby and element_wise checks should raise SchemaInitError"
By definition, element_wise checks are applied to each element in a series or dataframe. Groupby checks partition the series/dataframe by group, so applying a function over each element in each group is effectively equivalent to just applying the function over the ungrouped dataframe/series.

[2020-02-21 11:40] cosmicBboy opened #171 "add mypy to precommit checker and CI, fix mypy errors"

[2020-02-21 11:40] cosmicBboy opened #172 "add issue template to .github"

[2020-02-21 11:45] cosmicBboy opened #173 "support Column(regex=True) for applying checks to regex column pattern"
The purpose of this feature is to make is to make it easier for users to specify column checks for groups of meaningfully grouped columns. For example, if a dataframe contains columns:

- `numerical_feature_1`
- `numerical_feature_2`
...
- `numerical_feature_n`

That are all expected to share the same properties, the user should be able to express a schema in the following way:

[code]

In order t

[2020-02-21 12:03] cosmicBboy opened #174 "add change_column method to DataFrameSchema"
This effectively changes the properties of an existing column in the schema to express changing expectations about a column

[2020-02-21 12:12] mastersplinter commented on #173
This is a great idea.

It would be super useful to handle columns like:

- numerical_feature_cats
- numerical_feature_dogs
- ...
- numerical_feature_mouse

[2020-02-22 15:16] cosmicBboy opened #175 "test cases for schema_components used in decorators"

[2020-02-22 17:20] cosmicBboy opened #177 "get code coverage to 100%"

[2020-02-23 15:43] #171 closed

[2020-02-23 17:18] cosmicBboy opened #178 "create tutorial pages in documentation"
To help users understand the utility of this library, it's always useful to have informative tutorials in the documentation to illustrate how one can use it in various scenarios.

This is a stub issue for creating a few tutorial pages for a diverse set of use cases (TBD)

[2020-02-28 23:46] cosmicBboy opened #179 "create machine-learning schemas: tabular data"
Create a `MLTabularSchema` for tabular machine learning use case.

The primary value of a specialized `MLTabularSchema` class is to make it easy to validate (and perhaps split?) tabular machine learning data. In doing so, users can express target and feature variables as special entities, enabling all sorts of interesting validation functions, such as:

- this enables abstractions like `TargetColu

[2020-03-08 00:55] cosmicBboy opened #183 "add `tolerance: float` argument in Check class"
`tolerance` should be a float between 0 and 1 and allow users to express the fact that a check can be true some percentage of the time. This only applies to check functions that output a boolean series with the same length/index as the input series.

[2020-03-08 03:36] #123 closed

[2020-03-11 02:28] cosmicBboy commented on #173
Fixed by: #184

[2020-03-11 02:28] #173 closed

[2020-03-11 09:52] cycks opened #186 "Validate timestamp column"
Create a feature for validating timestamps and date columns

[2020-03-11 12:19] cosmicBboy commented on #186
Hi @cycks, do you have any specific validation checks in mind?

[2020-03-11 12:51] cycks commented on #186
@cosmicBboy I was able to figure out how to validate a date column. Turns out the feature I was requesting is already served by pandera

[2020-03-11 12:51] #186 closed

[2020-03-11 12:57] cosmicBboy commented on #186
@cycks out of curiosity, what was the feature that you found? Just wanted to see if the docs can be improved by making it more easy to find.

[2020-03-11 13:15] cycks commented on #186
@cosmicBboy I wanted to validate a datetime column. I figured out how to do it after opening and reading the panderas package code.

[2020-03-27 13:10] #155 closed

[2020-03-27 13:11] cosmicBboy commented on #155
documentation for this has been added

[2020-04-02 13:47] sunho opened #188 "Issue with duplicated index"
When I'm dealing with a quite large dataframe (269779 rows) with highly duplicated index, validation became extremely slow to the degree it didn't finish even after 1 hour.

<img width="156" alt="Screen Shot 2020-04-02 at 10 31 42 PM" src="https://user-images.githubusercontent.com/12246126/78255068-c6f4ca00-7531-11ea-99b4-b2f5e6dd2aa1.png">

I used the following schema.

[code]

The code like belo

[2020-04-02 14:25] cosmicBboy commented on #188
hey @sunho thanks for filing an issue and providing a fix!

So if I understand correctly, what's happening is something like this:
[code]

Which is causing the runtime to allocate memory for a much larger dataframe to be checked.

One question that I have: does the schema you're using have checks, or is it a simple schema with type checks per column as you have it in your comment above?

Also out

[2020-04-02 14:32] cosmicBboy commented on #188
Also out of curiosity, how many duplicate values are in your index? i.e. by what factor was your `269779`-row dataset being increased?

[2020-04-03 01:55] sunho commented on #188
df.loc[df.index.unique()] took 187ms. But, df.loc[df.index] is still not finished even after I ran it for 10 minutes...  I will tell it to you if it finished.

As for the factor, the following code produced 133.
[code]

The fact that it took more than 10 minutes is nonintuitive for me. (shouldn't it take around 30s?) There must be something more going on in pandas code like resizing the series.

[2020-04-03 01:59] sunho commented on #188
By the way, I just revised my pull request so that it doesn't even run the code concerned if there's no custom check specified. This way, it will significantly improve the performance for basic use cases (just using pandera to check columns of dataframe match the schema)

[2020-04-03 02:56] cosmicBboy opened #190 "refactor check logic in SeriesSchemaBase.validate method"
#189 revealed a bug in the series check logic that doesn't account for duplicated keys in the check object index. This seems like functionality to factor out into a pure function (static method would also do) so that it can be more easily tested for properties:

- the number of rows/elements in `_check_obj` should be less than or equal to the number of elements in the `series` object.

[2020-04-03 03:49] #188 closed

[2020-04-03 09:57] c3-Anthony-Truchet opened #191 "Type of a Column cannot be properly changed"
Version: 0.3.2

Use case:
I initialise a set of Column object based on the ``dtype`` in an input DataFrame I'm given. I edit some of them to add _domain knowledge_.
The dtype is not properly reflected.

Diagnoses:
A `` pandas_dtype``attributes is created in ``Column.__init__ `` which overrides the ``SeriesSchemaBase.pandas_dtype`` property.

[2020-04-06 10:50] c3-Anthony-Truchet opened #196 "Unreliable checks on missing values"
When checking missing rate the missing rate is always reported as 0 because the check is not applied to the original data frame or series but to a series filtered to discard missing values.

This prevents checking missing stats or correlation of some missing features with the value of other features in the same row.

See Unit Test in coming PR for illustration and coverage.

[2020-04-06 13:28] c3-Anthony-Truchet commented on #163
FYI, this is the feature that we are trying to design for my company's product (not pandas centric). And why  I got interested in pandera in the first place.

[2020-04-06 13:46] cosmicBboy commented on #196
Checking for missing properties should be supported by specifying `nullable=True`, as you've done so in #197 . This would allow for

There's probably a more principled way of handling missing values in checks to align better with user expectations, but will require extending the functionality of the `Check` class to handle nulls instead of the `SeriesSchemaBase` class.

Let me know  if you'd like

[2020-04-07 19:31] cosmicBboy opened #198 "Update contributor docs with local development setup"
Currently the [contributing doc](https://github.com/pandera-dev/pandera/blob/master/.github/CONTRIBUTING.md) does not have a section for setting up pre-commit configuration. Adding a section for this would help contributors catch code quality issues early.

[2020-04-09 00:34] cosmicBboy commented on #196
One possible approach here is to add a new parameter to the `Check` object `dropna = bool`. If True, then the check would exclude entries with null values and if False, the check function is expected to process the series/dataframe with null values. This has several implications on the rest of the API.

- A reasonable default value for this would be `dropna=True`.
- The `SeriesSchemaBase.validate`

[2020-04-09 02:29] cosmicBboy commented on #163
### Considerations

This feature has the potential to be misused. One serious case is the tautology posed by the following example:

[code]

As discussed in #93, the use case for this feature is to make it easier for users
to get a quick draft schema that they can then use to iterate on.

[2020-04-11 23:04] cosmicBboy opened #199 "SeriesSchema should validate index"
Currently, the `SeriesSchema` object doesn't validate the index of the schema. The purpose of this task is to extend the `__init__` signature of `SeriesSchema` to take an `index` argument, which would take a `pa.Index` or `pa.MultiIndex`. In the `validate` / `__call__` call, the index should be checked.

[2020-04-17 08:49] iyedg commented on #13
Firstly thank you for this wonderful work !

I think this feature could very well be useful especially in long method chains. The usual `pdb` workflow would not capture the changes made the dataframes up until the point where the error occurred, instead one would get the input dataframe. I think a sensible approach to this would be adding a flag to `check_input` and `check_output` where this issue

[2020-04-17 17:43] cosmicBboy commented on #13
Thanks @iyedg! Glad you're finding this package helpful.

I'll re-open this issue and let's see if we can't get a solution proposal going. Flags in `check_input` and `check_output` seems reasonable, but just to get a better understanding of your use case, do you have an example of how you're integrating pandera checks into your workflow?

[2020-04-17 19:38] iyedg commented on #13
Generally I deal with relatively long chains of transformation on a number of data frames at once.

This is a simple contrived example:

[code]
Typically I expect some data frames to violate some of my assumptions in intermediate transformations. The workflow of debugging such violations using the following code, does not allow me to explore the transformed data frame up until the validation error

[2020-04-18 18:19] cosmicBboy commented on #13
Cool, I like the `on_error` callback idea, as it provides flexibility to the user, with a special convenience string value for quick debugging purposes.

### Solution 1: On Error Callback

[code]

Also, I think the `schema.{validate, __call__}` methods should also have this argument, basically `check_input/check_output` would pass it into the validate call.

[code]

### Solution 2: Inject Error Co

[2020-04-18 18:55] cosmicBboy opened #200 "schemas can generate valid samples"
Look into using [hypothesis](https://hypothesis.readthedocs.io/en/latest/numpy.html#pandas) as a way for generating valid samples from a particular schema for testing code for model fitting, data visualization, etc.

### Example use case:

As a user, I want to generate a small dataset for testing my machine learning code. I have an `estimator` and want to call `estimator.fit(X, y)`. The pandera AP

[2020-04-18 19:42] cosmicBboy opened #201 "add DataFrameSchema.rename_columns method"
This method should take in a dictionary where keys are current column name and values are renamed column name and return a copy of the schema with the associated column name changes.

[2020-04-19 13:32] #163 closed

[2020-04-20 13:43] cosmicBboy opened #204 "Consolidate ci/deps conda yaml files"
Find a way to use a single `environment.yml` file for different versions of python in CI

[2020-04-20 13:44] cosmicBboy opened #205 "Migrate CI to github actions"

[2020-04-21 22:22] cosmicBboy commented on #91
prototype version of this feature now on master

[2020-04-21 22:22] #91 closed

[2020-04-26 20:09] cosmicBboy opened #206 "built-in checks should be able to handle dataframe inputs"

[2020-05-08 13:11] cosmicBboy opened #208 "simplify schema inference statistics serialization format"
Currently, there are some arbitrary mappings from built-in pandera checks to schema statistics that add another layer of complexity in the code. For example, schema check statistics have `min` and `max`, and `levels` keywords, which map onto `greater_than_or_equal_to`, `less_than_or_equal_to`, and `isin`.

The downside of this is that now, for users to edit the yaml-serialized schema, there needs

[2020-05-08 18:47] #122 closed

[2020-05-12 23:16] #208 closed

[2020-05-17 14:36] cosmicBboy commented on #93
@chr1st1ank @mastersplinter experimental version of this functionality is now available in version 0.4.0: https://pandera.readthedocs.io/en/v0.4.0/schema_inference.html, closing this issue.

[2020-05-17 14:36] #93 closed

[2020-05-17 14:40] cosmicBboy commented on #13
hey @iyedg **solution 2** above should now be implemented as part of lazy validation: https://pandera.readthedocs.io/en/v0.4.0/lazy_validation.html

If `validate(..., lazy=False)`, which is the default, you can catch the `SchemaError` exception and access the `data` attribute to get the dataframe/series that was passed into the `schema.validate` call.

[2020-05-18 12:32] iyedg commented on #13
@cosmicBboy  Thank you so much for your time and effort ! This is exactly what I needed.
But I couldn't help but notice that the `lazy` keyword is not available for use in the `check_input` and `check_output`  and I was wondering if that is intentional. As far as I understand the idea behind those decorators so far is that they mirror the `schema.validate` signature, is that wrong ??

Again, thank

[2020-05-18 14:03] cosmicBboy commented on #13
ah, this was not intentional and I over-looked those functions... I can get to this in the next few weeks, but if you have the capacity/willingness you can [make a PR](https://github.com/pandera-dev/pandera/blob/master/.github/CONTRIBUTING.md) to make this change :)

[2020-05-18 14:26] cosmicBboy commented on #13
btw even without lazy validation you can still catch `SchemaError`, which is raised when `lazy=False` (`SchemaErrors` is raised on lazy validation) and access `err.data` and `err.failure_cases`.

[2020-05-18 16:39] cosmicBboy commented on #13
had some free time and got this on master now :) #210. should be available on next release

[2020-05-24 17:45] m4x3i5 opened #211 "lazy validation of columns with nullable=False check"
Hi!
The new lazy validation feature looks very useful and promising.
However, when running lazy validation for a dataframe containing missing values and a schema checking for missing values (nullable = False), the validation does not capture the SchemaError corretly, but instead runs into an AttributeError. Code to reproduce behavior:

[code]

Traceback of the AttributeError:
[code]

Is this an ex

[2020-05-25 20:00] cosmicBboy commented on #211
hi @m4x3i5 thanks for raising this issue with a reproducible example! This isn't expected behavior, looking into this...

[2020-05-25 21:13] cosmicBboy opened #212 "add ignore_na key-word arg to Check base class"
Currently, the `SeriesSchemaBase.validate` method drops null values from the series before passing them into checks. The improvement in this issue to have the `_CheckBase` handle this. The user would be able to control this behavior with the `ignore_na: bool` keyword arg in the `__init__` method.

### Why?

This allows the user to implement checks that rely on null values being preserved, for exam

[2020-05-25 21:32] cosmicBboy commented on #211
got a fix ready #213. should be merged to master pretty soon, so you can pip install via github, or wait for the next bugfix release in the next few weeks.

[2020-06-04 00:52] cosmicBboy commented on #212
fixed by 180072e62270f9d6a01819a160d98afff18a4ded

[2020-06-04 00:52] #212 closed

[2020-06-04 00:52] #211 closed

[2020-06-12 09:10] florentguymartin opened #216 "Unexpected behaviour with check_input decorator in lazy mode"
Setting `lazy=True` in the `check_input` decorator while using custom checks in the `checks` parameter from a `DataFrameSchema` raises an unexepcted `ValueError: No objects to concatenate`.

The code below throws the `ValueError` error. On the other hand setting `lazy=False`  throws the expected `SchemaError` raised by the failed check.

Possible cause of the issue: `SchemaError` raised by custom

[2020-06-14 15:35] cosmicBboy commented on #216
Thanks for filing this bug @florentguymartin! I have a PR fix up at #217

[2020-06-14 17:14] #216 closed

[2020-06-15 18:00] staylorx opened #218 "YAML schemas don't respect strict"
When reading a schema via YAML, the strict flag does not work.

[code]

[code]

This will display: `DataFrameSchema(columns={'A': <Schema Column: 'A' type=int64>, 'B': <Schema Column: 'B' type=int64>}, index=<Schema Index>, transformer=None, coerce=False)`

[code]
This will validate as expected, no 'strict' passed in.

[code]
The object doesn't have strict in it: `DataFrameSchema(columns={'A': <Sc

[2020-06-15 20:01] cosmicBboy commented on #218
fixed by #219

[2020-06-15 20:01] #218 closed

[2020-06-16 01:16] cosmicBboy opened #221 "pandas_dtype should accept built-in python types and numpy types"
fixes #243. currently, only pandas dtypes, numpy type string aliases, and the `pandera` types can be accepted in the SeriesSchemaBase `pandas_dtype` argument. For ease of use, allow the use of python built-in types and numpy dtypes (not just string aliases) to specify the type of columns

[2020-06-17 01:47] cosmicBboy opened #222 "strict='filter' should filter out columns that are not specified in schema"
Currently, the `strict` keyword in the `DataFrameSchema` definition has `True` or `False` as acceptable values. The purpose of this change would be to also support a special string value `filter` that returns the validated dataframe on a `validate` or `__call__` call, but only with the columns specified in the schema.

[2020-06-17 03:34] cosmicBboy opened #223 "bug: failure_cases, check, and check_index are not propagated through in `check_{input/output}`"

[2020-06-17 15:03] baskervilski opened #224 ".from_yaml() doesn't tolerate "index: null""
TypeError thrown, because _deserialize_schema attempts to calculate len(index), which is of NoneType in this case.

[2020-06-17 15:43] cosmicBboy commented on #224
Thanks for submitting this bug! I'll get to this in the next few days, unless you want to take a crack at a PR 🙂

[2020-06-17 17:14] baskervilski commented on #224
I fixed it locally, but I have no idea how to make the PR now. :n00b: :-) Please help.

[2020-06-17 18:18] baskervilski commented on #201
I'd like to take this up.

In which test file would you write the test for this?

[2020-06-17 20:35] cosmicBboy commented on #224
fixed by #225

[2020-06-17 20:35] #224 closed

[2020-06-18 01:27] #201 closed

[2020-06-18 08:35] baskervilski opened #227 "on failed coercion error msg not informative enough"
When using coercion, for example

[code]

gives a `TypeError` as it should, but it doesn't specify on which column, which then requires manual inspection. Would be helpful to get something more informative (as it is the case with "normal" validation).

[2020-06-18 13:42] cosmicBboy commented on #227
I think #193 addresses this issue, although I haven't seen any updates on that from @c3-Anthony-Truchet. I don't think that PR needs much more work though, I can make a few of the needed changes

[2020-06-20 23:32] cosmicBboy commented on #227
fixed by #193, will be available by next bugfix release

[2020-06-20 23:32] #227 closed

[2020-06-20 23:33] cosmicBboy commented on #223
fixed by #228

[2020-06-20 23:33] #223 closed

[2020-06-23 13:45] sebmoh opened #230 "DataFrameSchema checks=... not working consistently"
`Python: 3.7.7, Pandas: 1.0.0, Pandera: 0.4.3`

A code example:

[code]

**Output:**
[code]
Which is what we would expect, because columns A and C do not sum up to 1.

But when I switch the dictionary around like
[code]

**Expected:** Should still throw an error because column A and C do not sum up to 1.
**Behaviour:** Does not throw an error.

[2020-06-23 14:29] cosmicBboy commented on #230
Thanks for filing this issue @sebmoh! I think this is an unfortunate consequence of python's lambda functions accessing global variables: https://stackoverflow.com/questions/21053988/lambda-function-acessing-outside-variable#21054087

[code]

The lambda function is accessing whatever value in `columns` was defined last, which is why the expected error wasn't being raised. As suggested in the SO po

[2020-06-23 14:43] sebmoh commented on #230
Hi @cosmicBboy, thanks a lot for the speedy reply. I was not aware of that lambda behaviour. That is pretty interesting. Thanks for also providing solutions.

P.S. I like your package!

[2020-06-23 14:43] #230 closed

[2020-06-24 11:02] sebmoh opened #231 "Better error representation for dataframe wide checks"
Code example:
[code]

Output:
[code]

Maybe it's just a matter of more documentation for how to interpret the output but I don't think the output is easily understandable. And it gets more confusing with larger dataframes.

I would just expect a list of rows where the condition is False or something like that.

[2020-06-25 02:56] cosmicBboy opened #233 "rename `set_check_statistics` to `register_check_statistics`"
makes more sense to name the decorator this way.

[2020-06-25 03:11] cosmicBboy opened #234 "modularize handling of failure cases formatting"
currently the way check failure cases is handled is in the `Check.__call__` method. This should be moved out of its own function to be easier to test.

[2020-06-25 03:13] cosmicBboy commented on #231
Got a PR that might address this: https://github.com/pandera-dev/pandera/pull/232

For this I'd suggest doing something like this, so that the output of `check_fn` is a boolean DataFrame that should be all True for the check to pass.

[code]

Once this PR merges, you should be able to get: as the error message.
[code]

[2020-06-25 08:15] sebmoh commented on #231
Oh sorry, I missed that one.

Thanks, I will give that one a go in the new version.

[2020-06-25 08:15] #231 closed

[2020-06-25 14:21] Aditya1001001 commented on #233
I want to work on this issue, can you assign it to me? Also, I don't need to rename the function and refactor the code for that, right?

[2020-06-25 14:22] Aditya1001001 commented on #233
I want to work on this issue, can you assign it to me?

[2020-06-25 14:48] cosmicBboy commented on #233
Just assigned this to you @Aditya1001001 , let me know if you have any more questions!

[2020-06-26 03:56] Aditya1001001 commented on #233
@cosmicBboy I have made a draft pull request #235, can you go through it and check if it meets the requirements?

[2020-06-26 23:02] cosmicBboy opened #236 "add `select_columns` method to DataFrameSchema class"
this method should take a list of column names as input, and output a copy of the DataFrameSchema that only contains the columns specified in the input.

[2020-06-27 04:39] Aditya1001001 opened #237 "docs/source/conf.py isn't being recognized as a module in conda environment."
While working on issue #233 I encountered a problem when I ran the tests:

[code]

I got the error while running all tests, everything worked when I just ran ```pytest tests/test_decorators.py```.  I'm using Windows 10 Pro, and Python 3.7.4 in a conda environment.
On @cosmicBboy 's suggestion, I tried doing ```from docs.source import conf ``` in a Python REPL, it worked in the system Python env bu

[2020-06-27 17:04] cosmicBboy commented on #237
what version is your system python?

[2020-06-27 17:12] cosmicBboy commented on #237
also, are you using `miniconda` or `anaconda`? This might be a hassle, but it would be worth trying to re-install conda (miniconda) and retrying `from docs.source import conf`. Apparently python 3.3+ should support [namespace package imports](https://docs.python.org/3/reference/import.html#namespace-packages), which doesn't require `__init__.py` files in directories to indicate python package fold

[2020-06-28 03:42] Aditya1001001 commented on #237
system python version is 3.8.3, and I'm using ```anaconda``` not ```miniconda```.

[2020-07-01 19:04] cosmicBboy commented on #237
I'd also be curious to see if `miniconda` env reproduces this error.

[2020-07-06 13:39] cosmicBboy opened #238 "Add more concise aliases to comparison operator checks"
**Is your feature request related to a problem? Please describe.**

Currently the built-in Check methods relating to the comparison operators `<`, `>`, `==`, etc. are sort of long and unwieldy (the rationale here was to make it human-readable). However, it seems like `pandas` and indeed `python` uses shorthand of `ge` (`>=`), `le` (`<=`), etc. for these binary operators.

**Describe the solution y

[2020-07-06 18:13] d33bs opened #239 "Additional Column-specific Properties for io.from_yaml"
**Is your feature request related to a problem? Please describe.**
I'd like to use the full set of Column-specific properties through io.from_yaml to enhance parity with Pythonic DataFrameSchema creation using yaml files. Currently, only "pandas_dtype", "nullable", and "checks" are allowed for column-specific definitions using from_yaml, which limits the capability to accurately export/import Pand

[2020-07-06 21:25] cosmicBboy commented on #239
@d33bs this is a good idea, and will make yaml-schemas more feature-complete (this will be a slow process). It looks like you're well on your way with a solution, let me know if you have any more questions.

[2020-07-08 16:11] cosmicBboy commented on #239
fixed by #240

[2020-07-08 16:11] #239 closed

[2020-07-10 00:06] baskervilski commented on #222
I would like to pick this up.

[2020-07-10 15:28] cosmicBboy commented on #222
cool @baskervilski let me know if you have any questions

[2020-07-15 13:33] cosmicBboy commented on #233
fixed by #235

[2020-07-15 13:33] #233 closed

[2020-07-15 18:46] cosmicBboy opened #242 "index serialization formatting should handle `None` correctly"
**Describe the bug**
When serializing the `Index` component of a schema, the `name` attribute doesn't correctly
handle `None` literals: https://github.com/pandera-dev/pandera/blob/master/pandera/io.py#L279

- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the latest version of pandas.
- [ ] (optional) I have confirmed this bug exists on

[2020-07-21 17:03] charraig opened #243 "Unsupported nullable integer string alias"
The documentation states that "PandasDtype does not currently support the nullable integer array type, but you can still use the “Int64” string alias for nullable integer arrays". Perhaps I am misunderstanding the level of support, but it seems that the string alias is unsupported. When trying to validate using "Int64" alias, I receive the error:

`AttributeError: 'NoneType' object has no attribut

[2020-07-21 18:20] cosmicBboy commented on #243
Hi @charraig thanks for pointing this out, currently nullable integers are only supported via the pandas datatype e.g. `pd.IntDtype64()`, so this should work:

[code]

This should (correctly) output the error:
[code]

Specifying `coerce=True` will I think get you what you want:

[code]

I'm considering expanding the scope of https://github.com/pandera-dev/pandera/issues/221 to explicitly represent

[2020-07-21 20:01] majidaldo commented on #93
+1.
The logic behind the inferencing in pandas-profiling is fundamental. It consider it even better than pandas inferencing.

[2020-07-21 20:30] charraig commented on #243
Thanks, @cosmicBboy! That worked perfectly.

Yeah, I think the string aliases for these datatypes would be helpful, but also perhaps an internal mapping of pandera types back to the appropriate pandas types based on the `nullable` attribute when declaring a column. I'm just getting started using pandera, thanks for all the hard work on the package!

[2020-07-21 22:22] cosmicBboy opened #245 "Add `viewcode` extension to sphinx to view source code in docs"
#### Location of the documentation

The API reference pages: https://pandera.readthedocs.io/en/stable/API_reference.html

#### Documentation problem

The documentations currently does not contain links to the source code in the API reference

#### Suggested fix for documentation

add the `viewcode` sphinx extension to enable this: https://stackoverflow.com/questions/48298560/how-to-add-link-to-sou

[2020-07-22 01:16] cosmicBboy commented on #243
can you elaborate on this idea? what would the underlying behavior entail?

[2020-07-22 13:02] cosmicBboy commented on #243
@charraig #244 should add support for the nullable integer types, should be available on master/next release after merging

[2020-07-22 13:17] cosmicBboy commented on #172
this is done.

[2020-07-22 13:17] #172 closed

[2020-07-22 13:42] cosmicBboy opened #246 "io.to_script and to_yaml should ignore serializing Checks with lambda functions"
**Describe the bug**
A clear and concise description of what the bug is.

- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the latest version of pandas.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

Currently the `io` module cannot handle serializing `Check` objects that have lambda functions as the u

[2020-07-22 17:53] cosmicBboy commented on #243
fixed by #244.

@charraig feel free to open up another issue articulating the use case behind:

[2020-07-22 17:53] #243 closed

[2020-07-22 18:27] UGuntupalli opened #249 "How to perform data checking without errors ?"
- [Y] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.
- [Y] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).
(https://stackoverflow.com/questions/63023783/are-there-any-python-packages-for-time-series-cleaning)

#### Question about pandera
Thank you for the work in developing and main

[2020-07-23 13:48] cosmicBboy commented on #249
HI @UGuntupalli thanks for your interest in this project!

Currently, `pandera` only reports on failure cases, i.e. where a `pandera.Check` returns a `False` scalar or `pd.Series` vector.

One thing you may find useful is the `try...except` pattern to catch the error and access the failure cases:

[code]

You can even do this with lazy validation to obtain the errors from all the `Check`s at once

[2020-07-23 15:54] UGuntupalli commented on #249
@cosmicBboy ,
         The primary use-case for my need is to use the filters for visualization. These customizable automated filters would enable the easy visualization of obvious issues in the time-series data, thus helping manual/human intervention on issues which are subtle or not so obvious. The request behind returning a boolean, the same size of the input in most cases is to enable easy vis

[2020-07-23 21:46] cosmicBboy commented on #242
fixed by #248

[2020-07-24 13:37] cosmicBboy commented on #249
Thanks for the description! that makes sense.

Based on your descriptions, would it be accurate to call your use case "filtering, masking, and imputation?".

Currently, `pandera` is well-designed to handle data validation. The only parsing it does is via the `coerce` keyword argument, which simply coerces the datatype of each column. One thing I'd want to understand better is the workflow that you

[2020-07-24 14:52] cosmicBboy commented on #249
The `pandera.Check` interface only needs a slight modification to return the a boolean scalar, Series, DataFrame that results from a particular check, which I think would fulfill the visualization use case that you have. For example, something like:

[code]

One thing that I think would be cool, but would be a fairly significant undertaking would be to have a `pandera.Parser` class that modifies t

[2020-07-25 01:49] half-adder opened #250 "Black should be a development dependency"
**Describe the bug**
Black is listed under `install_requires`, but it should be listed as a development dependency. This is causing problems when I list pandera as a dependency in my project using Poetry. In any case, users should not have to download extraneous libraries when using pandera.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists

[2020-07-25 02:12] cosmicBboy commented on #250
Hi @half-adder, thanks for pointing this out! I didn't foresee this issue with `poetry` and `black`.

`black` is used by the `io` module for schema serialization into a python script: https://github.com/pandera-dev/pandera/blob/master/pandera/io.py#L292-L305 (and actually it's not even being used by the repo so it's not even a development dependency yet).

As it is the code will fall back to `auto

[2020-07-25 02:36] half-adder commented on #250
Oh interesting! I assumed it wasn't actually used in the code.

Here is what I am seeing when I try to add `pandera` as a requirement in `black`:

[code]

[2020-07-25 04:52] cosmicBboy commented on #250
I was able to reproduce the error:
[code]

The error message sorta doesn't make sense, it's basically saying that the `black` package doesn't exist, but  it looks like `poetry add pandera black` works for some reason... 🤔

[code]

[2020-07-25 21:58] cosmicBboy commented on #250
could this be an issue with `poetry`? seems like this issue is similar to the one we're seeing here: https://github.com/python-poetry/poetry/issues/2687

[2020-07-25 22:02] cosmicBboy commented on #245
fixed be #247

[2020-07-25 22:02] #245 closed

[2020-07-25 22:03] #242 closed

[2020-07-25 22:41] UGuntupalli commented on #249
@cosmicBboy,
           Please refer to https://github.com/ericmjl/pyjanitor/issues/703 for a proposed workflow. I am thinking it is better to hash it out with both you and @ericmjl in this issue and then get going on the work

[2020-07-25 22:43] cosmicBboy commented on #174
this PR https://github.com/pandera-dev/pandera/pull/202 added the `update_column` method.

[2020-07-25 22:43] #174 closed

[2020-07-25 22:54] cosmicBboy commented on #13
closing this issue for now, will may revisit the `on_error` callback if the use case comes up again

[2020-07-25 22:54] #13 closed

[2020-07-26 07:22] half-adder commented on #250
Hmm, yeah you're right looks like an issue upstream. I got my installation working according to your fix, so thanks!

[2020-07-26 13:52] cosmicBboy commented on #250
gonna close this for now

[2020-07-26 13:52] #250 closed

[2020-07-28 17:25] #249 closed

[2020-07-28 19:48] cosmicBboy opened #252 "Implement decorator that passes the failure boolean dataframe into the decorated function"
**Is your feature request related to a problem? Please describe.**

Based on the discussion in https://github.com/ericmjl/pyjanitor/issues/703 and https://github.com/pandera-dev/pandera/issues/249 with @ericmjl and @UGuntupalli, one of the ideas to come out of it is that there is a use case for the following data cleaning workflow:

1. check the properties of the values in a raw DataFrame
2. get a

[2020-07-28 20:09] jeffzi opened #253 "pydantic/fastapi style validation"
Hi. First of all thanks for developing pandera :)

**Is your feature request related to a problem? Please describe.**
pandera can be very verbose for the common use case where we want to validate all inputs and outputs.

[code]

**Describe the solution you'd like**

I'd like to propose an alternative syntactic sugar inspired by pydantic and fastapi libraries.

[code]
This example is syntactically

[2020-07-28 23:04] cosmicBboy commented on #253
love this idea @jeffzi ! To be honest I'm not entirely familiar with Python's typing interface (though I am a user of the feature), and maybe you can answer a few basic questions I have :)

1. Why is the `DataSet` class necessary? (i.e. using a pydantic model in fastapi would use `Simple` directly in the type sig)
2. Would it be possible to convert a `DataFrameSchema` object to the type, like:

[c

[2020-07-29 22:50] jeffzi commented on #253
I'm glad you like the idea :)

One assumption I did not explicitly state is that mypy support should be mandatory. Not supporting it is most likely a deal-break for many users, rightful so. Some constructions are syntactically correct but mypy will throw an error because types don't match.

1. Using `Simple` directly indeed works but the IDE doesn't know it's a DataFrame and you lose auto-completi

[2020-07-30 14:34] cosmicBboy opened #254 "implement `check_io` that validates an output and multiple inputs of a function"
**Is your feature request related to a problem? Please describe.**

As the motivation of the discussion in #253, the `check_input` and `check_output` decorators can get verbose. We'd like a more concise solution for validating inputs and outputs of a function.

**Describe the solution you'd like**

A `check_io` decorator:

[code]

The underlying implementation of the decorator would have to accoun

[2020-07-30 17:17] cosmicBboy commented on #253
Thanks for the discussion @jeffzi, I just made #254 for the near-term solution to your problem. I think a `pydantic`-style schema validation syntax would be quite valuable, seeing that that package has wide adoption and `pandera` would definitely from the static type-checking this feature would offer.

Based on the points so far, it seems like the lack of type-hinting support for pandas is a big b

[2020-08-01 02:27] cosmicBboy commented on #252
as part of this issue, rename the `transformer` argument to `parser` in the `pa.DataFrameSchema`, and it should have the same function signature and behavior as a `pa.parser` decorator.

[2020-08-01 13:22] jeffzi commented on #253
Actually pydantic has [constrained types](https://pydantic-docs.helpmanual.io/usage/types/#constrained-types) to help with conciseness. Pandera could define similar types that leverage Checks behind the scene. That way, validators would be limited to non-straightforward checks. For those complicated checks, one-liner lambdas should be avoided and defined in their own functions, even with the curre

[2020-08-04 13:24] cosmicBboy commented on #253
Thanks for the additional discussion @jeffzi! I think we have a lot of great ideas and material here to act on at some point in the future.

It's a dictionary mapping discrete values from `str_column` to subsets of the `int_column` `Series`. It basically follows the behavior of the [`groupby`](https://pandera.readthedocs.io/en/stable/generated/pandera.Check.html#pandera.Check) keyword in the `Chec

[2020-08-04 15:58] ericmjl opened #255 "Inheritance between schemas?"
**Is your feature request related to a problem? Please describe.**

This feature request is not related to a specific problem, it's just something I thought of while constructing multiple schemas that are based on related pieces of data.

**Describe the solution you'd like**

Currently, when I create schemas for dataframes that are transformations of one another, I have copy/pasted the common part

[2020-08-04 16:19] cosmicBboy commented on #255
Hi @ericmjl let me know what ends up working for you. The `dict` of base columns and additional columns + using `**` to unpack shared sets of columns is definitely one way I've done it in the past.

One interface that was added fairly recently to the [`Schema`s API](https://pandera.readthedocs.io/en/stable/generated/pandera.DataFrameSchema.html#pandera.DataFrameSchema) is this pattern of `{verb}_c

[2020-08-04 16:33] ericmjl commented on #255
Oh! That's new for me! Thanks @cosmicBboy :smile: The `{verb}_column` interface was basically what I was looking for!

[2020-08-05 03:13] cosmicBboy commented on #196
180072e62270f9d6a01819a160d98afff18a4ded changes the behavior of `Column(..., nullable=True)` to only raise a `SchemaError` instead of dropping null values. Also adds the `ignore_na` kwarg to the `Check` class so that null values are not dropped if set to `False`.

[2020-08-05 03:13] #196 closed

[2020-08-05 13:24] cosmicBboy commented on #255
Gonna close this issue for now, @ericmjl let me know if there's any additional behavior schema-modification that would be useful.

[2020-08-05 13:24] #255 closed

[2020-08-05 13:43] cosmicBboy commented on #183
leaving this without elaboration on implementation details for now, still not sure if it's really needed

[2020-08-08 17:44] cosmicBboy commented on #253
To summarize what we have so far:

1. we want to support pydantic-style schema definitions for auto-complete, IDE support, static type-checking, and of course run-time validation.
2. `pandas` doesn't have native support for typing its data structures, so something like `Series[np.int64]` would have to be implemented in `pandera` and eventually replaced by the native implementation whenever that ha

[2020-08-08 17:54] cosmicBboy commented on #191
fixed by 6e5b55535199632508d4f2e26f43803fa3b5ec42

[2020-08-08 17:54] #191 closed

[2020-08-09 13:06] jeffzi commented on #253
Thanks for the summary.

I want to emphasize that we can't have static type-checking unless pandas is fully annotated (see https://github.com/pandas-dev/pandas/issues/14468 and https://github.com/pandas-dev/pandas/issues/26766). Even then, I think a mypy plugin or another tool would be necessary to cover all cases. For example:

[code]
It's hard for static checkers to follow the flow of data due t

[2020-08-12 13:46] Tankske commented on #252
For inspiration, perhaps have a look at [pandas_schema](https://pypi.org/project/pandas-schema/). I also found this [article](https://medium.com/@bogdan.cojocar/how-to-do-column-validation-with-pandas-bbeb38f88990) providing a solution to the requirements above. What I like about this method is:
- You get a list of all errors
- You can retrieve indexes from rows that failed the validation
- You ca

[2020-08-13 22:30] cosmicBboy commented on #252
thanks for the feedback @Tankske, will consider it when working out the specific implementation for this issue.

The `Check` object has an [`error`](https://pandera.readthedocs.io/en/stable/generated/pandera.Check.html#pandera.Check) argument that serves the same purpose as `error_msg` in your code example, so that attribute can be pulled out of a check object.

The main problem this issue is tryi

[2020-08-14 15:05] cosmicBboy opened #259 "Add support for python 3.8"
**Is your feature request related to a problem? Please describe.**

Python 3.8 is currently not officially tested on CI

**Describe the solution you'd like**

Add tests, any required changes to the source code, and associated metadata to the package to officially support python 3.8

[2020-08-16 14:13] cosmicBboy opened #260 "pandas_dtype should be support built-in collection types like list, dict, set"
**Is your feature request related to a problem? Please describe.**

Pandas does not natively support a dtype representation for collections like lists, dicts, sets, and iterables. For these types the corresponding pandas data type is `object`. This may obfuscate the actual type of a column for users that rely on these types being present in a particular column.

**Describe the solution you'd like*

[2020-08-16 21:34] cosmicBboy opened #261 "Add support for complex number data types"
**Is your feature request related to a problem? Please describe.**

`PandasDtype` doesn't currently support complex numbers, seems like it should.

**Describe the solution you'd like**

Add support for complex numbers (and numpy dtype specification support)

[2020-08-16 21:36] cosmicBboy opened #262 "pandas_dtype should accept numpy scalar types"
**Is your feature request related to a problem? Please describe.**

Branched off from #221, doing numpy dtypes as a separate issue

Users can specify numpy scalar types: https://numpy.org/doc/stable/reference/arrays.scalars.html#arrays-scalars-built-in

[2020-08-19 01:19] #221 closed

[2020-08-31 09:10] stephenkraemer commented on #253
Hi,
it's exiting to read through this discussion, this is really cool.

This is certainly very complex and probably a long term goal. Just in case that you didn't see this yet and that it might help a tiny bit during development: this repo contains decent (yet still incomplete) pandas stub files: https://github.com/predictive-analytics-lab/data-science-types.

Thanks for your effort, this is going

[2020-09-14 08:40] jeffzi commented on #253
@stephenkraemer Thanks for the link, I didn't know about those stubs.

The stubs are certainly promising but `typing` information can't easily be extracted. Long story short it would require more investigation to support the stubs. I'd rather wait that the new class API is stable.

Now, for the details.

There are 2 ways to get annotations:
* `__annotations__`
* `get_type_hints`: Same as  `__annot

[2020-09-14 14:24] jeffzi commented on #253
Found more information in [PEP 484](https://www.python.org/dev/peps/pep-0484/#stub-files):

[pytypes](https://github.com/Stewori/pytypes) has  a `@typechecked` decorator for runtime type checking with support for stubfiles though.

[2020-09-16 14:33] cosmicBboy commented on #253
@jeffzi FYI I'm slating this to be part of the 0.5.0 release, to go with dropping py3.5.

[2020-09-19 22:26] #199 closed

[2020-09-20 13:45] #238 closed

[2020-09-20 13:55] cosmicBboy commented on #200
The [faker](https://faker.readthedocs.io/en/master/) package might also be useful for generating fake data of particular kinds, like names, addresses, etc.

[2020-09-20 15:42] #236 closed

[2020-09-24 02:53] cosmicBboy opened #273 "replace '%s' string formatting for f-string formatting"
**Is your feature request related to a problem? Please describe.**

Since dropping python 3.5 #142 the `pandera` code-base can now use f-string formatting for conciseness and ✨ elegance ✨

**Describe the solution you'd like**
- replace all instances of `'%s'` formatting with `f"{}"` string formatting

[2020-09-24 02:54] #142 closed

[2020-09-24 03:18] cosmicBboy commented on #259
fixed by #272

[2020-09-24 03:18] #259 closed

[2020-09-24 03:24] cosmicBboy opened #274 "Apply black code formatting to code base and add pre-commit hook"
**Is your feature request related to a problem? Please describe.**

For automating styling and consistency of the code base, use [black](https://github.com/psf/black)

[2020-09-24 03:58] cosmicBboy opened #275 "Deprecate transformer functionality in DataFrameSchema"
**Is your feature request related to a problem? Please describe.**

The `transformer` keyword argument in the `DataFrameSchema` class is a vestigial part of the API from the early days of `pandera`, and is not well thought out, because a user can achieve the same results by piping the transform function after the schema validation `schema(df).pipe(transformer)`, and therefore adds no value to the

[2020-09-25 04:11] AdityaJ7 commented on #273
Hi, @cosmicBboy  can I work on this issue?

[2020-09-25 11:20] amitripshtos commented on #253
Hey - I'm very interested in this feature and willing to help! Is there any research left to do with typing/annotation-wise or any way I can join development?

[2020-09-25 12:22] cosmicBboy commented on #273
Sounds good @AdityaJ7, just assigned this issue to you

[2020-09-27 14:46] cosmicBboy commented on #253
great @amitripshtos! #258 is the first version of this functionality, which we'll be merging into project very soon, just ironing out some kinks in CI. @jeffzi is there anything you need help with?

@amitripshtos I'm sure there will be more to discuss in terms of bugfixes/enhancements to the class-based/pydantic-style API, so we'd love feedback once `0.5.0` is released with this new API!

[2020-09-27 16:51] cosmicBboy opened #276 "Add pandas==0.25.3 to CI tests"
As the `pandera` codebase transitions to supporting only pandas `1.0.0+`,  it still currently supports pre-1.0 versions of pandas. The purpose of this issue is to add pandas 0.25.3 support in the CI builds, as a few things in the codebase explicitly documenting things to users, like nullable integers and the pandas string type that aren't available before 1.0.0

[2020-09-27 17:49] jeffzi commented on #253
Thanks @amitripshtos :tada:

I agree with @cosmicBboy. Once the feature is released (and documented !), it will be easier for you to review and suggest improvements. That being said, I summarized the feature in [this comment](https://github.com/pandera-dev/pandera/pull/258#issuecomment-692984345). Feel free to have a look and give early feedback :)

At the moment, I think annotations are in a good

[2020-09-27 18:13] jeffzi opened #277 "scipy, pyaml and black as optional dependencies"
**Is your feature request related to a problem? Please describe.**

`scipy`, `pyaml` and `black` could be optional dependencies because they are only used for hypotheses and serialization. I'm deploying pandera on [aws lambda](https://aws.amazon.com/lambda/) where space is constrained. The lambda itself doesn't use hypothesis nor `to_yaml/from_yaml`.

Outside of lambdas, I think it's a good practi

[2020-09-28 13:58] cosmicBboy commented on #277
sounds good!

Go for it :)

[2020-09-28 14:48] cosmicBboy commented on #277
also, what do you think of having an `[all]` or `[complete]` option that installs all `extras_require` dependencies?

[2020-09-30 16:18] rtesselli opened #278 "pandera.io.from_yaml does not recognize 'str' anymore"
I have a yaml file with a column with `pandas_dtype: str`. In pandera 0.4.4 the loading works fine, but with pandera 0.4.5 I get this error:

[code]

- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the latest version of pandas.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

#### Code Sample, a copy-pa

[2020-09-30 17:43] cosmicBboy opened #279 "Add support for "str" alias in PandasDtype.from_str_alias"
**Is your feature request related to a problem? Please describe.**

Relating to #278, the problem is that yaml file schemas don't accept the value `str` for `pandas_dtype` argument.

**Describe the solution you'd like**
Add the `"str"` string alias to [`PandasDtype.from_str_alias`](https://github.com/pandera-dev/pandera/blob/master/pandera/dtypes.py#L140-L175), which should map onto the `Object` d

[2020-09-30 17:44] cosmicBboy commented on #278
Hi @rtesselli, thanks for the bug report! I was able to reproduce the error on `0.4.5`.

I tried this on `0.4.4` and got this:
[code]

Notice that the type on column `A` is `None`, which was actually a bug prior to `0.4.5` (hopefully you're seeing this too)... prior behavior was that if the `pandas_dtype` argument is unrecognized, it would default to `None`, whereas now it should correctly raise a

[2020-09-30 19:44] rtesselli commented on #278
Thank you @cosmicBboy for your help!

Actually I've never noticed that the type is left to `None` on 0.4.4!

Meanwhile I'll follow your suggestion and use `string` alias.

[2020-10-01 02:03] cosmicBboy commented on #278
cool, will close this issue and address #279

[2020-10-01 02:03] #278 closed

[2020-10-01 08:02] amitripshtos commented on #277
I'm also very interested in this one! Willing to help if needed

[2020-10-01 08:46] jeffzi commented on #277
@cosmicBboy I think `[all]` makes sense. It's concise and intuitive.

@amitripshtos Thanks. I would not be able to work on this feature for some time. If you're willing to, you could submit the PR and I'd help with the review.

[2020-10-04 14:49] cosmicBboy opened #281 "Add documentation on class-based API"
The new class-based API #258 feature needs documentation, [the documentation](https://github.com/pandera-dev/pandera/pull/258#issuecomment-692984345) written by @jeffzi is a good start:
- add module to the [API reference](https://github.com/pandera-dev/pandera/blob/master/docs/source/API_reference.rst)
- add an entry for `pydantic-style API` that should be referenced in the `index.rst`. Some thing

[2020-10-04 14:51] cosmicBboy commented on #281
@jeffzi let me know if there's anything else in the usage guide to include, in addition to what you've already outlined here: https://github.com/pandera-dev/pandera/pull/258#issuecomment-692984345

[2020-10-04 18:29] jeffzi commented on #281
Thanks, sounds good to me.

[2020-10-05 13:04] amitripshtos commented on #253
@jeffzi Great job! Really amazing work :)
I started playing with it a bit, and I came across some typing issue:
![image](https://user-images.githubusercontent.com/10770124/95082728-27a0d180-0724-11eb-9ddd-3d7f67c74c07.png)

As you can see, I took the input data frame and added the new field, and returned it.
However, in Pycharm it raises because I did not returned DataFrame[OutputSchema], while th

[2020-10-05 16:08] cosmicBboy commented on #253
I was able to reproduce this behavior ^^ in pycharm. I'm guessing pycharm's type-checking implementation is different from mypy, as `mypy file.py` (contents of `file.py` being the code above) doesn't complain, seems like pycharm's is stricter, since it's strictly correct in saying that the `people` variable of type `DataFrame[InputSchema]` is not of type `DataFrame[OutputSchema]`.

Defining `class

[2020-10-05 18:07] jeffzi commented on #253
@amitripshtos Thanks for reporting that issue.

This is related to the concepts of `covariance` and `contravariance`. A good summary can be found [here](https://stackoverflow.com/questions/61568462/python-typing-what-does-typevara-b-covariant-true-mean) and in [mypy's documentation](https://mypy.readthedocs.io/en/stable/generics.html).

If we have `class DerivedSchema(BaseSchema)`, we want `DataFr

[2020-10-05 18:13] jeffzi commented on #281
We could also add a FAQ. For example, https://github.com/pandera-dev/pandera/issues/253#issuecomment-703617879

[2020-10-05 19:32] amitripshtos commented on #253
@jeffzi Thanks for your response.
I tried changing this line:
[code]
to:
[code]

However, Pycharm still doesn't like it. Am I missing something? :)

[2020-10-05 20:25] cosmicBboy commented on #253
I think the issue with `class InputSchema(OutputSchema)` is that if we were to use `@check_types` for runtime checks the input `people` dataframe won't have the `test` column.

Not sure what the memory implications of this are, and it's a bit ugly, but wrapping `people` in `pd.DataFrame` in the return statement seems to appease the pycharm type checker:

[code]

Since at this stage of development

[2020-10-05 20:28] jeffzi commented on #253
Sorry for the confusion. Actually, you don't need to modify the code of pandera. Pycharm assumes `covariant` by default and mypy passes as well.  I was just saying that we should specify `covariant=True` to be explicit and avoid future issues.

The code below should be accepted by Pycharm:
[code]
Since you add a column to `people`, `InputSchema` is a subtype of `OutputSchema`.

[2020-10-05 20:33] amitripshtos commented on #253
Another really cool bug I found:
[code]
This code should fail because the output dataframe does not have the real_age field.
However it does not fail.

The cool part is when I added a line:
[code]

It raised the right error. I think there is some kind of cache happening here that causing this issue (not quite sure)

[2020-10-05 20:43] amitripshtos commented on #253
I agree with the last @cosmicBboy comment. If we find a way to disable the typings it will be good, otherwise the solution the documentation should in my opinion it either:
[code]

or:

[code]

[2020-10-05 21:15] cosmicBboy commented on #253
@jeffzi @amitripshtos re: https://github.com/pandera-dev/pandera/issues/253#issuecomment-703873130

I made a PR #282 that adds a test to the testing suite. The change to the source code is the naive fix, @jeffzi feel free to make changes to the PR, getting rid of the `__schema__` class attribute cache was just the quickest fix.

[2020-10-05 23:04] jeffzi commented on #253
I wouldn't encourage users to risk a copy of the DataFrame.

We can leverage [TYPE_CHECKING](https://docs.python.org/3/library/typing.html#typing.TYPE_CHECKING):
[code]
Pycharm is happy but cannot auto-complete regular pandas.DataFrame methods anymore... Vscode + [Pylance](https://github.com/microsoft/pylance-release) has no issue at all.

We can test major IDE's (pycharm, vscode, etc.) and checke

[2020-10-06 05:47] amitripshtos commented on #253
I can confirm that @jeffzi solution is working on Pycharm well.
I added a PR with the changes he proposed: https://github.com/pandera-dev/pandera/pull/283

[2020-10-06 14:38] cosmicBboy commented on #253
agreed. will add the guidelines part to the documentation task #281

haha, no regrets! we're going full steam ahead with this feature, I'm excited to try it out in my work :)

thanks @amitripshtos appreciate the early testing, please keep the bug reports coming as you find them!

[2020-10-08 10:44] ferhah commented on #261
Hi, I would like to work on this issue.
Can you give me a small example about the issue?

[2020-10-08 13:23] gianfa commented on #200
Hi, I think Pandera could delegate these responsibilities during a first development stage.
* *faker* would be a very good resource, in order to have something automatically ready to produce synthetic data.
In a second stage we could just make a facade to most relevant and basilar fields, like email, names, geoloc,.. along with Pandera integration tests, like @cosmicBboy was saying (e.g. ```Check.

[2020-10-08 22:17] cosmicBboy commented on #261
Hi @ferhah thanks!

Currently pandera doesn't support the complex number numpy types in the `dtypes` module: https://github.com/pandera-dev/pandera/blob/master/pandera/dtypes.py#L121

The `PandasDtype` enum needs to be extended to include key-value pairs for `complex64` and `complex128` types:

[code]

Additionally:
- the [`from_str_alias`](https://github.com/pandera-dev/pandera/blob/master/pander

[2020-10-09 07:11] ferhah commented on #261
Thank you.
I make the changes and a PR.

[2020-10-11 06:45] ferhah commented on #246
Hi, I can try working on it.

[2020-10-11 21:16] cosmicBboy commented on #246
great! thanks @ferhah, just assigned you

[2020-10-12 19:56] cosmicBboy commented on #200
hi @gianfa thanks for adding your thoughts here! There are some great concepts in your proposal, and I think there's opportunity further to refine the user-facing API. I'd like to figure this part out first and then working backwards through to implementation details.

Re: custom types and validation logic, `pa.Check` is perfectly suited for this use case:

[code]

One question I had about our ske

[2020-10-14 00:01] #277 closed

[2020-10-14 11:35] ktroutman opened #287 "Moving columns to multiindex"
I would like to be able to do input and output validation at sensible points in the pipeline. However, small changes occur in the schema, such as the index.

What would be the proper use for the following case:

You have created an input schema to validate an incoming dataset:
[code]
Later in the pipeline the ID column is assigned to be an index column (in actual use case using a multiindex).

Oth

[2020-10-16 21:03] cosmicBboy commented on #287
thanks @ktroutman, I think having column-to-index and index-to-column methods is a great idea!

The API currently doesn't support an elegant way of doing this.

This is pretty much how it has to be done.

The implementation for column-to-index and index-to-column methods would be fairly straight-forward, though there is potentially some subtlety with the interface, and I think this would also be a

[2020-10-17 15:17] cosmicBboy commented on #254
fixed by #290

[2020-10-17 15:17] #254 closed

[2020-10-17 22:28] cosmicBboy commented on #279
fixed by #261

[2020-10-17 22:28] #279 closed

[2020-10-18 17:12] #275 closed

[2020-10-18 20:44] cosmicBboy opened #293 "Improve auto-linking of auto-generated types in documentation"
#### Location of the documentation

https://pandera.readthedocs.io/en/stable/generated/methods/pandera.Check.isin.html

#### Documentation problem

Currently, the return type annotations in the documentation doesn't provide a link, which
hinders usability.

#### Suggested fix for documentation

See solution here https://github.com/pandera-dev/pandera/pull/289/commits/2d2e0f9255e989b789276360fa3ed7

[2020-10-18 22:47] ktroutman commented on #287
thanks for the detailed response @cosmicBboy !!

As far as building in some functionality, I find that in using the API, the distinction between the Column and Index objects to be tough to work with sometimes. Even if the reset_index or set_index methods were built in, then you'd still be doubling up on some methods such as update between column and index.

A preference would be something like an

[2020-10-19 12:53] gianfa commented on #200
I. Answering to your last message
1. pa.Check. yes it is perfect to host validators
1.1. I'm not sure yet about what "statistics" specifically does. Is it limited to validation properties declaration, such like "nullable"?
1.2. I never used Hypothesis strategies, but they do look promising for generation.
2. Handling multiple checks: I love the compositional approach, therefore I agree with findin

[2020-10-19 15:36] TheCleric opened #294 "When validating/coercing an int column with a NaN value, the error does not indicate the failing column"
**Describe the bug**
When attempting to validate/coerce an int column (e.g. pa.Int64) that has nulls in it, the error thrown does not indicate the offending column. I know that nullables are NOT supported for Ints, but I am having trouble figuring out which column needs to have its type changed and be made nullable for a large dataset.

- [X] I have checked that this issue has not already been rep

[2020-10-19 16:01] TheCleric opened #295 "Add Nullable detection to infer_schema"
**Is your feature request related to a problem? Please describe.**
When trying to determine a schema based on a dataframe, `infer_schema` does not indicate which columns would need to be nullable

**Describe the solution you'd like**
Columns that would need to be marked as nullable, would be so.

**Describe alternatives you've considered**
Generating the schema, validating against it, and manually

[2020-10-20 00:53] cosmicBboy commented on #293
fixed by #289

[2020-10-20 00:53] #293 closed

[2020-10-20 00:54] cosmicBboy commented on #294
Thanks for submitting this bug @TheCleric! this should be a fairly straight-forward fix, basically https://github.com/pandera-dev/pandera/blob/master/pandera/schemas.py#L813-L819 needs to catch ValueErrors in addition to TypeErrors and then raise a `SchemaError` using the `from` keyword so that the full traceback is available.

Let me know if you're interesting in contributing this fix!

[2020-10-20 00:54] cosmicBboy commented on #295
Thanks @TheCleric, what do you have in mind as an API change to `infer_schema`?

Currently, the [`schema_statistics.infer_series_statistics`](https://github.com/pandera-dev/pandera/blob/master/pandera/schema_statistics.py#L50-L58) function handles automatically inferring the statistics of a column, and the resulting inferred schema should mark columns as nullable if the input dataframe contains nu

[2020-10-20 01:20] cosmicBboy commented on #287
I think collapsing the Column and Index abstraction into one is an interesting idea! After thinking about it a little bit, I'd be inclined to maintain the distinction between these two things, as `pandera`'s main design goal is to mirror pandas semantics to make it as intuitive as possible to pandas users.

The main reason is that in sql-like systems, there's no conceptual difference between an in

[2020-10-20 02:38] cosmicBboy commented on #281
fixed by #289

[2020-10-20 02:38] #281 closed

[2020-10-20 02:56] TheCleric commented on #295
Thanks for the response!

I hadn't realized that nullable was present there. I think the confusion for me comes from the fact that I was using `print` like the example in the docs, and when doing so, it doesn't mention nullables.

So for your example above here's what I'm seeing from running `print(schema)`:

[code]

So looking deeper into this, the root of this issue is likely that I was expectin

[2020-10-20 03:48] TheCleric commented on #294
I looked into doing this, but am running into a bigger issue. When adding your suggestion, it seems like it gets caught by https://github.com/pandera-dev/pandera/blob/master/pandera/schemas.py#L908-L927 instead. I tried adding some other checks to skip that for `dtypes.NUMPY_NONNULLABLE_INT_DTYPES` but was not having a lot of success.

I'll leave it to someone with more experience in the error han

[2020-10-20 07:22] Aditya1001001 commented on #237
Reinstall fixed the problem

[2020-10-20 07:22] #237 closed

[2020-10-20 08:19] jeffzi commented on #287
If you know in advance, before runtime, which columns will be transformed into indices, you could consider the upcoming class-api (pandera 0.5):

[code]

<sup>Created on 2020-10-20 by the [reprexpy package](https://github.com/crew102/reprexpy)</sup>

Behind the scenes, `SchemaModel` has the concept of `FieldInfo` that abstracts both `Column` and `Index`. It has `to_column()`, and `to_index()` [met

[2020-10-20 12:13] TheCleric commented on #294
Disregard. This was due to me adding a test in the wrong spot. PR incoming.

[2020-10-20 13:09] cosmicBboy opened #297 "__str__ and __repr__ method of DataFrameSchema should display all attributes"
**Is your feature request related to a problem? Please describe.**
printing out a DataFrameSchema should be as informative as possible. Currently, e.g. `nullable` is not displayed when a user `print`s a df schema, see https://github.com/pandera-dev/pandera/issues/295.

**Describe the solution you'd like**
Update `__str__` and `__repr__` so that it contains all relevant properties of a DataFrameSch

[2020-10-20 13:09] cosmicBboy commented on #295
Yes, this would be a good thing to update! I just made #297, let me know if you're interesting in contributing a fix!

[2020-10-20 13:14] cosmicBboy commented on #261
fixed by #286

[2020-10-20 13:14] #261 closed

[2020-10-20 13:26] baskervilski commented on #222
Hi, @cosmicBboy , I won't have time to contribute in the near future, unfortunately.

The issue is up for grabs if anybody else want to take it up.

[2020-10-21 00:47] #262 closed

[2020-10-21 00:49] cosmicBboy commented on #276
fixed by #299

[2020-10-21 00:49] #276 closed

[2020-10-21 00:50] cosmicBboy commented on #294
fixed by #296

[2020-10-21 00:50] #294 closed

[2020-10-21 05:19] #253 closed

[2020-10-21 17:06] CodeMySky opened #301 "Validation with coerce will modify the original dataframe"
**Describe the bug**
A clear and concise description of what the bug is.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports)

[2020-10-21 18:28] kumare3 opened #302 "Love the work you guys are doing, I am interested in using this in flytekit"
#### Question about pandera
So I work on Flyte which is a processing platform for writing scalable pipelines. Flytekit is its python SDK, where we intend to make the life of a datascients or ML engineers easy. Flyte has a native type system, that enforces correctness in the distributed pipeline. We have a schema object today and are exploring to replace it with Pandera.

More than a question this

[2020-10-21 21:32] cosmicBboy commented on #200
Hi @gianfa, thanks for keeping the momentum on this discussion going! I'm particularly excited about this feature for the ML use case: testing models with fake data at the beginning of the pipeline would be a game-changer for me.

Currently it doesn't do a whole lot. All the `register_check_statistics` decorator does is give access to the arguments of built-in checks for the purpose of serializing

[2020-10-22 13:01] #274 closed

[2020-10-22 13:11] cosmicBboy commented on #301
thanks for submitting this bug @CodeMySky, this is important to get right!

This PR #305 should address your issue. The `validate` method should now have an `inplace` argument, which is `False` by defualt: this will create a complete copy of the dataframe to be validated before the types are coerced.

Taking the cue from pandas, I added this option because in some cases the user might not care if

[2020-10-22 15:59] CodeMySky commented on #301
Thanks for your quick fix!

[2020-10-23 03:52] cosmicBboy commented on #302
Thanks @kumare3! Flytekit looks like a relaly useful tool for task management, and it would be great if we could work together :) I did skim through the flytekit codebase, particularly the [schema.py module](https://github.com/lyft/flytekit/blob/master/flytekit/common/types/schema.py) just to get a better idea of how schemas are defined there, and I'm curious how you'd like to incorporate pandera

[2020-10-23 04:02] kumare3 commented on #302
@cosmicBboy thank you for getting back to me. Flytekit is a little old (written 4 years ago internally at lyft) but we are completely redoing the api and I want to completely replace the schema api with pandera as the api layer and will convert to our internal typesystem. If you are interested in collaboration, we can have a chat and see how it will look. IMO in the new world it should be relative

[2020-10-23 14:08] ktroutman commented on #287
Thanks for the clarification @cosmicBboy

My last point on the index thing is that as far as I have used it, I have felt a need to abstract away the multiindex/index from the user-facing part of the api. So i wrote a class internally to basically do that, so that other users can just enter all columns (or loop through them) creating the schema. The extra parameter, index, just builds the index in

[2020-10-24 14:08] #301 closed

[2020-10-24 14:17] cosmicBboy commented on #302
Cool, @kumare3 let me know the most convenient way for us to touch base, would be interested in figuring out how we can collaborate! You can reach me at niels.bantilan@gmail.com

[2020-10-24 14:59] cosmicBboy commented on #287
@ktroutman these are good points, I think I'm coming around to the simpler API you suggest where all fields are specified at once. As @jeffzi mentioned, the class-based API coming out in the next release `0.5.0` would allow for a concise way of expressing this https://github.com/pandera-dev/pandera/issues/287#issuecomment-712680779.

I'm still not entirely sure if this should be supported, but I'm

[2020-10-24 16:22] jeffzi commented on #287
I agree.

Regarding MultiIndex, you could allow `index=True/False` in the constructor of a `Column` but not in `update()`. Then a `reset_index` and `set_index` combination would be the only way to modify the index after the schema is initialized. `set_index` defines an order and solves your problem.

[2020-10-28 01:03] cosmicBboy opened #311 "Replace instances of pa.PandasDtype enum with python, numpy, pandas types"
#### Documentation problem

The current documentation demonstrates `pandera` usage by using the `pa.PandasDtype` enum, which can make things look a little unfamiliar to new-comers, especially since it now supports the use of python types and numpy scalar types, for example, see:

- documentation example: https://pandera.readthedocs.io/en/stable/#quick-start
- docstrings example: https://github.com

[2020-10-28 01:10] cosmicBboy opened #312 "Differentiate between PandasDtype.Str and PandasDtype.String"
**Is your feature request related to a problem? Please describe.**

Currently, the `PandasDtype` enum only has a `String` value that maps onto the `object` pandas dtype, however with pandas 1+ we have a dedicated string datatype `pd.StringDtype()`, with the `"string"` alias. Currently users have to specify the `pd.StringDtype` explicitly in order to use this feature.

**Describe the solution you'd

[2020-10-29 11:41] beto-Sibileau opened #313 "Tips to define `checks` list inside a loop using the same `check_fn` with different `k_args`"
#### Question about pandera

Would like to define a DataFrame pandera Check using the same validation function with different arguments. How would it be possible to define this in a loop?

In the example below, suppose I want to define `checks` list in a loop, appending always the same validation function, with a different `name` and `df_rows` variable.

[code]

[2020-10-29 13:21] cosmicBboy commented on #313
Hi @beto-Sibileau, thanks for the question!

I think a list comprehension would work well here

[code]

Let me know if this answers your question!

[2020-10-29 14:49] beto-Sibileau commented on #313
superb @cosmicBboy, that's what I was looking for! Many thanks!

[2020-10-29 14:49] #313 closed

[2020-10-29 21:54] ktroutman commented on #287
I'm coming around to @jeffzi idea of pandas parallel methods of re/set_index to manage the indices. It gets us around this sticky issue of ordering when updating the index and it will be immediately obvious for any pandas user how it works.

So it might look like:

[code]
This also alleviates the awkwardness of being able to name your columns with the dictionary key for the Column object, but then

[2020-10-30 13:18] beto-Sibileau opened #315 "Dataframe Check: rows selected by **Pandera** to input validation function are affected by NaN values"
#### Question about pandera

I would like the input dataframe to a validation function not to be affected by `NaN` values, is there a flag I could activate for this?

For example, in the code below, I would like to operate `valid_avail` on the whole dataframe `df_with_nan`, but *Pandera* passes by default only the last row (the others being affected by `NaN` values in `col1`).

[code]

[2020-10-30 13:28] cosmicBboy commented on #315
You can try setting `Check(..., ignore_na=False)`. It's `True` by default, which causes the schema to drop any rows with null values before passing them into the check functions.

[2020-10-30 13:38] beto-Sibileau commented on #315
Indeed @cosmicBboy, thanks for your prompt reply !!!

[2020-10-30 13:38] #315 closed

[2020-10-30 13:42] cosmicBboy opened #316 "Add section about `ignore_na` in the Checks user guide"
#### Location of the documentation

https://pandera.readthedocs.io/en/stable/checks.html

#### Documentation problem

An important piece of functionality is that `ignore_na=True` in a Check will drop elements with nulls (for columns) and rows with any nulls (for dataframe checks)

#### Suggested fix for documentation

Add documentation for this in the user guide so that it's highlighted to users.

[2020-10-30 13:50] cosmicBboy opened #317 "ignore_na drops elements/rows after passing through the check function"
**Is your feature request related to a problem? Please describe.**

Currently, the `Check` class will drop any elements/rows with null values, which seems to be unexpected behavior, esp for users defining custom check functions.

**Describe the solution you'd like**
We want to change the behavior of this such that the pandas object passed into the check function is unmodified. `pandera` should han

[2020-11-02 03:27] cosmicBboy commented on #287
cool! thanks for your feedback and comments @ktroutman @jeffzi, I think the first step to take on this would be to implement the `re/set_index()` methods and see how that feels, and then reassess if we still want th `Column(..., index=True)` functionality. I only hesitate because of this reason:

I think introducing these kinds of exceptions in the method behavior introduce a sort of inconsistent

[2020-11-02 11:12] ktroutman commented on #287
Sure thing -- I will try to put something together later this week.

[2020-11-03 13:43] gianfa commented on #178
I think as much.
I'm not taking this task, but I can contribute with my ipynb notes, user and dev, somewhere in the repo.
Just tell me, please, where I can put them, in order to be useful.

[2020-11-03 14:19] gianfa commented on #200
Hi @cosmicboy,

Ok. I suppose I have a better understanding of check.statistics, now. In other words it is like an accessor to meta characteristics of the column, the same ones we want to inject in schema definition, maybe. As you already said, we'll expand it.

Agree.

Ok we're talking about data consistency here. Your suggested code looks good, IMHO, as long as it is validated at schema level (d

[2020-11-11 19:06] cosmicBboy opened #320 "pandas_dtype_strategy supports Category dtype"
**Is your feature request related to a problem? Please describe.**

Currently, the `pandas_dtype_strategies` function in #314 doesn't handle categorical data types. To be feature-complete, we'd want to support this, with the caveat that pandera doesn't currently support `PandasDtype` enums with additional metadata, such as the [CategoryDtype](https://pandas.pydata.org/pandas-docs/stable/reference/

[2020-11-11 19:58] cosmicBboy opened #321 "Add types_only kwarg to the validate method"
**Is your feature request related to a problem? Please describe.**

Sometimes users just want to validate the data types of a schema and not execute
the checks due to computational overhead.

**Describe the solution you'd like**

Add a `types_only: bool` kwarg to the `validate` method and all associated methods
(like the decorator functions). If True, only data type validation should occur.

[2020-11-12 13:37] kristomi opened #323 "SchemaError on index name for single-index dataframe when using SchemaModel"
Thanks for the awesome `SchemaModel` interface! That really improves readability and usability.

**Describe the bug**
I am not able to validate a pandas DataFrame with a single index column when that index is named. The code on line 304 in `pandera/model.py` seems to explicitly force the schema to have a `None`-named index when the index only has one column. How can I get around this?

- [x] I hav

[2020-11-12 14:16] cosmicBboy commented on #323
thanks for submitting this bug @kristomi, I think the rationale for this behavior is was that we didn't want users to have to name their indexes to specify valid dataframes (@jeffzi am I getting that correct?), although I think this behavior needs to be amended to support your use case.

### Potential Solutions

1. Skip the name check for single-indexed dataframes during validation altogether.
2.

[2020-11-12 14:30] kristomi commented on #323
Thanks for the quick response.

The way I constructed the invalid dataframe is a very typical workflow for me, where dataframes are passed around and indices are set and reset all the time. On that background, I would prefer solution nr 3, because indices would then be validated as named by default, unless you construct the schema with your special notation.

[2020-11-12 20:54] jeffzi commented on #323
Yes, that's right.

I also like the fact that 2. addresses unnamed multiindex and aligns the model api with the standard api. My issue with 3. is that it increases the complexity for new-comers. It would also be confusing in inherited models:

[code]

If 3. is selected, I agree it would be reasonable, and perhaps more natural, to validate index name by default. After all, you do name the index.

[2020-11-12 22:40] kristomi commented on #323
You guys have way more insight than I do, and I clearly see the problem with inheritance now that you mention it. Perhaps nr 2 is a better choice, then. Anyway, I'm not in a position to see all the implications of solving this one way or the other.

[2020-11-12 23:21] jeffzi commented on #323
@kristomi np! It's already a great help to report bugs and feedback 🙂

@cosmicBboy Once a decision has been reached, I'd be happy to take care of the changes. I saw you already have a lot on your plate.

[2020-11-13 15:15] cosmicBboy commented on #323
thanks for the feedback! After thinking about it for a little bit, I'd like to go for solution # 2, with a slight addition:

#### Introduce a `verify_name` kwarg to the `SeriesSchemaBase` class constructor and `verify_names` kwarg in `MultiIndex` constructor

- `verify_name(s)` should be an instance property.
- If True, verify the name of the Series/Index/MultiIndex, otherwise don't.
- This would

[2020-11-13 15:16] cosmicBboy commented on #323
Thanks @jeffzi! Let me know what you think about the above proposal and if you have any questions/concerns about it

[2020-11-14 05:58] #312 closed

[2020-11-17 09:09] Fesche opened #324 "SchemaModel support for columns which are not valid python variable names"
The schema model syntax today does not allow for column names which make Python throw a SyntaxError. Clearly there's no getting around the SyntaxError, so some workaround should be implemented.

[Pydantic](https://pydantic-docs.helpmanual.io/usage/model_config/#alias-precedence) allows for aliasing of Fields. A similar functionality should solve the problem.

The problem at hand:
<img width="303"

[2020-11-17 13:56] cosmicBboy commented on #324
Thanks for this feature request @Fesche, I think it'll be very useful :)

@jeffzi I was wondering if you have any additional thoughts

[2020-11-17 14:30] jeffzi commented on #324
I agree with adding `alias`.

@jeffzi I was wondering if you have any additional thoughts about this, since we did

At that time we overlooked the use-case highlighted here 🙃

I think the alias should overwrite the variable name. That's what pydantic does. It simplifies the implementation and clarify the user code since the final schema columns will always be referenced by their alias (except in t

[2020-11-17 14:34] jeffzi commented on #324
Also,

[2020-11-17 21:29] jeffzi commented on #323
I would suggest `check_name` instead of `verify_name` to keep the same vocabulary used elsewhere in pandera.

Name validation is mandatory for Series because we need the name to get the column to validate from the DataFrame:
https://github.com/pandera-dev/pandera/blob/31fe07b30b267527ecea7f6b1435f49b6b963abf/pandera/schemas.py#L937-L941

That would not be an issue if pandera supported columns orde

[2020-11-18 02:53] cosmicBboy commented on #323
sounds good 👍

woops, yes I meant True by default :)

[2020-11-19 08:30] ktroutman commented on #273
would it be worth adding a [flynt](https://github.com/ikamensh/flynt) pre-commit hook?

[2020-11-19 16:30] cosmicBboy commented on #273
flynt looks useful! @AdityaJ7 any progress on this issue? If not it's cool, we can add the flynt pre-commit hook.

[2020-11-19 16:36] AdityaJ7 commented on #273
I am extremely sorry about this, I was not able to give time to this issue due to various issues, you can for sure go with his pre-commit hook. Again I am extremely sorry. I would definitely try to make contributions here in the near future. But I think you should unassign me from this.

[2020-11-19 16:45] cosmicBboy commented on #273
no worries @AdityaJ7 ! @ktroutman you're welcome to make the contribution if you'd like :)

[2020-11-19 21:06] ktroutman commented on #273
sure thing @cosmicBboy , just submitted pr.

[2020-11-21 00:34] cosmicBboy opened #327 "Add documentation for DataFrameSchema transformations"
#### Location of the documentation

https://pandera.readthedocs.io/en/stable/dataframe_schemas.html#dataframeschema-transformations

#### Documentation problem

Currently, the above section in the documentation only describes the `add_columns` and `remove_columns`
methods. Need to add usage documentation for `rename_columns`, `select_columns`, `update_column`,
`reset_index`, and `set_index` (the l

[2020-11-21 00:37] cosmicBboy commented on #324
cool, this makes sense to me!

@jeffzi or @Fesche let me know if either of you want to work on this, I'm still working on a fairly heavy-lift-of-a-PR https://github.com/pandera-dev/pandera/pull/314 and won't be able to get to this for a few weeks.

[2020-11-21 17:27] jeffzi commented on #324
I can work on it once #326 has been merged. Modifications will need to happen in one piece of code modified by that issue.

[2020-11-22 01:00] #323 closed

[2020-11-22 01:06] cosmicBboy commented on #324
cool, thanks @jeffzi, just merged #326

[2020-11-22 15:25] ktroutman commented on #327
I'd be happy to have a swing at this.

[2020-11-22 19:10] cosmicBboy commented on #327
go for it @ktroutman !

[2020-11-23 03:54] cosmicBboy opened #328 "Add support for registering custom checks, statistics, strategies"
**Is your feature request related to a problem? Please describe.**

So far, pandera has supported easily creating custom checks for dataframe/series schemas. However, with the ability to generate synthetic data #314 from a schema, it's become more important to be able to easily register checks as built-in checks so that users can:

1. serialize/deserialize user-defined checks
2. define data-genera

[2020-11-23 18:21] ktroutman opened #330 "Adding update_columns for multiple column updates"
**Is your feature request related to a problem? Please describe.**
If updating multiple columns, has to do them one at a time.

**Describe the solution you'd like**
It may be desirable, in line with the 'remove', 'rename', 'select', 're/set_index' APIs, to be able to pass a dictionary of columns.

**Describe alternatives you've considered**
None, but given it is the only verb_column method that is

[2020-11-23 22:37] jdb78 opened #331 "Titles, aliases, and description for SchemaModels"
Let me first say how much I love pandera and the appreciate the effort to maintain and write such a great package!

**Is your feature request related to a problem? Please describe.**
Errors can be difficult to debug without extra context. Say, a check fails, the only information to the user is that the column failed that particular check.
Now, would it not be better for the user to understand why

[2020-11-24 20:20] ClaireGouze opened #332 "check_output : option to turn down checks if output is empty"
I'm using the check_output function to check column & datatypes of the DataFrameSchema. My function output can sometimes be an empty dataframe and thus gets a SchemaError, though i would want no error.

Would it be possible to have an option in the check_output function so that no error is raised if output is empty ? Or in the DataFrameSchema ?

Thank you !

[2020-11-25 04:05] #324 closed

[2020-11-25 04:06] cosmicBboy commented on #324
@fesche #329 should address this issue, coming out in the next `0.6.0` release (or you can clone `master` branch and install locally if you wanna try it out early 😃)

[2020-11-25 04:25] cosmicBboy commented on #330
I like it!

What API did you have in mind?

My first instinct is to do something like this:

[code]

Where the implied signature is:
[code]

[2020-11-25 04:47] cosmicBboy commented on #331
thanks @jdb78!

I think this would be a fantastic addition to pandera! I think before delving more into implementation details, I'd like to understand a little bit better what additional context would be helpful.

I understand the reasoning behind `title` and `description`: basically it provides additional annotation capabilities that gives the user more human-readable metadata. However,

Implies

[2020-11-25 04:59] cosmicBboy commented on #332
thanks for submitting this feature request @ClaireGouze!

I think this use case should be supported, and here are a few a potential solutions:

1. add an `allow_empty` property to the `DataFrameSchema` and `SeriesSchema` initializers, such that empty dataframes can
   pass through without raising a `SchemaError`. This is nice because it would then cover the `check_input` case as well.
2. add an `o

[2020-11-25 09:11] Fesche commented on #324
Awesome, that was faster than I'd hoped for! Hats off to you guys! 🥇

[2020-11-25 10:03] jeffzi commented on #332
If you don't have explicit checks, i.e. just checking column names and types, you could set `coerce=True`. Obviously, whether that's acceptable depends on your project.

[code]

<sup>Created on 2020-11-25 by the [reprexpy package](https://github.com/crew102/reprexpy)</sup>

If the DataFrame is empty, we can only validate names and types. I think an argument `allow_empty` should still validate type

[2020-11-25 14:28] cosmicBboy commented on #332
👍

[2020-11-26 08:56] ClaireGouze commented on #332
Thanks for your reply, i think the solution #1 you mentioned would be suitable.

This would be a good solution but if the output is just an empty dataframe with no column name, it will still fail.

[2020-11-26 11:01] jeffzi commented on #332
What you are asking for is actually to completely disable validation.

I propose to introduce 2 arguments:
1. Argument `allow_empty` for `DataFrameSchema`/`SeriesSchema` which still checks columns and names on empty DataFrames. Example use cases are dry runs or reading from a source that can be empty. The semantic is that we processed the data successfully but the output is empty.

2. Argument `op

[2020-11-26 15:41] cosmicBboy commented on #332
I think the `allow_empty` option at the schema-level and `optional` option for object-based API `check_*` decorators makes sense.

For the latter, I'm thinking something like this:

[code]

@ClaireGouze can you provide example code for your use case? I'm trying to wrap my head around the case where a function returns an empty dataframe with no columns, in which case my intuition is that the functi

[2020-11-27 00:29] #287 closed

[2020-11-27 00:55] ktroutman commented on #330
My initial thought was basically the same, but instead of kwargs just to pass a nested dictionary, with column names and then the desired attributes. The relatively convictionless reasoning behind it was that you use dictionaries or lists for the other schema transform methods, like ```rename_columns```. So it was look like this.

[code]
But I like your idea since it is more parsimonious,  allowin

[2020-11-27 02:18] cosmicBboy commented on #330
hmm, actually I think you're proposal is better, since it allows users to express column names that are not valid kwarg names, e.g. integer column names

[code]

So let's go with your proposal :)

Cool! Feel free to add the implementation there

[2020-11-27 03:29] cosmicBboy commented on #330
for backwards compatability we should keep `update_column` and just offer `update_columns` in addition.

[2020-11-28 18:49] marwan116 opened #335 "io requires packaging dependency but it is not specified in setup.py"
**Describe the bug**
A clear and concise description of what the bug is.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas.
- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports)

[2020-11-28 20:46] cosmicBboy commented on #335
thanks for pointing this out @marwan116! I just noticed this bug myself, lemme cut a new bugfix version `0.5.1` to resolve this issue

[2020-11-28 21:19] cosmicBboy commented on #335
@marwan116 just released https://pypi.org/project/pandera/0.5.1/

let me know if this fixes the issue!

[2020-11-30 22:32] fmardero opened #338 "Catching and output dataframe elements that are causing the schema errors"
Hi,
I would like to disclosure/log the dataframe elements that are causing the schema errors during a pandas pipeline. In order to do so I have coded this toy example.

[code]

Please I need help with the following points:

- Depending on `option=0` or `option=1` from the `corrupt_data` function I get different errors even if the first one contains the second corrupted elements. For `option=1` I g

[2020-12-01 01:49] cosmicBboy commented on #338
hi @fmardero, good questions!

Yes, this is exactly what the `lazy` option is for, you're using it correctly

Thanks for bringing this to my attention! This is definitely a bug... the type coercion logic isn't lazily collected during validtion so the `SchemaError` so it's being raised immediately. This should be a fairly straight-forward fix. I'll be releasing v0.6.0 is the next week or so, and wi

[2020-12-01 10:01] fmardero commented on #338
hi @cosmicBboy, thanks for the fast reply.

This would be a great fix and it will make the validation system more robust to "strange things" that can happen in databases. Also, referring to `option=0` and `lazy=False`, the `SchemaError.failure_cases` attribute returns `None` instead of the first corrupted values.

Adding a parallelism between the two errors would be nice because in this way it wou

[2020-12-01 14:28] cosmicBboy commented on #338
I believe the `failure_cases` attribute would cover that use case:

[code]

Where the `column` and `index` specifies the position in the invalid dataframe,
`check` corresponds to the validation check performed, and `failure_case` is the
value that caused the error.

[2020-12-01 14:55] fmardero commented on #338
Awsome, works perfectly.
Also using
[code]
I'm able to output a custom error string. Thank you for the great work! :)

[2020-12-03 01:11] cosmicBboy commented on #332
going to work on this after `0.6.0` release, should be out by next week

[2020-12-03 01:13] cosmicBboy opened #341 "__str__ and __repr__ of MultiIndex schema component should be unique"
**Is your feature request related to a problem? Please describe.**

Currently, the `MultiIndex` schema component str representation is the same as
the `DataFrameSchema` representation

**Describe the solution you'd like**

the `MultiIndex` schema component should implement its own str representation
so that it doesn't render `columns` and instead shoulds the indexes.

[2020-12-03 01:14] #204 closed

[2020-12-03 21:56] jeffzi opened #342 "Ordered columns"
**Is your feature request related to a problem? Please describe.**
For some applications the order of the columns is important. For example:

* Sometimes, we want to leverage [selection by position ](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html#selection-by-position )instead of the more common [selection by label](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.

[2020-12-03 23:09] cosmicBboy commented on #342
Sounds good!

[2020-12-04 00:07] ktroutman commented on #342
would this extend also to the order of index columns?

[2020-12-04 01:32] cosmicBboy commented on #342
I'm guessing since `MultiIndex` inherits from `DataFrameSchema` we sort of get ordered indexes for free

[2020-12-04 09:12] jeffzi commented on #342
Makes sense. I will keep multiindex in mind while writing and testing that new argument.

[2020-12-04 13:41] cosmicBboy commented on #342
btw @jeffzi you should base your changes on the `dev` branch, will be cutting a new release this weekend with those changes: https://github.com/pandera-dev/pandera/pull/344

[2020-12-06 20:27] jeffzi opened #345 "Duplicated column names are not supported"
**Describe the bug**
Pandas allows for duplicated column names. Pandera does not take into account this scenario.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas.

The reason is that selecting a duplicate column will return a dataframe instead of a series. Bug starts here: https://github.com/pandera-dev/pan

[2020-12-08 00:37] cosmicBboy commented on #345
I may regret this, but I think we should support duplicated columns... I personally think it's a bad idea to do this and never have dup columns in my own work, but if `pandas` supports it, `pandera` at least supported it. #346 addresses this, I'm just hoping it doesn't cause further headaches down the road.

[2020-12-08 16:15] jeffzi commented on #345
I'll also take duplicate into account for #342.

FYI, pandas 1.2.0 will introduce an argument [allows_duplicate_labels](https://pandas.pydata.org/pandas-docs/version/1.2.0/whatsnew/v1.2.0.html#optionally-disallow-duplicate-labels). We're not alone thinking dups are bad :see_no_evil:

[2020-12-09 14:10] cosmicBboy opened #350 "Write documentation for data generation strategies, custom check registration, ordered columns"
#314 introduces a new features: generating synthetic data from a schema! Need to write documentation for this:

- data synthesis strategies
  - basic usage (interactive)
  - pytest usage
  - using `Check`s as constraints
  - gotchas with `Check`s
- custom check + strategy registration
- ordered columns

[2020-12-09 20:25] ktroutman commented on #330
addressed in #333

[2020-12-09 20:25] #330 closed

[2020-12-09 21:04] ktroutman commented on #345
I can also think of a few places in the transformation methods where duplicate columns would cause some issues. I can check that once #345 gets merged.

Is there any chance of generating a warning when initializing a Schema with duplicate column names that this might lead to unexpected behavior?

[2020-12-09 21:44] jeffzi commented on #345
Duplicate columns will only happen in the DataFrame, not in the schema since columns are initialized and stored in a dictionary. #346 does not add the ability to have duplicate columns in the schema, which is a good thing imho :)

[2020-12-10 23:59] #345 closed

[2020-12-11 00:01] jeffzi commented on #345
Fixed by #346

[2020-12-13 17:30] #338 closed

[2020-12-13 17:32] fmardero commented on #338
Addressed in #339

[2020-12-14 01:21] cosmicBboy commented on #342
Fixed by #352

[2020-12-14 01:21] #342 closed

[2020-12-14 01:24] cosmicBboy commented on #205
#348

[2020-12-14 01:24] #205 closed

[2020-12-14 01:25] cosmicBboy commented on #198
fixed up #285

[2020-12-14 01:25] #198 closed

[2020-12-14 01:49] cosmicBboy commented on #327
fixed by #333

[2020-12-14 01:49] #327 closed

[2020-12-14 01:51] cosmicBboy commented on #246
fixed by #288

[2020-12-14 01:51] #246 closed

[2020-12-15 12:54] superflexo opened #356 "Memory problem while using the dataframe schema validation"
**Describe the bug**
I need to validate a large pandas dataframe (1M rows x 300 columns).
I am using pandera 0.5.1 and pandas 1.1.5 within a Jupyter notebook.
16GB of RAM memory are not enough for the task and the memory is not freed after the validation.

* [x] I have checked that this issue has not already been reported.
* [x] I have confirmed this bug exists on the latest version of pandas.
* [

[2020-12-15 13:18] kristomi opened #357 "SchemaModels: Inheritance problem related to coercion"
**Describe the bug**
Again, thanks for a great library, guys! I have been enjoying the SchemaModels a lot.

If I construct a SchemaModel with type coercion, and then creates a second schema that inherits from the first one, there is a problem related to the coercion inheritance. It seems that the types defined on the child class is somehow inherited from the parent class? I haven't quite figured o

[2020-12-15 13:26] cosmicBboy commented on #356
Hi @superflexo, thanks for trying pandera out! If mutation isn't an issue for, can you try using [`validate(..., inplace=True)`](https://pandera.readthedocs.io/en/stable/generated/methods/pandera.schemas.DataFrameSchema.validate.html#pandera-schemas-dataframeschema-validate) and see if that solves your issue?

By default, pandera will make a copy of the dataframe to avoid mutation of the original

[2020-12-15 13:52] cosmicBboy commented on #357
hi @kristomi, this is a bug in error-reporting: the index order in the dataframe must match the schema model index order. I believe this will work:

[code]
There should actually be a `SchemaError` raised if the index names do not match in order

[2020-12-15 13:57] superflexo commented on #356
Thank you @cosmicBboy for the reply!
I tried your suggestion but it does not fix.
I add that the validation (a lazy one) ends with several SchemaErrors (as expected) so there is no dataframe as output in this case.

[2020-12-15 14:01] cosmicBboy commented on #357
since we've added column ordering #352 I'm wondering if we should remove the `ordered` option in the `MultiIndex` schema component and set `ordered=True` in the `super().__init__()` call. Since index ordering in multiindexes are critical when using `df.loc` I don't think it makes much sense to validate indexes out-of-order... what do you think @jeffzi?

[2020-12-15 14:08] cosmicBboy commented on #356
kk, can you share a toy version of your validation code, and the associated error you're getting? I'd like to better understand what's going on.

[2020-12-15 15:30] superflexo commented on #356
Simple toy code (module in attachment).
The errors are representative of the errors I get.

[code]

OUTPUT:
[code]
Hope this toy can be of help.
Many thanks!

[utils.zip](https://github.com/pandera-dev/pandera/files/5696626/utils.zip)

[2020-12-15 15:38] cosmicBboy commented on #356
Thanks @superflexo! So is the OOM error happening after validation has been executed?

[2020-12-15 15:44] superflexo commented on #356
Yes, in the case of 1M rows and many columns the notebook stops the execution and restart the kernel and errrors are not raised.
In case it fits in memory, the process ends just outputting the errors and leaving the memory filled (I was able to partially free the memory executing the validation through an external module and then invoking the garbage collector).

[2020-12-15 18:33] jeffzi commented on #357
@kristomi Happy to hear you enjoy SchemaModels :)

@cosmicBboy It's true that the order of levels is critical in many operations on multiindexes but I'm not sure it's necessary in 100% of the cases. We could maybe start with default `True` for MultiIndex  to be on the safe side.

[2020-12-16 13:53] cosmicBboy commented on #357
okay, so #358 makes `ordered=True` by default in MultiIndex schema component, so if you need unordered multiindex validation you need  to provide names for all the index fields (which shouldn't be an issue with `SchemaModel`s).

Cutting the `0.6.0` release _very_ soon 🚀 , on that version this should work:

[code]

Or

[code]

[2020-12-16 14:50] cosmicBboy commented on #356
Thanks for the zipped files @superflexo!

#360 tries to address these memory issues... I've been aware of them for some time, but haven't gotten the chance to really tackle it until you reported this 🐞 !

I'll be doing some more systematic benchmarking later on, but I made this script to prove to myself things are much more memory efficient. This is the script I used:

[code]

I multiplied the toy

[2020-12-16 14:54] dash-samuel opened #361 "Setting strict to false in SchemaModel does not ignore unspecifed columns in schema"
**Describe the bug**
Hi everyone, firstly thanks a lot for working on this library, it is indeed very useful!

I have discovered that validation of a data frame without a column in a schema specified using a SchemaModel, with `strict` set to `False` in the `Config` still fails with the error: `pandera.errors.SchemaError: column 'x' not in dataframe`.

- [x] I have checked that this issue has not a

[2020-12-16 15:43] jeffzi commented on #361
@dash-samuel Thanks for your feedback.

Actually, you need to use `typing.Optional` to express that a column is not required. The default is that all columns are required, similarly to the regular pandera api. See https://pandera.readthedocs.io/en/stable/dataframe_schemas.html#required

I realize that the [documentation of SchemaModel](https://pandera.readthedocs.io/en/stable/schema_models.html) d

[2020-12-16 16:11] superflexo commented on #356
Thank you @cosmicBboy for your full support! Waiting for release 0.6.0, in the meantime I'll follow your suggestion.
PS: maybe 'negative' overhead is for data type coercion which produces a more memory efficient object?

[2020-12-16 16:43] dash-samuel commented on #361
@jeffzi thank you very much for clarifying this, indeed this wasn't immediately clear to me when reading the documentation, adding that to it would definitely make it easier for users!

I am posting some example code again for the same use case with the applied fixes in the case where:

- `a` and `b` are part of the schema.
- `b` is optional.
- There are no further checks on the columns.

[code]

[2020-12-16 22:22] kristomi commented on #357
Awesome, you are really efficient!

[2020-12-17 02:58] #361 closed

[2020-12-17 15:09] #317 closed

[2020-12-17 19:38] cosmicBboy commented on #357
fixed by #358

[2020-12-17 19:38] #357 closed

[2020-12-17 19:40] cosmicBboy commented on #356
@superflexo FYI I was able to sneak memory performance gains into #360 by limiting the failure case reporting with the `n_failure_cases` argument in the Check definition (which already existed, but wasn't being used 🤦🏾 ), so that should achieve the negative overhead I mentioned above. Setting `n_failure_cases=None` will report all failure cases, which you probably don't want to do with large dataf

[2020-12-17 19:40] #356 closed

[2020-12-19 23:35] cosmicBboy commented on #350
fixed by #354

[2020-12-19 23:35] #350 closed

[2020-12-19 23:38] cosmicBboy commented on #335
fixed in version 0.5.1 https://github.com/pandera-dev/pandera/releases/tag/v0.5.1

[2020-12-19 23:38] #335 closed

[2020-12-19 23:39] cosmicBboy commented on #200
fixed in https://github.com/pandera-dev/pandera/pull/344

[2020-12-19 23:39] #200 closed

[2020-12-19 23:40] cosmicBboy commented on #273
fixed by #325

[2020-12-19 23:40] #273 closed

[2020-12-19 23:40] #206 closed

[2020-12-19 23:50] cosmicBboy commented on #321
closing this for now. I think users can simply specify a type-only schema if they want to only validate types.

[2020-12-19 23:50] #321 closed

[2020-12-20 03:59] marwan116 commented on #335
@cosmicBboy I apologize, I never followed up on this - but it looks like it is working now - thanks

[2020-12-23 16:17] jespercodes opened #364 "For the SchemaModel, allow access to column names through class attributes"
First of all, thank you for your work on this awesome library. Both the SchemaModel and especially the new Data Synthesis Strategies are so cool :)

**Is your feature request related to a problem? Please describe.**
When using the `SchemaModel` api, especially within function transformations, it would be convenient to be able to leverage the class definition to access the actual column names of th

[2020-12-24 02:32] cosmicBboy commented on #364
Thanks @jespercodes! We have @jeffzi to thank for the schema models API... I've been using it a lot myself and finding myself gaining a lot of productivity :)

I think the overall solution to return aliases when accessing the class attributes makes a lot of sense. @jeffzi do you foresee any issues with doing this?

[2020-12-24 05:28] TerrySnow1963 opened #365 "Column coerce not working for pandera.String type when handling Null values from pd.read_csv()"
If DataFrameSchema columns are specified with "str" type and pandera pa.String type, as well as Nullable=True and coerce = True, and the dataset has all Nulls in those columns, then the "str" column does not fail the validation check and the pa.String column does fail the validation check.
This occurs if the pandas dataframe is loaded from a csv file. The behaviour is the same (for 'str' and pa.St

[2020-12-24 16:59] cosmicBboy commented on #365
Thanks for finding this bug @TerrySnow1963 ! #366 should correctly handle this case now. Will be releasing this along with some documentation improvements in `v0.6.1` in the new year!

In the mean time, a workaround for this would be to use the `"string"`, `pa.STRING`, or `pd.StringDtype()` pandas-native string data type, it should be able to handle the case of all nulls.

[2020-12-24 19:22] cosmicBboy commented on #365
fixed by #366

[2020-12-24 19:22] #365 closed

[2020-12-24 19:23] cosmicBboy commented on #295
#297 is the actual issue to fix.

[2020-12-24 19:23] #295 closed

[2020-12-24 19:39] cosmicBboy commented on #328
fixed by #351

[2020-12-24 19:39] #328 closed

[2020-12-26 18:47] jeffzi commented on #364
Thanks @jespercodes, I like the fact that it enables code-completion (comfort) and avoid the use of strings (less bugs due to spelling mistakes).

It's true that we want to return the alias and therefore rely on `FieldInfo`s, which are created by `to_schema()`.

I'm not sure about the performance hit if we generate schema at class initialization. It would probably be worth to benchmark SchemaModel

[2020-12-28 14:26] cosmicBboy commented on #364
I can't think of any... anyway we have access to the `FieldInfo` via `__fields__` if we ever need to pull out any attributes for a public-facing interface.

One case I was thinking about is whether `alias` and `regex` play well together with this change. I'm guessing it would mean that users would be responsible for using the regex pattern to find the associated columns.

[code]

All that said, ha

[2020-12-30 17:00] cooper62498 opened #367 "Coerce is being used when required=False on columns that do not exist causing KeyError"
**Describe the bug**
There seems to be an issue with the coerce logic when `required=False`. I would expect that even when `coerce=True` and `required=False` when an optional column is missing, coerce to ignore that column, but the coerce logic is trying to coerce a column that does not exist in the dataframe. If `coerce=False`, then `df_without_required_col` will pass the validation.

- [x] I hav

[2020-12-30 23:01] cosmicBboy commented on #367
ooo nice find @cooper62498! thanks for the bug report. #368 should fix it, I'll be releasing 0.6.1 in the next few days, keep a look out!

[2020-12-30 23:06] cosmicBboy opened #369 "Decouple pandera and pandas type systems"
**Is your feature request related to a problem? Please describe.**

Currently, `pandera`'s type system is strongly coupled to the `pandas` type system. This works well in pandera's current state since it only supports pandas dataframe validation. However, in order to obtain a broader coverage of dataframe-like data structures in the python ecosystem, I think it makes sense to slowly move towards t

[2020-12-30 23:33] cooper62498 commented on #367
Thanks for looking at this so quickly @cosmicBboy. I just started to use this package and really like it! Thanks for the development

[2020-12-31 00:10] cosmicBboy opened #370 "Implement data synthesis strategies for hypothesis checks"
**Is your feature request related to a problem? Please describe.**

Currently, data synthesis strategies are only implemented for the built-in checks. After #168 is completed, this issue should tackle the implementation of strategies for the built-in hypotheses.

[2020-12-31 00:15] cosmicBboy opened #371 "Support data synthesis strategies for joint distributions"
**Is your feature request related to a problem? Please describe.**

Currently, data synthesis strategies are apply to single columns or indexes and doesn' support dependencies across two or more columns. It would be nice to be able to support such strategies, however this would introduce considerable complexity to the `Check` and `strategy` interface.

Need to come up with a reasonably simple way

[2021-01-01 02:14] seb84924 opened #372 "SchemaModel not able to use registered checks"
**Describe the bug**
`pa.SchemaModel` is not able to use custom checks.

- [*] I have checked that this issue has not already been reported.
- [*] I have confirmed this bug exists on the latest version of pandas.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

[code]

#### Expected behavior
I would expect Schema.validate(df) to cause an error.

#### Desktop (plea

[2021-01-01 16:22] cosmicBboy commented on #372
Thanks for finding this issue @seb84924! this bug is kind of embarrassing 😅. #373 should address it. Will release this fix as part of `0.6.1`.

[2021-01-01 22:43] #372 closed

[2021-01-05 14:38] #367 closed

[2021-01-06 08:42] amitripshtos opened #376 "Timezone-aware DateTimes are failing in pandera's schemas"
Pandera does not support validation of timezone-aware datetimes, because their Pandas dtype is "datetime[ns, TZ]"

- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the latest version of pandas.
- [X] (optional) I have confirmed this bug exists on the master branch of pandas.

#### Code Sample, a copy-pastable example

[code]

#### Expect

[2021-01-07 01:27] cosmicBboy commented on #376
hey @amitripshtos, yes we definitely need to have a way of representing pandas types that involve variables like tz-aware datetimes, periods, etc. with the `PandasDtype`. https://github.com/pandera-dev/pandera/issues/369 is a high-level issue that should address this, which still needs some deliberation because it would involve some non-trivial changes, e.g. not sub-classing `Enum` since it's not

[2021-01-07 08:29] amitripshtos commented on #376
Thanks for the fast response!
I'm using class-based schema, so:
[code]

isn't working, and I get this exception:
[code]

That's because the pandas type is not generic or a type. Do you have any good idea how to solve this one? thanks :)

[2021-01-07 14:22] cosmicBboy commented on #376
cool, I'm gonna re-categorize this is an enhancement vs. a bug, since this is a known/documented limitation in the class-based API.

Here are two solutions that I can think of. Since the object-based API already supports dtypes with variable args, I don't think we need to touch that side of the codebase. As for `SchemaModel`s, here are two solutions that I can see:

1. Create enumerations for all

[2021-01-07 14:40] amitripshtos commented on #376
Great ideas!
Statiscally speaking, I guess most of the users will need the UTC timezone,
so it might be really easy to just implement this one.

Otherwise, the 2nd option is better since there are many timezones.

On Thu, Jan 7, 2021, 16:22 Niels Bantilan <notifications@github.com> wrote:

[2021-01-07 22:23] jeffzi commented on #376
I would also prefer approach 2.

A third possibility to use [typing.Annotated](https://docs.python.org/3.9/library/typing.html#typing.Annotated) defined in [PEP 593](https://docs.python.org/3.9/library/typing.html#typing.Annotated) and implemented in python 3.9. The library [typing_extensions](https://github.com/python/typing/tree/master/typing_extensions) backports this feature and pandera alread

[2021-01-07 22:52] probberechts opened #378 "Validating optional columns with a pandera type causes TypeError in SchemaModel"
**Describe the bug**
When I use the class-based API with an optional column of type `pandera.typing.*`, I get the following TypeError:

[code]

If a Python type is used instead or when the column is not optional, it works as expected.

#### Code Sample

[code]

[code]

[2021-01-07 23:10] jeffzi commented on #369
I'd like to suggest another use case for a refactor of pandera dtypes.

I use pandera to validate pandas DataFrames that are ultimately written as parquet files via [pyarrow](https://arrow.apache.org/docs/python/). Parquet supports [date and decimal types](https://github.com/apache/parquet-format/blob/master/LogicalTypes.md) which are not natively supported by pandas but can be stored in `object`

[2021-01-07 23:57] jeffzi commented on #378
Thanks @probberechts for the bug report. It only affected python 3.6.

I've just submitted a fix (#379). Until the next release, you can either upgrade your python version or use the master branch once the PR is merged.

[2021-01-09 02:13] #378 closed

[2021-01-09 19:43] cosmicBboy commented on #376
I think approach 3 is the most elegant! The thing I don't like about approach 2 is that it conflates the type specification with data validation... ideally users should be able to fully specify the data type in the type annotation without having to use`Field`.

@jeffzi if I'm understanding this approach, we'd still also have to convert the type annotations to the pandas data type instance, correct

[2021-01-09 23:59] jeffzi commented on #376
Correct. Atm, `SchemaModel` just passes on the string to `Column` and is converted to a pandas type later on. Now, we'd have to convert to a pandas type with `PandasDtype.get_str_dtype(first_arg_of_annotation)(*metadata_of_annotation)` before giving the type to `Column`.

I can pick this one since I'm very familiar with the implementation of `SchemaModel`, unless @amitripshtos wants to familiarize

[2021-01-10 17:44] cosmicBboy commented on #369
Cool, thanks for describing this use case!

👍 to sketch out some ideas for the dtype class:

[code]

[2021-01-10 22:52] jeffzi commented on #369
The point would be to minimize the impact on the implementation, isn't it?

The Enum is not mentioned in the documentation (besides the API section). All examples exclusively use the aliases such as `pa.Int`, etc. I don't see a situation where the end-user would need to deal with `PandasDtype`, other than through the aliases that are exposed for convenience (and possibly unify across dataframe typ

[2021-01-10 23:13] cosmicBboy commented on #369
I'm all for simplification, I think I didn't take into account the fact that most users probably never user `PandasDtype` directly :)

Another place `PandasDtype` enum shows up in the documentation is here:
https://pandera.readthedocs.io/en/stable/schema_inference.html#write-to-a-python-script, so part of the solution in the issue here would be to change e.g. `PandasDtype.Int` to `pa.Int` in the `

[2021-01-12 00:14] cosmicBboy commented on #376
I'd say @jeffzi go for it! @amitripshtos would you be down to help with code review?

[2021-01-12 00:16] #302 closed

[2021-01-12 00:26] cosmicBboy commented on #320
This should be done after #369

[2021-01-12 06:01] amitripshtos commented on #376
Will do :)

On Tue, Jan 12, 2021, 02:14 Niels Bantilan <notifications@github.com> wrote:

[2021-01-12 14:38] cosmicBboy commented on #364
hey @jespercodes I just added this to the 0.7.0 release milestone! Also, let me know if you need any help with the implementation

[2021-01-12 14:40] cosmicBboy opened #381 "Abstract out validation logic to support non-pandas dataframes, e.g. spark, dask, etc"
**Is your feature request related to a problem? Please describe.**

Extending pandera to non-pandas dataframe-like structures is a challenge today because the schema and schema component class definitions are strongly coupled with the pandas API. For example, the `DataFramesSchema.validate` method assumes that validated objects follow the pandas API.

**Potential Solutions**

1. Abstract out the c

[2021-01-12 15:19] Veganveins opened #382 "Check dataframe size?"
#### Question about pandera

If I create a DataFrameSchema, is there a way to create a "check" that will tell me whether any input data frame I want to validate has at least a specified number of rows? I tried checking the documentation but I couldn't see anything explicit. If anyone has a hint for how to specify a schema, such that it expects valid inputs to have say at least 1,000 rows, that wou

[2021-01-12 16:24] Veganveins commented on #382
I suppose you could accomplish this with something like `check_min_obs = pa.Check(lambda s: len(s) > 24 * 30, element_wise=False)`

might there be a cleaner way to do it, too?

[2021-01-12 17:13] jeffzi commented on #382
You can pass the `checks` argument to [DataFrameSchema.__init__](https://pandera.readthedocs.io/en/stable/generated/methods/pandera.schemas.DataFrameSchema.__init__.html#pandera-schemas-dataframeschema-init) or [dataframe_check](https://pandera.readthedocs.io/en/stable/schema_models.html#dataframe-checks) for the class-based api.

It's true that the documentation should have an example of datafram

[2021-01-12 17:15] Veganveins commented on #382
thank you! this is perfect

[2021-01-12 18:03] cosmicBboy commented on #382
hi @Veganveins, glad you got your Q addressed! Yeah the documentation has this sort of tucked away in the Checks section: https://pandera.readthedocs.io/en/stable/checks.html#wide-checks

I'm wondering whether row-count checks (`n_rows`, `min_rows`, `max_rows`) should be:

1. built-in `Check`s
2. key-word arguments in `DataFrameSchema.__init__`

(2) would probably be better, since it makes more se

[2021-01-12 18:07] Veganveins commented on #382
ahh yeah (2) would be pretty slick! are you thinking that someone could open a PR to contribute what you're describing above as a new feature?

[2021-01-12 21:29] jeffzi commented on #382
One issue with 2. is that it could bloat the api, especially `SchemaModel`. Afterwards we could imagine other checks that could be done dataframe-wide, where do we draw the line?

Requiring a non-empty DataFrame (`min_rows = 1`) is fairly common but what about `n_rows` and `max_rows`?

We suggest introducing built-in checks for dataframe, similarly to built-in column checks.

* `pa.Check.MinShape(

[2021-01-12 22:35] cosmicBboy opened #383 "Support built-in dataframe checks and dataframe-level options"
**Is your feature request related to a problem? Please describe.**

Discussion in https://github.com/pandera-dev/pandera/issues/382 has lead to the need to support validation checks at the dataframe level. We'll need to discuss further to converge on the ideal API for this, keeping in mind that we need to optimize for (a) a good UX for the object-based and class-based API and (b) support data synt

[2021-01-12 22:36] cosmicBboy commented on #382
Cool, I made https://github.com/pandera-dev/pandera/issues/383 to discuss this further and will close this ticket. @Veganveins feel free to chime in there if you have any thoughts!

[2021-01-12 22:36] #382 closed

[2021-01-12 23:03] cosmicBboy commented on #383
Jumping off of this comment: https://github.com/pandera-dev/pandera/issues/382#issuecomment-759025907

To decompose this issue into 2 problems:

#### Should we have keyword validation options in the `DataFrameSchema` constructor?

I think the slope isn't so slippery here. On a case-by-case basis we can determine whether a validation check is so fundamental that it should be a keyword option.

For

[2021-01-12 23:32] jeffzi commented on #383
I agree with all your points about adding `min_rows` :+1:

Built-in checks as config attributes is indeed more consistent. We should interpret unknown attributes as registered checks. At the moment, unknown attributes are ignored.

Side note, we should encourage this style if we add more attributes:
[code]

[2021-01-13 14:48] ktroutman opened #384 "Pin packaging to >= 20"
**Describe the bug**
If the packaging library is 19.2 or older, [this line](https://github.com/pandera-dev/pandera/blob/9c184a9deab973d63dec75523bdbababb72f1a9c/pandera/dtypes.py#L12) under dtypes throws an error.

I tested with 20+ and it works just fine.

This has been experienced [elsewhere](https://github.com/optuna/optuna/pull/1599) as well.

I would suggest pinning the version to >= 20.0.

-

[2021-01-13 14:50] ktroutman commented on #384
closing, just saw #380 .

[2021-01-13 14:50] #384 closed

[2021-01-13 14:51] cosmicBboy commented on #384
thanks @ktroutman, will cut a bugfix release so that latest version has this fix

[2021-01-14 14:56] cosmicBboy opened #387 "mypy complains that registered checks are not a valid Check attribute"
**Describe the bug**
When [registering checks](https://pandera.readthedocs.io/en/stable/generated/pandera.extensions.html#pandera.extensions.register_check_method), mypy complains that the `Check` class doesn't have the registered check method.

- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the latest version of pandas.
- [ ] (optiona

[2021-01-15 11:45] jespercodes commented on #364
Glad to hear that, and thank you for your feedback, i have added #388 where this seem to work, trying to take into account your feedback.

I've been working on implementing this feature with the goal of simply either:
1) return the variable name in the class or
2) the supplied alias as is

Use cases below. There might be possibly more use cases we want to consider, potentially in relation with pan

[2021-01-15 12:33] dustindall commented on #331
I am also interested in this enhancement. In my case, I'm looking to pair it with the to and from yaml capabilities of pandera. The extra metadata supporting a title and/or a description will turn the produced yaml files into a full-fledged data dictionary.

I would like to read something like the below yaml file (note I also think a title/description to the DataFrame schema as well is a good idea

[2021-01-15 23:41] jeffzi commented on #364
Thanks @jespercodes for the PR and detailed explanations! I'm particularly excited about using this with decorators, like `@pa.check(Schema.simple_alias)`.

I'll take a look during the weekend and request changes if needed. Once everyone agrees on the PR and CI Tests + codecov pass, we can merge it :rocket:

[2021-01-16 07:54] TerrySnow1963 commented on #387
Looks like you are planning to add 'unique_columns' to the set of inbuilt checks, great.
A suggestion is to add the pandas duplicated function argument "keep" to the extension argument list.

eg

[code]

[2021-01-16 15:23] cosmicBboy opened #390 "Add `unique` keyword option to all schemas and schema components"
**Is your feature request related to a problem? Please describe.**

Currently, the `allow_duplicates` option enforces uniqueness if `False`, but it's only available in the `Column` schema component. Because value uniqueness is a fundamental data quality check and also has implications for the data synthesis strategies for a schema, it would make sense to (i) deprecate `allow_duplicates` in `Column

[2021-01-16 15:24] cosmicBboy commented on #387
Actually @TerrySnow1963 I was actually considering implementing this as a keyword option for all schemas and schema components https://github.com/pandera-dev/pandera/issues/390, for reasons stated in the issue.

I think it would make sense to have `keep=True` so that all indexes containing duplicate values are reported in the `SchemaError`.

[2021-01-16 17:26] jeffzi commented on #364
This behavior already existed prior to your PR. I think it's reasonable and what a python dev would expect.

We could change the annotation of Field to `Any` but tuples are not properly supported. Try:
[code]

<sup>Created on 2021-01-16 by the [reprexpy package](https://github.com/crew102/reprexpy)</sup>

Better to discuss this in another issue.

[2021-01-17 16:08] cosmicBboy commented on #331
Awesome, thanks @dustindall!

I think all schemas and schema components should have a title and description, so that would be `DataFrameSchema`, `SeriesSchema`, `Column`, `Index`, and `MultiIndex` in the object-based API.

`title` and `description` should probably also be available in the `model.SchemaModel` and `model.components.Field` in the [class-based API](https://pandera.readthedocs.io/en/st

[2021-01-17 17:12] jeffzi commented on #331
Thanks @dustindall for being willing to submit a PR :)  Some pointers for the `SchemaModel` compatibility:

* [Field](https://github.com/pandera-dev/pandera/blob/9c184a9deab973d63dec75523bdbababb72f1a9c/pandera/model_components.py#L124) is just a function that generates a [FieldInfo](https://github.com/pandera-dev/pandera/blob/9c184a9deab973d63dec75523bdbababb72f1a9c/pandera/model_components.py#L4

[2021-01-18 14:41] ericmjl opened #392 "Parsing function signatures in a codebase to build a data flow graph"
**Is your feature request related to a problem? Please describe.**

This isn't related to a problem, it's an idea that came up in my mind after seeing Pandera's pydantic-style schemas.

**Describe the solution you'd like**

If we use type annotations on our functions, and our schemas are declared using the pydantic-style classes, then this opens up the opportunity to construct data flow graphs fro

[2021-01-19 02:54] cosmicBboy commented on #392
thanks @ericmjl, this is a great start to something I've also been thinking about :)

Congrats 🎉🎉🎉

This is awesome, very much aligned with what I've been discussing with @jeffzi re: a sister package that provides utilities for analyzing one's ETL codebase.

For now I'll dub the project `pandera-profiling` a.k.a. "profile your ETL pipeline" (a slight nod to [pandas-profiling](https://github.com/pa

[2021-01-19 03:43] ericmjl commented on #392
@cosmicBboy this is cool! I like where things are going :smile:.

By a stroke of fortune, I had an entire afternoon and evening to hack. I am going to invite both you and @jeffzi to a private repo containing a prototype of how I think parsing of signatures could be done to get graph creation capabilities. Inside there should be enough starter code to fulfill the first pointer on "showing all schem

[2021-01-19 21:11] jeffzi commented on #392
Thanks @ericmjl and congrats ! This is indeed a great starting point :checkered_flag:

Using annotations makes it easier to discover schemas usage (static analysis). In the long run, I think we'd also want to support plain `DataFrameSchema`s with [@check_input](https://pandera.readthedocs.io/en/stable/generated/pandera.decorators.check_input.html#), etc. decorators. That would require a tool that

[2021-01-21 02:17] ericmjl opened #393 "Generate SchemaModels from DataFrameSchemas"
**Is your feature request related to a problem? Please describe.**

This is a thought that came to mind today while using pandera. Since it is possible to effectively compile a SchemaModel into a DataFrameSchema, is it easy to go in the reverse direction?

I was thinking of this because sometimes I have to generate the dataframe that I want first before I know what the exact Schema ought to be. (T

[2021-01-21 02:18] ericmjl commented on #392
Yes, thanks @jeffzi for the term: Parsing signatures is static analysis of data flow. I was struggling to describe it. Runtime analysis - how would you do it though?

[2021-01-22 15:38] #364 closed

[2021-01-22 15:38] jeffzi commented on #364
Closed via #388

[2021-01-23 23:53] jeffzi commented on #392
I don't have a detailed answer. We're still in the brainstorming stage.

That said, we'd need an external program like [coverage](https://coverage.readthedocs.io/en/coverage-5.3.1/) or [monkeytype](https://github.com/Instagram/MonkeyType). The standard python library offers some hooks for:
* debugging: [sys.settrace](https://docs.python.org/3/library/sys.html#sys.settrace) (coverage)
* profiling:

[2021-01-24 00:18] jeffzi commented on #393
I'm not sure to follow. Can you give a use-case where you want to go from `DataFrameSchema` to `SchemaModel`?
Your second paragraph sounds like you want to generate a `SchemaModel` (or `DataFrameSchema`)  from a `DataFrame`.

You could also use the new [Data Synthesis Strategies](https://pandera.readthedocs.io/en/stable/data_synthesis_strategies.html#basic-usage) to play with the dataframe. That w

[2021-01-24 22:32] #387 closed

[2021-01-24 22:48] #376 closed

[2021-01-24 22:56] jeffzi commented on #376
@amitripshtos You can find the documentation of the final solution at https://pandera.readthedocs.io/en/latest/schema_models.html#parametrized-dtypes

It will be available in the next release or on master if you're eager to try it out :rocket:

[2021-01-24 22:58] ericmjl commented on #393
Thanks for getting back, @jeffzi!

I think you are correct, I'm thinking of generating a `SchemaModel` from a pandas DataFrame. At the moment, `pa.infer_schema().to_script()` gives us the `DataFrameSchema` object, but not a `SchemaModel` object. In-line with my other comment in #392, I was thinking along the lines of defining `SchemaModel`s as data types so that I can map the data flow graph in my

[2021-01-24 23:21] cosmicBboy commented on #393
thanks for elaborating @ericmjl!

I think it would be a useful feature to offer `to_script` functionality for `SchemaModel` objects.

Currently, the way this is done for `DataFrameSchema` objects is the metadata is [formatted according to a string template](https://github.com/pandera-dev/pandera/blob/master/pandera/io.py#L238-L271), which is then written out to a file and formatted by `black`.

To

[2021-01-24 23:24] cosmicBboy commented on #331
agreed. Is there a good reason (besides consistency) to have a `title` _and_ `name` at the dataframe level? I think semantically they're different for columns/indexes since `name` maps onto the column/index name so having a human-readable `title` makes sense.

AFAIK, a dataframe only has a `name` attribute in a `Groupby.apply` function, where `name` is the discrete groupby value.

One solution wou

[2021-01-25 06:27] amitripshtos commented on #376
Amazing work! Sorry I wasn't part of the coding process (was out of work).
Thanks again!!

On Mon, Jan 25, 2021, 00:56 Jean-Francois Zinque <notifications@github.com>
wrote:

[2021-01-25 10:25] jeffzi commented on #393
I also prefer (1) because you cannot easily tweak a `SchemaModel`. As highlighted by @ericmjl, you usually want to inspect and modify the inferred schema.

In summary, if we have an existing DataFrame available, the workflow would be:

1. [pa.infer_dataframe_schema(DataFrame)](https://pandera.readthedocs.io/en/stable/generated/pandera.schema_inference.infer_schema.html) -> `pa.DataFrameSchema`
2.

[2021-01-25 14:44] cosmicBboy commented on #393
There're trade-offs associated with out-sourcing work to other packages, e.g. if you look far enough back in `pandera`'s commit history, the validation logic was off-loaded to [schema](https://github.com/keleshev/schema), but its abstractions quickly became unsuitable for `pandera`.

In a similar way, my main concerns are:
1. supporting non-mature profiling packages. I'm only aware of `pandas-prof

[2021-01-25 14:55] cosmicBboy commented on #392
Re: runtime analysis, we should def look to other tools for inspiration as @jeffzi mentioned. I have a local working prototype that decorates all functions/callables in a specified set of modules and finds the ones that are decorated with `check_{input/output/io}`. This could then be used to annotate the function signature, and from there your graph-rendering prototype @ericmjl should be pretty st

[2021-01-27 16:47] ktroutman commented on #222
Hi @cosmicBboy I've got some bandwidth free coming up, I could take this on.

[2021-01-28 15:21] cosmicBboy commented on #222
great, thanks @ktroutman ! just assigned this to you

[2021-02-01 23:37] asford opened #396 "check_types decorator does not resolve delayed annotations."
**Describe the bug**
A clear and concise description of what the bug is.

- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas.
- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

#### Code Sample, a copy-pastable example

[code]

#### Expected behavior

I believe that pandera's `ch

[2021-02-02 01:10] asford commented on #396
I've updated the example above with a simple workaround.

[2021-02-02 13:59] cosmicBboy commented on #396
thanks for submitting this bug report @asford

This does look like a bug indeed! I was able to reproduce the error locally

Thanks! Would appreciate a PR fix ⭐️. We'd probably also want to add tests in `tests/test_model.py` to prevent regressions in the future.

@jeffzi let me know if you have any additional thoughts on this.